<#assign contextPath=springMacroRequestContext.getContextPath() />
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport" />
<title>关于协会</title>
<link href="${contextPath}/resources/css/common.css" rel="stylesheet" />
<link href="${contextPath}/resources/css/about.css" rel="stylesheet" />

</head>

<body>
<article class="cont">
	
        	<img src="${contextPath}/resources/images/about.jpg" alt="关于协会" class="paT paB">
            <p class="t">浙江省是风景名胜大省，目前有国家级风景名胜区17个24处，省级风景名胜区44个，市县级风景名胜区178处。风景名胜区是发展浙江省风景旅游的最重要载体。为了全面贯彻落实中央经济工作会议，省委省政府旅游业发展大会精神，认真总结2009年全省风景名胜，进一步明确2010年协会工作思路，特在江山市国际大酒店召开2009年协会年会。参加大会的有来自全省风景名胜区管理单位市、县（市、区）级领导、省级以上风景名胜区负责人、省协会会员单位代表及省有关部门负责人共223人。
一、江山市政府王卫明副市长致欢迎辞中，全面介绍江山市的政治、经济、文化情况。突出
            </p>
</article>
</body>
</html>
