body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:60px;
  top:30px;
  width:320px;
  height:480px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u2 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:60px;
  top:94px;
  width:320px;
  height:416px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:416px;
}
#u4 {
  position:absolute;
  left:2px;
  top:200px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:120px;
  top:57px;
  width:200px;
  height:30px;
  font-size:18px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:60px;
  top:94px;
  width:320px;
  height:46px;
  font-size:18px;
  color:#0066FF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:60px;
  top:139px;
  width:320px;
  height:371px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:371px;
}
#u10 {
  position:absolute;
  left:2px;
  top:178px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:70px;
  top:150px;
  width:300px;
  height:40px;
  text-align:left;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:70px;
  top:189px;
  width:300px;
  height:281px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:281px;
}
#u14 {
  position:absolute;
  left:2px;
  top:132px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:95px;
  top:200px;
  width:66px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:95px;
  top:223px;
  width:245px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u18 {
  position:absolute;
  left:95px;
  top:258px;
  width:66px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:95px;
  top:281px;
  width:245px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u21 {
  position:absolute;
  left:95px;
  top:316px;
  width:53px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:95px;
  top:339px;
  width:125px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u24 {
  position:absolute;
  left:240px;
  top:339px;
  width:60px;
  height:25px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:300px;
  top:351px;
  width:40px;
  height:16px;
  text-decoration:underline;
  color:#999999;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:95px;
  top:396px;
  width:245px;
  height:40px;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:40px;
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:241px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:60px;
  top:57px;
  width:60px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31 {
  position:absolute;
  left:532px;
  top:26px;
  width:398px;
  height:404px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:404px;
}
#u32 {
  position:absolute;
  left:2px;
  top:194px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:552px;
  top:56px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:592px;
  top:56px;
  width:318px;
  height:36px;
  font-size:14px;
  line-height:18px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:36px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:552px;
  top:116px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:592px;
  top:116px;
  width:318px;
  height:36px;
  font-size:14px;
  line-height:18px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:36px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:552px;
  top:233px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:592px;
  top:233px;
  width:318px;
  height:108px;
  font-size:14px;
  line-height:18px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:108px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:406px;
  top:155px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:340px;
  top:165px;
  width:66px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:49px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  height:2px;
}
#u48 {
  position:absolute;
  left:406px;
  top:223px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:340px;
  top:233px;
  width:66px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:49px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  height:2px;
}
#u51 {
  position:absolute;
  left:406px;
  top:401px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:340px;
  top:411px;
  width:66px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:49px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  height:2px;
}
#u54 {
  position:absolute;
  left:95px;
  top:366px;
  width:86px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u55 {
  position:absolute;
  left:0px;
  top:363px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:29px;
  top:374px;
  width:66px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:49px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  height:2px;
}
#u58 {
  position:absolute;
  left:95px;
  top:374px;
  width:86px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:552px;
  top:177px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:592px;
  top:177px;
  width:318px;
  height:36px;
  line-height:18px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:36px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
