<#assign contextPath=springMacroRequestContext.getContextPath() />
<style type="text/css">
.searchContent td{text-align: left}
</style>
<script>
 
   function toAddPage(){
       //var form = document.getElementById("pagerForm");
       //form.action="${contextPath}/airtkt/policy/toAdd";
       return false;
   }
</script>
<div class="pageHeader">
   
   <form id="pagerForm" rel="pagerForm" onsubmit="return navTabSearch(this);"
       action="${contextPath}/airtkt/policy/list" method="get">
		
		<input type="hidden" name="pageNum" value="${pagination.pageNo?c}" />
		<input type="hidden" name="numPerPage" value="${pagination.pageSize?c}" />

       <div class="searchBar">
           <table class="searchContent">
               <tr>
                   <td>供应商</td>
                   <td>
                       <select name="suppId">
                           <option value="">全部</option>
                           <#if supplierDtoList ??>
                               <#list supplierDtoList as supplierDto>
                                   <option 
                                       <#if supplierDto.code == policyQO.suppId>
                                           selected="selected"
                                       </#if>
                                   value="${(supplierDto.code)!''}">${(supplierDto.name)!''}</option>
                               </#list>
                           </#if>
                       </select>
                   </td>
                   
                   <td>
                       使用时间：
                   </td>
                   <td>
                       <input type="text" readonly="readonly" name="beginTimeStr" value="${(policyQO.beginTime?string('yyyy-MM-dd'))!''}" class="date"/>
                       至
                       <input type="text" readonly="readonly" name="endTimeStr" value="${(policyQO.endTime?string('yyyy-MM-dd'))!''}" class="date"/>
                   </td>
                   
                   <td>政策状态</td>
                   <td>
                       <select name="status">
                           <option value="">全部</option>
                           <#if STATUS_MAP??>
                               <#list STATUS_MAP?keys as itemKey>
                                   <option 
                                       <#if itemKey == policyQO.status>
                                           selected="selected"
                                       </#if>
                                       value="${itemKey}">${STATUS_MAP[itemKey]}</option>
                               </#list>
                           </#if>
                       </select>
                   </td>
                   
                   
                   <td>
                       创建人：
                   </td>
                   <td>
                       <input name="createPersion" value="${(policyQO.createPersion)!''}"/>
                   </td>
                   
               </tr>
               <tr>
                   <td>适用经销商</td>
                   <td>
                       <select name="dealerId">
                           <option value="">全站</option>
                           <#list dealerDtoList as dealerDto>
                               <option 
                                   <#if dealerDto.code == policyQO.dealerId>
                                       selected="selected"
                                   </#if>
                               value="${(dealerDto.code)!''}">${(dealerDto.name)!''}</option>
                           </#list>
                       </select>
                   </td>
                   
                   <td>
                       政策名称：
                   </td>
                   <td>
                       <input type="text" name="name" value="${(policyQO.name)!''}" />
                   </td>
               </tr>
           </table>
           <div class="subBar">
               <ul>
                   <li><div class="buttonActive">
                           <div class="buttonContent">
                               <button type="submit">查询</button>
                           </div>
                       </div>
                   </li>
               </ul>
           </div>
       </div>
   </form>
</div>
<div class="pageContent">
   <div class="panelBar">
       <ul class="toolBar">
           <li>
               <a width="600" height="400" rel="policy" class="add" href="${contextPath}/airtkt/policy/toAdd" target="dialog" maxable="false" resizable="false"><span>新增</span></a>
           </li>
       </ul>
   </div>
   <table class="table" width="100%" layoutH="210" >
       <thead>
           <tr>
               <!-- <th width="22"><input type="checkbox" group="ids"
                   class="checkboxCtrl">
               </th> -->
                 <th width="60">政策编号</th>
               <th width="90">政策名称</th>
               <th width="90">适用供应商</th>
               <th width="80">价格</th>
               <th width = "230">使用时间</th>
               <th width = "50">适用范围</th>
               <th width = "80">状态</th>
               <th width = "50">创建时间</th>
               <th width="140">操作</th>
           </tr>
       </thead>
       <tbody>
           <#list pagination.list as policyDto>
               <tr height="21px">
                   <!-- <td><input name="ids" value="" type="checkbox"></td> -->
                   <td>${(policyDto.no)!''}</td>
                   <td>${(policyDto.name)!''}</td>
                   <td>${(policyDto.supplier.name)!''}</td>
                   <td>
                       <#if policyDto.pricePolicy ??>
                           
                           <#if policyDto.pricePolicy gt 0>
                           		增加
                               ${(policyDto.pricePolicy)!''}
                           <#else>
                           	    减少
                               ${(policyDto.pricePolicy * -1)!''}
                           </#if>
                     	      元
                       <#else>
                           <#if policyDto.percentPolicy gt 0>
                            	   增加
                               ${(policyDto.percentPolicy * 100)!''}%
                           <#else>
                       		        减少
                               ${(policyDto.percentPolicy * -100)!''}%
                           </#if>
                       </#if>
                   </td>
                   <td>${(policyDto.beginTime)!?string("yyyy-MM-dd HH:mm:ss")} - ${(policyDto.endTime)!?string("yyyy-MM-dd HH:mm:ss")}</td>
                   <td>${(policyDto.dealer.name)!''}</td>
                   <td>
                       <#if STATUS_MAP??>
							${(STATUS_MAP[policyDto.status?string])!''}
                       </#if>
                   </td>
                   <td>${(policyDto.createTime)!?string("yyyy-MM-dd HH:mm:ss")}</td>
                   <td>
                       
                       <p><a width="1000" height="800" rel="policy" href="${contextPath}/airtkt/policy/detail?id=${policyDto.id}" target="dialog" maxable="false" resizable="false" style="color: blue"><span>政策详情</span></a>
                        <#if policyDto.status==0 >
                           <a width="1000" height="800" rel="policy" href="${contextPath}/airtkt/policy/toPublish?id=${policyDto.id}" target="dialog" maxable="false" resizable="false" style="color: blue"><span>发布</span></a>
                       </#if>
                        <#if policyDto.status!=4 >
                         <a width="1000" height="800" rel="policy" href="${contextPath}/airtkt/policy/toCancel?id=${policyDto.id}" target="dialog" maxable="false" resizable="false" style="color: blue"><span>取消</span></a>
                       </#if>
                       
                       </p>
                      
                     
                   </td>
               </tr>
           </#list>
       </tbody>
   </table>
   <#include "/public/pagination/pagination.html">