 <#assign contextPath=springMacroRequestContext.getContextPath() />
<form id="pagerForm" rel="pagerForm" onsubmit="return navTabSearch(this);" action="${contextPath}/project/list" method="post">
	<input type="hidden" name="pageNum" value="${(pagination.pageNo)!'0'}" />
	<input type="hidden" name="numPerPage" value="${(pagination.pageSize)!'20'}" />
</form>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<!-- 
			<li>
				<a title="确实要删除选中项?" target="selectedTodo" rel="ids" href="${contextPath}/project/delete" class="delete">
					<span>删除</span>
				</a>
			</li>
 -->
			<li><a target="dialog" href="${contextPath}/project/to_add" class="add" mask="true" width="900" height="650">
					<span>增加项目</span>
				</a></li>
		</ul>
	</div>
	<div>
		<table class="table" cellpadding="0" cellspacing="0" width="100%" layoutH="76">
			<thead>
				<tr>
					<th width=""><input type="checkbox" group="ids" class="checkboxCtrl" />
					</th>
					<th width="">项目名称</th>
					<th width="">项目类型</th>
					<th width="">项目模式</th>
					<th width="">接口开启</th>
					<th width="">接口地址</th>
					<th width="">项目负责人</th>
					<th width="">联系电话</th>
					<th width="">运营形式</th>
					<th width="">操作</th>
				</tr>
			</thead>
			<tbody>
				<#list pagination.list as t>
				<tr>
					<td><input type="checkbox" name="ids" value="${(t.id)!''}" />
					</td>
					<td>${t.name}</td>
					<td>${(t.projectType.name)!}</td>
					<td>${(t.projectMode.name)!}</td>
					<td><#if (t.status.using)=true>开启<#else>关闭</#if></td>
					<td>${t.postUrl}</td>
					<td>${t.projectLeader}</td>
					<td>${t.linkPhone}</td>
					<td>${(t.operationForm.name)!}</td>
					<td class="a_button2"><a target="dialog" href="${contextPath}/project/edit?id=${(t.id)!''}" mask="true" width="900" height="650">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp; <a target="ajaxTodo" href="${contextPath}/project/delete?projectId=${(t.id)!''}" title="确认删除？">删除</a></td>
				</tr>
				</#list>
			</tbody>
		</table>
	</div>
	<#include "/public/pagination/pagination.html">
</div>
