<#assign contextPath=springMacroRequestContext.getContextPath() />
<script type="text/javascript">
	$(document).ready(function(){
	checkExtraInput($("[name='projectTypeId']")[0],'extraPtName');
	checkExtraInput($("[name='projectModeId']")[0],'extraPName');
	checkExtraInput($("[name='operationFormId']")[0],'extraOfName');
});
</script>
<div class="pageContent">
	<form method="post" action="${contextPath}/project/create" class="pageForm required-validate nowrap" onsubmit="return projectSubmitValidateCallback(this, dialogAjaxDone)">
		<div class="pageFormContent" layoutH="60">
			<div class="bill">
				<dl>
					<dt>项目名称：</dt>
					<dd>
						<input name="name" type="text" class="required" maxlength="50" onchange="removeAllEmpty(this)" />
					</dd>
				</dl>
				<dl>
					<dt>密钥：</dt>
					<dd>
						<input name="key" type="text" maxlength="49" />
					</dd>
				</dl>
				<dl>
					<dt>项目类型：</dt>
					<dd>
						<select name="projectTypeId" onchange="checkExtraInput(this,'extraPtName')"> <#list projectTypeList as t>
							<option value="${t.id}">${t.name}</option> </#list>
							<option value="">添加+</option>
						</select>
						<input type="text" name="extraPtName" style="display: none;" onchange="removeAllEmpty(this)">
					</dd>
				</dl>
				<dl>
					<dt>项目模式：</dt>
					<dd>
						<select name="projectModeId" onchange="checkExtraInput(this,'extraPName')"> <#list projectModeList as t>
							<option value="${t.id}">${t.name}</option> </#list>
							<option value="">添加+</option>
						</select>
						<input type="text" name="extraPName" style="display: none;" onchange="removeAllEmpty(this)">
					</dd>
				</dl>
				<dl>
					<dt>联系电话：</dt>
					<dd>
						<input name="linkPhone" type="text" class="number" maxlength="11" />
					</dd>
				</dl>
				<dl>
					<dt>接口开启：</dt>
					<dd>
						<select name="using" id="select">
							<option value="true">开启</option>
							<option value="false">关闭</option>
						</select>
					</dd>
				</dl>
				<dl>
					<dt>接口地址：</dt>
					<dd>
						<input name="postUrl" type="text" maxlength="99" />
					</dd>
				</dl>
				<dl>
					<dt>运营形式：</dt>
					<dd>
						<select name="operationFormId" onchange="checkExtraInput(this,'extraOfName')" onchange="removeAllEmpty(this)"> <#list operationFormList as t>
							<option value="${t.id}">${t.name}</option> </#list>
							<option value="">添加+</option>
						</select>
						<input type="text" name="extraOfName" style="display: none;">
					</dd>
				</dl>
				<dl>
					<dt>项目负责人：</dt>
					<dd>
						<input name="projectLeader" type="text" maxlength="9" />
					</dd>
				</dl>
				<dl>
					<dt>联系邮箱：</dt>
					<dd>
						<input name="linkEmail" type="text" class="email" maxlength="99" />
					</dd>
				</dl>
				<dl>
					<dt>商品库参数：</dt>
					<dd>
						<input name="pdbName" type="text" maxlength="64"   />
					</dd>
				</dl>
				<dl>
					<dt>备注信息：</dt>
					<dd>
						<textarea name="remark" cols="50" rows="4" maxlength="250"></textarea>
					</dd>
				</dl>
			</div>
		</div>
		<div class="formBar">
			<ul>
				<li>
					<div class="buttonActive">
						<div class="buttonContent">
							<button type="submit">保存</button>
						</div>
					</div></li>
				<li>
					<div class="button">
						<div class="buttonContent">
							<button type="button" class="close">取消</button>
						</div>
					</div></li>
			</ul>
		</div>
	</form>
</div>
