<#assign contextPath=springMacroRequestContext.getContextPath() />
<div class="pageContent" style="padding:5px">

		<div class="tabsContent">
			<div>
	
				<div layouth="146" style="float:left; display:block; overflow:auto; width:240px; border:solid 1px #CCC; line-height:21px; background:#fff">
				    <ul class="tree treeFolder">
						<li><a href="http://www.j-ui.com/demo/pagination/javascript">瀹為獙瀹ゆ娴&#65533;</a>
							<ul>
								<li><a href="${contextPath}/spfl/list" target="ajax" rel="jbsxBox">灏挎</a></li>
								<li><a href="http://www.j-ui.com/demo/pagination/demo/pagination/list1.html" target="ajax" rel="jbsxBox">HIV妫€娴&#65533;</a></li>
								<li><a href="http://www.j-ui.com/demo/pagination/demo/pagination/list1.html" target="ajax" rel="jbsxBox">HCV妫€娴&#65533;</a></li>
								<li><a href="http://www.j-ui.com/demo/pagination/demo/pagination/list1.html" target="ajax" rel="jbsxBox">TB妫€娴&#65533;</a></li>
							</ul>
						</li>
						
				     </ul>
				</div>
				
				<div id="jbsxBox" class="unitBox" style="margin-left:246px;">
					<!--#include virtual="list1.html" -->
				</div>
	
			</div>
			
			<div>鐥呬汉澶勬柟</div>
			
			<div>鐥呬汉鏈嶈嵂鎯呭喌</div>
			
			<div>鍩虹嚎璋冩煡</div>
			
			<div>闅忚</div>
		</div>
	
</div>