 html,
body {
	background:url(../img/login/top.jpg) no-repeat center 0;
}
p{text-align:center;}

::-webkit-input-placeholder { /* WebKit browsers */ 
color: #d5d5d5; 
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #d5d5d5; 
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color: #d5d5d5; 
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: #d5d5d5; 
} 

#top{position:relative;}
.top-wrap{position:relative;width:370px;margin:0 auto;}
.top-wrap-pure{padding-top:200px;}
.tip1{width:100%;overflow:hidden;}
.tip1 img{float:left;width:116px;}
.tip1 span{float:right;color:#454545;font-size:22px;  margin: 46px 0 0 0;}
#btn{position:relative;  text-align: center;}
.btn-a-b{  margin: 0 auto;background:url(../img/password-reset/btn1.png) no-repeat;width:210px;height:40px;}