<#assign contextPath = springMacroRequestContext.getContextPath() />
<div class="pageHeader">
	<form id="pagerForm" rel="pagerForm" onsubmit="return navTabSearch(this);" action="${contextPath}/warehousing_notice/list" method="get">
		<input type="hidden" name="pageNo" value="${pagination.pageNo?c}" />
		<input type="hidden" name="pageSize" value="${pagination.pageSize?c}" />
		<div class="searchBar">
			<ul class="searchContent">
				<li><label>是否生成入库单：</label> <input type="text" name="generateWarehousingOrder" value="${qo.generateWarehousingOrder!?html}" /></li>
				<li><label>入库仓库：</label> <input type="text" name="warehouse" value="${qo.warehouse!?html}" /></li>
				<li><label>通知单编号：</label> <input type="text" name="warehousingNoticeCode" value="${qo.warehousingNoticeCode!?html}" /></li>
				<li><label>项目名称：</label> <input type="text" name="project" value="${qo.project!?html}" /></li>
				<li><label>通知人：</label> <input type="text" name="noticeUser" value="${qo.noticeUser!?html}" /></li>
				<li><label>供应商：</label> <input type="text" name="supplier" value="${qo.supplier!?html}" /></li>
				<li><label>通知时间：</label> <input type="text" name="noticeDate" value="${qo.noticeDate!?html}" /></li>
				<li><label>采购单编号：</label> <input type="text" name="purchaseOrderCode" value="${qo.purchaseOrderCode!?html}" /></li>
			</ul>
			<div class="subBar">
				<ul>
					<li><div class="buttonActive">
							<div class="buttonContent">
								<button type="submit">检索</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="${contextPath}/warehousing_notice/to_add" target="dialog" width="1000" height="620" mask="true">
					<span>新增</span>
				</a>
			</li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="138">
		<thead>
			<tr>
				<th width="20">是否生成入库单</th>
				<th width="20">入库仓库</th>
				<th width="20">通知单编号</th>
				<th width="20">项目名称</th>
				<th width="20">入库单类型</th>
				<th width="20">供应商</th>
				<th width="20">通知时间</th>
				<th width="20">采购单编号</th>
				<th width="20">操作</th>
			</tr>
		</thead>
		<tbody>
			<#list pagination.list as t>
			<tr target="sid_WarehousingNotice" rel="${t.id}">
				<td>${t.generateWarehousingOrder!?html}</td>
				<td>${t.warehouse!?html}</td>
				<td>${t.warehousingNoticeCode!?html}</td>
				<td>${t.project!?html}</td>
				<td>${t.noticeType!?html}</td>
				<td>${t.supplier!?html}</td>
				<td>${t.noticeDate!?html}</td>
				<td>${t.purchaseOrderCode!?html}</td>
				<td class="operate_box">
					<a href="${contextPath}/warehousing_notice/to_view?id=${(t.id)}" target="dialog" width="1000" height="620" mask="true">查看</a>
					<a href="${contextPath}/warehousing_notice/to_check?id=${(t.id)}" target="dialog" width="1000" height="620" mask="true">审核</a>
					<a href="${contextPath}/warehousing_notice/edit?id=${(t.id)}" target="dialog" width="1000" height="620" mask="true">编辑</a>
					<a>删除</a>
				</td>
			</tr>
			</#list>
		</tbody>
	</table>
	<#include "/public/pagination/pagination.html">
</div>
