body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:532px;
  top:30px;
  width:398px;
  height:430px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:430px;
}
#u1 {
  position:absolute;
  left:2px;
  top:207px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:552px;
  top:45px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:590px;
  top:42px;
  width:330px;
  height:36px;
  font-size:14px;
  line-height:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:36px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:552px;
  top:91px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:590px;
  top:88px;
  width:330px;
  height:72px;
  font-size:14px;
  line-height:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:72px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:60px;
  top:105px;
  width:160px;
  height:43px;
  font-size:16px;
  color:#0066FF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:43px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:219px;
  top:105px;
  width:161px;
  height:43px;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:43px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:60px;
  top:147px;
  width:320px;
  height:374px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:374px;
}
#u15 {
  position:absolute;
  left:2px;
  top:179px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:60px;
  top:142px;
  width:160px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:143px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:4px;
  width:160px;
  height:3px;
}
#u17 {
  position:absolute;
  left:60px;
  top:162px;
  width:320px;
  height:70px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u18 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:420px;
  top:112px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:354px;
  top:122px;
  width:66px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:49px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  height:2px;
}
#u22 {
  position:absolute;
  left:72px;
  top:172px;
  width:198px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:270px;
  top:208px;
  width:110px;
  height:16px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:270px;
  top:172px;
  width:110px;
  height:32px;
  color:#999999;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:99px;
  top:184px;
  width:135px;
  height:25px;
  font-size:16px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:25px;
}
#u29 {
  position:absolute;
  left:0px;
  top:3px;
  width:135px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:60px;
  top:60px;
  width:320px;
  height:46px;
  font-size:18px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:60px;
  top:60px;
  width:60px;
  height:46px;
  font-size:28px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:46px;
}
#u33 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:286px;
  top:199px;
  width:74px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:57px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:74px;
  height:1px;
}
#u35 {
  position:absolute;
  left:10px;
  top:67px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:40px;
  top:77px;
  width:50px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:4px;
  width:50px;
  height:2px;
}
