<#assign contextPath=springMacroRequestContext.getContextPath() />
<style>
.sa{ width:163px; background:#fff; border:1px solid #ccc; padding:10px 0px 10px; margin-left:62px;}
.sa ul {padding:0px ; margin:0px;}
.sa li{ list-style:none; padding:10px; margin-top:5px;}.sa li:hover{ background:#ccc;} li.current{ background:#ccc;}}
</style>
<script src="${staticPath}/js/jquery-validation-1.9.0/lib/jquery.js" type="text/javascript"></script>
<script src="${contextPath}/resources/js/ajaxfileupload.js" type="text/javascript"></script>
<script type="text/javascript">
	var path = '${contextPath}';
	
	function checkPosition(){
		
		if($("#position2").val()!=$("#positionHide").val() && $("#positionHide").val()!=""){
			alert('请上传广告图片');
			return false;
		}else{
			return true;
		}
	}
	
	var imageAdd = {};
	
	imageAdd.imageUpload = function (me) {
		
		$.ajaxFileUpload({
			url : path+"/file/imgUpload",
	       	secureuri : false,
	       	fileElementId : 'ad_imgFile',
	       	dataType : 'json',
	       	data: {
	       		//maxHeight: 175,
	       		//maxWidth: 230,
	       		maxSize: 20480
	       	},
			success: function (data, status) {
				if ("success" == data.status) {
		       		$("#ad_imgView").attr("src", data.imageUrl);
		       		$("#ad_imageInfo").attr("value",data.fileInfo);
		       		$("#ad_imagePath").attr("value",data.imageUrl);
		       		$("#id_fileName").attr("value",data.imageName);
	    	  	} else {
	    	  		alertMsg.info(data.msg);
	    	  	}
			},
	        error: function (data, status, e) {
	        	alertMsg.info("上传失败");
	        }
	    });
	}
	
	function change(obj){
		if(obj.checked){
			obj.attr("checked", "false");
		}
	}
</script>

<div class="pageHeader" layoutH="26">

	<form action="${contextPath}/advertisement/addAd" method="post" enctype="multipart/form-data" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone)">
	<table>
			<tr style="float:left;"> 
				<td>
					<input type="hidden" id="positionId" name="positionId" value="${positionId}">
					广告位置：
					<span>${position.baseInfo.name}</span>
				</td>
			</tr>
			<tr height="20px;"/> 
			<tr style="float:left;"> 
				<td>
					广告名称：&nbsp;<input type="text" id="title" name="title" size="25" class="required" maxlength="64">&nbsp;&nbsp;<span style="color: red;">限制在64个字以内</span>
					</div>
				<td>
			</tr>
			<tr height="20px;"/> 
			<tr style="float:left;">
				<td>
					广告链接：&nbsp;<input type="text" id="url" name="url" size="25" class="required url" maxlength="500">&nbsp;<span style="color: red;">限制在500个字以内</span>
				</td>
			</tr>
			<tr height="20px;"/> 
			<tr style="float:left;">
				<td>
					优先级：&nbsp;<input type="text" id="priority" name="priority" class="required number" min="0" size="25" maxlength="8">&nbsp;<span style="color: red;">限制在8位数字以内
					</span>
				</td>
			</tr>
			<tr height="20px;"/> 
			<tr>
				<td>
					广告图片：
					<span style="color: red">
						完成上传图片，再次修改广告位时需要重新上传图片，原图会失效!<br/><br/>
					</span>
					<span style="color: red">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						建议上传
						<#if positionId == "zzgl_ad">
						1920x370
						</#if>
						<#if positionId == "zzgl_hotFirst">
						240x340
						</#if>
						<#if positionId == "zzgl_side">
						260x75
						</#if>
						<#if positionId == "zzgl_teamAd">
						85x40
						</#if>
						<#if positionId == "zzgl_top">
						290*45
						</#if>
						尺寸jpg、gif、png、bmp或JPG、GIF、PNG、BMP格式，单张图片大小不超过2MB<br/><br/>
					</span>
					<span>
						<img id="ad_imgView" width="120" height="120" style="padding-left: 65px;"/>
					</span>	
					<span style="padding-left: 60px;">
						<input id="ad_imgFile" name="file" type="file" onchange="imageAdd.imageUpload(this);" size="60" style="width: 170px;"/><span style="color: red;">*</span>
						<input id="ad_imageInfo" type="hidden" name="ad_imageInfo" class="required"/>
						<input id="ad_imagePath" type="hidden" name="ad_imagePath" class="required"/>
						<input id="id_fileName" type="hidden" name="id_fileName" class="required"/>
					</span>
<!-- 					<div style="padding-left: 60px;"> -->
<!-- 						<input id="FileInput" type="file" name="imageFile" -->
<!-- 							uploaderOption="{ -->
<!-- 								swf:'${contextPath}/resources/dwz-ria/uploadify/scripts/uploadify.swf', -->
<!-- 								uploader:'${contextPath}/lm/advertisement/upload', -->
<!-- 								queueID:'fileQueue', -->
<!-- 								buttonImage:'${contextPath}/resources/dwz-ria/uploadify/img/add.jpg', -->
<!-- 								buttonClass:'my-uploadify-button', -->
<!-- 								width:102, -->
<!-- 								height:28, -->
<!-- 								auto:true, -->
<!-- 								multi:true, -->
<!-- 								queueSizeLimit:1, -->
<!-- 								fileTypeExts:'*.gif; *.jpeg; *.jpg; *.png; *.bmp', -->
<!-- 								onUploadStart:function(file){ -->
<!--         		    				var position = $('#position2').val() -->
<!--         		    				$('#FileInput').uploadify('settings', 'formData', {'position':position});  -->
<!--         		    			}, -->
<!-- 								onUploadSuccess:function(file, data, response){ -->
<!-- 									var dataObj=eval('('+data+')');//解析返回的JSON串  -->
<!-- 									if(dataObj.flag == '-1'){ -->
<!-- 										alert('上传图片格式不对!'); -->
<!-- 									}else if(dataObj.flag == '0'){ -->
<!-- 										alert(dataObj.msg); -->
<!-- 									}else{ -->
<!-- 										$('#imageSrc').attr('src', dataObj.imageSrc); -->
<!-- 										$('#imageId').attr('value', dataObj.imageId); -->
										
<!-- 										//上传成功后记录图片的广告位 -->
<!-- 										$('#positionHide').val( $('#position2').val() ); -->
<!-- 									} -->
<!-- 								} -->
<!-- 							}" -->
<!-- 						/> -->
<!-- 						<div id="fileQueue" class="fileQueue" style="height: 50px;"></div>  -->
<!-- 						<img id="imageSrc" name="imageSrc" width="960px;" height="400px;"> -->
<!-- 						<input id="imageId" name="imageId" type="hidden"> -->
					</div>
					
				<td>
			</tr>
			<tr height="20px;"/> 
	</table>
	
	<div class="">
		<ul>
			<li><div class="buttonActive"><div class="buttonContent"><button type="submit" onclick="return checkPosition()">确定发布</button></div></div></li>
			<li><div class="buttonActive"><div class="buttonContent"><button type="button" class="close">取消发布</button></div></div></li>
			<li style="float:left;"><input type="checkbox" name="show" id="show" checked="checked"/>立即展示</li>
		</ul>
	</div>
	
	</form>
</div>
