<#assign contextPath=springMacroRequestContext.getContextPath() />
<div class="pageContent">
	<form method="post" enctype="multipart/form-data" action="" class="pageForm required-validate" onsubmit="">
		<div class="pageFormContent" layoutH="58">

			<div class="unit">
				<label>取消原因</label>
			</div>
			
			<div class="unit">
				<p>${salePolicySnapshot.remark}</p>
			</div>
			
					
		</div>
		<div class="formBar">
			<ul>
				<li><div class="button"><div class="buttonContent"><button type="submit"  class="close">确认</button></div></div></li>
			</ul>
		</div>
	</form>
	
</div>

