@charset "utf-8";

.indexIcon{background-image:url(../images/indexIcon.png);background-repeat:no-repeat;}

.g_bd{width:100%;margin:auto;background:#e5e5e5;min-width:1200px;padding-bottom:40px;}

.gd_foot .m_nav_c .right li{background-color:#0068b7;}
.gd_foot .m_nav_c .right li a{color:#a5a5a5;}
.gd_foot .m_nav_c .right li .abt{color:#fff;}
.gd_foot .m_nav_c .right li .num{color:#fff;}
.gd_foot .m_nav_c .right li .abt a{color:#fff;}
/*头部轮播*/
.g_carousel{width:100%;height:498px; min-width:1200px;}

/*轮播*/
.g_carousel .img_list{left:0px;top:0px;height:498px;width:100%;}
/*.g_carousel .img_list a{width:100%;height:498px;background-position:center center;display:block;float:left;}*/
.g_carousel .img_list a{width:100%;height:498px;background-position:center center;position:absolute;left:0px;top:0px;}
.g_carousel .icon{bottom:180px;height:16px;right:0px;z-index:4;}
.g_carousel .icon li{width:16px;height:16px;margin-right:3px;float:left;overflow:hidden;background-image:url(../images/indexIcon.png);background-repeat:no-repeat;background-position:0px -107px;text-indent:-8999px;}
.g_carousel .icon li.on{background-position:-30px -107px;}
/*轮播结束*/

.g_carousel .m_select{width:1200px;margin:auto;height:498px;}
.m_select .select_box{width:100%;height:131px;bottom:13px;background:#fff;left:0px;z-index:5;}
.m_select .select_items{width:899px;margin-right:40px;}
.m_select .select_btn{width:164px;height:30px;line-height:30px;text-align:center;background:#fc7301;color:#fff;margin-top:66px;}
.m_select .select_items .tab span{padding:0px 35px;float:left;line-height:18px;height:18px;border-right:1px solid #b5b5b5;font-weight:bold;}
.m_select .select_items .tab span.on{color:#f97a12;}
.m_select .select_items .tab span.first{padding-left:7px;}
.m_select .select_items .tab span.last{border-right:0px;}
.m_select .select_items .tab{margin-left:112px;margin-top:18px;}
.m_select .select_items .tab .line{width:100%;height:1px;background:url(../images/line_bbb.png);margin-top:6px;}
.m_select .select_items .tab_box{margin:20px 0px 0px 15px;height:34px;width:908px;}
.m_select .select_items .tab_box .labe{color:#444444;padding:0px 6px 0px 29px;height:30px;line-height:30px;}
.m_select .select_items .tab_box .jd_input{width:767px;background:none;}



.g_cont{width:100%;min-width:1200px;}
/*公告及特惠专区*/
.m_notice{height:60px;width:1200px;margin:auto;background:#00a0e9;}
.m_notice .title{font-size:20px;color:#ff7000;width:75px;height:60px;line-height:53px;text-align:center;background:#f9cc49;}
.m_notice .title .icon{background-position:-1px -136px;width:16px;height:15px;top:21px;right:-16px;}
.m_notice .text_carousel{height:20px;margin:20px 60px 0px 35px;width:940px;}
 .m_notice .text_carousel .group{left:0px;top:0px;width:100%;}
/* .m_notice .text_carousel .news{height:20px;line-height:20px;font-size:18px;font-family:"Microsoft YaHei","微软雅黑";color:#fff;width:100%;display:block;} */
.m_notice .text_carousel .news{height:20px;line-height:20px;font-size:18px;font-family:"Microsoft YaHei","微软雅黑";color:#fff;float:left;margin-left:20px;display:block;}
.m_notice .more{color:#fff;} 


/*公告及特惠专区*/

/*公共标题*/
.m_title{width:1200px;margin:auto;padding:57px 0px 17px;height:30px;}
.m_title .t{font-size:30px;color:#0068b7;line-height:30px;}
.m_title .en{color:#0068b7;margin:12px 0px 0px 20px;}
.m_title .more{font-size:15px;color:#0545af;margin-top:12px;}
.m_title .link_group{margin-top:12px;margin-right:25px;}
.m_title .link_group .link{color:#0545af;font-size:14px;margin-right:27px;}
.m_title a:visited{}
.m_title a:hover,.m_title .link_group a:hover,.m_title .link_group a.on{color:#ed6f0c;}
.m_title a:active{}
/*公共标题*/

/*特惠专区*/
.m_prefe{width:1200px;margin:auto;}
.m_prefe .prefe_box{width:600px;height:250px;cursor:pointer;}
.m_prefe .prefe_box img{width:600px;height:250px;}
.m_prefe .prefe_box .flag{width:74px;height:98px;background-position:-1px -1px;top:0px;left:33px;z-index:101;}
.m_prefe .prefe_box .flag .time{width:100%;text-align:center;line-height:24px;height:24px;margin-top:25px;font-size:30px;color:#ed6f0c;}
.m_prefe .prefe_box .flag .trip{width:60px;margin:auto;text-align:center;padding-top:4px;border-top:1px solid #dde722;margin-top:7px;color:#ed6f0c;line-height:14px;}
.m_prefe .prefe_box .masking{left:0px;top:0px;z-index:100;width:100%;height:250px;}
.m_prefe .prefe_box .masking .masking_bg{height:50px;width:100%;background:#0c1012;filter:alpha(opacity=65);-moz-opacity:0.65;opacity:0.65;left:0px;bottom:0px;z-index:3;}
.m_prefe .prefe_box .masking .masking_cont{height:50px;width:100%;left:0px;bottom:0px;z-index:4;}
.m_prefe .prefe_box .masking .masking_cont .tt{color:#fff;line-height:50px;margin-left:35px;}
.m_prefe .prefe_box .masking .masking_cont .price{color:#fff;line-height:50px;margin-right:40px;}
.m_prefe .prefe_box .masking .masking_cont .old_price{display:none;}

/*鼠标放上效果*/
.m_prefe .prefe_box_on .masking .masking_bg{height:250px;background:#3d4042;}
.m_prefe .prefe_box_on .masking .masking_cont{height:250px;}
.m_prefe .prefe_box_on .masking .masking_cont .tt{position:absolute;width:250px;height:95px;top:42px;left:190px;margin-left:0px;line-height:35px;text-align:right;}
.m_prefe .prefe_box_on .masking .masking_cont .address{font-size:60px;display:block;line-height:60px;}
.m_prefe .prefe_box_on .masking .masking_cont .price{height:83px;width:250px;background:#0ca5ea;left:190px;top:137px;position:absolute;}
.m_prefe .prefe_box_on .masking .masking_cont .price_t{display:none;}
.m_prefe .prefe_box_on .masking .masking_cont .old_price{display:block;font-size:12px;color:#ffca3c;margin-left:15px;line-height:18px;margin-top:8px;}
.m_prefe .prefe_box_on .masking .masking_cont .old_price i{text-decoration: line-through;}
.m_prefe .prefe_box_on .masking .masking_cont .price_num{color:#ffbd00;font-size:18px;margin-left:14px;}
.m_prefe .prefe_box_on .masking .masking_cont .price_num .num{font-size:48px;}


/*特惠专区*/



/*周边游*/
.m_closeTrip{width:1200px;margin:auto;}
.m_closeTrip .m_closeTrip_box{width:230px;margin-right:12.5px;height:455px;background:#f2faf6;float:left;overflow:hidden;}
.m_closeTrip .m_closeTrip_box:hover{background:#cfe7db;}
.m_closeTrip .m_closeTrip_box img{width:100%;height:265px;}
.m_closeTrip .m_closeTrip_box .tt{text-align:center;height:42px;padding:4px 5px 0px 5px;}
.m_closeTrip .m_closeTrip_box .c1{color:#6ac082;}
.m_closeTrip .m_closeTrip_box .c2{color:#9fc533;}
.m_closeTrip .m_closeTrip_box .c3{color:#ff9900;}
.m_closeTrip .m_closeTrip_box .c4{color:#64b0c6;}
.m_closeTrip .m_closeTrip_box .c5{color:#9fc533;}
.m_closeTrip .m_closeTrip_box .b1{border-bottom:1px solid #6ac082;}
.m_closeTrip .m_closeTrip_box .b2{border-bottom:1px solid #9fc533;}
.m_closeTrip .m_closeTrip_box .b3{border-bottom:1px solid #ff9900;}
.m_closeTrip .m_closeTrip_box .b4{border-bottom:1px solid #64b0c6;}
.m_closeTrip .m_closeTrip_box .b5{border-bottom:1px solid #9fc533;}
.m_closeTrip .m_closeTrip_box .price{margin:21px 30px 0px 30px;border-bottom-width:3px;text-align:center;font-size:14px;}
.m_closeTrip .m_closeTrip_box .price i{font-size:32px;font-weight:bold;}
.m_closeTrip .m_closeTrip_box .more{margin:45px 0px 0px 30px;font-size:14px;font-weight:bold;}
.m_closeTrip .m_closeTrip_box_last{margin-right:0px;}
/*周边游*/

/*跟团游*/
.m_follow{width:1200px;margin:auto;height:380px;}
.m_follow .m_follow_box{width:100%;top:0px;left:0px;}
.m_follow .tips{width:16px;padding:15px 16.5px 0px;height:365px;color:#fff;font-family:"Microsoft YaHei","微软雅黑";font-size:17px;word-break:break-all;line-height:18px;letter-spacing:1.1px;;writing-mode:tb-rl;cursor:pointer;}
.m_follow .tips i{-webkit-transform:rotate(90deg);
-moz-transform:rotate(90deg);
-o-transform: rotate(90deg);white-space:nowrap;
left:-12.5px;bottom:55px;font-weight:bold;*left:15.5px;*bottom:30px;bottom:30px\0;left:15.5px\0;width:76px;_width:auto;*width:auto;width:auto\0;}

.m_follow img{width:1145px;height:380px;}
.m_follow .c1{background:#ffb500}
.m_follow .c2{background:#00a0e9}
.m_follow .c3{background:#ed6f0c}
/*跟团游*/

/*景点轮播*/
.m_carousel{width:100%;min-width:1200px;height:500px;}
.m_carousel .m_carou_bg{width:100%;height:500px;background:#fff;filter:alpha(opacity=65);-moz-opacity:0.65;opacity:0.65;top:0px;z-index:10;}
.m_carousel .m_carou_box{width:1200px;margin:auto;height:500px;}
.m_carousel .m_carou_box .left{width:92px;height:500px;left:0px;top:0px;background-position:-167px -35px;z-index:20;}
.m_carousel .m_carou_box .right{width:92px;height:500px;right:0px;top:0px;background-position:-408px -35px;z-index:20;}
.m_carousel .m_carou_box .list{width:10000px;height:500px;left:0px;top:0px;}
.m_carousel .m_carou_box .list .list_box{width:1200px;height:500px;float:left;position:relative;}
.m_carousel .m_carou_box .list .list_box .base,.m_carousel .m_carou_box .list .list_box .base img{width:342px;height:500px;}
.m_carousel .m_carou_box .list .list_box .rightBase{width:858px;height:250px;}
.m_carousel .m_carou_box .list .list_box .base .t_box{width:210px;height:120px;left:70px;bottom:30px;}
.m_carousel .m_carou_box .list .list_box .base .t_box .bg{width:100%;height:60px;background:#000;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;left:0px;top:0px;}
.m_carousel .m_carou_box .list .list_box .base .t_box .title{width:100%;height:60px;text-align:center;line-height:60px;font-size:30px;color:#fff;z-index:13}
.m_carousel .m_carou_box .list .list_box .base .t_box .price{width:100%;height:60px;background:#000;display:block;color:#ffbd00;text-align:center;line-height:60px;font-size:18px;}
.m_carousel .m_carou_box .list .list_box .base .t_box .price .n{font-size:45px;}
.m_carousel .m_carou_box .list .list_box .base .t_box .price i{font-size:30px;}
.m_carousel .m_carou_box .list .list_box .rightBase .normal_box,.m_carousel .m_carou_box .list .list_box .rightBase .normal_box img{width:286px;height:250px;}
.m_carousel .m_carou_box .list .list_box .rightBase .normal_box .bg{height:34px;width:100%;background:#000;filter:alpha(opacity=65);-moz-opacity:0.65;opacity:0.65;left:0px;bottom:0px;}
.m_carousel .m_carou_box .list .list_box .rightBase .normal_box .tt{height:34px;width:100%;left:0px;bottom:0px;z-index:13;line-height:37px;}
.m_carousel .m_carou_box .list .list_box .rightBase .normal_box .tt .t{color:#fff;padding:0px 5px;width:150px;text-align:center;}
.m_carousel .m_carou_box .list .list_box .rightBase .normal_box .tt .p{color:#ffbd00;width:125px;line-height:33px;}
.m_carousel .m_carou_box .list .list_box .rightBase .normal_box .tt .p .n{font-size:30px;}

/*景点轮播*/


/*右侧浮动导航*/
.m_airNav{background:#00a0e9;width:107px;position:absolute;right:68px;top:137px;padding:80px 0px;z-index:200;}
.m_airNav a{width:100%;height:52px;line-height:52px;text-align:center;display:block;color:#ffbd00;font-size:18px;font-family:"Microsoft YaHei","微软雅黑";}
.m_airNav a.on,.m_airNav a:hover{background:#ffbd00;color:#ff7200;}
.m_airNav .up{width:107px;height:80px;background-position:31px -172px;left:0px;top:0px;}
.m_airNav .down{width:107px;height:80px;background-position:31px -273px;left:0px;bottom:0px;}
/*右侧浮动导航*/

