body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1039px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:830px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#CCCCCC;
}
#u10112 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:830px;
}
#u10113 {
  position:absolute;
  left:2px;
  top:407px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:65px;
}
#u10114 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:65px;
}
#u10115 {
  position:absolute;
  left:2px;
  top:25px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:#242428;
  font-size:16px;
  color:#FFFFFF;
}
#u10116 {
  position:absolute;
  left:90px;
  top:26px;
  width:150px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u10117 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u10118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:255px;
}
#u10118 {
  position:absolute;
  left:-1px;
  top:65px;
  width:320px;
  height:255px;
}
#u10119 {
  position:absolute;
  left:2px;
  top:120px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:#CA2148;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  border-radius:5px;
  font-size:16px;
  color:#FFFFFF;
}
#u10120 {
  position:absolute;
  left:90px;
  top:350px;
  width:140px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u10121 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u10122p000 {
  position:absolute;
  left:-1px;
  top:586px;
  width:83px;
  height:3px;
}
#u10122p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:3px;
}
#u10122 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10123 {
  position:absolute;
  left:2px;
  top:579px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10124p000 {
  position:absolute;
  left:229px;
  top:586px;
  width:93px;
  height:3px;
}
#u10124p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:3px;
}
#u10124 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10125 {
  position:absolute;
  left:232px;
  top:579px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  text-align:center;
}
#u10126 {
  position:absolute;
  left:90px;
  top:580px;
  width:140px;
  height:16px;
  text-align:center;
}
#u10127 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u10128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u10128 {
  position:absolute;
  left:10px;
  top:610px;
  width:50px;
  height:50px;
}
#u10129 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u10130 {
  position:absolute;
  left:70px;
  top:610px;
  width:140px;
  height:16px;
}
#u10131 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u10132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  color:#999999;
}
#u10132 {
  position:absolute;
  left:70px;
  top:638px;
  width:140px;
  height:16px;
  color:#999999;
}
#u10133 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u10134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#B42042;
}
#u10134 {
  position:absolute;
  left:226px;
  top:622px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#B42042;
}
#u10135 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u10136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u10136 {
  position:absolute;
  left:10px;
  top:678px;
  width:50px;
  height:50px;
}
#u10137 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u10138 {
  position:absolute;
  left:70px;
  top:678px;
  width:140px;
  height:16px;
}
#u10139 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u10140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  color:#999999;
}
#u10140 {
  position:absolute;
  left:70px;
  top:706px;
  width:140px;
  height:16px;
  color:#999999;
}
#u10141 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u10142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#B42042;
}
#u10142 {
  position:absolute;
  left:226px;
  top:690px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#B42042;
}
#u10143 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u10144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u10144 {
  position:absolute;
  left:10px;
  top:749px;
  width:50px;
  height:50px;
}
#u10145 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u10146 {
  position:absolute;
  left:70px;
  top:749px;
  width:140px;
  height:16px;
}
#u10147 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u10148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  color:#999999;
}
#u10148 {
  position:absolute;
  left:70px;
  top:777px;
  width:140px;
  height:16px;
  color:#999999;
}
#u10149 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u10150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#B42042;
}
#u10150 {
  position:absolute;
  left:226px;
  top:761px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#B42042;
}
#u10151 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u10152p000 {
  position:absolute;
  left:-1px;
  top:426px;
  width:83px;
  height:3px;
}
#u10152p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:3px;
}
#u10152 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10153 {
  position:absolute;
  left:2px;
  top:419px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10154p000 {
  position:absolute;
  left:229px;
  top:426px;
  width:93px;
  height:3px;
}
#u10154p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:3px;
}
#u10154 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10155 {
  position:absolute;
  left:232px;
  top:419px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  text-align:center;
}
#u10156 {
  position:absolute;
  left:90px;
  top:420px;
  width:140px;
  height:16px;
  text-align:center;
}
#u10157 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u10158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  font-size:14px;
}
#u10158 {
  position:absolute;
  left:12px;
  top:460px;
  width:300px;
  height:64px;
  font-size:14px;
}
#u10159 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u10160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:588px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#CCCCCC;
}
#u10160 {
  position:absolute;
  left:365px;
  top:0px;
  width:320px;
  height:588px;
}
#u10161 {
  position:absolute;
  left:2px;
  top:286px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:65px;
}
#u10162 {
  position:absolute;
  left:365px;
  top:0px;
  width:320px;
  height:65px;
}
#u10163 {
  position:absolute;
  left:2px;
  top:25px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:#242428;
  font-size:16px;
  color:#FFFFFF;
}
#u10164 {
  position:absolute;
  left:455px;
  top:26px;
  width:150px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u10165 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u10166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:255px;
}
#u10166 {
  position:absolute;
  left:364px;
  top:65px;
  width:320px;
  height:255px;
}
#u10167 {
  position:absolute;
  left:2px;
  top:120px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:#CA2148;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  border-radius:5px;
  font-size:16px;
  color:#FFFFFF;
}
#u10168 {
  position:absolute;
  left:455px;
  top:350px;
  width:140px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u10169 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u10170p000 {
  position:absolute;
  left:593px;
  top:426px;
  width:95px;
  height:3px;
}
#u10170p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:3px;
}
#u10170 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10171 {
  position:absolute;
  left:597px;
  top:419px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  text-align:center;
}
#u10172 {
  position:absolute;
  left:455px;
  top:420px;
  width:140px;
  height:16px;
  text-align:center;
}
#u10173 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u10174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  font-size:14px;
}
#u10174 {
  position:absolute;
  left:377px;
  top:460px;
  width:300px;
  height:64px;
  font-size:14px;
}
#u10175 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u10176p000 {
  position:absolute;
  left:363px;
  top:427px;
  width:95px;
  height:3px;
}
#u10176p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:3px;
}
#u10176 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10177 {
  position:absolute;
  left:367px;
  top:420px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:830px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#CCCCCC;
}
#u10178 {
  position:absolute;
  left:720px;
  top:0px;
  width:320px;
  height:830px;
}
#u10179 {
  position:absolute;
  left:2px;
  top:407px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:65px;
}
#u10180 {
  position:absolute;
  left:720px;
  top:0px;
  width:320px;
  height:65px;
}
#u10181 {
  position:absolute;
  left:2px;
  top:25px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:#242428;
  font-size:16px;
  color:#FFFFFF;
}
#u10182 {
  position:absolute;
  left:810px;
  top:26px;
  width:150px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u10183 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u10184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:255px;
}
#u10184 {
  position:absolute;
  left:720px;
  top:65px;
  width:319px;
  height:255px;
}
#u10185 {
  position:absolute;
  left:2px;
  top:120px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:#CA2148;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  border-radius:5px;
  font-size:16px;
  color:#FFFFFF;
}
#u10186 {
  position:absolute;
  left:810px;
  top:350px;
  width:140px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u10187 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u10188p000 {
  position:absolute;
  left:719px;
  top:586px;
  width:83px;
  height:3px;
}
#u10188p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:3px;
}
#u10188 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10189 {
  position:absolute;
  left:722px;
  top:579px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10190p000 {
  position:absolute;
  left:949px;
  top:586px;
  width:93px;
  height:3px;
}
#u10190p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:3px;
}
#u10190 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10191 {
  position:absolute;
  left:952px;
  top:579px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  text-align:center;
}
#u10192 {
  position:absolute;
  left:810px;
  top:580px;
  width:140px;
  height:16px;
  text-align:center;
}
#u10193 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u10194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u10194 {
  position:absolute;
  left:730px;
  top:610px;
  width:50px;
  height:50px;
}
#u10195 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u10196 {
  position:absolute;
  left:790px;
  top:610px;
  width:140px;
  height:16px;
}
#u10197 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u10198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  color:#999999;
}
#u10198 {
  position:absolute;
  left:790px;
  top:638px;
  width:140px;
  height:16px;
  color:#999999;
}
#u10199 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u10200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#B42042;
}
#u10200 {
  position:absolute;
  left:946px;
  top:622px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#B42042;
}
#u10201 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u10202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u10202 {
  position:absolute;
  left:730px;
  top:678px;
  width:50px;
  height:50px;
}
#u10203 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u10204 {
  position:absolute;
  left:790px;
  top:678px;
  width:140px;
  height:16px;
}
#u10205 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u10206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  color:#999999;
}
#u10206 {
  position:absolute;
  left:790px;
  top:706px;
  width:140px;
  height:16px;
  color:#999999;
}
#u10207 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u10208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#B42042;
}
#u10208 {
  position:absolute;
  left:946px;
  top:690px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#B42042;
}
#u10209 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u10210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u10210 {
  position:absolute;
  left:730px;
  top:749px;
  width:50px;
  height:50px;
}
#u10211 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u10212 {
  position:absolute;
  left:790px;
  top:749px;
  width:140px;
  height:16px;
}
#u10213 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u10214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  color:#999999;
}
#u10214 {
  position:absolute;
  left:790px;
  top:777px;
  width:140px;
  height:16px;
  color:#999999;
}
#u10215 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u10216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#B42042;
}
#u10216 {
  position:absolute;
  left:946px;
  top:761px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#B42042;
}
#u10217 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u10218p000 {
  position:absolute;
  left:719px;
  top:426px;
  width:83px;
  height:3px;
}
#u10218p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:3px;
}
#u10218 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10219 {
  position:absolute;
  left:722px;
  top:419px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10220p000 {
  position:absolute;
  left:949px;
  top:426px;
  width:93px;
  height:3px;
}
#u10220p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:3px;
}
#u10220 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10221 {
  position:absolute;
  left:952px;
  top:419px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  text-align:center;
}
#u10222 {
  position:absolute;
  left:810px;
  top:420px;
  width:140px;
  height:16px;
  text-align:center;
}
#u10223 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u10224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  font-size:14px;
}
#u10224 {
  position:absolute;
  left:732px;
  top:460px;
  width:300px;
  height:64px;
  font-size:14px;
}
#u10225 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u10226 {
  position:absolute;
  left:0px;
  top:65px;
  visibility:hidden;
}
#u10226_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10226_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:566px;
}
#u10227 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:566px;
}
#u10228 {
  position:absolute;
  left:2px;
  top:275px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10229 {
  position:absolute;
  left:70px;
  top:270px;
  width:180px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:123px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
}
#u10230 {
  position:absolute;
  left:377px;
  top:660px;
  width:300px;
  height:123px;
}
#u10231 {
  position:absolute;
  left:2px;
  top:54px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u10232 {
  position:absolute;
  left:390px;
  top:672px;
  width:270px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u10233 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u10234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:64px;
}
#u10234 {
  position:absolute;
  left:390px;
  top:715px;
  width:60px;
  height:64px;
}
#u10235 {
  position:absolute;
  left:2px;
  top:24px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
  color:#999999;
}
#u10236 {
  position:absolute;
  left:460px;
  top:726px;
  width:200px;
  height:45px;
  color:#999999;
}
#u10237 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
