body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1168px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1432px;
  height:1617px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65 {
  position:absolute;
  left:-132px;
  top:-25px;
  width:1432px;
  height:1617px;
  opacity:0.7;
}
#u66 {
  position:absolute;
  left:2px;
  top:800px;
  width:1428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  height:1261px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  position:absolute;
  left:289px;
  top:163px;
  width:857px;
  height:1261px;
}
#u68 {
  position:absolute;
  left:2px;
  top:622px;
  width:853px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(102, 102, 102, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(102, 102, 102, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(102, 102, 102, 0.349019607843137);
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:100px;
}
#u70 {
  position:absolute;
  left:2px;
  top:42px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:79px;
}
#u71 {
  position:absolute;
  left:136px;
  top:11px;
  width:134px;
  height:79px;
}
#u72 {
  position:absolute;
  left:2px;
  top:32px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#0099FF;
}
#u73 {
  position:absolute;
  left:410px;
  top:46px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#0099FF;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u75 {
  position:absolute;
  left:501px;
  top:54px;
  width:20px;
  height:10px;
}
#u76 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u77 {
  position:absolute;
  left:538px;
  top:38px;
  width:21px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  visibility:hidden;
  white-space:nowrap;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#515151;
}
#u79 {
  position:absolute;
  left:595px;
  top:46px;
  width:66px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#515151;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u81 {
  position:absolute;
  left:686px;
  top:54px;
  width:20px;
  height:10px;
}
#u82 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
}
#u83 {
  position:absolute;
  left:1113px;
  top:47px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u85 {
  position:absolute;
  left:858px;
  top:54px;
  width:20px;
  height:10px;
}
#u86 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u87 {
  position:absolute;
  left:950px;
  top:39px;
  width:140px;
  height:40px;
  opacity:0.9;
  font-size:20px;
  color:#FFFFFF;
}
#u88 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#515151;
}
#u89 {
  position:absolute;
  left:768px;
  top:47px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#515151;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u91 {
  position:absolute;
  left:106px;
  top:211px;
  width:151px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u92 {
  position:absolute;
  left:2px;
  top:14px;
  width:147px;
  word-wrap:break-word;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u93 {
  position:absolute;
  left:106px;
  top:163px;
  width:151px;
  height:48px;
  opacity:0.9;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u94 {
  position:absolute;
  left:2px;
  top:14px;
  width:147px;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u95 {
  position:absolute;
  left:106px;
  top:259px;
  width:151px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u96 {
  position:absolute;
  left:2px;
  top:14px;
  width:147px;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:150px;
}
#u97 {
  position:absolute;
  left:347px;
  top:220px;
  width:197px;
  height:150px;
}
#u98 {
  position:absolute;
  left:2px;
  top:67px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:140px;
}
#u99 {
  position:absolute;
  left:576px;
  top:223px;
  width:514px;
  height:140px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  word-wrap:break-word;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u101 {
  position:absolute;
  left:361px;
  top:188px;
  width:106px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:2px;
}
#u103 {
  position:absolute;
  left:361px;
  top:398px;
  width:729px;
  height:1px;
}
#u104 {
  position:absolute;
  left:2px;
  top:-8px;
  width:725px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:140px;
}
#u105 {
  position:absolute;
  left:376px;
  top:463px;
  width:696px;
  height:140px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  word-wrap:break-word;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u107 {
  position:absolute;
  left:361px;
  top:423px;
  width:88px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:2px;
}
#u109 {
  position:absolute;
  left:361px;
  top:664px;
  width:729px;
  height:1px;
}
#u110 {
  position:absolute;
  left:2px;
  top:-8px;
  width:725px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u111 {
  position:absolute;
  left:361px;
  top:697px;
  width:88px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:28px;
}
#u113 {
  position:absolute;
  left:376px;
  top:748px;
  width:696px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:500px;
}
#u115 {
  position:absolute;
  left:410px;
  top:812px;
  width:631px;
  height:500px;
}
#u116 {
  position:absolute;
  left:2px;
  top:242px;
  width:627px;
  visibility:hidden;
  word-wrap:break-word;
}
