body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:671px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:520px;
  background:inherit;
  background-color:#F4F4F4;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#CCCCCC;
}
#u8942 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:520px;
}
#u8943 {
  position:absolute;
  left:2px;
  top:252px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:65px;
}
#u8944 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:65px;
}
#u8945 {
  position:absolute;
  left:2px;
  top:25px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:#242428;
  font-size:16px;
  color:#FFFFFF;
}
#u8946 {
  position:absolute;
  left:90px;
  top:26px;
  width:150px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u8947 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u8948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:90px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#CCCCCC;
  text-align:left;
}
#u8949 {
  position:absolute;
  left:0px;
  top:70px;
  width:320px;
  height:90px;
  text-align:left;
}
#u8950 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  word-wrap:break-word;
}
#u8951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  color:#FF5B45;
}
#u8951 {
  position:absolute;
  left:236px;
  top:85px;
  width:64px;
  height:28px;
  color:#FF5B45;
}
#u8952 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u8953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:#F5A542;
  font-size:16px;
  color:#FFFFFF;
}
#u8953 {
  position:absolute;
  left:220px;
  top:120px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u8954 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u8955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:90px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#CCCCCC;
  text-align:left;
}
#u8956 {
  position:absolute;
  left:0px;
  top:165px;
  width:320px;
  height:90px;
  text-align:left;
}
#u8957 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  word-wrap:break-word;
}
#u8958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  color:#FF5B45;
}
#u8958 {
  position:absolute;
  left:236px;
  top:180px;
  width:64px;
  height:28px;
  color:#FF5B45;
}
#u8959 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u8960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:#F5A542;
  font-size:16px;
  color:#FFFFFF;
}
#u8960 {
  position:absolute;
  left:220px;
  top:215px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u8961 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u8962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:90px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#CCCCCC;
  text-align:left;
}
#u8963 {
  position:absolute;
  left:0px;
  top:260px;
  width:320px;
  height:90px;
  text-align:left;
}
#u8964 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  word-wrap:break-word;
}
#u8965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  color:#FF5B45;
}
#u8965 {
  position:absolute;
  left:236px;
  top:275px;
  width:64px;
  height:28px;
  color:#FF5B45;
}
#u8966 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u8967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:#F5A542;
  font-size:16px;
  color:#FFFFFF;
}
#u8967 {
  position:absolute;
  left:220px;
  top:310px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u8968 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u8969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:90px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#CCCCCC;
  text-align:left;
}
#u8970 {
  position:absolute;
  left:0px;
  top:355px;
  width:320px;
  height:90px;
  text-align:left;
}
#u8971 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  word-wrap:break-word;
}
#u8972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  color:#FF5B45;
}
#u8972 {
  position:absolute;
  left:236px;
  top:370px;
  width:64px;
  height:28px;
  color:#FF5B45;
}
#u8973 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u8974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:#F5A542;
  font-size:16px;
  color:#FFFFFF;
}
#u8974 {
  position:absolute;
  left:220px;
  top:405px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u8975 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u8977 {
  position:absolute;
  left:40px;
  top:460px;
  width:240px;
  height:50px;
  overflow:hidden;
}
#u8977_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8977_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
  font-size:20px;
}
#u8978 {
  position:absolute;
  left:69px;
  top:13px;
  width:151px;
  height:20px;
  font-size:20px;
}
#u8979 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u8980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u8980 {
  position:absolute;
  left:0px;
  top:5px;
  width:68px;
  height:40px;
}
#u8981 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8977_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8977_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  font-size:20px;
}
#u8982 {
  position:absolute;
  left:91px;
  top:14px;
  width:79px;
  height:20px;
  font-size:20px;
}
#u8983 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u8984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u8984 {
  position:absolute;
  left:18px;
  top:5px;
  width:68px;
  height:40px;
}
#u8985 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8977_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8977_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  font-size:20px;
}
#u8986 {
  position:absolute;
  left:71px;
  top:14px;
  width:155px;
  height:20px;
  font-size:20px;
}
#u8987 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u8988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u8988 {
  position:absolute;
  left:0px;
  top:5px;
  width:68px;
  height:40px;
}
#u8989 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
  background:inherit;
  background-color:#F4F4F4;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#CCCCCC;
}
#u8990 {
  position:absolute;
  left:350px;
  top:0px;
  width:320px;
  height:480px;
}
#u8991 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:65px;
}
#u8992 {
  position:absolute;
  left:350px;
  top:0px;
  width:320px;
  height:65px;
}
#u8993 {
  position:absolute;
  left:2px;
  top:25px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u8994 {
  position:absolute;
  left:358px;
  top:220px;
  width:68px;
  height:40px;
}
#u8995 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:28px;
  color:#A9A8A6;
}
#u8996 {
  position:absolute;
  left:431px;
  top:226px;
  width:240px;
  height:28px;
  color:#A9A8A6;
}
#u8997 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u8998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:#F5A542;
  font-size:16px;
  color:#FFFFFF;
}
#u8998 {
  position:absolute;
  left:460px;
  top:290px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u8999 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u9000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:#242428;
  font-size:16px;
  color:#FFFFFF;
}
#u9000 {
  position:absolute;
  left:435px;
  top:26px;
  width:150px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u9001 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
