<#assign contextPath=springMacroRequestContext.getContextPath() />
<script type="text/javascript">
//刷新DWZ树形控件里checkbox的选中状态
function rechangeCheckBoxStatus(){
	var testcheckBox=$('.ckbox input:checkbox');
	testcheckBox.each(function(i){
		var cboxp=$(this).parent();
		if(cboxp.size()>0){
			if(cboxp.hasClass('checked') || cboxp.hasClass('indeterminate')){
				$(this).prop('checked',true);
			}else if(cboxp.hasClass('unchecked')){
				$(this).prop('checked',false);
			}
		}
	});
}
</script>
<div class="pageContent">
	<form method="post" enctype="multipart/form-data" action="${contextPath}/auth/role/save" class="pageForm required-validate" onsubmit="rechangeCheckBoxStatus();return validateCallback(this, dialogAjaxDone);">
		<div class="pageFormContent" layoutH="58">
			<input type="hidden" name="role.id" value="${role.id???string(role.id!0,'')}" />
			<div class="unit">
				<label>角色名：</label>
				<input type="text" name="role.roleName" size="64" class="required" maxlength="64" value="${role.roleName!?html}" />
			</div>
			<div class="unit">
				<label>显示名：</label>
				<input type="text" name="role.displayName" size="64" maxlength="64" value="${role.displayName!?html}" />
			</div>
			<div class="unit">
				<label>权限：</label>
				<div layoutH="50" style="float:left; display:block; overflow:auto; width:353px; border:solid 1px #CCC; line-height:21px; background:#fff">
					${permTreeHtml!}
				</div>
			</div>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">关闭</button></div></div></li>
			</ul>
		</div>
	</form>
	
</div>

