<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="demo-consumer" owner="programmer" organization="dubbox"/>

    
    <!-- <dubbo:registry address="zookeeper://127.0.0.1:2181"/> -->
 	<dubbo:registry address="zookeeper://192.168.2.211:2181?group=zheng"/>

	<dubbo:reference id="departmentService" interface="hg.demo.member.common.spi.DepartmentSPI" timeout="60000" retries="0" />
	<dubbo:reference id="userBaseInfoService" interface="hg.demo.member.common.spi.UserBaseInfoSPI" timeout="60000" retries="0" />
	<dubbo:reference id="opLogSPIService" interface="hg.demo.member.common.spi.OpLogSPI" timeout="60000" retries="0" />
</beans>