<#assign contextPath=springMacroRequestContext.getContextPath() />



<div class="pageHeader" layoutH="26">


	<form action="${contextPath}/introduction/jyxkAdd"
		method="post" id="add" enctype="multipart/form-data"
		class="pageForm required-validate"
		onsubmit="return validateCallback(this, navTabAjaxDone)">
		<table>

			<tr>
				<td><div style="float:left;">
						<span style="font-size :28px;font-family: 微软雅黑">经营许可</span><br></br>
					</div></td>
			</tr>

			<tr height="20px;" />
			<tr style="float:left;">
				<td><div style="float:left;">
						许可内容：<span style="color: red;">*</span>&nbsp; 
					</div> <textarea style="width: 580px;height:200px" name="introductionContent" class="editor required"  
						 >${introduction.introductionContent}</textarea>

					</div>
				<td>
			</tr>
			<!-- <tr>
				<td><div style="float:right;margin-top: 5px">
						<span style="color: red;font-size: 14px">至多输入200个字</span>
					</div></td>
			</tr> -->
			<tr height="20px;" />

			<tr height="20px;">
				<td><br />
					<div style="float: right">
						<ul>
							<li>
								<div class="buttonActive" spellcheck="margin-left: 5px;">
									<div class="buttonContent">
										<button type="submit" onclick="checkPosition()"
											><span>保存</span></button>
									</div>
								</div>
							</li>
						</ul>
					</div></td>
			</tr>
		</table>
		<input type="hidden" value="${introduction.id}" name="id">
	</form>




</div>
<script src="${contextPath}/resources/dwz-ria/js/dwz.ajax.js"
	type="text/javascript"></script>
<script type="text/javascript">
	function checkLine1(id) {
		$("#linetype").attr("value", "2");

		$("input[name=carouselActionCheck]").attr("value", id);

		$("input[name=carouselAction0]").attr("value", "");
		$("input[name=carouselAction]").attr("value", "");

	}

	function checkLine2(val) {
		$("input[name=carouselActionCheck]").attr("value", "");
		$("input[name=carouselActionCheck]").attr("checked", false);
		$("#linetype").attr("value", "6");
		$("input[name=carouselAction]").attr("value", val);
	}
</script>