<#assign contextPath=springMacroRequestContext.getContextPath() />
<!DOCTYPE html>
<html>
  <head>
    <title>index.html</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
    <form action="${contextPath}/init/one" method="post">
    	账号:<input type="text" name="loginName">
    	密码:<input type="password" name="passwd">
    	<input type="submit" value="提交">
    </form>
  </body>
</html>
