<#assign contextPath=springMacroRequestContext.getContextPath() />
<div class="pageContent">

	<form method="post" action="${contextPath}/system/operator/update" class="pageForm required-validate" 
		onsubmit="return validateCallback(this, dialogAjaxDone)">
		
		<div class="pageFormContent" layoutH="58">
		
			<input type="hidden" name="id" value="${staff.id}" />
			<input type="hidden" name="authUser.enable" value="${staff.authUser.enable}" />
			
			<div class="unit">
				<label>员工姓名：</label>
				<input type="text" name="info.realName" size="64" maxlength="64" class="required" value="${staff.info.realName!?html}" />
			</div>
			<div class="unit">
				<label>登录账户：</label>
				<input type="text" name="authUser.loginName" size="64" class="required" minlength="5" 
					maxlength="64" value="${staff.authUser.loginName!?html}"  readonly="readonly"/>
			</div>
			<div class="unit">
				<label>登录密码：</label>
				<input type="password" name="authUser.passwd" size="64" minlength="5" 
					maxlength="15" value="" />
			</div>
			<div class="unit">
				<label>员工角色：</label>
				<select class="combox" name="roleIds">
					<#list authRoleList as userRole>
						<#assign hasRoleb = false >
						<#list hasRoleName as roleName>
							<#if userRole.roleName == roleName>
								<#assign hasRoleb = true >
								<#break>
							</#if>
						</#list>
						<option value="${userRole.id!?html}" <#if hasRoleb>selected="selected"</#if>>${userRole.displayName!?html}</option>
					</#list>
				</select>
			</div>
			<div class="unit">
				<label>联系邮箱：</label>
				<input type="text" name="info.email" size="64" maxlength="64" value="${staff.info.email!?html}" />
			</div>
			<div class="unit">
				<label>联系电话：</label>
				<input type="text" name="info.mobile" size="64" maxlength="32" value="${staff.info.mobile!?html}" />
			</div>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
</div>

