<#assign contextPath=springMacroRequestContext.getContextPath() />

<!DOCTYPE html>
<html lang="en" class="mask">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
	<link  href="${contextPath}/resources/css/campaign_common.css" type="text/css" rel=stylesheet>
    <link  href="${contextPath}/resources/css/index.css" type="text/css" rel=stylesheet>
<script src="${contextPath}/resources/js/jquery-1.12.3.min.js" charset="utf-8"></script>
<script src="${contextPath}/resources/js/srp2.js" charset="utf-8"></script>
<script src="${contextPath}/resources/js/win.js" charset="utf-8"></script>
</head>
<style>

</style>
<script>

</script>
<body class="mask" style="  overflow: hidden;">
	<div id="container" style="  overflow-y: auto;">
		<div class="chooses">
			<div class="choose" id="chose0" style="display:block;">
				<div id="slideDown"></div>
				<a href="${contextPath}/register/page"><div id="addwe"></div></a>
				<div class="small-page-bg"><div class="small-pic"><img src="${contextPath}/resources/img/index/group.png" /></div></div>
			</div>
			
			<div class="choose" id="chose1" style="display:block;">
				<div class="brown">
					<div class="real-con" style=""><div class="real-con-cy">
						<div class="head"  id="head1">
							<div class="head-tp">
								<img class="logo" src="${contextPath}/resources/img/index/logo.jpg">
								<span class="change">
									<a target="_blank" href="${contextPath}/campaign/service/product/page"><span class="change-select selected">服务产品</span></a>
									<a href="javascript:void(0);"><span id="api" class="change-select selected">API服务</span></a>
									<a target="_blank" href="${contextPath}/campaign/cooperationflow"><span class="change-select selected">合作流程</span></a>
								</span>
								
								<a style="color:#454545;" href="${contextPath}/login"><span id="login">登录</span></a>
								<a href="${contextPath}/register/page"><span id="come" class="l_t">加入我们</span></a>
							</div>
						</div>
						
						<div class="lp-middle">
							<div class="lp-center-m">
								<div class="con-center-m">
<!-- 									<a target="_blank" href="${contextPath}/campaign/service/product/page"><div class="item-m im_1"></div></a> -->
<!-- 									<a target="_blank" href="${contextPath}/campaign/cooperationflow"><div class="item-m im_2"></div></a> -->
<!-- 									<a target="_blank" href="${contextPath}/campaign/contactUs"><div class="item-m im_3"></div></a> -->
									<a target="_blank" href="${contextPath}/campaign/service/product/page"><div class="item-m-x active"><div class="im_1"></div></div></a>
									<a target="_blank" href="${contextPath}/campaign/cooperationflow"><div class="item-m-x"><div class="im_2"></div></div></a>
									<a target="_blank" href="${contextPath}/campaign/contactUs"><div class="item-m-x"><div class="im_3"></div></div></a>
								</div>
							</div>
						</div>
						
						<div class="bottom" id="bottomP" style="height: 210px;">
							<div class="inner-wrap">
								<div style="margin-left:20px;">
									<p id="word">HuiGou Tech CO.,LTD</p>
								<p id="believe">相信积分互通的价值 让美好的事情发生</p>
								<p id="believeInEn">Believe in the value of points each Make
								<br>good things happen</p>
								</div>
								
								<div class="connection">
									<ul class="connection-ul">
										<li>
											<div class="deve-title">开发者接入</div>
											<div class="deve-body"><img class="connection-qq" src="${contextPath}/resources/img/ad/QQ.png">&nbsp;&nbsp;&nbsp;651548263</div>
											<div class="deve-body"><img class="connection-tel" src="${contextPath}/resources/img/ad/call.png">&nbsp;&nbsp;&nbsp;0571-93829194</div>
										</li>
										<li>
											<div class="deve-title">开发者支持</div>
											<div class="deve-body"><img class="connection-qq" src="${contextPath}/resources/img/ad/QQ.png">&nbsp;&nbsp;&nbsp;651548263</div>
											<div class="deve-body"><img class="connection-tel" src="${contextPath}/resources/img/ad/call.png">&nbsp;&nbsp;&nbsp;0571-93829194</div>
										</li>
										<li>
											<div class="deve-title">广告合作</div>
											<div class="deve-body"><img class="connection-qq" src="${contextPath}/resources/img/ad/QQ.png">&nbsp;&nbsp;&nbsp;651548263</div>
											<div class="deve-body"><img class="connection-tel" src="${contextPath}/resources/img/ad/call.png">&nbsp;&nbsp;&nbsp;0571-93829194</div>
										</li>
									</ul>
									<div class="wx-sk">
										<img class="connection-qq" src="${contextPath}/resources/img/ad/wx.png">
										<div class="text-sk">扫一扫关注微信公众号</div>
									</div>
									<div class="stop"></div>
								</div>
								
								<div id="drawus">
									<div class="sol">
										<div class="draw-l">
											<ul class="draw-ul">
												<li style="padding-left:0;"><a href="javascript:void(0);"><span>关于我们</span></a></li>
												<li><a href="javascript:void(0);"><span>帮助中心</span></a>
													<div class="li-line-left"></div>
													<div class="li-line-right"></div>
												</li>
												<li><a href="javascript:void(0);"><span>合作伙伴</span></a></li>
											</ul>
										</div>
										<div class="draw-r">
											<span>友情链接：</span>
											<a href="https://www.51hjf.com/home/index"><span>汇积分</span></a>
											<a href="http://fl.hg365.com/"><span class="rm">福利网</span></a>
											<a href="http://www.jiujiajiu.com/"><span class="rm">久加久</span></a>
											<a href="http://czshop.csair.com/index"><span class="rm">南航明珠商城</span></a>
										</div>
										<div style="clear:both;"></div>
									</div>
									
								</div>
							</div>
							
						</div>
					</div></div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="head" id="head2" style="position:fixed;top:0;display:none;">
		<div class="head-tp">
			<img class="logo" src="${contextPath}/resources/img/index/logo.jpg">
			<span class="change">
				<a target="_blank" href="serviceForProduct.html"><span class="change-select selected">服务产品</span></a>
				<a target="_blank" href="javascript:void(0);"><span  id="api2" class="change-select selected">API服务</span></a>
				<a target="_blank" href="${contextPath}/campaign/cooperationflow"><span class="change-select selected">合作流程</span></a>
			</span>
			
			<a target="_blank" style="color:#454545;" href="${contextPath}/login"><span id="login">登录</span></a>
								<a target="_blank" href="${contextPath}/register/page"><span id="come" class="l_t">加入我们</span></a>
		</div>
	</div>
	<div id="mk" style="position:fixed;top:0;left:0;bottom:0;right:0;background-color:transparent;z-index:1000;display:none;"></div>
</body>
</html>
