<#assign contextPath=springMacroRequestContext.getContextPath() />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>兑换平台</title>
	<link  href="${contextPath}/resources/css/common.css" type="text/css" rel=stylesheet>
    <link  href="${contextPath}/resources/css/ad.css" type="text/css" rel=stylesheet>
<script src="${contextPath}/resources/js/jquery-1.12.3.min.js" charset="utf-8"></script>	
<script src="${contextPath}/resources/js/ani.js" charset="utf-8"></script>
</head>
<style>

</style>
<script>

</script>
<body>
	<div class="mininav" bosszone="ws_db">
		<div class="miniwrap">
			<div class="banner">
				<div class="topBar">
					<div class="hg" id="hg">
						<img src="${contextPath}/resources/img/ad/logo-lcdh.png" style="display: inherit; width: 69px;">
					</div>
					<div class="login" id="login">
						<div class="login_index" roleid="001">
							<a href="javascript:void(0);"><span class="firstPage">首页</span></a>
							<a href="${contextPath}/login"><span class="login_ok">登录</span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="clock-sol">
				<div class="clock-sol-content">
					<div class="clock-sol-content-panel">
						<img class="white-pane" src="${contextPath}/resources/img/ad/white-pane.png">
						<img class="blue-pane" src="${contextPath}/resources/img/ad/blue-pane.png">
						<img class="outer-ten" src="${contextPath}/resources/img/ad/outer-ten.png">
						<img style="display:none;" class="outer-icon" src="${contextPath}/resources/img/ad/outer-icon.png">
						<img class="ten" src="${contextPath}/resources/img/ad/ten.png">
						
						<img class="left-down" src="${contextPath}/resources/img/ad/left-down.png">
						<img class="right-top" src="${contextPath}/resources/img/ad/right-top.png">
						
						<div class="small-icon">
							<img class="s1" src="${contextPath}/resources/img/ad/s/1.png">
							<img class="s2" src="${contextPath}/resources/img/ad/s/2.png">
							<img class="s3" src="${contextPath}/resources/img/ad/s/3.png">
							
							<img class="s4" src="${contextPath}/resources/img/ad/s/4.png">
							<img class="s5" src="${contextPath}/resources/img/ad/s/5.png">
							<img class="s6" src="${contextPath}/resources/img/ad/s/6.png">
							
							<img class="s7" src="${contextPath}/resources/img/ad/s/7.png">
							<img class="s8" src="${contextPath}/resources/img/ad/s/8.png">
							<img class="s9" src="${contextPath}/resources/img/ad/s/9.png">
							
							<img class="s10" src="${contextPath}/resources/img/ad/s/10.png">
							<img class="s11" src="${contextPath}/resources/img/ad/s/11.png">
						</div>
					</div>
				</div>
			</div>
			<div class="wrap">
				<div class="head-banner head_bar"  bosszone="ws_db">
					<div class="head_sub_bar">
						<span>我们的优势</span>
					</div>
				</div>
				
				<div class="strength">
					<div class="strength-pure">
						<ul class="strength-pure-list">
							<li>
								<div class="strength-pure-list-pic">
									<img src="${contextPath}/resources/img/ad/i1.png">
								</div>
								<p class="big-label">云端服务</p>
								<p class="small-label">开放的接口，自主下载开发</p>
							</li>
							<li>
								<div class="strength-pure-list-pic">
									<img src="${contextPath}/resources/img/ad/i2.png">
								</div>
								<p class="big-label">技术支持</p>
								<p class="small-label">无需繁琐的技术对接<br>节约时间人力成本</p>
							</li>
							<li>
								<div class="strength-pure-list-pic">
									<img src="${contextPath}/resources/img/ad/i3.png">
								</div>
								<p class="big-label">汇聚积分</p>
								<p class="small-label">增加积分实用价值</p>
							</li>
							<li>
								<div class="strength-pure-list-pic">
									<img src="${contextPath}/resources/img/ad/i4.png">
								</div>
								<p class="big-label">高效服务</p>
								<p class="small-label">成熟的会员积分系统快速搭建</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="wrap2">
				<div class="head-banner head_bar" style="  overflow: hidden;margin:0 auto 64px auto;"  bosszone="ws_db">
					<div class="head_sub_bar" style="  margin-top:76px;">
						<span>服务对象</span>
					</div>
				</div>
				
				<div class="introduce">
					<p class="service-intro">
						服务于拥有积分系统的大型企业（如银行、航空、通讯等）,打造新型积分汇聚与分享平台，
	满足客户积分增值与综合应用的服务目标，为客户忠诚度建设提供基础保障。
					</p>
				</div>
				
				<div class="bottom-pic">
					<img src="${contextPath}/resources/img/ad/bottom-banner.png">
				</div>
			</div>
			<div class="bottom" id="bottomP">
				<div class="inner-wrap">
					<p id="word">HuiGou Tech CO.,LTD</p>
					<p id="believe">相信积分互通的价值 让美好的事情发生</p>
					<p id="believeInEn">Believe in the value of points each Make
					<br>good things happen</p>
					
					
					<div id="drawus">
						<div class="sol">
							<!-- <div class="draw-l">
								<ul  class="draw-ul">
									<li style="padding-left:0;"><a href="javascript:void(0);"><span>关于我们</span></a></li>
									<li><a href="javascript:void(0);"><span>帮助中心</span></a>
										<div class="li-line-left"></div>
										<div class="li-line-right"></div>
									</li>
									<li><a href="javascript:void(0);"><span>合作伙伴</span></a></li>
								</ul>
							</div> -->
							<div class="draw-r">
								<span>友情链接：</span>
								<a href="https://www.51hjf.com/home/index" target="_blank"><span>汇积分</span></a>
								<a href="http://fl.hg365.com/" target="_blank"><span class="rm">福利网</span></a>
								<a href="http://www.jiujiajiu.com/" target="_blank"><span class="rm">久加久</span></a>
								<a href="http://czshop.csair.com/index" target="_blank"><span class="rm">南航明珠商城</span></a>
							</div>
							<div style="clear:both;"></div>
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</div>
</body>
</html>
