<#assign contextPath=springMacroRequestContext.getContextPath() />

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>汇购科技_联系我们</title>
	<link rel="stylesheet" type="text/css" href="${contextPath}/resources/css/cssinit.css">
	<link  href="${contextPath}/resources/css/exchange.css" type="text/css" rel=stylesheet></head>
	<link  href="${contextPath}/resources/css/campaign_common.css" type="text/css" rel=stylesheet>
	
<body>
	<div id="head">
		<div class="head-tp">
			<img class="logo" src="${contextPath}/resources/img/index/logo.jpg">
			<span class="change">
				<a target="_blank" href="${contextPath}/campaign/service/product/page"><span class="change-select selected">服务产品</span></a>
				<a href="javascript:void(0);"><span id="api" class="change-select selected">API服务</span></a>
				<a target="_blank" href="${contextPath}/campaign/cooperationflow"><span class="change-select selected">合作流程</span></a>
			</span>
	
			<a style="color:#454545;" href="${contextPath}/login"><span id="login">登录</span></a>
			<a href="${contextPath}/register/page"><span id="come" class="l_t">加入我们</span></a>
		</div>
	</div>
	
	<div id="content">
		<img src="${contextPath}/resources/img/bg3.png" class="">
		
		<div class="cont">
				<p class="ct_title">商务联系</p>
				<hr class="hr1">
				<div id="lct">
					<div class="p1">
						<img style="width: 8%" src="${contextPath}/resources/img/po.png">
						<span class="gt1">华东市场部</span>
						<hr class="hr2">
					</div>
					<div class="p2">
						<img style="width: 8%" src="${contextPath}/resources/img/tel.png">	
						<span class="gt2">刘女士&nbsp;:&nbsp;0571-28322875</span>
					</div>
					<p class="p3">韩先生&nbsp;:&nbsp;15858142867</p>	
				</div>
				<div id="rct">
					<div class="p1">
						<img style="width: 8%" src="${contextPath}/resources/img/po.png">
						<span class="gt1">华南市场部</span>
						<hr class="hr2">
					</div>
					<div class="p2">
						<img style="width: 8%" src="${contextPath}/resources/img/tel.png">	
						<span class="gt2">康女士&nbsp;:&nbsp;13539880508</span>
					</div>

				</div>
		</div>
			
	</div>
	
	<div id="footer">
					  <div class="bottom" id="bottomP">
							<div class="inner-wrap">
								<div style="margin-left:20px;">
									<p id="word">HuiGou Tech CO.,LTD</p>
								<p id="believe">相信积分互通的价值 让美好的事情发生</p>
								<p id="believeInEn">Believe in the value of points each Make
								<br>good things happen</p>
								</div>
								
								<div class="connection">
									<ul class="connection-ul">
										<li>
											<div class="deve-title">开发者接入</div>
											<div class="deve-body"><img class="connection-qq" src="${contextPath}/resources/img/ad/QQ.png">&nbsp;&nbsp;&nbsp;651548263</div>
											<div class="deve-body"><img class="connection-tel" src="${contextPath}/resources/img/ad/call.png">&nbsp;&nbsp;&nbsp;0571-93829194</div>
										</li>
										<li>
											<div class="deve-title">开发者支持</div>
											<div class="deve-body"><img class="connection-qq" src="${contextPath}/resources/img/ad/QQ.png">&nbsp;&nbsp;&nbsp;651548263</div>
											<div class="deve-body"><img class="connection-tel" src="${contextPath}/resources/img/ad/call.png">&nbsp;&nbsp;&nbsp;0571-93829194</div>
										</li>
										<li>
											<div class="deve-title">广告合作</div>
											<div class="deve-body"><img class="connection-qq" src="${contextPath}/resources/img/ad/QQ.png">&nbsp;&nbsp;&nbsp;651548263</div>
											<div class="deve-body"><img class="connection-tel" src="${contextPath}/resources/img/ad/call.png">&nbsp;&nbsp;&nbsp;0571-93829194</div>
										</li>
									</ul>
									<div class="wx-sk">
										<img class="connection-qq" src="${contextPath}/resources/img/ad/wx.png">
										<div class="text-sk">扫一扫关注微信公众号</div>
									</div>
									<div class="stop"></div>
								</div>
								
								<div id="drawus">
									<div class="sol">
										<div class="draw-l">
											<ul class="draw-ul">
												<li style="padding-left:0;"><a href="javascript:void(0);"><span style=" font-size: 14px;">关于我们</span></a></li>
												<li><a href="javascript:void(0);"><span style=" font-size: 14px;">帮助中心</span></a>
													<div class="li-line-left"></div>
													<div class="li-line-right"></div>
												</li>
												<li><a href="javascript:void(0);"><span style=" font-size: 14px;">合作伙伴</span></a></li>
											</ul>
										</div>
										<div class="draw-r">
											<span style=" font-size: 14px;">友情链接：</span>
											<a href="https://www.51hjf.com/home/index"><span>汇积分</span></a>
											<a href="http://fl.hg365.com/"><span class="rm">福利网</span></a>
											<a href="http://www.jiujiajiu.com/"><span class="rm">久加久</span></a>
											<a href="http://czshop.csair.com/index"><span class="rm">南航明珠商城</span></a>
										</div>
										<div style="clear:both;"></div>
									</div>
									
								</div>
							</div>
							
						</div>
	</div>
</body>
	<script type="text/javascript" src="${contextPath}/resources/js/jquery-1.12.3.min.js"></script>
	<script src="${contextPath}/resources/js/win.js" charset="utf-8"></script>
	<script src="${contextPath}/resources/frame/lib/Rose/1.0.0/Rose.src.js"></script>
	<script src="${contextPath}/resources/frame/lib/handlebars/3.0.3/handlebars.js"></script>
</html>