<#assign contextPath=springMacroRequestContext.getContextPath() />

<!DOCTYPE html>
<html lang="en" class="mask">
<head>
    <meta charset="UTF-8">
    <title>服务产品</title>
	<link  href="${contextPath}/resources/css/campaign_common.css" type="text/css" rel=stylesheet>
    <link  href="${contextPath}/resources/css/index.css" type="text/css" rel=stylesheet>
	<link  href="${contextPath}/resources/css/service.css" type="text/css" rel=stylesheet>
<script src="${contextPath}/resources/js/jquery-1.12.3.min.js" charset="utf-8"></script>
<script src="${contextPath}/resources/js/win.js" charset="utf-8"></script>
</head>
<style>

</style>
<script>

</script>
<body class="mask">


	

	<div id="container">
		<div class="chooses">
			<div class="choose" id="chose0" style="display:none;">
				<div id="slideDown"></div>
			</div>
			
			<div class="choose" id="chose1">
				<div class="brown">
					<div class="real-con">
						<div class="head">
							<div class="head-tp">
								<img class="logo" src="${contextPath}/resources/img/index/logo.jpg">
								<span class="change">
									<a href="${contextPath}/campaign/service/product/page"><span class="change-select selected">服务产品</span></a>
									<a href="javascript:void(0);"><span id="api" class="change-select selected">API服务</span></a>
									<a target="_blank" href="${contextPath}/campaign/cooperationflow"><span class="change-select selected">合作流程</span></a>
								</span>
								
								<a target="_blank" style="color:#454545;" href="${contextPath}/login"><span id="login">登录</span></a>
								<a href="${contextPath}/register/page"><span id="come" class="l_t">加入我们</span></a>
							</div>
						</div>
						
						<div class="lp-middle" style="display:none;">
							<div class="lp-center-m">
								<div class="con-center-m">
									<div class="item-m im_1"></div>
									<div class="item-m im_2"></div>
									<div class="item-m im_3"></div>
								</div>
							</div>
						</div>
						
						<div id="y_center">
							<div class="left_wrap">
								<div id="x_left_pane">
									<div class="left_e">
										<ul>
											<li class="gt1 border selected ">南航里程</li>
											<li style="display:none;" class="gt1 border">南航里程</li>
											<li class="gt1 gt2">扩建中...</li>
										</ul>
										
										<div class="brd"></div>
									</div>
								</div>
								<div id="right_pane">
									<div id="right_wrap_1">
										<div class="r_item">
											<div class="r_item_title">南航里程</div>
											<div class="r_item_body r_item_body1">
												<div class="r_item_content">
													南航明珠俱乐部是中国南方航空股份有限公司的常旅客里程奖励计划。
南航销售服务热线95539以及遍及全国各大机场的明珠俱乐部现场服
务中心和常客服务分中心，为明珠俱乐部会员提供完善、便捷的服务。
目前超过500万明珠俱乐部会员不仅可在南航的航班上累积和兑换里
程，还可在四川航空、中华航空等航空合作伙伴的航班上累积和兑换
里程。
												</div>
											</div>
										</div>
										
										<div class="r_item">
											<div class="r_item_title">明珠会员</div>
											<div class="r_item_body r_item_body2">
												<div class="r_item_content" style="  top: 38px;">
													成为南航明珠会员，您每次乘坐南航、天合联盟等航空合作伙伴的航班，
以及使用银行、酒店等合作伙伴的产品和服务，均可获得丰厚的里程奖
励，该里程可用于兑换免费的奖励机票和奖励升舱，实现您和家人的旅
行梦想。
<br><br><br>
金、银卡会员在南航乃至天合联盟全球航线网络内旅行时更可享受到：
优先办理值机手续、贵宾休息室候机等多项优先权，您的出行从此将更
加便捷舒适。
												</div>
											</div>
										</div>
										
										<div class="r_item">
											<div class="r_item_title">操作流程</div>
											<div class="r_item_body r_item_body3">
												<p id="rp1">通过我们平台和南航里程是如何打通的？如何实现转换？</p>
												
												<div id="ep1" class="ep">
													<p>平台商户收集用户信息（南航明珠</p>
													<p>卡号、明珠卡姓名及手机号等信息）提交</p>
													<p>汇积分充值请求。</p>
												</div>
												
												<div id="ep2" class="ep">
													<p>自动处理来自商家的兑换请求</p>
													<p>并将积分转化成里程。</p>
												</div>
												
												<div id="ep3" class="ep">
													<p>根据平台发送的兑换请求，给指定</p>
													<p>账户兑换指定里程。</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
						</div>
						
						<div class="bottom" id="bottomP">
							<div class="inner-wrap">
								<div style="margin-left:20px;">
									<p id="word">HuiGou Tech CO.,LTD</p>
								<p id="believe">相信积分互通的价值 让美好的事情发生</p>
								<p id="believeInEn">Believe in the value of points each Make
								<br>good things happen</p>
								</div>
								
								<div class="connection">
									<ul class="connection-ul">
										<li>
											<div class="deve-title">开发者接入</div>
											<div class="deve-body"><img class="connection-qq" src="${contextPath}/resources/img/ad/QQ.png">&nbsp;&nbsp;&nbsp;651548263</div>
											<div class="deve-body"><img class="connection-tel" src="${contextPath}/resources/img/ad/call.png">&nbsp;&nbsp;&nbsp;0571-93829194</div>
										</li>
										<li>
											<div class="deve-title">开发者支持</div>
											<div class="deve-body"><img class="connection-qq" src="${contextPath}/resources/img/ad/QQ.png">&nbsp;&nbsp;&nbsp;651548263</div>
											<div class="deve-body"><img class="connection-tel" src="${contextPath}/resources/img/ad/call.png">&nbsp;&nbsp;&nbsp;0571-93829194</div>
										</li>
										<li>
											<div class="deve-title">广告合作</div>
											<div class="deve-body"><img class="connection-qq" src="${contextPath}/resources/img/ad/QQ.png">&nbsp;&nbsp;&nbsp;651548263</div>
											<div class="deve-body"><img class="connection-tel" src="${contextPath}/resources/img/ad/call.png">&nbsp;&nbsp;&nbsp;0571-93829194</div>
										</li>
									</ul>
									<div class="wx-sk">
										<img class="connection-qq" src="${contextPath}/resources/img/ad/wx.png">
										<div class="text-sk">扫一扫关注微信公众号</div>
									</div>
									<div class="stop"></div>
								</div>
								
								<div id="drawus">
									<div class="sol">
										<div class="draw-l">
											<ul class="draw-ul">
												<li style="padding-left:0;"><a href="javascript:void(0);"><span>关于我们</span></a></li>
												<li><a href="javascript:void(0);"><span>帮助中心</span></a>
													<div class="li-line-left"></div>
													<div class="li-line-right"></div>
												</li>
												<li><a href="javascript:void(0);"><span>合作伙伴</span></a></li>
											</ul>
										</div>
										<div class="draw-r">
											<span>友情链接：</span>
											<a href="https://www.51hjf.com/home/index"><span>汇积分</span></a>
											<a href="http://fl.hg365.com/"><span class="rm">福利网</span></a>
											<a href="http://www.jiujiajiu.com/"><span class="rm">久加久</span></a>
											<a href="http://czshop.csair.com/index"><span class="rm">南航明珠商城</span></a>
										</div>
										<div style="clear:both;"></div>
									</div>
									
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
