body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:90px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:91px;
}
#u2 {
  position:absolute;
  left:2px;
  top:37px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:1000px;
  top:20px;
  width:80px;
  height:15px;
  color:#0099FF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:950px;
  top:20px;
  width:50px;
  height:15px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:950px;
  top:54px;
  width:270px;
  height:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:10px;
  top:10px;
  width:180px;
  height:60px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:61px;
}
#u10 {
  position:absolute;
  left:2px;
  top:22px;
  width:176px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1200px;
  top:54px;
  width:80px;
  height:15px;
  color:#0099FF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1080px;
  top:20px;
  width:80px;
  height:15px;
  color:#0099FF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:20px;
  top:127px;
  width:1230px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:1221px;
  top:-5px;
  width:14px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1230px;
  height:1px;
}
#u16 {
  position:absolute;
  left:30px;
  top:101px;
  width:100px;
  height:30px;
  font-size:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u16_img.selected {
}
#u16.selected {
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:148px;
  top:101px;
  width:100px;
  height:30px;
  font-size:14px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u18_img.selected {
}
#u18.selected {
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:270px;
  top:101px;
  width:100px;
  height:30px;
  font-size:14px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u20_img.selected {
}
#u20.selected {
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:20px;
  top:146px;
  width:140px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u23_img.selected {
}
#u23.selected {
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:190px;
  top:157px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u25_img.selected {
}
#u25.selected {
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:170px;
  top:182px;
  width:1030px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:1021px;
  top:-5px;
  width:14px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1030px;
  height:1px;
}
#u28 {
  position:absolute;
  left:320px;
  top:156px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u28_img.selected {
}
#u28.selected {
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:170px;
  top:202px;
  width:911px;
  height:40px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:912px;
  height:41px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:907px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:191px;
  top:214px;
  width:85px;
  height:15px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:640px;
  top:214px;
  width:93px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u34_ann {
  position:absolute;
  left:726px;
  top:210px;
  width:1px;
  height:1px;
}
#u36 {
  position:absolute;
  left:203px;
  top:262px;
  width:33px;
  height:15px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u36_ann {
  position:absolute;
  left:229px;
  top:258px;
  width:1px;
  height:1px;
}
#u38 {
  position:absolute;
  left:180px;
  top:288px;
  width:890px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:881px;
  top:-5px;
  width:14px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:890px;
  height:1px;
}
#u39 {
  position:absolute;
  left:650px;
  top:260px;
  width:120px;
  height:15px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:910px;
  top:214px;
  width:93px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:14px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:931px;
  top:253px;
  width:50px;
  height:30px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:203px;
  top:312px;
  width:33px;
  height:15px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:180px;
  top:338px;
  width:890px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:881px;
  top:-5px;
  width:14px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:890px;
  height:1px;
}
#u48 {
  position:absolute;
  left:650px;
  top:310px;
  width:120px;
  height:15px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:931px;
  top:303px;
  width:50px;
  height:30px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:203px;
  top:363px;
  width:33px;
  height:15px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:180px;
  top:389px;
  width:890px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:881px;
  top:-5px;
  width:14px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:890px;
  height:1px;
}
#u55 {
  position:absolute;
  left:650px;
  top:361px;
  width:120px;
  height:15px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:931px;
  top:354px;
  width:50px;
  height:30px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:203px;
  top:414px;
  width:33px;
  height:15px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:180px;
  top:440px;
  width:890px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:881px;
  top:-5px;
  width:14px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:890px;
  height:1px;
}
#u62 {
  position:absolute;
  left:650px;
  top:412px;
  width:120px;
  height:15px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:931px;
  top:405px;
  width:50px;
  height:30px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:203px;
  top:464px;
  width:33px;
  height:15px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:180px;
  top:490px;
  width:890px;
  height:10px;
}
#u68_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:881px;
  top:-5px;
  width:14px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:5px;
  width:890px;
  height:1px;
}
#u69 {
  position:absolute;
  left:650px;
  top:462px;
  width:120px;
  height:15px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:931px;
  top:455px;
  width:50px;
  height:30px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:203px;
  top:515px;
  width:33px;
  height:15px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:180px;
  top:541px;
  width:890px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:881px;
  top:-5px;
  width:14px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:890px;
  height:1px;
}
#u76 {
  position:absolute;
  left:650px;
  top:513px;
  width:120px;
  height:15px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:931px;
  top:506px;
  width:50px;
  height:30px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:898px;
  top:147px;
  width:180px;
  height:25px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u81 {
  position:absolute;
  left:390px;
  top:214px;
  width:93px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u81_ann {
  position:absolute;
  left:476px;
  top:210px;
  width:1px;
  height:1px;
}
#u83 {
  position:absolute;
  left:400px;
  top:260px;
  width:120px;
  height:15px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:400px;
  top:310px;
  width:120px;
  height:15px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:400px;
  top:361px;
  width:120px;
  height:15px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:400px;
  top:412px;
  width:120px;
  height:15px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:400px;
  top:462px;
  width:120px;
  height:15px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:400px;
  top:513px;
  width:120px;
  height:15px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
