body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:399px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:470px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2069 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:470px;
}
#u2070 {
  position:absolute;
  left:2px;
  top:227px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:56px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2071 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:56px;
}
#u2072 {
  position:absolute;
  left:2px;
  top:20px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2073 {
  position:absolute;
  left:20px;
  top:16px;
  width:91px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2074 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2075 {
  position:absolute;
  left:358px;
  top:16px;
  width:25px;
  height:25px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:261px;
}
#u2077 {
  position:absolute;
  left:70px;
  top:101px;
  width:260px;
  height:260px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:122px;
  width:256px;
  word-wrap:break-word;
}
#u2079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2079 {
  position:absolute;
  left:163px;
  top:69px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u2080 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2081 {
  position:absolute;
  left:121px;
  top:385px;
  width:157px;
  height:16px;
}
#u2082 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u2083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2083 {
  position:absolute;
  left:133px;
  top:413px;
  width:133px;
  height:33px;
  font-size:28px;
}
#u2084 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
