<#assign contextPath=springMacroRequestContext.getContextPath() />
<style type="text/css">
.bidl .t_dl {
	height: auto !important;
	padding: 10px 0;
	width: 100%
}

.bidl .t_dl dt {
	height: auto !important
}

.bidl .t_dl dd {
	width: 60%;
	height: auto !important
}

.bidl p {
	width: auto
}

.bidl h2 {
	padding: 5px 0;
	width: 100%;
	border-bottom: #ddd 1px solid
}

.bidl h6 {
	clear: both;
}

.dltb {
	
}

.dltb table {
	margin-bottom: 15px
}

.dltb table tr th {
	line-height: 30px;
	background: #D1D1D1
}

.dltb table tr td {
	line-height: 30px;
}

.right_utp {
	float: right;
	width: 400px;
	padding: 10px 0 25px 0
}

.right_utp dl dt {
	float: left;
	width: auto
}

.right_utp dl dd {
	float: left;
	width: auto !important
}

.right_utp dl dd p {
	float: left;
	position: relative;
	position: 0 !important
}

.right_utp dl dd p strong {
	font-size: 30px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #f30
}

.right_utp dl dd p span {
	position: absolute;
	top: 0;
	left: 130px
}

.right_utp dl dd p span em {
	font-style: normal;
	width: 200px;
	line-height: 20px;
	float: left;
}
</style>
<div class="pageContent">
	<form method="post" action="demo/common/ajaxDone.html"
		class="pageForm required-validate"
		onsubmit="return validateCallback(this, navTabAjaxDone);">
		<div class="pageFormContent bill" layoutH="56">
			<div class="bill bidl">
				<h2>订单信息</h2>
				<div class="dltb">
					<table cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<th height="30">状态</th>
							<th height="30">经销商订单号</th>
							<th height="30">平台订单号</th>
							<th height="30">供应商订单号</th>
							<th height="30">订单总金额</th>
						</tr>
						<tr>
							<td>
								<#if orderDetail.status?? && orderDetail.status.currentValue??>
								 	<#list orderStatusMap?keys as key>
								  		<#if orderDetail.status.currentValue== key>
											${orderStatusMap[key]}
										</#if>
									</#list>
								</#if>
							</td>
							<td>${(orderDetail.baseInfo.dealerOrderId)!''}</td>
							<td>${(orderDetail.id)!''}</td>
							<td>${orderDetail.baseInfo.supplierOrderId!''}</td>
							<td><#if orderDetail.payInfo.totalPrice??>${orderDetail.payInfo.totalPrice?string('0.00')}</#if></td>
						</tr>
					</table>
				</div>
				<div style="float:left;">
					<div class="right_utp" style="float:right">
						<dl>
							<dd>
								<p>
									<span>
										 <em>供应商周一至周日工作时间
											${(orderDetail.baseInfo.workTime)!''}</em>
									</span>
								</p>

							</dd>
						</dl>
					</div>
					<dl class="t_dl">
						<dt>备注：</dt>
						<dd>
							<p>${(orderDetail.baseInfo.remark)!''}</p>
						</dd>
					</dl>
				</div>
				<h6></h6>
				<h2>机票信息</h2>
				<div class="dltb">
					<table cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<th>行程</th>
							<th>起飞</th>
							<th>抵达</th>
							<th>航班信息</th>
							<th>舱位</th>
						</tr>
						<!-- 去程 -->
						<#if orderDetail.segmentInfo.takeoffFlights ??>
						<#list orderDetail.segmentInfo.takeoffFlights as cabin>
						<tr style="background-color: #9FE6CF;">
							<td>
								<p>${dataTransService.getAirportName(cabin.orgCity)!''}
								 - ${dataTransService.getAirportName(cabin.dstCity)!''}</p>
							</td>
							<td>
								${cabin.startTime}
							</td>
							<td>
								${cabin.endTime}
							</td>
							<td>
								<p>${(cabin.marketingAirline)!''}</p>
								<p>${(cabin.flightNo)!''}</p> 
								
							</td>
							<!-- 舱位等级 -->
							<td>
								${(cabin.cabinClass)!''}
							</td>
						</tr>
						</#list>
						</#if>
						<!-- 回程 -->
						<#if orderDetail.segmentInfo.backFlights ??>
						<#list orderDetail.segmentInfo.backFlights as cabin>
						<tr>
							<td>
								<p>${dataTransService.getAirportName(cabin.orgCity)!''} - ${dataTransService.getAirportName(cabin.dstCity)!''}</p>
							</td>
							<td>
								${cabin.startTime}
							</td>
							<td>
								${cabin.endTime}
							</td>
							<td>
								<p>${(cabin.marketingAirline)!''}</p>
								<p>${(cabin.flightNo)!''}</p>
							</td>
							<!-- 舱位等级 -->
							<td>
								${(cabin.cabinClass)!''}
							</td>
						</tr>
						</#list>
						</#if>
					</table>

					<table cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<th>旅客姓名</th>
							<th>证件类型</th>
							<th>证件号码</th>
							<th>票号</th>
							<th>票面价</th>
							<th>单张合计</th>
							<th>退废记录</th>
						</tr>
						<#assign supplierOriginalPrice=0 />
						<#if orderDetail.passengers ??> 
						<#list orderDetail.passengers as passenger>
						<tr>
							<td>${(passenger.baseInfo.passengerName)!''}</td>
							<td>
								<#if ID_TYPE_MAP??> 
									<#list ID_TYPE_MAP?keys as itemKey> 
										<#if itemKey == passenger.baseInfo.idType>
											${ID_TYPE_MAP[itemKey]} 
										</#if> 
									</#list> 
								</#if>
							</td>
							<td>${(passenger.baseInfo.idNo)!''}</td>
							<!-- 票号 -->
							<td>
								<#if passenger.tickets??> 
									<#list passenger.tickets as ticket>
										<p>${(ticket.ticketNo)!''}</p> 
									</#list> 
								</#if>
							</td>
							<!-- 票面价 -->
							<td>
								${(passenger.ticketPriceDetail.parValue)!''}
							</td>
							<!-- 单张合计，票面价+单张税费+开票费 -->
							<td>
								<#assign singleTotal=passenger.ticketPriceDetail.parValue+passenger.ticketPriceDetail.supplierTax+passenger.ticketPriceDetail.supplierOutTickMoney />
								<#assign supplierOriginalPrice=supplierOriginalPrice+singleTotal />
								${singleTotal}
							</td>
							<td>暂时不显示</td>
						</tr>
						</#list> 
						</#if>
						</tr>

					</table>
<!-- 					<div class="right_utp" style="float:right;height:80px">
						<dl>
							<dt>单张合计：</dt>
							<dd>
								<p>
									<strong>未知数据来源</strong> 
									<span> 
										<em>票面价：</em>
										<br />
										<em>机建费：暂时无机建费</em>
										<br /> 
										<em>燃油费：暂时无燃油费</em>
									</span>
								</p>

							</dd>
						</dl>
					</div>
 -->				</div>
				<h6></h6>
				<h2>支付信息</h2>
				<div class="dltb">
					<table width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<th>订单总金额</th>
							<th>机票数量</th>
							<th>供应商原价</th>
							<th>分销加价金额</th>
							<th>返点/佣金</th>
							<th>支付供应商金额</th>
						</tr>
						<tr>
							<td>${orderDetail.payInfo.totalPrice}</td>
							<td>${orderDetail.baseInfo.passengerNumber!''}</td>
							<td>
								${supplierOriginalPrice}
							</td>
							<td>
							<!-- 经销商支付给平台价格-平台支付供应商价格 -->
							<#if orderDetail.payInfo.totalPrice ?? && orderDetail.payInfo.supplierTotalPrice??>
								${orderDetail.payInfo.totalPrice-orderDetail.payInfo.supplierTotalPrice}
							</#if>
							</td>
							<td><#if orderDetail ?? && orderDetail.payInfo??>
									<#if orderDetail.payInfo.supplierDisc??>
										${orderDetail.payInfo.supplierDisc?string('0.00')}
									</#if>
									/
									<#if orderDetail.payInfo.commAmount??>
										${orderDetail.payInfo.commAmount?string('0.00')}
									</#if>
								</#if></td>
							<td>
								<#if orderDetail ?? && orderDetail.payInfo?? >
									${(orderDetail.payInfo.supplierTotalPrice)!''}
								</#if>
							</td>
						</tr>
					</table>
				</div>

				<h6></h6>
				<h2>操作日志</h2>
				<div class="dltb">
					<table width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<th height="30">时间</th>
							<th height="30">操作</th>
							<th height="30">操作人</th>
							<th height="30">操作信息</th>
						</tr>
						<#list LOGS as log>
						<tr>
							<td><#if log.logDate ??> ${log.logDate!?string("yyyy-MM-dd
								HH:mm:ss")} </#if></td>
							<td>${log.logName}</td>
							<td>${log.logWorker}</td>
							<td>${log.logInfo}</td>
						</tr>
						</#list>
					</table>
				</div>
				<h6></h6>
			</div>
		</div>
		<div class="formBar">
			<ul>
				<!-- 这个状态要做处理 -->
				<#if orderDetail.status.currentValue == PAY_WAIT>
					<li><a class="button" target="dialog" 
							href="${contextPath}/gjjp/order/toCancel?id=${(orderDetail.id)!''}"><span>取消订单</span></a></li>
				</#if>
				<!-- 已支付，待出票 -->
				<#if orderDetail.status.currentValue == TICKET_WAIT>
				<li><a class="button" target="dialog"
					href="${contextPath}gjjp/order/toCancelOrder?id=${(orderDetail.id)!''}"><span>申请退票</span></a></li>
				</#if>
				<!-- 已出票 -->
				<#if orderDetail.status.currentValue == TICKET_ALREADY>
				<li><a class="button" target="dialog"
					href="${contextPath}/gjjp/order/toRefund?&id=${(orderDetail.id)!''}"><span>申请废票</span></a></li>
				</#if>
				<li>
				<button type="button" class="close">关闭</button>
			</ul>
		</div>
	</form>
</div>
<script>
	var a_ckwl_id = "a_" + $("#hidState").val();
	var a_ckwl_obj = $("#" + a_ckwl_id);
	a_ckwl_obj.show();
</script>