<#assign contextPath=springMacroRequestContext.getContextPath() />
<div class="pageContent">
	<form method="post" enctype="multipart/form-data"
		action="${contextPath}/gjjp/order/cancelOrder"
		class="pageForm required-validate"
		onsubmit="return validateCallback(this, dialogAjaxDone)">
		<div class="pageFormContent" layoutH="58">
			<!-- 参数为供应商订单号和平台订单号以及取消类型-->
<!-- 		<input type="hidden" name="id" value="${orderDetail.baseInfo.supplierOrderId}" />-->
			 <input type="hidden" name="platformOrderId" value="${orderDetail.id}" />
			<div class="unit">
				<span>乘机人：</span>
				 <#if (orderDetail.passengers?size > 0)>
				 	 <#list orderDetail.passengers as passenger>
				   		<span> ${passenger.baseInfo.passengerName}</span>
				    </#list>
				 <#else>
					没有可以取消订单的乘机人
				 </#if>
			</div>
		</div>
			
		<div class="formBar">
			<ul>
				<li><div class="buttonActive">
						<div class="buttonContent">
							<button type="submit">确定</button>
						</div>
					</div></li>
				<li><div class="button">
						<div class="buttonContent">
							<button type="button" class="close">关闭</button>
						</div>
					</div></li>
			</ul>
		</div>
	</form>
