<#assign contextPath=springMacroRequestContext.getContextPath() />
	<div class="pageContent">
		<form id="myForm"  method="post"
			action="${contextPath}/jp/order/refund"
			class="pageForm required-validate"
			onsubmit="return validateCallback(this, dialogAjaxDone)">
			<input type="hidden" name="passengerInfos" id="passengerInfos" value="" />
			<div class="pageFormContent" layoutH="58">
				<input type="hidden" name="orderid" value="${orderDetail.yeeXingOrderId}" />
				<div class="unit">
				    <label>请选择退票乘机人</label>
					<#if orderDetail.passengerList??>
					<#list orderDetail.passengerList as passenger>
						<input type="checkbox"  name="passengerInfo" value="${(passenger.name)!''}|${(passenger.ticket.ticketNo)!''}" class="required"/>${(passenger.name)!''}
					</#list>
					</#if>
				</div>
				<div class="unit">
				<label>请选择退票类型</label>
				<select name="refundType" id="refundType" class="required">
				<option value="">--请选择--</option>
					<#if REFUND_TYPE_MAP??>
		                   <#list REFUND_TYPE_MAP?keys as itemKey>
		                       <option value="${itemKey}">
		                        ${REFUND_TYPE_MAP[itemKey]}</option>
		                   </#list>
		             </#if>
                </select>
			   </div>

				<div class="unit">
					<span>请填写退票理由</span>
				</div>
				<div class="unit">
					<textarea name="refundMemo" class="required" clos="80" rows="5">
					</textarea>
				</div>
			
			</div>
			<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="button" onclick="ok();" id="checkData">确认</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
			</div>
	</form>
</div>
<script type="text/javascript">
function ok(){
	  var chk_value =[];
	  
	  $('input[name="passengerInfo"]:checked').each(function(){    
	   chk_value.push($(this).val());    
	  });
	  
	  if(chk_value.length==0){
		  alert( '请选择乘机人！');
		  return;
	  }else{
		  $("#passengerInfos").val(chk_value);
		  //alert("1="+$("#passengerInfos").val());
		  $("#myForm").submit();
	  }
}
</script>
	
		