body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1923px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:230px;
  top:181px;
  width:129px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:230px;
  top:250px;
  width:969px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:965px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:248px;
  top:310px;
  width:232px;
  height:24px;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:24px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:248px;
  top:360px;
  width:300px;
  height:24px;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:248px;
  top:409px;
  width:300px;
  height:24px;
  font-size:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:690px;
  top:409px;
  width:300px;
  height:24px;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:248px;
  top:453px;
  width:300px;
  height:24px;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:690px;
  top:453px;
  width:300px;
  height:24px;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:230px;
  top:732px;
  width:969px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:965px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:248px;
  top:798px;
  width:300px;
  height:24px;
  font-size:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:540px;
  top:798px;
  width:300px;
  height:24px;
  font-size:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:248px;
  top:848px;
  width:832px;
  height:24px;
  font-size:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:24px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:248px;
  top:902px;
  width:832px;
  height:24px;
  font-size:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:24px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:248px;
  top:948px;
  width:832px;
  height:24px;
  font-size:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:24px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:248px;
  top:992px;
  width:832px;
  height:24px;
  font-size:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:24px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:248px;
  top:1038px;
  width:832px;
  height:24px;
  font-size:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:24px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:230px;
  top:1082px;
  width:969px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:40px;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:965px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:880px;
  top:798px;
  width:300px;
  height:24px;
  font-size:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:230px;
  top:1540px;
  width:969px;
  height:50px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:50px;
}
#u37 {
  position:absolute;
  left:2px;
  top:17px;
  width:965px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1084px;
  top:1546px;
  width:100px;
  height:38px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u38_input {
  font-family:'应用字体';
}
#u39 {
  position:absolute;
  left:248px;
  top:556px;
  width:300px;
  height:24px;
  font-size:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:248px;
  top:499px;
  width:682px;
  height:24px;
  font-size:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:24px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1300px;
  top:97px;
  width:628px;
  height:448px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:228px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:228px;
}
#u45 {
  position:absolute;
  left:2px;
  top:104px;
  width:105px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:109px;
  top:0px;
  width:514px;
  height:228px;
  font-size:14px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:228px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:510px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:228px;
  width:109px;
  height:142px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:142px;
}
#u48_img.mouseDown {
}
#u48.mouseDown {
}
#u49 {
  position:absolute;
  left:2px;
  top:62px;
  width:105px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:109px;
  top:228px;
  width:514px;
  height:142px;
  font-size:14px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:142px;
}
#u50_img.mouseDown {
}
#u50.mouseDown {
}
#u51 {
  position:absolute;
  left:2px;
  top:39px;
  width:510px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:370px;
  width:109px;
  height:73px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:73px;
}
#u52_img.mouseDown {
}
#u52.mouseDown {
}
#u53 {
  position:absolute;
  left:2px;
  top:27px;
  width:105px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:109px;
  top:370px;
  width:514px;
  height:73px;
  font-size:14px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:73px;
}
#u54_img.mouseDown {
}
#u54.mouseDown {
}
#u55 {
  position:absolute;
  left:2px;
  top:28px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:700px;
  top:360px;
  width:342px;
  height:24px;
  font-size:20px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:24px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:700px;
  top:310px;
  width:260px;
  height:24px;
  font-size:20px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:24px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:690px;
  top:556px;
  width:300px;
  height:24px;
  font-size:20px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:230px;
  top:1141px;
  width:1189px;
  height:364px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:38px;
  color:#FFFFFF;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:38px;
}
#u64 {
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:108px;
  top:0px;
  width:108px;
  height:38px;
  color:#FFFFFF;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:38px;
}
#u66 {
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:216px;
  top:0px;
  width:108px;
  height:38px;
  color:#FFFFFF;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:38px;
}
#u68 {
  position:absolute;
  left:2px;
  top:3px;
  width:104px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:324px;
  top:0px;
  width:108px;
  height:38px;
  color:#FFFFFF;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:38px;
}
#u70 {
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:432px;
  top:0px;
  width:108px;
  height:38px;
  color:#FFFFFF;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:38px;
}
#u72 {
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:540px;
  top:0px;
  width:108px;
  height:38px;
  color:#FFFFFF;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:38px;
}
#u74 {
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:648px;
  top:0px;
  width:108px;
  height:38px;
  color:#FFFFFF;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:38px;
}
#u76 {
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:756px;
  top:0px;
  width:107px;
  height:38px;
  color:#FFFFFF;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:38px;
}
#u78 {
  position:absolute;
  left:2px;
  top:11px;
  width:103px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:863px;
  top:0px;
  width:108px;
  height:38px;
  color:#FFFFFF;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:38px;
}
#u80 {
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:971px;
  top:0px;
  width:108px;
  height:38px;
  color:#FFFFFF;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:38px;
}
#u82 {
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:1079px;
  top:0px;
  width:105px;
  height:38px;
  color:#FFFFFF;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:38px;
}
#u84 {
  position:absolute;
  left:2px;
  top:11px;
  width:101px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:0px;
  top:38px;
  width:108px;
  height:36px;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u86 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:108px;
  top:38px;
  width:108px;
  height:36px;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u88 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:216px;
  top:38px;
  width:108px;
  height:36px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u90 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:324px;
  top:38px;
  width:108px;
  height:36px;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u92 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:432px;
  top:38px;
  width:108px;
  height:36px;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u94 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:540px;
  top:38px;
  width:108px;
  height:36px;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u96 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:648px;
  top:38px;
  width:108px;
  height:36px;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u98 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:756px;
  top:38px;
  width:107px;
  height:36px;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u100 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:863px;
  top:38px;
  width:108px;
  height:36px;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u102 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:971px;
  top:38px;
  width:108px;
  height:36px;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u104 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:1079px;
  top:38px;
  width:105px;
  height:36px;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
#u106 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:0px;
  top:74px;
  width:108px;
  height:36px;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u108 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:108px;
  top:74px;
  width:108px;
  height:36px;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u110 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:216px;
  top:74px;
  width:108px;
  height:36px;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u112 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:324px;
  top:74px;
  width:108px;
  height:36px;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u114 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:432px;
  top:74px;
  width:108px;
  height:36px;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u116 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:540px;
  top:74px;
  width:108px;
  height:36px;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u118 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:648px;
  top:74px;
  width:108px;
  height:36px;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u120 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:756px;
  top:74px;
  width:107px;
  height:36px;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u122 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:863px;
  top:74px;
  width:108px;
  height:36px;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u124 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:971px;
  top:74px;
  width:108px;
  height:36px;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u126 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:1079px;
  top:74px;
  width:105px;
  height:36px;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
#u128 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:0px;
  top:110px;
  width:108px;
  height:69px;
  text-align:center;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:69px;
}
#u130 {
  position:absolute;
  left:2px;
  top:26px;
  width:104px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:108px;
  top:110px;
  width:108px;
  height:69px;
  text-align:center;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:69px;
}
#u132 {
  position:absolute;
  left:2px;
  top:26px;
  width:104px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:216px;
  top:110px;
  width:108px;
  height:69px;
  text-align:center;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:69px;
}
#u134 {
  position:absolute;
  left:2px;
  top:26px;
  width:104px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:324px;
  top:110px;
  width:108px;
  height:69px;
  text-align:center;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:69px;
}
#u136 {
  position:absolute;
  left:2px;
  top:26px;
  width:104px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:432px;
  top:110px;
  width:108px;
  height:69px;
  text-align:center;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:69px;
}
#u138 {
  position:absolute;
  left:2px;
  top:26px;
  width:104px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:540px;
  top:110px;
  width:108px;
  height:69px;
  text-align:center;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:69px;
}
#u140 {
  position:absolute;
  left:2px;
  top:18px;
  width:104px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:648px;
  top:110px;
  width:108px;
  height:69px;
  text-align:center;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:69px;
}
#u142 {
  position:absolute;
  left:2px;
  top:26px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:756px;
  top:110px;
  width:107px;
  height:69px;
  text-align:center;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:69px;
}
#u144 {
  position:absolute;
  left:2px;
  top:26px;
  width:103px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:863px;
  top:110px;
  width:108px;
  height:69px;
  text-align:center;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:69px;
}
#u146 {
  position:absolute;
  left:2px;
  top:26px;
  width:104px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:971px;
  top:110px;
  width:108px;
  height:69px;
  text-align:center;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:69px;
}
#u148 {
  position:absolute;
  left:2px;
  top:26px;
  width:104px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:1079px;
  top:110px;
  width:105px;
  height:69px;
  text-align:center;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:69px;
}
#u150 {
  position:absolute;
  left:2px;
  top:26px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:0px;
  top:179px;
  width:108px;
  height:36px;
  text-align:center;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u152 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:108px;
  top:179px;
  width:108px;
  height:36px;
  text-align:center;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u154 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:216px;
  top:179px;
  width:108px;
  height:36px;
  text-align:center;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u156 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:324px;
  top:179px;
  width:108px;
  height:36px;
  text-align:center;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u158 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:432px;
  top:179px;
  width:108px;
  height:36px;
  text-align:center;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u160 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:540px;
  top:179px;
  width:108px;
  height:36px;
  text-align:center;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u162 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:648px;
  top:179px;
  width:108px;
  height:36px;
  text-align:center;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u164 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:756px;
  top:179px;
  width:107px;
  height:36px;
  color:#0000FF;
  text-align:center;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u166 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:863px;
  top:179px;
  width:108px;
  height:36px;
  color:#0000FF;
  text-align:center;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u168 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:971px;
  top:179px;
  width:108px;
  height:36px;
  text-align:center;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u170 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:1079px;
  top:179px;
  width:105px;
  height:36px;
  color:#0000FF;
  text-align:center;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
#u172 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:0px;
  top:215px;
  width:108px;
  height:36px;
  text-align:center;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u174 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:108px;
  top:215px;
  width:108px;
  height:36px;
  text-align:center;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u176 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:216px;
  top:215px;
  width:108px;
  height:36px;
  text-align:center;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u178 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:324px;
  top:215px;
  width:108px;
  height:36px;
  text-align:center;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u180 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:432px;
  top:215px;
  width:108px;
  height:36px;
  text-align:center;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u182 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:540px;
  top:215px;
  width:108px;
  height:36px;
  text-align:center;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u184 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:648px;
  top:215px;
  width:108px;
  height:36px;
  text-align:center;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u186 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:756px;
  top:215px;
  width:107px;
  height:36px;
  color:#0000FF;
  text-align:center;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u188 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:863px;
  top:215px;
  width:108px;
  height:36px;
  color:#0000FF;
  text-align:center;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u190 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:971px;
  top:215px;
  width:108px;
  height:36px;
  text-align:center;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u192 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:1079px;
  top:215px;
  width:105px;
  height:36px;
  color:#0000FF;
  text-align:center;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
#u194 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:0px;
  top:251px;
  width:108px;
  height:36px;
  text-align:center;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u196 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:108px;
  top:251px;
  width:108px;
  height:36px;
  text-align:center;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u198 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:216px;
  top:251px;
  width:108px;
  height:36px;
  text-align:center;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u200 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:324px;
  top:251px;
  width:108px;
  height:36px;
  text-align:center;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u202 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:432px;
  top:251px;
  width:108px;
  height:36px;
  text-align:center;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u204 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:540px;
  top:251px;
  width:108px;
  height:36px;
  text-align:center;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u206 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:648px;
  top:251px;
  width:108px;
  height:36px;
  text-align:center;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u208 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:756px;
  top:251px;
  width:107px;
  height:36px;
  text-align:center;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u210 {
  position:absolute;
  left:2px;
  top:2px;
  width:103px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:863px;
  top:251px;
  width:108px;
  height:36px;
  color:#0000FF;
  text-align:center;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u212 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:971px;
  top:251px;
  width:108px;
  height:36px;
  text-align:center;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u214 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:1079px;
  top:251px;
  width:105px;
  height:36px;
  color:#0000FF;
  text-align:center;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
#u216 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:0px;
  top:287px;
  width:108px;
  height:36px;
  text-align:center;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u218 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:108px;
  top:287px;
  width:108px;
  height:36px;
  text-align:center;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u220 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:216px;
  top:287px;
  width:108px;
  height:36px;
  text-align:center;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u222 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:324px;
  top:287px;
  width:108px;
  height:36px;
  text-align:center;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u224 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:432px;
  top:287px;
  width:108px;
  height:36px;
  text-align:center;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u226 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:540px;
  top:287px;
  width:108px;
  height:36px;
  text-align:center;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u228 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:648px;
  top:287px;
  width:108px;
  height:36px;
  text-align:center;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u230 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:756px;
  top:287px;
  width:107px;
  height:36px;
  text-align:center;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u232 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:863px;
  top:287px;
  width:108px;
  height:36px;
  color:#0000FF;
  text-align:center;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u234 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:971px;
  top:287px;
  width:108px;
  height:36px;
  text-align:center;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u236 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:1079px;
  top:287px;
  width:105px;
  height:36px;
  color:#0000FF;
  text-align:center;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
#u238 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:0px;
  top:323px;
  width:108px;
  height:36px;
  text-align:center;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u240 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:108px;
  top:323px;
  width:108px;
  height:36px;
  text-align:center;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u242 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:216px;
  top:323px;
  width:108px;
  height:36px;
  text-align:center;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u244 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:324px;
  top:323px;
  width:108px;
  height:36px;
  text-align:center;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u246 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u247 {
  position:absolute;
  left:432px;
  top:323px;
  width:108px;
  height:36px;
  text-align:center;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u248 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u249 {
  position:absolute;
  left:540px;
  top:323px;
  width:108px;
  height:36px;
  text-align:center;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u250 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  word-wrap:break-word;
}
#u251 {
  position:absolute;
  left:648px;
  top:323px;
  width:108px;
  height:36px;
  text-align:center;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u252 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  word-wrap:break-word;
}
#u253 {
  position:absolute;
  left:756px;
  top:323px;
  width:107px;
  height:36px;
  text-align:center;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u254 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u255 {
  position:absolute;
  left:863px;
  top:323px;
  width:108px;
  height:36px;
  color:#0000FF;
  text-align:center;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u256 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:971px;
  top:323px;
  width:108px;
  height:36px;
  text-align:center;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u258 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u259 {
  position:absolute;
  left:1079px;
  top:323px;
  width:105px;
  height:36px;
  color:#0000FF;
  text-align:center;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
#u260 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261 {
  position:absolute;
  left:248px;
  top:616px;
  width:782px;
  height:24px;
  font-size:20px;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  height:24px;
}
#u262 {
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  word-wrap:break-word;
}
#u263 {
  position:absolute;
  left:878px;
  top:1251px;
  width:108px;
  height:29px;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:29px;
}
#u264 {
  position:absolute;
  left:2px;
  top:-2px;
  width:104px;
  word-wrap:break-word;
}
#u265 {
  position:absolute;
  left:878px;
  top:1280px;
  width:108px;
  height:40px;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u266 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u268 {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:90px;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:90px;
}
#u269 {
  position:absolute;
  left:2px;
  top:37px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270 {
  position:absolute;
  left:1000px;
  top:20px;
  width:80px;
  height:16px;
  color:#0099FF;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u271 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u272 {
  position:absolute;
  left:950px;
  top:20px;
  width:50px;
  height:16px;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u273 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u274 {
  position:absolute;
  left:950px;
  top:54px;
  width:270px;
  height:16px;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:16px;
}
#u275 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u276 {
  position:absolute;
  left:10px;
  top:10px;
  width:180px;
  height:60px;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
}
#u277 {
  position:absolute;
  left:2px;
  top:22px;
  width:176px;
  word-wrap:break-word;
}
#u278 {
  position:absolute;
  left:1200px;
  top:54px;
  width:80px;
  height:16px;
  color:#0099FF;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u279 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u280 {
  position:absolute;
  left:1080px;
  top:20px;
  width:80px;
  height:16px;
  color:#0099FF;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u281 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u282 {
  position:absolute;
  left:20px;
  top:127px;
  width:1230px;
  height:10px;
}
#u282_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u282_end {
  position:absolute;
  left:1213px;
  top:-5px;
  width:18px;
  height:20px;
}
#u282_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1230px;
  height:1px;
}
#u283 {
  position:absolute;
  left:30px;
  top:101px;
  width:100px;
  height:30px;
  font-size:14px;
}
#u283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u283_img.selected {
}
#u283.selected {
}
#u284 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u285 {
  position:absolute;
  left:148px;
  top:101px;
  width:100px;
  height:30px;
  font-size:14px;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u285_img.selected {
}
#u285.selected {
}
#u286 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u287 {
  position:absolute;
  left:270px;
  top:101px;
  width:100px;
  height:30px;
  font-size:14px;
}
#u287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u287_img.selected {
}
#u287.selected {
}
#u288 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u290 {
  position:absolute;
  left:20px;
  top:146px;
  width:200px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u290_img.selected {
}
#u290.selected {
}
#u291 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u292 {
  position:absolute;
  left:20px;
  top:186px;
  width:200px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u292_img.selected {
}
#u292.selected {
}
#u293 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u294 {
  position:absolute;
  left:20px;
  top:226px;
  width:200px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u294_img.selected {
}
#u294.selected {
}
#u295 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
