body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:60px;
  top:30px;
  width:320px;
  height:480px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u2 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:60px;
  top:94px;
  width:320px;
  height:416px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:416px;
}
#u4 {
  position:absolute;
  left:2px;
  top:200px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:60px;
  top:326px;
  width:320px;
  height:449px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:449px;
}
#u6 {
  position:absolute;
  left:2px;
  top:216px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:120px;
  top:57px;
  width:200px;
  height:30px;
  font-size:18px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:60px;
  top:94px;
  width:320px;
  height:46px;
  font-size:18px;
  color:#0066FF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:73px;
  top:108px;
  width:12px;
  height:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:89px;
  top:109px;
  width:39px;
  height:19px;
  font-size:16px;
  color:#2087FC;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:60px;
  top:139px;
  width:320px;
  height:141px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:141px;
}
#u16 {
  position:absolute;
  left:2px;
  top:62px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:69px;
  top:250px;
  width:180px;
  height:30px;
  font-size:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u18 {
  position:absolute;
  left:0px;
  top:11px;
  width:180px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:290px;
  top:260px;
  width:90px;
  height:20px;
  text-align:right;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u20 {
  position:absolute;
  left:0px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:61px;
  top:280px;
  width:160px;
  height:46px;
  font-size:18px;
  color:#0066FF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:46px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:219px;
  top:280px;
  width:160px;
  height:46px;
  font-size:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:46px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:60px;
  top:320px;
  width:160px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:143px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:4px;
  width:160px;
  height:3px;
}
#u26 {
  position:absolute;
  left:73px;
  top:340px;
  width:287px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:283px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:330px;
  top:353px;
  width:20px;
  height:14px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:14px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:73px;
  top:379px;
  width:287px;
  height:252px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:252px;
}
#u31 {
  position:absolute;
  left:2px;
  top:118px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:89px;
  top:390px;
  width:251px;
  height:220px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:220px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:3px;
  top:103px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:33px;
  top:113px;
  width:40px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:23px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:4px;
  width:40px;
  height:2px;
}
#u37 {
  position:absolute;
  left:532px;
  top:50px;
  width:398px;
  height:520px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:520px;
}
#u38 {
  position:absolute;
  left:2px;
  top:252px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:552px;
  top:70px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:590px;
  top:67px;
  width:230px;
  height:54px;
  font-size:14px;
  line-height:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:54px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:430px;
  top:174px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:364px;
  top:184px;
  width:66px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:49px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  height:2px;
}
#u46 {
  position:absolute;
  left:552px;
  top:122px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:592px;
  top:126px;
  width:318px;
  height:94px;
  font-size:14px;
  line-height:18px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:94px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:430px;
  top:280px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:364px;
  top:290px;
  width:66px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:49px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  height:2px;
}
#u53 {
  position:absolute;
  left:3px;
  top:288px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:32px;
  top:298px;
  width:66px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:49px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  height:2px;
}
#u56 {
  position:absolute;
  left:552px;
  top:224px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:592px;
  top:224px;
  width:318px;
  height:46px;
  font-size:14px;
  line-height:18px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:46px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:552px;
  top:285px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:430px;
  top:345px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u63 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:360px;
  top:355px;
  width:70px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  height:2px;
}
#u65 {
  position:absolute;
  left:552px;
  top:331px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:592px;
  top:330px;
  width:318px;
  height:80px;
  font-size:14px;
  line-height:18px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:80px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:548px;
  top:415px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:588px;
  top:414px;
  width:318px;
  height:60px;
  font-size:14px;
  line-height:18px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:60px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:548px;
  top:473px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:588px;
  top:472px;
  width:318px;
  height:82px;
  font-size:14px;
  line-height:18px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:82px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:588px;
  top:287px;
  width:318px;
  height:56px;
  font-size:14px;
  line-height:18px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:56px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:73px;
  top:630px;
  width:287px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:40px;
}
#u80 {
  position:absolute;
  left:2px;
  top:10px;
  width:283px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:73px;
  top:669px;
  width:287px;
  height:71px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:71px;
}
#u82 {
  position:absolute;
  left:2px;
  top:28px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:89px;
  top:680px;
  width:111px;
  height:20px;
  font-size:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:89px;
  top:706px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:245px;
  top:683px;
  width:105px;
  height:43px;
  font-size:16px;
  color:#FFFFFF;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:43px;
}
#u88 {
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:430px;
  top:688px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:350px;
  top:698px;
  width:80px;
  height:10px;
}
#u91_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u91_end {
  position:absolute;
  left:63px;
  top:-5px;
  width:18px;
  height:20px;
}
#u91_line {
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  height:2px;
}
#u92 {
  position:absolute;
  left:430px;
  top:635px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u93 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:360px;
  top:645px;
  width:70px;
  height:10px;
}
#u94_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_line {
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  height:2px;
}
