body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1346px;
  height:418px;
}
#u0 {
  position:absolute;
  left:444px;
  top:40px;
  width:1346px;
  height:418px;
}
#u1 {
  position:absolute;
  left:2px;
  top:201px;
  width:1342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:160px;
}
#u2 {
  position:absolute;
  left:570px;
  top:550px;
  width:327px;
  height:160px;
}
#u3 {
  position:absolute;
  left:2px;
  top:72px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:140px;
  top:216px;
  width:240px;
  height:50px;
  overflow:hidden;
}
#u5_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
  font-size:20px;
}
#u6 {
  position:absolute;
  left:69px;
  top:13px;
  width:151px;
  height:20px;
  font-size:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u8 {
  position:absolute;
  left:0px;
  top:5px;
  width:68px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  font-size:20px;
}
#u10 {
  position:absolute;
  left:91px;
  top:14px;
  width:79px;
  height:20px;
  font-size:20px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u12 {
  position:absolute;
  left:18px;
  top:5px;
  width:68px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  font-size:20px;
}
#u14 {
  position:absolute;
  left:71px;
  top:14px;
  width:155px;
  height:20px;
  font-size:20px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u16 {
  position:absolute;
  left:0px;
  top:5px;
  width:68px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u18 {
  position:absolute;
  left:140px;
  top:450px;
  width:128px;
  height:128px;
}
#u19 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u20 {
  position:absolute;
  left:428px;
  top:502px;
  width:68px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u22 {
  position:absolute;
  left:552px;
  top:300px;
  width:128px;
  height:128px;
}
#u23 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:83px;
}
#u24 {
  position:absolute;
  left:186px;
  top:657px;
  width:310px;
  height:83px;
}
#u25 {
  position:absolute;
  left:2px;
  top:34px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u26 {
  position:absolute;
  left:242px;
  top:312px;
  width:128px;
  height:128px;
}
#u27 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u28 {
  position:absolute;
  left:20px;
  top:602px;
  width:128px;
  height:128px;
}
#u29 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u30 {
  position:absolute;
  left:0px;
  top:802px;
  width:128px;
  height:128px;
}
#u31 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u32 {
  position:absolute;
  left:186px;
  top:792px;
  width:128px;
  height:128px;
}
#u33 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u34 {
  position:absolute;
  left:382px;
  top:792px;
  width:128px;
  height:128px;
}
#u35 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
