<#assign contextPath=springMacroRequestContext.getContextPath() />
<!--页脚-->
<div class="gd_foot">
	<div class="nav">
    	<div class="m_nav_c">
    		<div class="left fl">
            	<label class="free h2 color6 disb ov">免费促销信息订阅</label>
                <span class="inpu disb ov">
                	<input type="text" value="" placeholder="输入Email(如：a@b.c)" class="input_text fl" />
                    <span class="h3 input_btn fl">订阅</span>
                </span>
                <ul class="ewm disb ov">
                	<li class="h2 color6 fl">
                    	关注官方微信
                        <img src="${contextPath}/resources/images/wx.png" alt="官方微信" class="disb">
                    </li>
                	<li class="h2 color6 fr">
                    	关注官方微博
                        <img src="${contextPath}/resources/images/wb.png" alt="官方微博" class="disb">
                    </li>
                </ul>
            </div>
    		<ul class="right fl ov disb">
            	<li class="pl fl disb">
                	<a href="${contextPath}/resources/pdf/about.pdf" title="" class="simsun h4" target="_blank">票量简介</a>
                	<a href="${contextPath}/aboutLaw" title="" class="simsun h4" target="_blank">法律声明</a>
                	<a href="${contextPath}/resources/images/Scan.jpg" title="" class="simsun h4" target="_blank">浙B2-20150152</a>
                    <label class="yahei abt color6 disb"><a href="${contextPath}/resources/pdf/about.pdf"  target="_blank">关于我们</a></label>
                    <i class="icon bg_cmd"></i>
                </li>
                <li class="pl fl disb">
                	<a href="${contextPath}/footLink" title="" class="simsun h4" target="_blank">友情链接</a>
                	<a href="#" title="" class="simsun h4" >酒店加盟</a>
                	<a href="${contextPath}/aboutAlliance" title="" class="simsun h4" target="_blank">网站联盟</a>
                    <label class="yahei abt color6 disb" target="_blank">加盟合作</label>
                    <i class="icon bg_cmd i2"></i>
                </li>
                <li class="pl fl disb">
                	<a href="#" title="" class="simsun h4">帮助中心</a>
                	<a href="${contextPath}/aboutComplaint" title="" class="simsun h4" target="_blank">投诉建议</a>
                	<a href="${contextPath}/aboutJob" title="" class="simsun h4" target="_blank">诚聘英才</a>
                    <label class="yahei abt color6 disb"><a href="${contextPath}/aboutContactUs"  target="_blank">联系我们</a></label>
                    <i class="icon bg_cmd i3"></i>
                </li>
                <li class="pl fl disb last">
                    <span class=" disb h2 yahei yj" target="_blank">意见反馈</span>
                    <span class=" disb h2 yahei kf" target="_blank">客服电话</span>
                    <label class="yahei abt color6  disb">0571-28280813</label>
                    <i class="icon bg_cmd i4"></i>
                </li>
            </ul>
        </div>
	</div>
    <!-- <div class="special"></div> -->
</div>
<!--页脚-->