body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1075px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:152px;
}
#u10845 {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:152px;
}
#u10846 {
  position:absolute;
  left:2px;
  top:68px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:1285px;
}
#u10847 {
  position:absolute;
  left:0px;
  top:98px;
  width:200px;
  height:1285px;
}
#u10848 {
  position:absolute;
  left:2px;
  top:635px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:19px;
  font-size:16px;
  color:#00B7FF;
}
#u10849 {
  position:absolute;
  left:13px;
  top:124px;
  width:137px;
  height:19px;
  font-size:16px;
  color:#00B7FF;
}
#u10850 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u10851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
  font-size:16px;
}
#u10851 {
  position:absolute;
  left:33px;
  top:153px;
  width:157px;
  height:19px;
  font-size:16px;
}
#u10852 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u10853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
  font-size:16px;
}
#u10853 {
  position:absolute;
  left:33px;
  top:182px;
  width:157px;
  height:19px;
  font-size:16px;
}
#u10854 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u10855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
  font-size:16px;
}
#u10855 {
  position:absolute;
  left:33px;
  top:211px;
  width:157px;
  height:19px;
  font-size:16px;
}
#u10856 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u10857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  background:inherit;
  background-color:#FFFFFF;
  font-size:16px;
  color:#00B7FF;
  text-align:left;
}
#u10857 {
  position:absolute;
  left:13px;
  top:249px;
  width:97px;
  height:23px;
  font-size:16px;
  color:#00B7FF;
  text-align:left;
}
#u10858 {
  position:absolute;
  left:2px;
  top:2px;
  width:93px;
  word-wrap:break-word;
}
#u10859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  background:inherit;
  background-color:#FFFFFF;
  font-size:16px;
  text-align:left;
}
#u10859 {
  position:absolute;
  left:33px;
  top:281px;
  width:97px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u10860 {
  position:absolute;
  left:2px;
  top:2px;
  width:93px;
  word-wrap:break-word;
}
#u10861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  background:inherit;
  background-color:#FFFFFF;
  font-size:16px;
  text-align:left;
}
#u10861 {
  position:absolute;
  left:33px;
  top:315px;
  width:97px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u10862 {
  position:absolute;
  left:2px;
  top:2px;
  width:93px;
  word-wrap:break-word;
}
#u10863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u10863 {
  position:absolute;
  left:213px;
  top:106px;
  width:141px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u10864 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u10865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  border-radius:5px;
}
#u10865 {
  position:absolute;
  left:920px;
  top:109px;
  width:100px;
  height:30px;
}
#u10866 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u10867 {
  position:absolute;
  left:213px;
  top:190px;
  width:812px;
  height:295px;
}
#u10868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:30px;
}
#u10868 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10869 {
  position:absolute;
  left:2px;
  top:6px;
  width:198px;
  word-wrap:break-word;
}
#u10870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:30px;
}
#u10870 {
  position:absolute;
  left:202px;
  top:0px;
  width:202px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10871 {
  position:absolute;
  left:2px;
  top:6px;
  width:198px;
  word-wrap:break-word;
}
#u10872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:30px;
}
#u10872 {
  position:absolute;
  left:404px;
  top:0px;
  width:202px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10873 {
  position:absolute;
  left:2px;
  top:6px;
  width:198px;
  word-wrap:break-word;
}
#u10874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:30px;
}
#u10874 {
  position:absolute;
  left:606px;
  top:0px;
  width:201px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10875 {
  position:absolute;
  left:2px;
  top:6px;
  width:197px;
  word-wrap:break-word;
}
#u10876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:52px;
}
#u10876 {
  position:absolute;
  left:0px;
  top:30px;
  width:202px;
  height:52px;
  text-align:center;
}
#u10877 {
  position:absolute;
  left:2px;
  top:18px;
  width:198px;
  word-wrap:break-word;
}
#u10878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:52px;
}
#u10878 {
  position:absolute;
  left:202px;
  top:30px;
  width:202px;
  height:52px;
  text-align:center;
}
#u10879 {
  position:absolute;
  left:2px;
  top:18px;
  width:198px;
  word-wrap:break-word;
}
#u10880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:52px;
}
#u10880 {
  position:absolute;
  left:404px;
  top:30px;
  width:202px;
  height:52px;
  text-align:center;
}
#u10881 {
  position:absolute;
  left:2px;
  top:18px;
  width:198px;
  word-wrap:break-word;
}
#u10882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:52px;
}
#u10882 {
  position:absolute;
  left:606px;
  top:30px;
  width:201px;
  height:52px;
  text-align:center;
}
#u10883 {
  position:absolute;
  left:2px;
  top:2px;
  width:197px;
  word-wrap:break-word;
}
#u10884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:52px;
}
#u10884 {
  position:absolute;
  left:0px;
  top:82px;
  width:202px;
  height:52px;
  text-align:center;
}
#u10885 {
  position:absolute;
  left:2px;
  top:18px;
  width:198px;
  word-wrap:break-word;
}
#u10886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:52px;
}
#u10886 {
  position:absolute;
  left:202px;
  top:82px;
  width:202px;
  height:52px;
  text-align:center;
}
#u10887 {
  position:absolute;
  left:2px;
  top:18px;
  width:198px;
  word-wrap:break-word;
}
#u10888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:52px;
}
#u10888 {
  position:absolute;
  left:404px;
  top:82px;
  width:202px;
  height:52px;
  text-align:center;
}
#u10889 {
  position:absolute;
  left:2px;
  top:18px;
  width:198px;
  word-wrap:break-word;
}
#u10890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:52px;
}
#u10890 {
  position:absolute;
  left:606px;
  top:82px;
  width:201px;
  height:52px;
  text-align:center;
}
#u10891 {
  position:absolute;
  left:2px;
  top:2px;
  width:197px;
  word-wrap:break-word;
}
#u10892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:52px;
}
#u10892 {
  position:absolute;
  left:0px;
  top:134px;
  width:202px;
  height:52px;
  text-align:center;
}
#u10893 {
  position:absolute;
  left:2px;
  top:18px;
  width:198px;
  word-wrap:break-word;
}
#u10894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:52px;
}
#u10894 {
  position:absolute;
  left:202px;
  top:134px;
  width:202px;
  height:52px;
  text-align:center;
}
#u10895 {
  position:absolute;
  left:2px;
  top:18px;
  width:198px;
  word-wrap:break-word;
}
#u10896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:52px;
}
#u10896 {
  position:absolute;
  left:404px;
  top:134px;
  width:202px;
  height:52px;
  text-align:center;
}
#u10897 {
  position:absolute;
  left:2px;
  top:18px;
  width:198px;
  word-wrap:break-word;
}
#u10898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:52px;
}
#u10898 {
  position:absolute;
  left:606px;
  top:134px;
  width:201px;
  height:52px;
  text-align:center;
}
#u10899 {
  position:absolute;
  left:2px;
  top:2px;
  width:197px;
  word-wrap:break-word;
}
#u10900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:52px;
}
#u10900 {
  position:absolute;
  left:0px;
  top:186px;
  width:202px;
  height:52px;
  text-align:center;
}
#u10901 {
  position:absolute;
  left:2px;
  top:18px;
  width:198px;
  word-wrap:break-word;
}
#u10902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:52px;
}
#u10902 {
  position:absolute;
  left:202px;
  top:186px;
  width:202px;
  height:52px;
  text-align:center;
}
#u10903 {
  position:absolute;
  left:2px;
  top:18px;
  width:198px;
  word-wrap:break-word;
}
#u10904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:52px;
}
#u10904 {
  position:absolute;
  left:404px;
  top:186px;
  width:202px;
  height:52px;
  text-align:center;
}
#u10905 {
  position:absolute;
  left:2px;
  top:18px;
  width:198px;
  word-wrap:break-word;
}
#u10906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:52px;
}
#u10906 {
  position:absolute;
  left:606px;
  top:186px;
  width:201px;
  height:52px;
  text-align:center;
}
#u10907 {
  position:absolute;
  left:2px;
  top:10px;
  width:197px;
  word-wrap:break-word;
}
#u10908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:52px;
}
#u10908 {
  position:absolute;
  left:0px;
  top:238px;
  width:202px;
  height:52px;
  text-align:center;
}
#u10909 {
  position:absolute;
  left:2px;
  top:18px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:52px;
}
#u10910 {
  position:absolute;
  left:202px;
  top:238px;
  width:202px;
  height:52px;
  text-align:center;
}
#u10911 {
  position:absolute;
  left:2px;
  top:18px;
  width:198px;
  word-wrap:break-word;
}
#u10912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:52px;
}
#u10912 {
  position:absolute;
  left:404px;
  top:238px;
  width:202px;
  height:52px;
  text-align:center;
}
#u10913 {
  position:absolute;
  left:2px;
  top:18px;
  width:198px;
  word-wrap:break-word;
}
#u10914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:52px;
}
#u10914 {
  position:absolute;
  left:606px;
  top:238px;
  width:201px;
  height:52px;
  text-align:center;
}
#u10915 {
  position:absolute;
  left:2px;
  top:10px;
  width:197px;
  word-wrap:break-word;
}
#u10916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:260px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
}
#u10916 {
  position:absolute;
  left:250px;
  top:550px;
  width:390px;
  height:260px;
}
#u10917 {
  position:absolute;
  left:2px;
  top:122px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10918p000 {
  position:absolute;
  left:259px;
  top:589px;
  width:373px;
  height:3px;
}
#u10918p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:3px;
}
#u10918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10919 {
  position:absolute;
  left:262px;
  top:582px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10920 {
  position:absolute;
  left:265px;
  top:556px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10921 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u10922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:25px;
}
#u10922 {
  position:absolute;
  left:610px;
  top:556px;
  width:20px;
  height:24px;
}
#u10923 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10924 {
  position:absolute;
  left:360px;
  top:630px;
  width:240px;
  height:40px;
}
#u10924_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10924_input {
  font-family:'应用字体';
}
#u10925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  border-radius:5px;
}
#u10925 {
  position:absolute;
  left:390px;
  top:736px;
  width:100px;
  height:30px;
}
#u10926 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u10927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:#169BD5;
  border-radius:5px;
}
#u10927 {
  position:absolute;
  left:500px;
  top:736px;
  width:100px;
  height:30px;
}
#u10928 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u10929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:300px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
}
#u10929 {
  position:absolute;
  left:685px;
  top:550px;
  width:390px;
  height:300px;
}
#u10930 {
  position:absolute;
  left:2px;
  top:142px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10931p000 {
  position:absolute;
  left:693px;
  top:589px;
  width:375px;
  height:3px;
}
#u10931p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:3px;
}
#u10931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10932 {
  position:absolute;
  left:697px;
  top:582px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10933 {
  position:absolute;
  left:700px;
  top:556px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10934 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u10935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:25px;
}
#u10935 {
  position:absolute;
  left:1045px;
  top:556px;
  width:20px;
  height:24px;
}
#u10936 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  border-radius:5px;
}
#u10937 {
  position:absolute;
  left:825px;
  top:758px;
  width:100px;
  height:30px;
}
#u10938 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u10939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:#169BD5;
  border-radius:5px;
}
#u10939 {
  position:absolute;
  left:935px;
  top:758px;
  width:100px;
  height:30px;
}
#u10940 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u10941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u10941 {
  position:absolute;
  left:265px;
  top:638px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u10942 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
}
#u10943 {
  position:absolute;
  left:360px;
  top:688px;
  width:145px;
  height:16px;
}
#u10944 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u10945 {
  position:absolute;
  left:808px;
  top:629px;
  width:240px;
  height:40px;
}
#u10945_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10945_input {
  font-family:'应用字体';
}
#u10946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u10946 {
  position:absolute;
  left:713px;
  top:637px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u10947 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10948 {
  position:absolute;
  left:808px;
  top:688px;
  width:240px;
  height:40px;
}
#u10948_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10948_input {
  font-family:'应用字体';
}
#u10949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  font-size:18px;
}
#u10949 {
  position:absolute;
  left:713px;
  top:696px;
  width:70px;
  height:22px;
  font-size:18px;
}
#u10950 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u10951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:300px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
}
#u10951 {
  position:absolute;
  left:250px;
  top:850px;
  width:390px;
  height:300px;
}
#u10952 {
  position:absolute;
  left:2px;
  top:142px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10953p000 {
  position:absolute;
  left:259px;
  top:889px;
  width:373px;
  height:3px;
}
#u10953p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:3px;
}
#u10953 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10954 {
  position:absolute;
  left:262px;
  top:882px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10955 {
  position:absolute;
  left:265px;
  top:856px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10956 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u10957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:25px;
}
#u10957 {
  position:absolute;
  left:610px;
  top:856px;
  width:20px;
  height:24px;
}
#u10958 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  border-radius:5px;
}
#u10959 {
  position:absolute;
  left:390px;
  top:1058px;
  width:100px;
  height:30px;
}
#u10960 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u10961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:#169BD5;
  border-radius:5px;
}
#u10961 {
  position:absolute;
  left:500px;
  top:1058px;
  width:100px;
  height:30px;
}
#u10962 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u10963 {
  position:absolute;
  left:373px;
  top:929px;
  width:240px;
  height:40px;
}
#u10963_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10963_input {
  font-family:'应用字体';
}
#u10964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u10964 {
  position:absolute;
  left:278px;
  top:937px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u10965 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10966 {
  position:absolute;
  left:373px;
  top:988px;
  width:240px;
  height:40px;
}
#u10966_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10966_input {
  font-family:'应用字体';
}
#u10967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  font-size:18px;
}
#u10967 {
  position:absolute;
  left:278px;
  top:996px;
  width:70px;
  height:22px;
  font-size:18px;
}
#u10968 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u10969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:100px;
  background:inherit;
  background-color:#333333;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  border-radius:16px;
  opacity:0.699999988079071;
  font-size:16px;
  color:#FFFFFF;
}
#u10970 {
  position:absolute;
  left:740px;
  top:890px;
  width:120px;
  height:100px;
  opacity:0.699999988079071;
  font-size:16px;
  color:#FFFFFF;
}
#u10971 {
  position:absolute;
  left:2px;
  top:42px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:80px;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10972 {
  position:absolute;
  left:748px;
  top:900px;
  width:102px;
  height:80px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10973 {
  position:absolute;
  left:2px;
  top:21px;
  width:98px;
  word-wrap:break-word;
}
#u10974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:100px;
  background:inherit;
  background-color:#333333;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  border-radius:16px;
  opacity:0.699999988079071;
  font-size:16px;
  color:#FFFFFF;
}
#u10975 {
  position:absolute;
  left:935px;
  top:890px;
  width:120px;
  height:100px;
  opacity:0.699999988079071;
  font-size:16px;
  color:#FFFFFF;
}
#u10976 {
  position:absolute;
  left:2px;
  top:42px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:80px;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10977 {
  position:absolute;
  left:943px;
  top:900px;
  width:102px;
  height:80px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10978 {
  position:absolute;
  left:2px;
  top:21px;
  width:98px;
  word-wrap:break-word;
}
