<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:util="http://www.springframework.org/schema/util" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
	http://www.springframework.org/schema/jee 
	http://www.springframework.org/schema/jee/spring-jee-3.0.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd 
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util-3.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
	default-autowire="byName">

	<context:annotation-config />
	<context:component-scan base-package="hg" />
	
	<!-- 强制SPRING使用CGLIB动态代理，不使用JDK代理。 -->	
	<aop:config proxy-target-class="true" />
	
	<bean id="dzpwConfigurerListener" class="hg.dzpw.app.component.listener.DZPWConfigurerListener" />
	
	<bean id="propertyConfigurer1" class="hg.common.component.RemoteConfigurer">
		<property name="remoteConfigUrl" value="${remoteConfigUrl}" />
		<property name="projectId" value="DZPW" />
		<property name="environmentName" value="${environmentName}" />
		<property name="loadConfigTimeOut" value="30000" />
		<property name="listener" ref="dzpwConfigurerListener" />
		<property name="locations">
			<list>
				<value>classpath*:system.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="hgLogger" class="hg.log.util.HgLogger">
		<constructor-arg name="projectId" value="DZPW" />
        <constructor-arg name="envId" value="${environmentName}" />
       <constructor-arg name="logRepository" ref="logRepository"/>
    </bean>
	
	<import resource="classpath:application-dzpw.xml" />
	
</beans>
