<#assign contextPath=springMacroRequestContext.getContextPath() />
<style type="text/css">
.bidl .t_dl{height:auto!important;padding:10px 0;width:100%}
.bidl .t_dl dt{height:auto!important}
.bidl .t_dl dd{width:60%;height:auto!important} 
.bidl p{width:auto}
.bidl h2{padding:5px 0;width:100%; border-bottom:#ddd 1px solid}
.bidl h6{clear: both;}
.dltb{}
.dltb table{ margin-bottom:15px;}
.dltb table tr th{ line-height:30px; background:#F5F5F5}
.dltb table tr td{ line-height:30px; }
.right_utp{ float:right; width:400px;padding:10px 0  25px 0}
.right_utp dl dt{ float:left;width:auto}
.right_utp dl dd{ float:left; width:auto!important}
.right_utp dl dd p{ float:left; position:relative; position:0!important}
.right_utp dl dd p strong{ font-size:30px; font-family:Tahoma, Geneva, sans-serif; color:#f30}
.right_utp dl dd p span{ position:absolute;top:0;left:130px}
.right_utp dl dd p span em{ font-style:normal; width:200px; line-height:20px;float: left;}
</style>
<div class="pageContent">
<form method="post" action="demo/common/ajaxDone.html" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">

       <div class="pageFormContent bill" layoutH="56">
          <div class="bill bidl">
               <h2>订单支付信息</h2>
              <div class="dltb">
                  <table cellpadding="0" cellspacing="0" width="100%" border="1 solid black">
                      <tr>
                            <th>支付方式</th>
					     	<th>金额</th>
					     	<th>流水号</th>
					     	<th>时间</th>
					     	<th>付款帐号</th>
					     	<th>付款姓名</th>
					     	<th>游客</th>
                       </tr>
					 <#list payDTOList as payDTO>
			  		   <tr>
			  		    <td>
			  			<#if PAY_TYPE_MAP??>
                               <#list PAY_TYPE_MAP?keys as itemKey>
                                  <#if itemKey == payDTO.paymentType + ''>
                                    	${PAY_TYPE_MAP[itemKey]}
                                  </#if>
                               </#list>
                          </#if>
			  			</td>
				  		<td>${payDTO.paymentAmount}</td>
				  		<td>${payDTO.serialNumber}</td>
				  		<td>${payDTO.createDate?datetime}</td>
				  		<td>${payDTO.paymentAccount}</td>
				  		<td>${payDTO.paymentName}</td>
				  		<td>${payDTO.lineOrderTravelerNames}</td>
					  	</tr>
					  </#list>
					</table>
              </div>
           </div>
       </div>

<script type="text/javascript">
</script>
