body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:58px;
  width:320px;
  height:702px;
  color:#CCCCCC;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:702px;
}
#u1 {
  position:absolute;
  left:2px;
  top:343px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:70px;
  top:68px;
  width:190px;
  height:90px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:90px;
}
#u3 {
  position:absolute;
  left:2px;
  top:37px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:78px;
  top:78px;
  width:28px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:270px;
  top:68px;
  width:100px;
  height:90px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:90px;
}
#u7 {
  position:absolute;
  left:2px;
  top:37px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:280px;
  top:78px;
  width:28px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:120px;
  top:98px;
  width:130px;
  height:50px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:290px;
  top:98px;
  width:70px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:60px;
  top:254px;
  width:320px;
  height:36px;
  font-size:16px;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:426px;
  top:101px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:360px;
  top:111px;
  width:66px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:49px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  height:2px;
}
#u19 {
  position:absolute;
  left:532px;
  top:58px;
  width:398px;
  height:459px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:459px;
}
#u20 {
  position:absolute;
  left:2px;
  top:222px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:550px;
  top:101px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:590px;
  top:102px;
  width:230px;
  height:80px;
  font-size:14px;
  line-height:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:80px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:550px;
  top:190px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:590px;
  top:193px;
  width:318px;
  height:140px;
  font-size:14px;
  line-height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:140px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:550px;
  top:339px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:590px;
  top:342px;
  width:318px;
  height:135px;
  font-size:14px;
  line-height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:135px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:71px;
  top:68px;
  width:189px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  position:absolute;
  left:270px;
  top:68px;
  width:100px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35 {
  position:absolute;
  left:75px;
  top:307px;
  width:290px;
  height:263px;
}
.u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:79px;
}
.u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:79px;
}
.u37 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
.u38 {
  position:absolute;
  left:1px;
  top:62px;
  width:74px;
  height:19px;
  font-size:16px;
}
.u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
.u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:426px;
  top:320px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:360px;
  top:330px;
  width:66px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:49px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  height:2px;
}
#u43 {
  position:absolute;
  left:70px;
  top:168px;
  width:300px;
  height:80px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u44 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:230px;
  top:183px;
  width:130px;
  height:50px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u46 {
  position:absolute;
  left:2px;
  top:17px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:107px;
  top:210px;
  width:93px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:70px;
  top:168px;
  width:300px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
