<#assign contextPath=springMacroRequestContext.getContextPath() />
<#import "/public/frame/default.html" as frame />
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="${contextPath}/resources/css/gq_common.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="${contextPath}/resources/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="${contextPath}/resources/js/gq_index.js"></script>
  </head>
  <body>
    <!-- 头部 -->
    <div class="hd"></div>
    <!-- 内容1 -->
    <a name="F1"></a>
    <div class="cont_1">
      <div class="detail_cont detail_cont_1">
        <a class="animate" id="img_11" href="http://www.ply365.com/line/detail?id=d3d8e418add4482cadcbf1868bd916df" target="_blank"><img src="${contextPath}/resources/images/11.png" alt="【上海出发】青岛、崂山、威海、蓬莱双飞4日游" title="【上海出发】青岛、崂山、威海、蓬莱双飞4日游"></a>
        <a class="animate" id="img_12" href="http://www.ply365.com/line/detail?id=60bc7205c9dc45aab3e21f17b7c45625" target="_blank"><img src="${contextPath}/resources/images/12.png" alt="【上海出发】大连、旅顺、吉林市、长白山品质双飞6日游" title="【上海出发】大连、旅顺、吉林市、长白山品质双飞6日游"></a>
        <a class="animate" id="img_13" href="http://www.ply365.com/line/detail?id=7f1626c8b7f44e17a696fd09a0eab1ea" target="_blank"><img src="${contextPath}/resources/images/13.png" alt="【北京出发】月坨岛浪漫休闲二日游" title="【北京出发】月坨岛浪漫休闲二日游"></a>
        <a class="animate" id="img_14" href="http://www.ply365.com/line/detail?id=af7ff8e6eba5474c808d539aa9a4f092" target="_blank"><img src="${contextPath}/resources/images/14.png" alt="【杭州出发】悠游大连亲子4日游" title="【杭州出发】悠游大连亲子4日游"></a>
        <div class="all all_1"></div>
      </div>
    </div>
    <!-- 内容2 -->
    <div class="cont_2">
      <div class="detail_cont detail_cont_2">
        <a class="animate" id="img_21" href="http://www.ply365.com/line/detail?id=c886fb5d3d164473957cdef35e242d57" target="_blank"><img src="${contextPath}/resources/images/21.png" alt="【各地出发】象山中国渔村阳光海岸大酒店+中国渔村2日自由行" title="【各地出发】象山中国渔村阳光海岸大酒店+中国渔村2日自由行"></a>
        <a class="animate" id="img_22" href="http://www.ply365.com/line/detail?id=c6e774e7f65847a6a6c283df304cc271" target="_blank"><img src="${contextPath}/resources/images/22.png" alt="【上海出发】千灯古镇、阳澄湖品蟹1日游" title="【上海出发】千灯古镇、阳澄湖品蟹1日游"></a>
        <a class="animate" id="img_23" href="http://www.ply365.com/line/detail?id=69ab25753dfe48849ec56516bae0101b" target="_blank"><img src="${contextPath}/resources/images/23.png" alt="【各地出发】三门三特渔村+ 蛇蟠岛2日自由行" title="【各地出发】三门三特渔村+ 蛇蟠岛2日自由行"></a>
        <div class="all all_2"></div>
      </div>
    </div>
    <!-- 内容3 -->
    <div class="cont_3">
      <div class="detail_cont detail_cont_3">
        <a class="animate" id="img_31" href="http://www.ply365.com/line/detail?id=0e5eec11033f4bfe9dd1beff108be3db" target="_blank"><img src="${contextPath}/resources/images/31.png" alt="厦门鼓浪屿+南靖云水谣双动4日游" title="厦门鼓浪屿+南靖云水谣双动4日游"></a>
        <a class="animate" id="img_32" href="http://www.ply365.com/line/detail?id=1f9f00180cef480dab4a2b98092da2dc" target="_blank"><img src="${contextPath}/resources/images/32.png" alt="【杭州出发】厦门鼓浪屿+集美+大嶝双动4日游" title="【杭州出发】厦门鼓浪屿+集美+大嶝双动4日游"></a>
        <a class="animate" id="img_33" href="http://www.ply365.com/line/detail?id=4381d32bbf034e049849e054c7566112" target="_blank"><img src="${contextPath}/resources/images/33.png" alt="【上海出发】厦门+鼓浪屿+环岛路+曾厝垵3日游" title="【上海出发】厦门+鼓浪屿+环岛路+曾厝垵3日游"></a>
        <a class="more" href="http://www.ply365.com/line/list" target="_blank">点击查看更多&gt;&gt;</a>
        <div class="all all_3"></div>
      </div>
    </div>
    <!-- 红包活动-->
    <div class="red_packet">
      <a class="register" href="http://www.ply365.com/user/login" target="_blank"></a>
      <a class="change" href="http://www.ply365.com/user/login" target="_blank"></a>
    </div>
    <!-- 侧导航 -->
    <div class="side_nav">
      <a class="f1" href="javascript:void(0);" onclick="sliderTo(1035);"></a>
      <a class="f2" href="javascript:void(0);" onclick="sliderTo(3243);"></a>
      <a class="to_top" href="javascript:void(0);" onclick="sliderTo(0);"></a>
    </div>
  </body>
</html>