<#assign contextPath=springMacroRequestContext.getContextPath() />
<script src='${contextPath}/resources/js/jquery.autocomplete.js'></script>
<link href='${contextPath}/resources/css/jquery.autocomplete.css' rel='stylesheet' />
<!-- 头部查询信息部分 -->
<div class="pageHeader">
	<form id="pagerForm" rel="pagerForm" onsubmit="return navTabSearch(this);" action="${contextPath}/jd/order/list" method="post">
		<input type="hidden" name="pageNum" value="${(pagination.pageNo?c)!20}"/>
		<input type="hidden" name="numPerPage" value="${(pagination.pageSize?c)!1}" />
		<div class="searchBar">
			<table class="searchContent">
				<tr>
					<td style="text-align: left">经销商订单号：</td>
					<td><input name="dealerOrderNo" id="dealerOrderNo" value="${(hotelOrderQO.dealerOrderNo)!''}"/></td>
					<td style="text-align: left">下单时间：</td>
					<td><input type="text" name="beginDateTime" value="${(hotelOrderQO.beginDateTime)!}" class="date" readonly="readonly" />
					-<input type="text" name="endDateTime" value="${(hotelOrderQO.endDateTime)!}" class="date" readonly="readonly" /></td>
				</tr>
			</table>
			<div class="subBar">
				<ul>
					<li>
						<div class="buttonActive">
							<div class="buttonContent">
								<button type="submit">查询</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>
<!-- 页面主体 -->
<div class="pageContent">
	<table class="table" width="100%" layoutH="150" >
		<thead>
			<tr>
				<th width="100">经销商订单编号</th>
				<th width="120">订单编号</th>
				<th width="120">下单时间</th>
				<th width="120">产品名称</th>
				<th width="120">酒店名称</th>
				<th width="60">酒店编号</th>
				<th width="50">是否可以取消</th>
				<th width="100">入住日期</th>
				<th width="100">离店日期</th>
				<th width="120">房间数量</th>
				<th width="50">客人数量</th>
				<th width="50">总价</th>
				<th width="120">操作</th>
			</tr>
		</thead>
		<tbody>
			<#list pagination.list as hotelOrderDTO>				
				<tr>
				<td>${hotelOrderDTO.dealerOrderNo}</td>
				<td>${hotelOrderDTO.orderNo}</td>
				<td>${hotelOrderDTO.creationDate}</td>
				<td>${hotelOrderDTO.ratePlanName}</td>
				<td>${hotelOrderDTO.hotelName}</td>
				<td>${hotelOrderDTO.hotelNo}</td>
				<td>
					<#if hotelOrderDTO.isCancelable==true>
						是
					<#else>
						否
					</#if>
				</td>
				<td>${hotelOrderDTO.arrivalDate}</td>
				<td>${hotelOrderDTO.departureDate}</td>
				<td>${hotelOrderDTO.numberOfRooms}</td>
				<td>${hotelOrderDTO.numberOfCustomers}</td>
				<td>
				<#if hotelOrderDTO.totalPrice??>
					${hotelOrderDTO.totalPrice?c}
				</#if>
				</td>
				<td>
				<#if hotelOrderDTO.status!="E">
					<a  target="dialog"
					href="${contextPath}/jd/hotelOrderDetail?orderId=${hotelOrderDTO.orderNo}&dealerOrderNo=${(hotelOrderDTO.dealerOrderNo)!''}"  width="1000" height="800" style="color: blue">订单详情</a>
					<a  target="dialog"
					href="${contextPath}/jd/tocancel?orderId=${hotelOrderDTO.orderNo}" style="color: blue">取消订单</a>
				<#else>
					<a  target="dialog"
					href="${contextPath}/jd/reason?orderId=${hotelOrderDTO.id}" style="color: blue">取消原因</a>
				</#if>
				</td>
			 </tr>
			</#list>
			
		</tbody>
	</table>
	<#include "/public/pagination/pagination.html">


</div>
<script type="text/javascript">
</script>