<#assign contextPath=springMacroRequestContext.getContextPath() />
<div id="header">
			<div class="headerNav">
				<ul class="nav">
					<li><span style="color: white;"><a title="修改密码" target="dialog" mask="true" height="200" width="720"
						href="${contextPath}/password-edit">修改密码</a></span></li>
					<li><span style="color: white;">欢迎 <#if Session["_SESSION_USER_"]??>${Session["_SESSION_USER_"].loginName}</#if> </span></li>
					<li><a href="${contextPath}/logout" style="color: white;">退出</a></li>
				</ul>
			</div>
			
			<div id="navMenu">
				<ul>
					<li class="selected"><a href="${contextPath}/side/1"><span>全部菜单</span></a></li>
					<li><a href="${contextPath}/side/2"><span>系统设置</span></a></li>
					<li><a href="${contextPath}/side/3"><span>经销商管理</span></a></li>
					<li><a href="${contextPath}/side/4"><span>常用信息管理</span></a></li>
					<li><a href="${contextPath}/side/5"><span>订单管理</span></a></li>
<!-- 					<li><a href="${contextPath}/side/6"><span>财务对账</span></a></li> -->
					<li><a href="${contextPath}/side/7"><span>景区管理</span></a></li>
					<li><a href="${contextPath}/side/8"><span>票务管理</span></a></li>
					<li><a href="${contextPath}/side/9"><span>统计报表</span></a></li>
				</ul>
			</div>
		</div>