<#assign contextPath=springMacroRequestContext.getContextPath() />
<div class="pageContent" id="pd">
	<form method="post" enctype="multipart/form-data" action="" class="pageForm required-validate" onsubmit="">
		<div class="pageFormContent" layoutH="58">

           <div style="text-align: center;">
             <p>您选择的内容里有部分内容已存在价格政策，<br/><br/>
			   如果继续操作将会覆盖之前的价格政策，请确认</p>
           </div>
			
			
			
					
		</div>
		<div class="formBar">
			<ul>
			    <li><div class="button"><div class="buttonContent"><button class="close" >关闭</button></div></div></li>
			    <li><div class="button"><div class="buttonContent"><button class="close" onclick="">忽略并继续操作</button></div></div></li>
			</ul>
		</div>
	</form>
	
</div>

