body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:11px;
  width:640px;
  height:149px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:149px;
}
#u1 {
  position:absolute;
  left:2px;
  top:66px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:620px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#0000FF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:9px;
  width:616px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:70px;
  width:620px;
  height:80px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:80px;
}
#u5 {
  position:absolute;
  left:2px;
  top:32px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:166px;
  top:73px;
  width:200px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#333333;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:30px;
  top:93px;
  width:605px;
  height:45px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:100px;
  top:0px;
  width:71px;
  height:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:67px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:171px;
  top:0px;
  width:129px;
  height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:100px;
  top:20px;
  width:71px;
  height:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:171px;
  top:20px;
  width:129px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:300px;
  top:20px;
  width:100px;
  height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:400px;
  top:20px;
  width:100px;
  height:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:500px;
  top:20px;
  width:100px;
  height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
