body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:322px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:760px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#CCCCCC;
}
#u10066 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:760px;
}
#u10067 {
  position:absolute;
  left:2px;
  top:372px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:65px;
}
#u10068 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:65px;
}
#u10069 {
  position:absolute;
  left:2px;
  top:25px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:#242428;
  font-size:16px;
  color:#FFFFFF;
}
#u10070 {
  position:absolute;
  left:90px;
  top:26px;
  width:150px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u10071 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u10072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:19px;
  font-size:16px;
}
#u10072 {
  position:absolute;
  left:14px;
  top:82px;
  width:236px;
  height:19px;
  font-size:16px;
}
#u10073 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u10074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:19px;
  font-size:16px;
}
#u10074 {
  position:absolute;
  left:14px;
  top:114px;
  width:296px;
  height:19px;
  font-size:16px;
}
#u10075 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  word-wrap:break-word;
}
#u10076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:325px;
}
#u10076 {
  position:absolute;
  left:1px;
  top:143px;
  width:319px;
  height:325px;
}
#u10077 {
  position:absolute;
  left:2px;
  top:155px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:19px;
  font-size:16px;
}
#u10078 {
  position:absolute;
  left:12px;
  top:478px;
  width:296px;
  height:19px;
  font-size:16px;
}
#u10079 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  word-wrap:break-word;
}
#u10080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:233px;
}
#u10080 {
  position:absolute;
  left:2px;
  top:509px;
  width:320px;
  height:233px;
}
#u10081 {
  position:absolute;
  left:2px;
  top:109px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
