<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-3.0.xsd
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
						>
	
	<!-- 自动扫描 -->
	<context:component-scan base-package="pl,hg" />
	
	<!-- 强制SPRING使用CGLIB动态代理，不使用JDK代理。 -->
	<aop:config proxy-target-class="true" />
	
	 <!-- 远程配置 -->
   <bean id="propertyConfigurer" class="hg.common.component.RemoteConfigurer">
       <property name="remoteConfigUrl" value="${remoteConfigUrl}" />
       <property name="projectId" value="PL_CMS_H5" />
       <property name="environmentName" value="${environmentName}" />
       <property name="loadConfigTimeOut" value="30000" />
   </bean>
	
	<bean id="smsUtil" class="hg.common.util.SMSUtils">
		<constructor-arg name="smsAddress" value="${sms_address}" />
		<constructor-arg name="smsUser" value="${sms_user}" />
		<constructor-arg name="smsPassword" value="${sms_password}"/>
	</bean>
	
	<!-- 开启注解 -->
	<context:annotation-config />
	
	<import resource="classpath:spring/spring-hibernate-common.xml"/>
	<import resource="classpath:spring/spring-redis.xml" />
 	<import resource="classpath:spring/spring-mongodb.xml" />
 	<import resource="classpath:spring/dubbo-consumer.xml" />
</beans>
