<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		   http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		   http://www.springframework.org/schema/context
		   http://www.springframework.org/schema/context/spring-context-4.2.xsd
		   http://www.springframework.org/schema/aop
		   http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

	<context:annotation-config/>
	<context:component-scan base-package="hg.demo.web.controller,picUtil"/>
	<context:component-scan base-package="hg.fx.springbean"/>

	<!-- 强制SPRING使用CGLIB动态代理，不使用JDK代理。 -->
	<aop:config proxy-target-class="true"/>

<!-- 配置 -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:redis.properties</value>
				<value>classpath:sms.properties</value>
			</list>
		</property>
	</bean>
	
	<import resource="classpath:spring/spring-servlet.xml"/>
	<import resource="classpath:spring/spring-dubbo-consumer.xml"/>
	<import resource="classpath:spring/spring-redis.xml"/>
	<import resource="classpath:spring/spring-task.xml"/>
	
	<import resource="classpath:spring/application-hgcaptcha.xml" />

	<!-- sms -->
	<bean id="smsUtil" class="hg.fx.util.SmsUtil">
		<constructor-arg name="smsAddress" value="${sms_address}" />
		<constructor-arg name="smsUser" value="${sms_user}" />
		<constructor-arg name="smsPassword" value="${sms_password}" />
	</bean>
	
	<!-- 验证码 -->
<!-- 	<bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha"> -->
<!-- 		<property name="config"> -->
<!-- 			<bean class="com.google.code.kaptcha.util.Config"> -->
<!-- 				<constructor-arg> -->
<!-- 					<props> -->
<!-- 						<prop key="kaptcha.border">no</prop> -->
<!-- 						<prop key="kaptcha.border.color">105,179,90</prop> -->
<!-- 						<prop key="kaptcha.textproducer.font.color">red</prop> -->
<!-- 						<prop key="kaptcha.image.width">80</prop> -->
<!-- 						<prop key="kaptcha.textproducer.font.size">26</prop> -->
<!-- 						<prop key="kaptcha.image.height">32</prop> -->
<!-- 						<prop key="kaptcha.session.key">code</prop> -->
<!-- 						<prop key="kaptcha.textproducer.char.length">4</prop> -->
<!-- 						<prop key="kaptcha.textproducer.font.names">宋体,楷体,微软雅黑</prop> -->
<!-- 						<prop key="kaptcha.noise.impl">com.google.code.kaptcha.impl.NoNoise</prop> -->
						<!--<prop key="kaptcha.obscurificator.impl">shop.web.common.util.NoWater</prop>-->
<!-- 					</props> -->
<!-- 				</constructor-arg> -->
<!-- 			</bean> -->
<!-- 		</property> -->
<!-- 	</bean> -->

</beans>