body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1510px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:87px;
  top:29px;
  width:474px;
  height:491px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:491px;
}
#u1 {
  position:absolute;
  left:2px;
  top:238px;
  width:470px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:87px;
  top:123px;
  width:474px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:13px;
  width:470px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:136px;
  width:59px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:100px;
  top:183px;
  width:450px;
  height:308px;
  font-size:18px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:308px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:659px;
  top:143px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:593px;
  top:153px;
  width:66px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:49px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  height:2px;
}
#u11 {
  position:absolute;
  left:659px;
  top:80px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:593px;
  top:90px;
  width:66px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:49px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  height:2px;
}
#u14 {
  position:absolute;
  left:780px;
  top:142px;
  width:735px;
  height:325px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:103px;
  top:0px;
  width:142px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:245px;
  top:0px;
  width:485px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:481px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:30px;
  width:103px;
  height:62px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:62px;
}
#u22 {
  position:absolute;
  left:2px;
  top:23px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:103px;
  top:30px;
  width:142px;
  height:62px;
  font-size:14px;
  text-align:center;
  line-height:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:62px;
}
#u24 {
  position:absolute;
  left:2px;
  top:21px;
  width:138px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:245px;
  top:30px;
  width:485px;
  height:62px;
  font-size:14px;
  line-height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:62px;
}
#u26 {
  position:absolute;
  left:2px;
  top:21px;
  width:481px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:92px;
  width:103px;
  height:104px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:104px;
}
#u28 {
  position:absolute;
  left:2px;
  top:44px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:103px;
  top:92px;
  width:142px;
  height:104px;
  font-size:14px;
  text-align:center;
  line-height:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:104px;
}
#u30 {
  position:absolute;
  left:2px;
  top:42px;
  width:138px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:245px;
  top:92px;
  width:485px;
  height:104px;
  font-size:14px;
  line-height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:104px;
}
#u32 {
  position:absolute;
  left:2px;
  top:32px;
  width:481px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:196px;
  width:103px;
  height:124px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:124px;
}
#u34 {
  position:absolute;
  left:2px;
  top:54px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:103px;
  top:196px;
  width:142px;
  height:124px;
  font-size:14px;
  text-align:center;
  line-height:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:124px;
}
#u36 {
  position:absolute;
  left:2px;
  top:52px;
  width:138px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:245px;
  top:196px;
  width:485px;
  height:124px;
  font-size:14px;
  line-height:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:124px;
}
#u38 {
  position:absolute;
  left:2px;
  top:52px;
  width:481px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:659px;
  top:340px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:593px;
  top:350px;
  width:66px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:49px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  height:2px;
}
#u42 {
  position:absolute;
  left:820px;
  top:280px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:820px;
  top:190px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:820px;
  top:390px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:87px;
  top:28px;
  width:473px;
  height:96px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:96px;
}
#u49 {
  position:absolute;
  left:2px;
  top:40px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
