<#assign contextPath=springMacroRequestContext.getContextPath() />
<style type="text/css">
.searchContent td{text-align: left}
</style>
<div class="pageHeader">
	
	<form id="pagerForm" rel="pagerForm" onsubmit="return navTabSearch(this);" 
		action="${contextPath}/jp/finance/orderList?type=1" method="post" >
		
		<input type="hidden" name="pageNum" value="${pagination.pageNo?c}" />
		<input type="hidden" name="numPerPage" value="${pagination.pageSize?c}" />
		<div class="searchBar">
			<table class="searchContent">
				<tr>
					<td>
						订单编号：
					</td>
					<td>
						<input name="orderNo" id="orderNo" value="${(platformOrderQO.orderNo)!''}" />
					</td>
					
					<td>
						下单时间：
					</td>
					<td><input type="text" readonly="readonly" name="beginTimeStr" id="beginTimeStr" value="${(beginTimeStr)!''}" class="date"/>
							&nbsp;&nbsp;&nbsp;——&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="text" readonly="readonly" name="endTimeStr" id="endTimeStr" value="${(endTimeStr)!''}" class="date"/></td>
					<td>订单状态：</td>
					<td>
						 <select name="tempStatus" id="tempStatus">
							<option value="">全部状态</option>
							 <#list statusList as status>
								<option value="${(status.key)!''}" <#if platformOrderQO.tempStatus== status.key>selected="selected"</#if>>${status.value!?html}</option>
						     </#list>
						</select>
					</td>
					<td>支付状态</td>
					<td>
						
                          <select name="payStatus" id="payStatus">
							<option value="">全部状态</option>
							 <#list orderPayStatusList as status>
								<option value="${(status.key)!''}" <#if platformOrderQO.payStatus== status.key>selected="selected"</#if>>${status.value!?html}</option>
						     </#list>
						</select>
                      	
					</td>
					
				</tr>
				<tr>
					<td>
						下单人：
					</td>
					<td>
						<input type="text" name="loginName" id="loginName" value="${(platformOrderQO.loginName)!''}"/>
					</td>
					<td>
						出发地:
					</td>
					<td>
						<select name="fromCityCode" id="fromCityCode">
							<option value="">选择</option>
							 <#list cities as city>
								<option value="${(city.cityAirCode)!''}" <#if platformOrderQO.fromCityCode== city.cityAirCode>selected="selected"</#if>>${city.cityName!?html}</option>
						     </#list>
						</select>
						
						&nbsp;&nbsp;&nbsp;到达地:
						&nbsp;&nbsp;&nbsp;
						<select name="toCityCode" id="toCityCode">
							<option value="">选择</option>
							 <#list cities as city>
								<option value="${(city.cityAirCode)!''}" <#if platformOrderQO.toCityCode== city.cityAirCode>selected="selected"</#if>>${city.cityName!?html}</option>
						     </#list>
						</select>
					</td>
					
					<td>
						乘机人：
					</td>
					<td><input type="text" name="passengerName" value="${(platformOrderQO.passengerName)!''}" /></td>			
					
				</tr>
			</table>
			<div class="subBar">
				<ul>
					<li><div class="buttonActive">
							<div class="buttonContent">
								<button type="submit">查询</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>
<div class="pageContent" id="table_c">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="${contextPath}/jp/finance/toAddErrorOrder" rel="queryHead"  target="dialog"
				  mask="true" width="800" height="500"><span>新增异常订单</span>
				</a>
			</li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="210" id="table_caiwu">
		<thead>
			<tr>
				<th width="22"><input type="checkbox" group="ids"
					class="checkboxCtrl">
				</th>
 				<th width="70">订单号</th>
				<th width="60">易行单号</th>
				<!-- <th width="70">供应商单号</th> -->
				<th width="90">乘机人</th>
				<th width = "60">PNR</th>
				<th width = "100">航程</th>
				<th width = "70">订单总金额</th>
				<th width = "70">返点/佣金</th>
				<th width = "70">调整</th>
				<th width = "60">票号</th>
				<th width = "140">下单时间</th>
				<th width = "90">订单状态</th>
				<th width = "90">支付状态</th>
				<th width="120">操作</th>
			</tr>
		</thead>
		<tbody>
		<#list pagination.list as order>
				<tr height="21px">
				<td><input name="ids" value="" type="checkbox"></td>
				<td>${order.orderNo}</td>
				<td>${order.yeeXingOrderId}</td>
				<!-- <td>${order.supplierOrderNo}</td>	 -->			
				<td>
					<#if order.passengerList??>
						<#list order.passengerList as passanger>
							<p>${passanger.name}</p>
						 </#list>
					</#if>
				</td>
				<td>${order.pnr}</td>
				<td>
						<#if order.startCityName??&&order.endCityName??>
							<p>${order.startCityName}——${order.endCityName}</p>
						</#if>
						<p>${order.flightNo}</p>
						<p>${order.departureTime}</p>
				</td>
				<td>
					<#if order?? && order.userPayAmount ??>
						${order.userPayAmount?string('0.00')}
					</#if>
				</td>
				<td><#if order.disc??&&order.commAmount>${order.disc?string('0.00')}/${order.commAmount?string('0.00')}</#if></td>
				<td>
					<#if order.adjustAmount??><p>${order.adjustAmount?string('0.00')}</p></#if>
					<p>${(order.adjustReason)!''}</p>
				</td>
				<td>
					<#if order.passengerList ??>
						<#list order.passengerList as passenger>
							<p>${(passenger.ticket.ticketNo)!''}</p>
						</#list>
					</#if>
				</td>
				<td>
					<#if order.loginName??><p>${order.loginName}</p></#if>
					<#if order.createDate??><p>${order.createDate?string("yyyy-MM-dd HH:mm:ss")}</p></#if>
				</td>
				<td>
					 <#list statusList as status>
						<#if order.orderStatus.status== status.key>${status.value!?html}</#if>
				     </#list>
				</td>
				<td>
					 <#list orderPayStatusList as payStatus>
						<#if order.orderStatus.payStatus== payStatus.key>${payStatus.value!?html}</#if> 
				     </#list>
				</td>
				<td>
					<a style="color: blue" target="dialog" href="${contextPath}/jp/order/detail?id=${order.id}&type=1" width="1000" height="800">订单详情</a>
				</td>
			</tr>
		</#list>	
		</tbody>
	</table>
	<#include "/public/pagination/pagination.html">
</div>
