<#assign contextPath=springMacroRequestContext.getContextPath() />
<style>
.sa{ width:163px; background:#fff; border:1px solid #ccc; padding:10px 0px 10px; margin-left:62px;}
.sa ul {padding:0px ; margin:0px;}
.sa li{ list-style:none; padding:10px; margin-top:5px;}.sa li:hover{ background:#ccc;} li.current{ background:#ccc;}}
</style>
<script src="${staticPath}/js/jquery-validation-1.9.0/lib/jquery.js" type="text/javascript"></script>
<script src="${contextPath}/resources/js/ajaxfileupload.js" type="text/javascript"></script>
<script type="text/javascript">
	var path = '${contextPath}';
	
	function checkPosition(){
		
		if($("#position2").val()!=$("#positionHide").val() && $("#positionHide").val()!=""){
			alert('请上传广告图片');
			return false;
		}else{
			return true;
		}
	}
	
	var imageAdd = {};
	
	imageAdd.imageUpload = function (me) {
		
		$.ajaxFileUpload({
			url : path+"/file/imgUpload",
	       	secureuri : false,
	       	fileElementId : 'imgFile',
	       	dataType : 'json',
	       	data: {
	       		//maxHeight: 175,
	       		//maxWidth: 230,
	       		maxSize: 20480
	       	},
			success: function (data, status) {
				if ("success" == data.status) {
		       		$("#imgView").attr("src", data.imageUrl);
		       		$("#imageInfo").attr("value",data.fileInfo);
		       		$("#imagePath").attr("value",data.imageUrl);
		       		$("#fileName").attr("value",data.imageName);
		       		
	    	  	} else {
	    	  		alertMsg.info(data.msg);
	    	  	}
			},
	        error: function (data, status, e) {
	        	alertMsg.info("上传失败");
	        }
	    });
	}
	
	function change(obj){
		if(obj.checked){
			obj.attr("checked", "false");
		}
	}
</script>

<div class="pageHeader" layoutH="26">

	<form action="${contextPath}/advertisement/addAd" method="post" enctype="multipart/form-data" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone)">
	<table>
			<tr style="float:left;"> 
				<td>
					<input type="hidden" id="positionId" name="positionId" value="${position.id}">
					广告位置：
					<span>${position.baseInfo.name}</span>
				</td>
			</tr>
			<tr height="20px;"/> 
			<tr style="float:left;"> 
				<td>
					广告名称：&nbsp;<input type="text" id="title" name="title" size="25" class="required" maxlength="64">&nbsp;&nbsp;<span style="color: red;">限制在64个字以内</span>
					</div>
				<td>
			</tr>
			<tr height="20px;"/> 
			<tr style="float:left;">
				<td>
					广告链接：&nbsp;<input type="text" id="url" name="url" size="25" class="required url" maxlength="500">&nbsp;<span style="color: red;">限制在500个字以内</span>
				</td>
			</tr>
			<tr height="20px;"/> 
			<tr style="float:left;">
				<td>
					广告图片：
					<span style="color: red">
						完成上传图片，再次修改广告位时需要重新上传图片，原图会失效!<br/><br/>
					</span>
					<span style="color: red">
						建议上传jpg、gif、png、bmp或JPG、GIF、PNG、BMP格式，单张图片大小不超过2MB<br/><br/>
					</span>
					<span>
						<img id="imgView" width="120" height="120" style="padding-left: 65px;"/>
					</span>	
					<span style="padding-left: 60px;">
						<input id="imgFile" name="file" type="file" onchange="imageAdd.imageUpload(this);" size="60" style="width: 170px;"/><span style="color: red;">*</span>
						<input id="imageInfo" type="hidden" name="imageInfo" class="required"/>
						<input id="imagePath" type="hidden" name="imagePath" class="required"/>
						<input id="fileName" type="hidden" name="fileName" class="required"/>
					</span>
				</td>
			</tr>
			<tr height="20px;"/> 
	</table>
	
	<div class="">
		<ul>
			<li><div class="buttonActive"><div class="buttonContent"><button type="submit" onclick="return checkPosition()">确定发布</button></div></div></li>
		</ul>
	</div>
	
	</form>
</div>
