body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:2420px;
  top:750px;
  width:450px;
  height:731px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:731px;
}
#u1 {
  position:absolute;
  left:2px;
  top:358px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:2491px;
  top:870px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:2491px;
  top:894px;
  width:309px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:36px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:305px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:2491px;
  top:1140px;
  width:309px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:292px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:309px;
  height:1px;
}
#u7 {
  position:absolute;
  left:2500px;
  top:1160px;
  width:80px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:2535px;
  top:1224px;
  width:215px;
  height:48px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:48px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:2550px;
  top:1184px;
  width:200px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:2522px;
  top:980px;
  width:240px;
  height:30px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14 {
  position:absolute;
  left:2592px;
  top:1060px;
  width:100px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u15 {
  position:absolute;
  left:2505px;
  top:900px;
  width:25px;
  height:25px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u16 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:99px;
  top:20px;
  width:321px;
  height:523px;
  font-size:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:523px;
}
#u18 {
  position:absolute;
  left:2px;
  top:254px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:100px;
  top:20px;
  width:320px;
  height:80px;
  font-size:14px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
}
#u20 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:100px;
  top:58px;
  width:320px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:109px;
  top:62px;
  width:32px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:110px;
  top:217px;
  width:300px;
  height:50px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u25_img.selected {
  left:-5px;
  top:-5px;
  width:310px;
  height:60px;
}
#u25.selected {
}
#u26 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:112px;
  top:219px;
  width:293px;
  height:45px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:45px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u28 {
  position:absolute;
  left:110px;
  top:329px;
  width:300px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:840px;
  top:20px;
  width:321px;
  height:630px;
  font-size:14px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:630px;
}
#u31 {
  position:absolute;
  left:2px;
  top:307px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:841px;
  top:20px;
  width:320px;
  height:80px;
  font-size:14px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
}
#u33 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:841px;
  top:58px;
  width:320px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:470px;
  top:62px;
  width:32px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:850px;
  top:338px;
  width:300px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:4px;
  width:300px;
  height:2px;
}
#u39 {
  position:absolute;
  left:850px;
  top:481px;
  width:300px;
  height:46px;
  font-size:14px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:900px;
  top:417px;
  width:200px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1200px;
  top:20px;
  width:321px;
  height:630px;
  font-size:14px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:630px;
}
#u44 {
  position:absolute;
  left:2px;
  top:307px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1201px;
  top:20px;
  width:320px;
  height:80px;
  font-size:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
}
#u46 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1201px;
  top:58px;
  width:320px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u48 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:1210px;
  top:62px;
  width:32px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:1210px;
  top:338px;
  width:300px;
  height:10px;
}
#u51_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_line {
  position:absolute;
  left:0px;
  top:4px;
  width:300px;
  height:2px;
}
#u52 {
  position:absolute;
  left:1210px;
  top:481px;
  width:300px;
  height:56px;
  font-size:14px;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:56px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:1260px;
  top:417px;
  width:200px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1549px;
  top:20px;
  width:321px;
  height:630px;
  font-size:14px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:630px;
}
#u57 {
  position:absolute;
  left:2px;
  top:307px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1550px;
  top:20px;
  width:320px;
  height:80px;
  font-size:14px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
}
#u59 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:1550px;
  top:58px;
  width:320px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u61 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:1559px;
  top:338px;
  width:300px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:4px;
  width:300px;
  height:2px;
}
#u63 {
  position:absolute;
  left:1559px;
  top:481px;
  width:300px;
  height:26px;
  font-size:14px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:26px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:1609px;
  top:417px;
  width:200px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:850px;
  top:371px;
  width:300px;
  height:16px;
  font-size:16px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1210px;
  top:371px;
  width:300px;
  height:16px;
  font-size:16px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:1559px;
  top:371px;
  width:300px;
  height:16px;
  font-size:16px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:850px;
  top:120px;
  width:300px;
  height:208px;
  text-align:left;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:208px;
}
#u74 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:830px;
  top:754px;
  width:280px;
  height:209px;
  font-size:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:209px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:1190px;
  top:754px;
  width:280px;
  height:171px;
  font-size:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:171px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:1540px;
  top:754px;
  width:280px;
  height:266px;
  font-size:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:266px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:460px;
  top:690px;
  width:280px;
  height:133px;
  font-size:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:133px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:450px;
  top:20px;
  width:321px;
  height:530px;
  font-size:14px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:530px;
}
#u84 {
  position:absolute;
  left:2px;
  top:257px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:451px;
  top:20px;
  width:320px;
  height:80px;
  font-size:14px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
}
#u86 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:451px;
  top:58px;
  width:320px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u88 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:850px;
  top:62px;
  width:32px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u90 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:460px;
  top:110px;
  width:300px;
  height:120px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:120px;
}
#u92 {
  position:absolute;
  left:2px;
  top:52px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:460px;
  top:254px;
  width:300px;
  height:120px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:120px;
}
#u94 {
  position:absolute;
  left:2px;
  top:52px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:534px;
  top:123px;
  width:129px;
  height:37px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:534px;
  top:266px;
  width:129px;
  height:37px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:487px;
  top:190px;
  width:248px;
  height:16px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:487px;
  top:330px;
  width:196px;
  height:16px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:1211px;
  top:120px;
  width:300px;
  height:208px;
  text-align:left;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:208px;
}
#u104 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:1560px;
  top:120px;
  width:300px;
  height:208px;
  text-align:left;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:208px;
}
#u106 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:460px;
  top:511px;
  width:300px;
  height:32px;
  color:#FF0000;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:1740px;
  top:585px;
  width:100px;
  height:25px;
}
#u109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u110 {
  position:absolute;
  left:1600px;
  top:585px;
  width:100px;
  height:25px;
}
#u110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u111 {
  position:absolute;
  left:150px;
  top:134px;
  width:100px;
  height:16px;
}
#u112 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u111_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u113 {
  position:absolute;
  left:300px;
  top:134px;
  width:100px;
  height:16px;
}
#u114 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u113_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u115 {
  position:absolute;
  left:150px;
  top:174px;
  width:100px;
  height:16px;
}
#u116 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u115_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u117 {
  position:absolute;
  left:300px;
  top:174px;
  width:100px;
  height:16px;
}
#u118 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u117_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u119 {
  position:absolute;
  left:112px;
  top:737px;
  width:280px;
  height:323px;
  font-size:16px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:323px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:180px;
  top:570px;
  width:120px;
  height:110px;
  opacity:0.6;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:110px;
}
#u122 {
  position:absolute;
  left:2px;
  top:46px;
  width:116px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:380px;
  top:62px;
  width:33px;
  height:32px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u124 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:727px;
  top:62px;
  width:33px;
  height:32px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u126 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:1117px;
  top:62px;
  width:33px;
  height:32px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u128 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:1478px;
  top:62px;
  width:33px;
  height:32px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u130 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:1827px;
  top:62px;
  width:33px;
  height:32px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u132 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:460px;
  top:62px;
  width:32px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u134 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:1560px;
  top:62px;
  width:32px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u136 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
