/* CSS Document */
/*liwei 2015-4-22     allOrder right*/
input,button,select,textarea{outline:none} /*去除浏览器默认边框*/
a{ color:#333;}
.ri{ margin:24px 32px 30px 29px;}
.ri .rih1{ font-size:20px; line-height:28px; color:#333; margin-right:40px; margin-left:15px;}
.ri .onc a{ color:#34b0ae;}
.ri .onc i{ width:110px; height:3px; background:#34b0ae; float:left; position:absolute; margin-top:44px; margin-left:-94px;}
.ri .oncs a{ color:#34b0ae;}
.ri .oncs i{ width:110px; height:3px; background:#34b0ae; float:left; position:absolute; margin-top:44px; margin-left:-94px;}
.ri .navsbox{width:100%; height:3px; background:#c9e5e9;  margin-top:16px;}

.ri .orderBox{height:122px; float:left; width:100%; background:#fcfcfc;  border-bottom:1px solid #c9e5e9; margin-bottom:19px;}
.ri .orderBox .order{ margin-left:15px; width:100%;}
.ri .orderBox .order li{ width:235px; float:left; margin-top:20px; height:30px; line-height:30px;}
.ri .orderBox .order li .selti{ width:70px; color:#555; float:left; text-align:right;}
.ri .orderBox .order li .slor{ width:118px; height:28px;border:1px solid #dfe8ef;float:left; padding:0 10px; text-align:left; font-size:14px; color:#333;}
.ri .orderBox .order li .changeTime{ float:left; width:118px; height:28px; padding:0 10px; border:1px solid #dfe8ef; line-height:28px; font-size:14px; text-align:center;}
.ri .orderBox .order li .sl{ width:138px; height:28px; border:1px solid #dfe8ef; float:left; background:#fff;}
.ri .orderBox .order li .dd{width:160px;height:30px; float:left; background:url(../../images/ic_tr.png) 0 0;}
.ri .orderBox .order li .optionValue{width:118px; text-align:left; font-size:14px; color:#333; line-height:26px; padding:0 10px;}
.ri .orderBox .order li .cx{ width:60px; height:30px; float:right; background:#4bc5c3; font-size:14px; text-align:center; line-height:30px; color:#fff;}
.ri .orderBox .order li .cx:hover{width:60px; height:28px; border-bottom:2px solid #30a3a1; background:#4bc5c3; line-height:28px;}


/*下拉列表*/
.ri .orderBox li .selectNav{ float:left; width:156px; position:absolute; z-index:999; background:#fff; border:2px solid #80d7d6;  margin-left:70px; *margin-left:-160px; display:none;}
.ri .orderBox li .selectNav .l{ float:left; width:136px; height:28px;  margin:0; color:#333; font-size:14px; font-family:"微软雅黑"; padding:0 10px; line-height:28px;}
.ri .orderBox li .selectNav .l:hover{ background:#80d7d6; color:#fff;}
/*下拉列表*/

.ri .tableBox {  float:left; padding-bottom:50px;}
.ri .tableBox ul{ float:left; widows:910px; border-left:1px solid #a1e9e8; border-right:1px solid #a1e9e8; color:#333; margin-bottom:10px;}
.ri .tableBox ul li{ float:left; width:910px; height:170px; text-align:center; line-height:121px; font-size:12px; }
.ri .tableBox ul li span{height:121px; border-right:1px solid #a1e9e8; float:left; border-bottom:1px solid #a1e9e8; }
.ri .tableBox ul li .mp{ width:270px; border-right:0; }
.ri .tableBox ul li .pinfo{ width:88px; border-right:0;}
.ri .tableBox ul li .ydr{ width:106px;}
.ri .tableBox ul li .money{width:121px;}
.ri .tableBox ul li .deadline{width:108px;}
.ri .tableBox ul li .ddstatus{width:106px;}
.ri .tableBox ul li .operation{width:107px; border-right:0px;}
.ri .tableBox ul li .orderInf{ width:890px; height:45px; background:#e4f7ff; border-top:1px solid #bce9fd;  border-right:1px solid #bce9fd; line-height:45px; text-align:left; padding-left:20px;}
.ri .tableBox ul li .orderInf i{margin-right:30px;}
.ri .tableBox ul li .orderInf b{margin-right:10px;}

.ri .tableBox ul .topBox .money{ font-size:14px;}
.ri .tableBox ul .topBox{ height:40px;  background:#bce9fd; font-size:14px;}
.ri .tableBox ul .topBox span{ height:40px; background:#a1e9e8; line-height:40px; color:#333;}
.changeTime{ float:left; font-size:14px;}

/*线路样式*/
.mp .img{ float:left; width:90px; height:80px; overflow:hidden; margin:20px 10px 0 15px;}
.mp .img img{ display:block;}
.mp .line{ width:132px; height:60px; float:left;}
.iStyle{ height:25px; line-height:25px; display:block; text-align:left;  margin-top:20px;}
.mp .line_name a{color:#0073b6;}
.mp .line_name a:hover{ text-decoration:underline;}
.mp .line_no{ margin-top:25px;}
.departureCity i{ text-align:center; }
.pinfo a{text-align:center; color:#0073b6;}
.pinfo a:hover{ text-decoration:underline;}
.money i{ margin-top:0; text-align:center;}
.ydr i{margin-top:0; text-align:center;}
.deadline i{margin-top:0; text-align:center;}
.ddstatus i{margin-top:0; text-align:center;}
.operation a{ margin-top:0; text-align:center; color:#0073b6;}
.operation a:hover{ text-decoration:underline;}
/*线路样式*/


/*游客信息弹出层*/
.inf_float{width:545px;height:253px ; background:url(../../images/popup_script.png) 0 0; float:left; position:absolute; z-index:999;  top:200px; left:350px;  margin-left:310px;}
.inf_float .float_title{color:#fff; height:31px !important; display:block; text-align:center; line-height:31px !important;}
.inf_float .float_title a{width:18px;height:18px; float:right; background:url(../../images/ic_script.png) 0 -800px; position:absolute;  margin-left:210px; margin-top:7px; *margin-top:0px;}
.inf_float ul{ float:left; width:531px ; height:215px !important; margin-left:8px; margin-top:1px; border:#dfe8ef !important;}
.inf_float ul .inf_top{ height:43px !important; line-height:43px !important; background:#f8fbff;}
.inf_float ul .inf_top span{ line-height:41px !important; color:#333; height:41px !important;}
.inf_float ul li{ height:57px !important; line-height:57px !important; float:left; width:531px !important; font-size:12px; font-family:"宋体"; color:#666; background:#fff;}  
.inf_float ul li span{ border-bottom:1px solid #dfe8ef !important;border-right:1px solid #dfe8ef !important; float:left; line-height:57px !important; text-align:center; height:56px !important;}
.inf_float ul li .inf_name{ width:95px;}
.inf_float ul li .inf_ID{ width:129px;}
.inf_float ul li .inf_price{ width:97px;}
.inf_float ul li .inf_state{ width:103px;}
.inf_float ul li .inf_Pstate{ width:102px;}
.wait{ color:#ff6600;}  /*待支付*/
/*游客信息弹出层*/
/*取消订单弹出层*/
.qx_fl{width:478px;height:104px; background:url(../../images/popup_script.png) 0 -261px; float:left; position:absolute; z-index:999;   top:200px; left:350px;  margin-left:520px; margin-top:460px;}
.qx_fl a{width:18px;height:18px; float:right; margin-right:20px; margin-top:15px; background:url(../../images/ic_script.png) 0 -828px;}
.qx_fl span{ color:#333; font-size:14px; font-family:"微软雅黑"; margin-left:96px; margin-top:40px; float:left;}
/*取消订单弹出层*/

/*没有订单*/
.ri .noOrder{ width:165px; height:137px; font-size:14px; font-family:"微软雅黑"; color:#98abbc; margin:0 auto; margin-top:220px;}
.ri .noOrder span{margin:0 auto;}
.ri .noOrder .noIcon{width:165px;height:116px; display:block;}
.ri .noOrder .in{ margin-top:15px; float:left;}
/*没有订单*/

/*类型*/
.tableUl{position:relative;}
.tableUl .p_type.dp{width:58px;height:30px;background:url(../../images/icon_dp.png);position:absolute;top:54px;left:-6px;}
.tableUl .p_type.lp{width:58px;height:30px;background:url(../../images/icon_lp.png);position:absolute;top:54px;left:-6px;}
.operation a.btn_pay{display:inline-block;width:76px;height:32px;line-height:32px;font-size:16px;color:#fff;text-decoration:none;background:#ff9900;border-radius:6px;margin:20px 0 5px 16px;}

/*弹框样式*/
.win_bg{width:100%;height:100%;position:fixed;top:0;left:0;background:#000;opacity:0.5;z-index:9999;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);}
.qxdd_box{font-family:'微软雅黑';position:fixed;top:25%;left:50%;margin-left:-194px;width:357px;background:#fff;z-index:10000;box-shadow: 0 0 20px #efefef;}
.qxdd_box .btn_close{position:absolute;top:0px;right:0;width:20px;height:20px;background:url(../../images/regScript_bg.png) 0 -760px;margin:6px;cursor:pointer;}
.qxdd_box h1{background:#00a0e9;text-align:center;font-size:16px;font-weight:normal;color:#fff;padding:5px 0;}
.qxdd_box .qxdd{padding:30px;text-align:center;}
.qxdd_box .qxdd .btn{display:inline-block;width:48px;height:30px;margin:20px 10px 10px 10px;font-size:15px;color:#fff;line-height:30px;background:#00a0e9;cursor:pointer;}

/*已游玩景点弹框*/
.win_box{font-family:'微软雅黑';position:fixed;top:25%;left:50%;margin-left:-194px;width:357px;background:#fff;z-index:10000;box-shadow: 0 0 20px #efefef;}
.win_box .btn_close{position:absolute;top:0px;right:0;width:20px;height:20px;background:url(../../images/regScript_bg.png) 0 -760px;margin:6px;cursor:pointer;}
.win_box h1{background:#00a0e9;text-align:center;font-size:16px;font-weight:normal;color:#fff;padding:5px 0;}
.win_box .scenicList{padding:20px 0 30px 72px;height:208px;overflow-y:auto;}
.win_box .scenicList dl dt{font-size:14px;color:#333;line-height:32px;}
.win_box .scenicList dl dd{font-size:14px;color:#666;}