<#assign contextPath=springMacroRequestContext.getContextPath() />
<#import "/public/frame/default.html" as frame />
<@frame.head "中智票量-会员中心">

<link href="${(contextPath)!}/resources/css/company/company_accountInf.css" rel="stylesheet" />
<script src="${(contextPath)!}/resources/js/company/company_accountInf.js" language="javascript"></script>

</@frame.head>

<@frame.main "default" 1>
<div class="g_bd disb yahei">

<!-- 更换手机号  原手机验证码弹出框 -->
<div class="checkMobileBox">
    <div class="boxMessage">
        <div class="boxTitle floating_p">更换手机号码<a href="javascript:;"></a></div>
        <div class="checkBox color3 h3 yahei fl">
            
        </div>
    </div>
</div>

<!-- 更换手机号 确认弹出框 -->
<div class="successBox">
    <div class="boxMessage">
        <div class="boxTitle floating_p">更换手机号码<a href="javascript:;"></a></div>
        <div class="checkBox color3 h3 yahei fl">
            
        </div>
    </div>
</div>
	<!-- 个人中心顶部 -->
	<@frame.top ></@frame.top>
	
	<div class="g_cont disb ov">
		<@frame.nav "账户资料" 4></@frame.nav>
		<div class="m_cont ov fl">
		<!--右侧呈现页-->
        <div class="ri">
        
		
                <h1 class="rih1 yahei normal">企业账户资料<span>企业用户名：${user.baseInfo.name}</span></h1>
               
       			
       			<form id="form1" action="${contextPath}/company/infoManage/update" method="post" >
       				<input type="hidden" id="suc" value="${succ!}"/>
		        	<input type="hidden" name="userId" value="${(user.authInfo.loginName)!}"/>
		        	<input type="hidden" id="mobile" name="mobile" value="${(user.contactInfo.mobile)!}"/>
		        	 <input type="hidden" id="send" value="0"/>
	       			<input type="hidden" id="cityId" value="${(user.contactInfo.cityId)!}"/>
	       			
	       			<input type="hidden" id="province" name="province" value="${(user.contactInfo.provinceId)!}"/>
	       			<input type="hidden" id="city" name="city" value="${(user.contactInfo.cityId)!}"/>
		        	
                <div class="navsbox"></div>
                <ul class="infBox color3 yahei h3 bold">
                    <li><span class="infTitle">用户名:</span><span style="padding:0 11px;">${(user.authInfo.loginName)!}</span></li>
                    <li><span class="infTitle">企业用户名称:</span><input class="textBox inp input_p" type="text" id="name" name="name" value="${(user.baseInfo.name)!}"></li>
                    <li>
                    <span class="infTitle">邮箱:</span>
                    <input class="textBox inp input_p" type="text" id="email" name="email" value="${(user.contactInfo.email)!}">
                     <#if (user.status.isEmailChecked)==false>
				      <!-- 	<i><a  id="send_email" onclick="sendMail()">验证邮箱</a></i> -->
				       </#if>
                    </li>
                    <li><span class="infTitle">昵称:</span><input class="textBox inp input_p" type="text" id="nickName" name="nickName" value="${(user.baseInfo.nickName)!}"></li>
                    <li><span class="infTitle">所在区域:</span>
                    <span class="select fl normal companySelect" id="optionValue">请选择</span>
                    <ul id="province_id" class="selectNav normal province" for="optionValue" forName="province">
                            <li class="l">请选择</li>
                            <#list provinces as province>
	      					<li class="l" value="${(province.code)!}" id="province_${(province.code)!}" >
	      						<#if user.contactInfo.provinceId=="${(province.code)!}">
								</#if>
	      					${(province.name)!}
	      					</li>
	      				</#list>
	      				<script>
	      					$(function(){
								$("#province_${(user.contactInfo.provinceId)!}").trigger("click");
							});
	      				</script>
                     </ul>
                    <span style="margin-left:10px;" class="select fl normal citys companySelect" id="optionValue1">请选择</span>
                    <ul id="city_id" class="selectNav normal city" style="margin-left:215px;" for="optionValue1" forName="city">
                            <li class="l">请选择</li>
                     </ul>
                    </li>
                    <li>
                    <span class="infTitle">绑定手机:</span>
                    <!--不直接显示手机号 从value值里面取-->
                    <span class="fl" style="margin:0 10px;" id="per_mobile" value="${(user.contactInfo.mobile)!}">${(user.contactInfo.mobile?substring(0,4))!}****${(user.contactInfo.mobile?substring(8))!}</span>
                    <span class="countdown"><a href="javascript:;" class="checkMobi checkMobis hover tc yahei h3 color3 normal fl" >更换手机号码</a></span>
                    <input id="token" type="hidden" name="token"   value=""/>
                    </li>
                </ul>
                <a class="preservation fl yahei" href="#" onclick="reg();">保 存</a>
                </form>
        </div>
        <!--右侧呈现页-->
			

		</div>
	</div>
</div>

</@frame.main> 
<@frame.end "default"> </@frame.end>
<script type="text/javascript">
	$(function () {
		var uId=$.trim($("#suc").val());
		if(uId.length>0){
			alert("修改资料成功");
		}
	});
	function reg(){
	
		var mail =$("#email").val();
		var regmail=/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
		var companyReg=/[\':;*?~`!@#$%^&+={}\[\]\<\>\(\),\.]/;
		var company=$("#name").val();
		if(companyReg.test(company)){
			alert("请正确输入企业名称");
			return false;
		}else if(company.length<4||company.length>20){
			alert("企业名称为4~20位");
			return false;
		}
		var nickName =$("#nickName").val();
		
		//邮箱认证	
	 	if(regmail.test(mail)){
	 		
		}else{
			alert("邮箱格式不正确");
			return false;
		}
		if(nickName.length>6){
			alert("昵称的名称不能超过6位！");
			return false;
		}
		var pro=$("#province").val();
		var city=$("#city").val();
		
	   $('#form1').submit();
	   
	   
	}
</script>


