<#assign contextPath=springMacroRequestContext.getContextPath() />
<#import "/public/frame/default.html" as frame />
<@frame.head "中智票量-会员中心">
<#if (((user.baseInfo.type?c)!0)==1)>
	<link href="${(contextPath)!}/resources/css/personal/personal_changePWD.css" rel="stylesheet" />
<#elseif (((user.baseInfo.type?c)!0)==2)>
	<link href="${(contextPath)!}/resources/css/company/company_changePWD.css" rel="stylesheet" />
</#if>
</@frame.head>

<@frame.main "default" 1>
<div class="g_bd disb yahei">
	<!-- 个人中心顶部 -->
	<@frame.top ></@frame.top>
	
	<div class="g_cont disb ov">
		<@frame.nav "修改密码" 5></@frame.nav>
		<div class="m_cont ov fl">
		
		 <div class="m_cont ov fl">
        <!--右侧呈现页-->
             <div class="ri">
                <h1 class="rih1 yahei normal">修改密码</h1>
                <div class="navsbox"></div>
                <form id="form1" action="${contextPath}/company/passwordManage/update" method="post">
      			 <input type="hidden" id="suc" value="${succ!}"/>
                <div class="changeBox color6 h3 yahei" >
                    <ul>
                        <li><span>原密码:</span><input class="input_p" type="password" maxlength="20" name="oldPwd" id="curp" /><i class="eorr">${error!}</i></li>
                        <li><span>新密码:</span><input class="input_p" type="password" maxlength="20" name="newPwd" id="curpass" placeholder="请输入6-20位字符密码"/><i class="eorr"></i></li>
                        <li><span>重复新密码:</span><input class="input_p" type="password" maxlength="20" id="curpass1" /><i class="eorr"></i></li>
                    </ul>
                    <a class="yes" href="javascript:"  onclick="javascript:$('#form1').submit();" id="s_submit">确 定</a>
                </div>
             </div>
        <!--右侧呈现页-->
		
		
		</div>
				
	</div>
</div>

</@frame.main> 
<@frame.end "default"> </@frame.end>		
<script src="${contextPath}/resources/js/gb.js"></script>
<script type="text/javascript">
	$(function () {
		var uId=$.trim($("#suc").val());
		if(uId.length>0){
			alert("修改密码成功");
		}
	});
	$("#curp").blur(function(){
		var curp = $("#curp").val();
		var curpreg = /^(\w){6,20}$/;
	 	if(curpreg.test(curp)){
			 $(this).next(".eorr").html("");
	  	}else{
			 $(this).next(".eorr").html("请输入6-20位的字母、数字或者下划线");
			 return false;
		}
	});
	$("#curpass").blur(function(){
		var curp = $("#curpass").val();
		var curpreg = /^(\w){6,20}$/;
		if(curpreg.test(curp)){
			  $(this).next(".eorr").html("");
		}else{
			  $(this).next(".eorr").html("请输入6-20位的字母、数字或者下划线_");
			  return false;
		}
	});
 	$("#curpass1").blur(function(){
	 	var curp = $("#curpass").val();
		var curp1 = $("#curpass1").val();
		if(curp === curp1){
			 $(this).next(".eorr").html("");
		}else{
		 	 $(this).next(".eorr").html("密码不一致");
		}
 	});
 	$("#form1").submit(function(){
 		var curpreg = /^(\w){6,20}$/;
	 	var curp = $("#curp").val();
	 	if(curp.length<=0){
	 		
	 		 $("#curp").next(".eorr").html("请输入原密码");
	    	return false;
	    }
	 	if(curpreg.test(curp)){
	 		 $("#curp").next(".eorr").html("");
	  	}else{
	  		 $("#curp").next(".eorr").html("请输入6-20位的字母、数字或者下划线_");
			 return false;
		}
		var curpass = $("#curpass").val();
		
		
		if(curpass.length<=0){
			 $("#curpass").next(".eorr").html("请输入新密码");
	    	return false;
	    }
		if(curpreg.test(curpass)){
			 $("#curpass").next(".eorr").html("");
		}else{
			 $("#curpass").next(".eorr").html("请输入6-20位的字母、数字或者下划线_");
			 return false;
		}
		var curp1 = $("#curpass1").val();
	    if(curpass === curp1){
	    	 $("#curpass1").next(".eorr").html("");
		}else{
			 $("#curpass1").next(".eorr").html("密码不一致");
			 return false;
		} 
	    
	    
	 	return true;
	 });
</script>				
