<#assign contextPath=springMacroRequestContext.getContextPath() />
<#import "/public/frame/default.html" as frame />
<@frame.head "中智票量-线路订单创建成功">
<script type="text/javascript" src="${contextPath}/resources/js/jquery-1.11.1.min.js" ></script>
<script type="text/javascript"  src="${(contextPath)!}/resources/js/common.js"></script>
<script type="text/javascript"  src="${contextPath}/resources/js/jquery.min.js"></script>
<link href="${(contextPath)!}/resources/css/common.css"  rel="stylesheet"/>
<link href="${(contextPath)!}/resources/css/reseve.css" rel="stylesheet" />
<link href="${(contextPath)!}/resources/css/pay.css" rel="stylesheet" />
</@frame.head>
<@frame.main "default" 4>
<body>
<!--导航-->
    <!--快速回顶部-->    
    <div class="g_totop bg_cmd curp">
    </div>
<!--头部-->

<!--内容-->
<link href="css/reseve.css" rel="stylesheet" />
<link href="css/pay.css" rel="stylesheet" />
<div class="g_body">
<!--支付进程-->
<div class="g_step disb ov">
	<ul>
    	<li class="m_move">
        	<h3 class="h3Complete">填写订单</h3>
            <span class="iconComplete"></span>
      </li>
    	<li class="m_move m_move_last">
        	<h3 class="h3">预订成功</h3>
            <span class="icon">2</span>
      </li>
  </ul>
</div>
<!--支付进程-->
<div class="success">
    <div class="balloon">
        <div class="confirm"></div>
    </div>
    <div class="information yahei">
        <span>支付成功</span>
        <span class="order yahei">订单号${(dealerOrderNo)!}</span>
        <span class="route">${(lineName)!}</span>
    </div>
</div>
</div>
<!--内容-->
<!--页脚-->
 <@frame.end "default"> </@frame.end>
</@frame.main>
</body>
</html>
