<#assign contextPath=springMacroRequestContext.getContextPath() />
<style type="text/css">
.searchContent td{text-align: left}
</style>
<div class="pageHeader">
	
	<form id="pagerForm" rel="pagerForm" onsubmit="return navTabSearch(this);"
		action="${contextPath}/payRecord/line/list" method="get">
		
		<input type="hidden" name="pageNum" value="${pagination.pageNo?c}" />
		<input type="hidden" name="numPerPage" value="${pagination.pageSize?c}" />
		<div class="searchBar">
			<table class="searchContent"
				<tr>
					<td>
						平台订单号：
					</td>
					<td>
						<input name="platOrderNo" value="${(linePayRecordQO.platOrderNo)!''}"/>
					</td>
					
					<td>
						经销商订单号：
					</td>
					<td>
						<input name="dealerOrderNo" value="${(linePayRecordQO.dealerOrderNo)!''}"/>
					</td>
					
					<td>
						供应商订单号订单号：
					</td>
					<td>
						<input name="supplierNo" value="${(linePayRecordQO.supplier)!''}"/>
					</td>
					
					</tr>
					<tr>
					<td>订单状态：</td>
					<td>	
                          <select name="orderStatus" id="orderStatus">
							<option value="">全部状态</option>
							<#if statusMap??>
		                    <#list statusMap?keys as itemKey>
		                       <option value="${itemKey}" <#if itemKey == linePayRecordQO.orderStatus>selected="selected" </#if>>
		                        ${statusMap[itemKey]}</option>
		                   </#list>
		                   </#if>
						</select>
                      	
					</td>
					<td>支付状态：</td>
					<td>
						
                          <select name="payStatus" id="payStatus">
							<option value="">全部状态</option>
							<#if payStatusMap??>
		                    <#list payStatusMap?keys as itemKey>
		                       <option value="${itemKey}" <#if itemKey == linePayRecordQO.payStatus>selected="selected" </#if>>
		                        ${payStatusMap[itemKey]}</option>
		                   </#list>
		                   </#if>
						</select>
                      	
					</td>
					<td>
						订购人：
					</td>
					<td>
						<input type="text" name="booker" value="${(linePayRecordQO.booker)!''}" />
					</td>
					</tr>
	               
				<tr>
					
					<td>
						来源项目：
					</td>
					<td>
					 <select name="fromProjectCode" id="fromProjectCode">
						  <option value="">全部来源项目</option>
							<#if PAY_RECORD_PROJECT_TYPE_MAP??>
		                    <#list PAY_RECORD_PROJECT_TYPE_MAP?keys as itemKey>
		                       <option value="${itemKey}" <#if itemKey == linePayRecordQO.fromProjectCode>selected="selected" </#if>>
		                        ${PAY_RECORD_PROJECT_TYPE_MAP[itemKey]}</option>
		                   </#list>
		                   </#if>
						</select>
					</td>
					<td>
						支付时间：
					</td>
					<td>
						<td>
						<input type="text" readonly="readonly" name="beginTimeStr" value="${(linePayRecordQO.payDateFrom?string('yyyy-MM-dd'))!''}" class="date"/>
						至
						<input type="text" readonly="readonly" name="endTimeStr" value="${(linePayRecordQO.payDateTo?string('yyyy-MM-dd'))!''}" class="date"/></td>
					</td>
					
				</tr>
				<tr>
					<td>记录类型：</td>
					<td>
						
                       <select name="recordType" id="recordType">
						  <option value="">全部记录类型</option>
							<#if PAY_RECORD_TYPE_MAP??>
		                    <#list PAY_RECORD_TYPE_MAP?keys as itemKey>
		                       <option value="${itemKey}"<#if itemKey == linePayRecordQO.recordType>selected="selected" </#if>>
		                        ${PAY_RECORD_TYPE_MAP[itemKey]}</option>
		                   </#list>
		                   </#if>
						</select>
                      	
					</td>
					<td>
						支付流水号：
					</td>
					<td>
						<input type="text" name="paySerialNumber" value="${(linePayRecordQO.paySerialNumber)!''}" />
					</td>
					
				</tr>
			</table>
			<div class="subBar">
				<ul>
					<li><div class="buttonActive">
							<div class="buttonContent">
								<button type="submit">查询</button>
							</div>
						</div>
					</li>
					<li><div class="buttonActive">
							<div class="buttonContent">
								<button type="button"><a target="dialog" href="${contextPath}/payRecord/line/toExport">
								导出
							</a></button>
							</div>
							
						</div>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>
<div class="pageContent" id="table_c">
	<div class="panelBar">
		<ul class="toolBar">
			<li class="">
               <a width="700" height="800" rel="line" class="add" href="${contextPath}/payRecord/line/toAdd" target="dialog" maxable="false" resizable="false"><span>线路补单</span></a>
           </li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="210" id="table_caiwu">
		<thead>
			<tr>
				<!-- <th width="22"><input type="checkbox" group="ids"
					class="checkboxCtrl"> -->
				</th>
 				<th width = "30">来源项目标识</th>
<!--  				<th width = "30">来源项目IP</th> -->
				<th width="40">平台订单号</th>
				<th width="40">经销商订单号</th>
				<th width = "30">供应商订单号</th>
<!-- 				<th width="30">订购人</th> -->
				<th width = "60">游玩人</th>
				
				<th width = "60">成人人数</th>
				<th width = "60">儿童人数</th>
<!-- 				<th width = "60">成人销售单价</th> -->
<!-- 				<th width = "60">儿童销售单价</th> -->
				<th width = "60">销售总价</th>
				<th width = "60">销售定金</th>
				<th width = "60">发团日期</th>
				
<!-- 				<th width = "90">出发地</th> -->
<!-- 				<th width = "90">目的地</th> -->
<!-- 				<th width = "90">创建时间</th> -->
				<th width = "90">支付方式</th>
				<th width = "90">付款帐号</th>
				<th width = "90">支付流水号</th>
				<th width = "90">支付时间</th>
				<th width = "90">订单总金额</th>
				<th width = "90">收入金额</th>
				<th width = "90">支出金额</th>
				<th width = "90">返点/折扣</th>
				<th width = "90">佣金</th>
				<th width = "90">订单状态</th>
				<th width = "90">支付状态</th>
				<th width = "90">记录类型</th>
				<th width = "90">备注</th>
				<th width = "90">操作</th>
			</tr>
		</thead>
		<tbody>
			<#list pagination.list as linePayRecordDTO>
				<tr height="60px">
				<!-- <td><input name="ids" value="" type="checkbox"></td> -->
				<td>
				    <#list PAY_RECORD_PROJECT_TYPE_MAP?keys as itemKey>
				         <#if linePayRecordDTO.fromProjectCode ??>
			                 <#if itemKey == linePayRecordDTO.fromProjectCode >
			                        ${PAY_RECORD_PROJECT_TYPE_MAP[itemKey]}
			                  </#if>
		                  </#if>
		            </#list>
				   
				 </td>
<!-- 				<td>${(linePayRecordDTO.fromProjectIP)!''}</td> -->
				<td>${(linePayRecordDTO.platOrderNo)!''}</td>				
				<td>${(linePayRecordDTO.dealerOrderNo)!''}</td>
				<td>${(linePayRecordDTO.supplierNo)!''}</td>
<!-- 				<td> -->
<!-- 					${(linePayRecordDTO.booker)!''} -->
<!-- 				</td> -->
				<td>${(linePayRecordDTO.passengers)!''}</td>
				
				<td>
				    <#if linePayRecordDTO.adultNo ??>
				      ${(linePayRecordDTO.adultNo)?c}
				    </#if>
				</td>
				<td>
				 <#if linePayRecordDTO.childNo ??>
					${(linePayRecordDTO.childNo)?c}
			      </#if>
				</td>
<!-- 				<td> -->
<!-- 				     <#if linePayRecordDTO.adultUnitPrice ??> -->
<!-- 					   ${(linePayRecordDTO.adultUnitPrice)?c} -->
<!-- 					</#if> -->
<!-- 				</td> -->
<!-- 				<td> -->
<!-- 				    <#if linePayRecordDTO.childUnitPrice ??> -->
<!-- 					${(linePayRecordDTO.childUnitPrice)?c} -->
<!-- 				  </#if> -->
<!-- 				</td> -->
				<td>
				    <#if linePayRecordDTO.salePrice ??>
					${(linePayRecordDTO.salePrice)?c}
					  </#if>
				</td>
				<td>
				     <#if linePayRecordDTO.bargainMoney ??>
					   ${(linePayRecordDTO.bargainMoney)?c}
					  </#if>
				</td>
				<td>
				 <#if linePayRecordDTO.travelDate ??>
				    ${(linePayRecordDTO.travelDate)?string("yyyy-MM-dd HH:mm:ss")}
				  </#if>
				</td>
<!-- 			     <td> -->
<!-- 					${(linePayRecordDTO.startCity)!''} -->
<!-- 				</td> -->
<!-- 				<td> -->
<!-- 					${(linePayRecordDTO.destCity)!''} -->
<!-- 				</td> -->
<!-- 				<td> -->
<!-- 				    <#if linePayRecordDTO.createTime ??> -->
<!-- 					   ${(linePayRecordDTO.createTime)?string("yyyy-MM-dd HH:mm:ss")} -->
<!-- 					</#if> -->
<!-- 				</td> -->
				<td>
				     <#list PAYMENT_TYPE?keys as itemKey>
				         <#if linePayRecordDTO.payPlatform ??>
			                 <#if itemKey == linePayRecordDTO.payPlatform >
			                        ${PAYMENT_TYPE[itemKey]}
			                  </#if>
		                  </#if>
		            </#list>
				</td>
				<td>
					${(linePayRecordDTO.payAccountNo)!''}
				</td>
				<td>
					${(linePayRecordDTO.paySerialNumber)!''}
				</td>
				<td>
				    <#if linePayRecordDTO.payTime ??>
					  ${(linePayRecordDTO.payTime)?string("yyyy-MM-dd HH:mm:ss")}
					</#if>
				</td>
				
				<td>
				    <#if linePayRecordDTO.orderPrice ??>
					  ${(linePayRecordDTO.orderPrice)?string("0.00")}
					</#if>
				</td>
				
				<td>
				    <#if linePayRecordDTO.incomeMoney ??>
					${(linePayRecordDTO.incomeMoney)?string('0.00')}
					</#if>
				</td>
				<td>
				    <#if linePayRecordDTO.payMoney ??>
					  ${(linePayRecordDTO.payMoney)?string('0.00')}
					</#if>
				</td>
				<td>
				    <#if linePayRecordDTO.rebate ??>
					  ${(linePayRecordDTO.rebate)?string('0.00')}
					</#if>
				</td>
				<td>
				    <#if linePayRecordDTO.brokerage ??>
					  ${(linePayRecordDTO.brokerage)?string('0.00')}
					</#if>
				</td>
				<td>
                        <#if statusMap??>
                    <#list statusMap?keys as itemKey>
                       <#if itemKey == linePayRecordDTO.orderStatus>
                          ${statusMap[itemKey]}
                        </#if>
                   </#list>
                   </#if>
				</td>
				<td>
					
                      <#if payStatusMap??>
		                    <#list payStatusMap?keys as itemKey>
		                      <#if itemKey == linePayRecordDTO.payStatus>
		                          ${payStatusMap[itemKey]}
		                      </#if>
		                   </#list>
		              </#if>
				</td>
				
				<td>
				     <#list PAY_RECORD_TYPE_MAP?keys as itemKey>
				         <#if linePayRecordDTO.recordType ??>
			                 <#if itemKey == linePayRecordDTO.recordType >
			                        ${PAY_RECORD_TYPE_MAP[itemKey]}
			                  </#if>
		                  </#if>
		            </#list>
				</td>
				<td>
					${(linePayRecordDTO.remarks)!''}
				</td>
				<td>
					<a target="dialog" href="${contextPath}/payRecord/line/toChange?id=${linePayRecordDTO.id!''}" width="600" height="800" style="color: blue">
						修改记录
					</a>
				</td>
			</tr>
			</#list>
			
		</tbody>
	</table>
	<#include "/public/pagination/pagination.html">
</div>