<#assign contextPath=springMacroRequestContext.getContextPath() />

<style>
	.jq{background:#eee;font-weight:600;}
	.jq span{margin-left:5px;}
	
	.dealerLink {cursor: pointer;}
	.dealerLink.select{font-weight:600;}
	
	#dealerDatePriceInfo td,#dealerDatePriceInfo th{border-left:1px solid #999;border-bottom:1px solid #999;width:90px;padding:10px 0;text-align:center}
	#dealerDatePriceInfo table{border-right:1px solid #999;border-top:1px solid #999;width:800px;}
	#dealerDatePriceInfo th{background:#666;color:#fff;}
	#dealerDatePriceInfo input{width: 80%;}
	#dealerDatePriceInfo h3{font-size: large;}
	#dealerDatePriceInfo .other-month{background:#eee;}
	#dealerDatePriceInfo .other-month .day{color: gray;}
</style>

<script type="text/javascript">
$(function() {
	var calendarList = ${calendarList};
	var calendarMap = {};
	var currentCalendar = {};
	var date = new Date();
	var y = date.getFullYear();
	var m = date.getMonth();
	
	var html = '';
	for(var idx in calendarList){
		var c = calendarList[idx];
		var linkclass = 'dealerLink';
		calendarMap[c.dealerId] = c;
		if(c.dealerId=='standard'){
			linkclass+=' select';
		}
		var link='<a herf="javascript:;" class="'+linkclass+'" dealerId="'+c.dealerId+'">'+c.dealerName+'</a>&nbsp;|';
		if(c.dealerId=='standard'){
			html=link+html;
			currentCalendar = c;
		}
		else
			html+=link;
	}
	$('#dealerInfo').html(html);
	
	// 刷新显示价格日历
	var show = function(){
		if(calendarList.length==0){
			$('#dealerDatePriceInfo').html('未设置价格日历');
			$('#infoPreCalendar').remove();
			$('#infoNextCalendar').remove();
			return;
		}
		$('#dealerDatePriceInfo').calendarWidget({month:m,year:y,cid:'info_',readonly:true});
		var priceArray = currentCalendar.prices;
		var priceMap = {};
		for(var idx in priceArray)
			priceMap[priceArray[idx].date] = priceArray[idx].price;
		$('.date-price').each(function(){
			var thisid = $(this).attr('id');
			if(thisid.indexOf('info_')!=-1){
				$(this).val(priceMap[thisid.replace('info_','')]);
			}
		});
	};
	
	show();
	
	// 上个月
	$('#infoPreCalendar').click(function(){
		m--;
		m=m<=-1?11:m;
		y=m==11?y-1:y;
		show();
	});
	
	// 下个月
	$('#infoNextCalendar').click(function(){
		m++;
		m=m>=12?0:m;
		y=m==0?y+1:y;
		show();
	});
	
	$('.dealerLink').click(function(){
		var dealerId = $(this).attr('dealerId');
		currentCalendar = calendarMap[dealerId];
		show();
		$('.dealerLink').each(function(){
			$(this).removeClass('select');
		});
		$(this).addClass('select');
	});
});
</script>

<div class="pageContent">
<div class="pageFormContent" layoutH="58">
	
	<#if ticketPolicy?? && !ticketPolicy.status.removed>
	
	<div>
		<!-- 景区基本信息   -->
		<div class="jq unit" style="padding:8px 10px;margin-bottom:10px;"><span>基本信息</span></div>
		
		<div class="unit">
			<label>产品编号<span style="color: red">*</span>：</label>
			<p>${ticketPolicy.baseInfo.key}</p>
		</div>
		
		<div class="unit">
			<label>单票名称<span style="color: red">*</span>：</label>
			<p>${ticketPolicy.baseInfo.name}</p>
		</div>
		
		<div class="unit">
				<label>单票介绍<span style="color: red">*</span>：</label>
				<textarea id="intro" class="editor" name="intro" rows="15" cols="90" maxlength="1000"
							tools="Fullscreen,Source,|,SelectAll,Cut,Copy,Pastetext,Blocktag,|,Fontface,FontSize,Bold,
							Italic,Underline,Strikethrough,FontColor,BackColor,|,Removeformat,Align,List,Outdent,Indent,
							Link,Unlink,Hr,Table">
					${ticketPolicy.baseInfo.intro}
				</textarea>
		</div>
		
		<div class="unit">
			<label>预定须知<span style="color: red">*</span>：</label>
			<textarea id="notice" class="editor" name="notice" rows="15" cols="90" maxlength="1000"
							tools="Fullscreen,Source,|,SelectAll,Cut,Copy,Pastetext,Blocktag,|,Fontface,FontSize,Bold,
							Italic,Underline,Strikethrough,FontColor,BackColor,|,Removeformat,Align,List,Outdent,Indent,
							Link,Unlink,Hr,Table">
					${ticketPolicy.baseInfo.notice}
				</textarea>
		</div>
		
		<div class="unit">
			<label>单票协议：</label>
			<textarea id="saleAgreement" class="editor" name="saleAgreement" rows="15" cols="90" maxlength="1000" data-meg="售卖协议"
					  tools="Fullscreen,Source,|,SelectAll,Cut,Copy,Pastetext,Blocktag,|,Fontface,FontSize,Bold,Italic,Underline,
					         Strikethrough,FontColor,BackColor,|,Removeformat,Align,List,Outdent,Indent,Link,Unlink,Hr,Table">
				${ticketPolicy.baseInfo.saleAgreement}
			</textarea>
		</div>
		
		<!-- 价格、库存与有效期   -->
		<div class="jq unit" style="padding:8px 10px;margin-top:20px;margin-bottom:10px;"><span>价格、库存与有效期</span></div>
		
		<div class="unit">
			<label>市场价格<span style="color: red">*</span>：</label>
			<input class="isSpec" maxlength="9" size="8" value="${(ticketPolicy.baseInfo.rackRate)?c}" readonly="readonly"/>&nbsp;元
		</div>
		
		<div class="unit">
			<label>库&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;存<span style="color: red">*</span>：</label>
			<#if ticketPolicy.sellInfo.remainingQty==-1>
				<input class="isSpec" maxlength="5" size="8" value="无限" readonly="readonly"/>&nbsp;张
			<#else>
				<input class="isSpec" maxlength="5" size="8" value="${(ticketPolicy.sellInfo.remainingQty)?c}" readonly="readonly"/>&nbsp;张
			</#if>
		</div>
		
		<div class="unit">
			<label>退票规则<span style="color: red">*</span>：</label>
			<p>
				<#if ticketPolicy.sellInfo.returnRule==1 >
					不得退票
				<#elseif ticketPolicy.sellInfo.returnRule==3 >
					无条件退票收取${ticketPolicy.sellInfo.returnCost}%手续费
				<#elseif ticketPolicy.sellInfo.returnRule==4 >
					无条件退票收取${ticketPolicy.sellInfo.returnCost}元手续费
				</#if>
			</p>
		</div>
		
		<div class="unit">
			<label>过期退：</label>
			<input type="checkBox" name="autoMaticRefund" disabled="disabled" <#if ticketPolicy.sellInfo.autoMaticRefund == true>checked="checked"</#if> />&nbsp;支持
		</div>
		
		<div class="unit">
			<label>连续游玩天数<span style="color: red">*</span>：</label>
			<input maxlength="3" size="5" class="addSpan" value="${ticketPolicy.useInfo.validDays}" disabled="disabled"/>&nbsp;天
		</div>
		
	</div>

	<#else>
		该门票已被删除
	</#if>
</div>
</div>