<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hg.demo.member.service.dao.mybatis.ProductMyBatisDao">

	<select id="sumReserveInfo"  resultType="Long">
	 select sum(o.count) s
	 from hgfx_order o 
	where o.MER_ID = #{distributorId} and o.status=4 
	<if test="beginDate!=null">
	   and o.SUBMIT_TIME <![CDATA[>= #{beginDate,jdbcType=DATE}]]>
	</if>
	<if test="endDate!=null">
	 and o.SUBMIT_TIME <![CDATA[<= #{endDate,jdbcType=DATE}]]>
	</if>
	</select>

</mapper>