<#assign contextPath=springMacroRequestContext.getContextPath() />
<div class="pageContent">
	<form method="post" enctype="multipart/form-data" action="${contextPath}/traveline/order/cancle" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<div class="pageFormContent" layoutH="58">
		    <input type="hidden" value="${id}" name="lineOrderID"/> 
			<div class="unit">
			   <label>游客</label>
			   <#if (travellerList?size > 0)>
			   	 <#list travellerList as traveler>
			   	  <input type="checkbox" value="${traveler.id}" name="lineOrderTravelers"/> ${traveler.name}
			     </#list>
			   <#else>
			                 没有可以更改结账状态的游客
			   </#if>
			  
			</div>
			
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit" onclick="">确认</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
</div>
<script type="text/javascript">
</script>
