.bottom-box{width:100%;height:80px;text-align:center;background-color:#f4f8fb;  margin-top: 180px;color:#5f748f;font-size:12px; }
.bottom-links{width:100%;  overflow: hidden;}
.right-links{float:right;overflow:hidden;  margin: 22px 22px 0 0;}
.right-links span{  border-radius: 3px;text-align:center;border:1px solid #b2b2b2;float:left;display:block;font-size:12px;color:#454545;cursor:pointer;}
.item-link,.prev,.next{  margin-right: 6px;width:28px;line-height:26px;}
.first,.last{width:50px;line-height:26px;}
.first{  margin-right: 16px;}
.right-links span.active{background-color:#0097eb;color:#fff;}