~$*.docx
~$*.doc
~$*.xls
~$*.xlsx
*.iml
**/.idea

**/.settings
**/.classpath
**/.project
**/target
**/*.log
**/MANIFEST.MF
**/.myeclipse
.settings
.project

*/.settings
*/.classpath
*/.project
*/target

/hsl-web/bin
/hsl-admin/bin
/hsl-api-client/bin
/hsl-application/bin
/hsl-domain/bin
/hsl-h5/bin
/hsl-pojo/bin
/hsl-spi/bin
