@charset "UTF-8";


/*日历样式开始*/
body{background: #fff;}
.g_date .m_btn{width:100%;height:44px;line-height:44px;text-align:center;color:#fff;font-size:18px;background:#f8b425;margin-top:20px;position:fixed;bottom:0px;left:0px;}
.dateMobile{padding:0px 0px 10px 0px;min-width:300px;padding-bottom: 150px;}
.dateMobile table{background:#fff;}
.dateMobile *{font-family:SimHei,黑体,Arail;}
.dateMobile .tt{text-align:center;background:#fff;height:36px;color:#333333;}
.dateMobile .tt th{text-align:center;color:#98d0ff;}
.dateMobile .fullYear th{line-height:50px;text-align:center;color:#00a3ff;font-size: 20px;}
.dateMobile td{height:36px;font-size:14px;color:#333;font-family:SimHei,黑体,Arail;background:#f9f9f9;opacity: 0}
.dateMobile td.can{background:#fff;opacity: 1}
.dateMobile td.show{background:#fff;opacity: 1}
.dateMobile td div{height:36px;text-align:center;position:relative;color:#b0b0b0;}
.dateMobile td.can div{color:#000000;}
.dateMobile td.on{background:#46b9ff;}
.dateMobile td.on div{}
.dateMobile td div span.money{ position:absolute;top:18px;left:0px;color:#b0b0b0;font-size:10px;text-align: center;width: 100%;display: block;}
.dateMobile td.on div span.money{ color:#fff;}

/*日历样式结束*/

.fixedBtn{height: 63px;width: 100%;position:fixed;bottom:0px;left:0px;}
.fixedBtn .next-btn{height: 63px;line-height: 63px;width: 135px;color:#fff;text-align: center;background: #ffcb3a;font-size:20px; }
.fixedBtn .leftBtn{-webkit-box-flex:1;box-flex:1;background: #46b9ff;line-height: 63px;padding-top:8px;color:#fff;text-align: center;text-align: center;font-size:20px;}
.fixedBtn .leftBtn span{line-height: 24px;font-size:15px;display: block;}

.numBox{height: 92px;background: #f5f5f5;box-shadow:0px 1px 7px #737373;position:fixed;bottom:63px;left:0px;width: 100%;}
.numBox .person{width: 50%;
    float: left;display: block;height: 92px;text-align: center;color:#46b9ff;}
.numChange{height:58px;font-size: 15px;line-height: 58px;}
.tool{display: inline-block;}
.price{font-size:12px;}
.tool span{color:#fff;height:25px;    text-align: center;
    line-height: 25px;
    font-size: 24px;}
.tool .left{width:25px;display: inline-block;border-radius:20px 0px 0px 20px;background: #51befe;color:#fff;vertical-align: middle;}
.tool .right{width:25px;display: inline-block;border-radius:0px 20px 20px 0px;background: #51befe;color:#fff;vertical-align: middle;}
.tool .num{width:41px;text-align: center;border:1px solid #70c9fe;border-top:0px;border-bottom:0px;line-height: 25px;
    font-size:14px;background: #51befe;display: inline-block;vertical-align: middle;}


/*弹出提示框*/
.g_msg{position:fixed;left:0px;top:0px;width:135px;height:120px;z-index:100000;display:none;}
.g_msg span{color:#fff;font-size:15px;z-index:11;position:relative;width:100%;margin-top:75px;text-align:center;display:block}
.g_msg:after{content:"";background:#1c1c1c;width:135px;height:120px;opacity:0.8;border-radius:15px;position:absolute;left:0px;top:0px;}
.g_msg:before{content:"";background:url("../images/msg.png");background-size:cover;width:42px;height:42px;position:absolute;left:45px;top:20px;z-index:10}
