body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:230px;
  top:150px;
  width:150px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:220px;
  top:176px;
  width:1070px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1053px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1070px;
  height:1px;
}
#u3 {
  position:absolute;
  left:230px;
  top:224px;
  width:71px;
  height:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:310px;
  top:220px;
  width:370px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6 {
  position:absolute;
  left:415px;
  top:907px;
  width:100px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u7 {
  position:absolute;
  left:535px;
  top:907px;
  width:100px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u8 {
  position:absolute;
  left:230px;
  top:394px;
  width:80px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:230px;
  top:478px;
  width:71px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:310px;
  top:390px;
  width:260px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u12_ann {
  position:absolute;
  left:563px;
  top:386px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:310px;
  top:474px;
  width:260px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u13_ann {
  position:absolute;
  left:563px;
  top:470px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:590px;
  top:395px;
  width:440px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:310px;
  top:509px;
  width:430px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:230px;
  top:672px;
  width:80px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:230px;
  top:342px;
  width:80px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:310px;
  top:338px;
  width:120px;
  height:22px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u23 {
  position:absolute;
  left:230px;
  top:307px;
  width:80px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:90px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:90px;
}
#u27 {
  position:absolute;
  left:2px;
  top:37px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1000px;
  top:20px;
  width:80px;
  height:16px;
  color:#0099FF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:950px;
  top:20px;
  width:50px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:950px;
  top:54px;
  width:270px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:10px;
  top:10px;
  width:180px;
  height:60px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
}
#u35 {
  position:absolute;
  left:2px;
  top:22px;
  width:176px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1200px;
  top:54px;
  width:80px;
  height:16px;
  color:#0099FF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1080px;
  top:20px;
  width:80px;
  height:16px;
  color:#0099FF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:20px;
  top:127px;
  width:1230px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:1213px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1230px;
  height:1px;
}
#u41 {
  position:absolute;
  left:30px;
  top:101px;
  width:100px;
  height:30px;
  font-size:14px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u41_img.selected {
}
#u41.selected {
}
#u42 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:148px;
  top:101px;
  width:100px;
  height:30px;
  font-size:14px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u43_img.selected {
}
#u43.selected {
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:270px;
  top:101px;
  width:100px;
  height:30px;
  font-size:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u45_img.selected {
}
#u45.selected {
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:20px;
  top:146px;
  width:140px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u48_img.selected {
}
#u48.selected {
}
#u49 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:20px;
  top:196px;
  width:140px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u50_img.selected {
}
#u50.selected {
}
#u51 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:20px;
  top:247px;
  width:140px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u52_img.selected {
}
#u52.selected {
}
#u53 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:310px;
  top:304px;
  width:120px;
  height:22px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u55 {
  position:absolute;
  left:230px;
  top:526px;
  width:680px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:663px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:680px;
  height:1px;
}
#u56 {
  position:absolute;
  left:230px;
  top:370px;
  width:690px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:673px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:690px;
  height:1px;
}
#u57 {
  position:absolute;
  left:230px;
  top:579px;
  width:80px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:310px;
  top:575px;
  width:120px;
  height:22px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u60 {
  position:absolute;
  left:230px;
  top:613px;
  width:110px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:230px;
  top:269px;
  width:110px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:332px;
  top:265px;
  width:180px;
  height:25px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u65 {
  position:absolute;
  left:640px;
  top:272px;
  width:21px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:4px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:21px;
  height:1px;
}
#u66 {
  position:absolute;
  left:230px;
  top:643px;
  width:680px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:663px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:680px;
  height:1px;
}
#u67 {
  position:absolute;
  left:690px;
  top:224px;
  width:71px;
  height:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:770px;
  top:220px;
  width:70px;
  height:25px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u70 {
  position:absolute;
  left:850px;
  top:224px;
  width:189px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:522px;
  top:265px;
  width:118px;
  height:25px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u72_ann {
  position:absolute;
  left:633px;
  top:261px;
  width:1px;
  height:1px;
}
#u73 {
  position:absolute;
  left:661px;
  top:265px;
  width:180px;
  height:25px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u74 {
  position:absolute;
  left:851px;
  top:265px;
  width:118px;
  height:25px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u74_ann {
  position:absolute;
  left:962px;
  top:261px;
  width:1px;
  height:1px;
}
#u75 {
  position:absolute;
  left:446px;
  top:336px;
  visibility:hidden;
}
#u75_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u75_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u76 {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:18px;
  top:0px;
  width:83px;
  height:25px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u79 {
  position:absolute;
  left:111px;
  top:4px;
  width:14px;
  height:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:580px;
  top:478px;
  width:55px;
  height:16px;
}
#u82 {
  position:absolute;
  left:16px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u81_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u81_ann {
  position:absolute;
  left:628px;
  top:474px;
  width:1px;
  height:1px;
}
#u83 {
  position:absolute;
  left:440px;
  top:572px;
  visibility:hidden;
}
#u83_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u83_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u84 {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:16px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:18px;
  top:0px;
  width:83px;
  height:25px;
}
#u86_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u87 {
  position:absolute;
  left:111px;
  top:4px;
  width:14px;
  height:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:332px;
  top:608px;
  width:180px;
  height:25px;
}
#u89_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u90 {
  position:absolute;
  left:640px;
  top:615px;
  width:21px;
  height:10px;
}
#u90_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_end {
  position:absolute;
  left:4px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_line {
  position:absolute;
  left:0px;
  top:5px;
  width:21px;
  height:1px;
}
#u91 {
  position:absolute;
  left:522px;
  top:608px;
  width:118px;
  height:25px;
}
#u91_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u91_ann {
  position:absolute;
  left:633px;
  top:604px;
  width:1px;
  height:1px;
}
#u92 {
  position:absolute;
  left:661px;
  top:608px;
  width:180px;
  height:25px;
}
#u92_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u93 {
  position:absolute;
  left:851px;
  top:608px;
  width:118px;
  height:25px;
}
#u93_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u93_ann {
  position:absolute;
  left:962px;
  top:604px;
  width:1px;
  height:1px;
}
#u94 {
  position:absolute;
  left:230px;
  top:194px;
  width:88px;
  height:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:318px;
  top:189px;
  width:52px;
  height:25px;
}
#u96_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u96_ann {
  position:absolute;
  left:363px;
  top:185px;
  width:1px;
  height:1px;
}
#u97 {
  position:absolute;
  left:310px;
  top:702px;
  width:461px;
  height:160px;
}
#u97_input {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:160px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u97_ann {
  position:absolute;
  left:764px;
  top:698px;
  width:1px;
  height:1px;
}
#u98 {
  position:absolute;
  left:310px;
  top:672px;
  width:460px;
  height:30px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:30px;
}
#u99 {
  position:absolute;
  left:2px;
  top:7px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:370px;
  top:676px;
  width:22px;
  height:22px;
  font-family:'Georgia Negreta', 'Georgia';
  font-weight:700;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u100_img.selected {
}
#u100.selected {
}
#u100_img.mouseOver {
}
#u100.mouseOver {
}
#u100_img.disabled {
}
#u100.disabled {
}
#u101 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:440px;
  top:679px;
  width:10px;
  height:16px;
}
#u102_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u102_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u102_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u103 {
  position:absolute;
  left:441px;
  top:679px;
  width:10px;
  height:16px;
}
#u103_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u103_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u103_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u104 {
  position:absolute;
  left:394px;
  top:676px;
  width:22px;
  height:22px;
  font-family:'Georgia Negreta cursiva', 'Georgia';
  font-weight:700;
  font-style:italic;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u104_img.selected {
}
#u104.selected {
}
#u104_img.mouseOver {
}
#u104.mouseOver {
}
#u104_img.disabled {
}
#u104.disabled {
}
#u105 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:418px;
  top:676px;
  width:22px;
  height:22px;
  font-family:'Georgia Negreta', 'Georgia';
  font-weight:700;
  text-decoration:underline;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u106_img.selected {
}
#u106.selected {
}
#u106_img.mouseOver {
}
#u106.mouseOver {
}
#u106_img.disabled {
}
#u106.disabled {
}
#u107 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:450px;
  top:676px;
  width:23px;
  height:23px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u108_img.selected {
}
#u108.selected {
}
#u108_img.mouseOver {
}
#u108.mouseOver {
}
#u109 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:475px;
  top:676px;
  width:23px;
  height:23px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u110_img.selected {
}
#u110.selected {
}
#u110_img.mouseOver {
}
#u110.mouseOver {
}
#u111 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:498px;
  top:679px;
  width:10px;
  height:16px;
}
#u112_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u112_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u112_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u113 {
  position:absolute;
  left:499px;
  top:679px;
  width:10px;
  height:16px;
}
#u113_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u113_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u113_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u114 {
  position:absolute;
  left:508px;
  top:676px;
  width:23px;
  height:23px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u114_img.selected {
}
#u114.selected {
}
#u114_img.mouseOver {
}
#u114.mouseOver {
}
#u114_img.disabled {
}
#u114.disabled {
}
#u115 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:533px;
  top:676px;
  width:23px;
  height:23px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u116_img.selected {
}
#u116.selected {
}
#u116_img.mouseOver {
}
#u116.mouseOver {
}
#u116_img.disabled {
}
#u116.disabled {
}
#u117 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:567px;
  top:676px;
  width:23px;
  height:23px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u118_img.selected {
}
#u118.selected {
}
#u118_img.mouseOver {
}
#u118.mouseOver {
}
#u118_img.disabled {
}
#u118.disabled {
}
#u119 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:592px;
  top:676px;
  width:23px;
  height:23px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u120_img.selected {
}
#u120.selected {
}
#u120_img.mouseOver {
}
#u120.mouseOver {
}
#u120_img.disabled {
}
#u120.disabled {
}
#u121 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:617px;
  top:676px;
  width:23px;
  height:23px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u122_img.selected {
}
#u122.selected {
}
#u122_img.mouseOver {
}
#u122.mouseOver {
}
#u122_img.disabled {
}
#u122.disabled {
}
#u123 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:230px;
  top:869px;
  width:680px;
  height:10px;
}
#u124_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u124_end {
  position:absolute;
  left:663px;
  top:-5px;
  width:18px;
  height:20px;
}
#u124_line {
  position:absolute;
  left:0px;
  top:5px;
  width:680px;
  height:1px;
}
#u125 {
  position:absolute;
  left:230px;
  top:546px;
  width:80px;
  height:16px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:310px;
  top:543px;
  width:120px;
  height:22px;
}
#u127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u128 {
  position:absolute;
  left:230px;
  top:434px;
  width:97px;
  height:16px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u128_ann {
  position:absolute;
  left:320px;
  top:430px;
  width:1px;
  height:1px;
}
#u130 {
  position:absolute;
  left:337px;
  top:430px;
  width:43px;
  height:25px;
}
#u130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u130_ann {
  position:absolute;
  left:373px;
  top:426px;
  width:1px;
  height:1px;
}
