<#assign contextPath=springMacroRequestContext.getContextPath() />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>票量分销平台</title>
<link href="${contextPath}/resources/dwz-ria/themes/css/login.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="${contextPath}/resources/js/rsa/Barrett.js"></script>
<script type="text/javascript" src="${contextPath}/resources/js/rsa/BigInt.js"></script>
<script type="text/javascript" src="${contextPath}/resources/js/rsa/RSA.js"></script>

</head>

<script type="text/javascript">
	var localHref=document.location.href;
	if(localHref.indexOf('/login')==-1){
		document.location.href = "${contextPath}/login.html";
	}
	
	
// 	function rsa(){
// 		setMaxDigits(130);
// 	  	var key = new RSAKeyPair("10001","","8246a46f44fc4d961e139fd70f4787d272d374532f4d2d9b7cbaad6a15a8c1301319aa6b3f30413b859351c71938aec516fa7147b69168b195e81df46b6bed7950cf3a1c719d42175f73d7c97a85d7d20a9e83688b92f05b3059bb2ff75cd7190a042cd2db97ebc2ab4da366f2a7085556ed613b5a39c9fdd2bb2595d1dc23b5"); 
// 	  	var pwd = encryptedString(key, encodeURIComponent(document.getElementById("password").value));
// 		document.getElementById("rsapwd").value = pwd;
// 	}
	
</script>


<body>
	<div id="login">
		<div id="login_header">
			<h1 class="login_logo">
				<img src="${contextPath}/resources/dwz-ria/themes/default/images/login_logo.gif" />
			</h1>
			<div class="login_headerContent">
				<div class="navList">
				</div>
				<h2 class="login_title"><img src="${contextPath}/resources/dwz-ria/themes/default/images/login_title.png" /></h2>
			</div>
		</div>
		<div id="login_content">
			<div class="loginForm">
				<form action="${contextPath}/login/check" method="post" onsubmit="rsa()">
					<span style="color: red">${message}</span>
					<p>
						<label>用户名：</label>
						<input type="text" name="loginName" size="20" class="login_input" />
					</p>
					<p>
						<label>密码：</label>
						<input id="password" type="password" name="password" size="20" class="login_input" />
						<input type="hidden" id="rsapwd" name="rsapwd"/>
					</p>

					<p>
						<label>验证码：</label>
						<input name="validcode" class="code" type="text" size="5" />
						<span><img src="${contextPath}/login/valid-code-image.jpg" width="75" height="24" onclick="$(this).attr('src', '${contextPath}/login/valid-code-image.jpg?'+new Date());" /></span>
					</p>                                         
					<div class="login_bar">
						<input class="sub" type="submit" value=" " />
					</div>
				</form>
			</div>
			<div class="login_banner"><img src="${contextPath}/resources/dwz-ria/themes/default/images/login_banner.jpg" /></div>
			<div class="login_main">
				<ul class="helpList">
				<!-- 
					<li><a href="#">下载驱动程序</a></li>
					<li><a href="#">如何安装密钥驱动程序？</a></li>
					<li><a href="#">忘记密码怎么办？</a></li>
					<li><a href="#">为什么登录失败？</a></li>
				 -->
				</ul>
				<div class="login_inner">
					<!-- 
					<p>您可以使用 网易网盘 ，随时存，随地取</p>
					<p>您还可以使用 闪电邮 在桌面随时提醒邮件到达，快速收发邮件。</p>
					<p>在 百宝箱 里您可以查星座，订机票，看小说，学做菜…</p>
					-->
				</div>
			</div>
		</div>
	</div>
</body>
</html>