<#assign contextPath=springMacroRequestContext.getContextPath() />
<script type="text/javascript">
	function exportSpecExcel() {
		var parmStr = $("#pagerForm", navTab.getCurrentPanel()).serialize();
		var url = "${contextPath}/specification/export?" + parmStr;
		window.location.href = url;
	}

</script>
<div class="pageHeader dwz_query_box">
	<form id="pagerForm" rel="pagerForm" onsubmit="return navTabSearch(this);" action="${contextPath}/specification/list" method="post">
		<input type="hidden" name="pageNum" value="${(pagination.pageNo)!'0'}" />
		<input type="hidden" name="numPerPage" value="${(pagination.pageSize)!'20'}" />
		<div class="searchBar">
			<table class="searchContent">
				<tr>
					<td class="label">规格名称：</td>
					<td>
						<input name="specName" type="text" value="${(pagination.condition.specName)!}" onchange="this.value=(trim(this.value))" />
					</td>
					<td class="label">所属分类：</td>
					<td style="padding:0;">
						<input name="productCategoryId" value="${(pagination.condition.productCategoryId)!}" type="hidden" />
						<input placeholder="点击右侧按钮查找" name="categoryName" type="text" readonly value="${(pagination.condition.categoryName)!}" />
					</td>
					<td>
						<a class="btnLook" href="${contextPath}/category/lookup?inputName=productCategoryId&mode=2&findUsing=1" lookupGroup rel="categoryLookup" width="367" height="600">查找分类</a>
					</td>
				</tr>
			</table>
			<div class="subBar">
				<ul>
					<li>
						<div class="buttonActive">
							<div class="buttonContent">
								<button type="submit">查询</button>
							</div>
						</div>
					</li> <#if specificationto_import>
					<li>
						<div class="buttonActive">
							<a class="add" href="${contextPath}/specification/to_import" target="dialog" mask="true" width="600" height="367">
								<span>导入</span>
							</a>
						</div></li> </#if> <#if specificationexport>
					<li>
						<div class="buttonActive">
							<a onclick="exportSpecExcel()">
								<span>导出</span>
							</a>
						</div></li> </#if>
				</ul>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
		<#if specificationdelete>
			<li><a title="确实要删除选中项?" target="selectedTodo" rel="specificationListId" href="${contextPath}/specification/delete" class="delete">
					<span>删除</span>
				</a>
			</li>
			</#if>
		<#if specificationto_add>
			<li><a class="add" href="${contextPath}/specification/to_add" target="dialog" rel="specification_add" mask="true" width="900" height="650">
					<span>新增</span>
				</a></li>
			</#if>
		</ul>
	</div>
	<div>
		<table class="table" cellpadding="0" cellspacing="0" width="100%" layoutH="137">
			<thead>
				<tr>
					<th width=""><input type="checkbox" group="specificationListId" class="checkboxCtrl" /></th>
					<th width="">规格编号</th>
					<th width="">规格名称</th>
					<th width="">所属商品分类</th>
					<th width="">状态</th>
					<th width="">操作</th>
				</tr>
			</thead>
			<tbody>
				<#list pagination.list as t>
				<tr>
					<td>
						<input type="checkbox" name="specificationListId" value="${(t.id)!''}" />
					</td>
					<td>${t.specCode}</td>
					<td>${t.specName}</td>
					<td>${(t.productCategory.name)!}</td>
					<td><#if (t.status.using)!> 启用 <#else> 禁用 </#if></td>
					<td class="a_button2">
					<#if specificationedit>
						<a target="dialog" href="${contextPath}/specification/edit?id=${(t.id)!''}" mask="true" width="900" height="650" rel="specification_edit">编辑</a>
						&nbsp;&nbsp;&nbsp;&nbsp;
					</#if>
					<#if specificationdelete>
						<a target="ajaxTodo" href="${contextPath}/specification/delete?specificationListId=${t.id}" title="确认删除？">删除</a>
						&nbsp;&nbsp;&nbsp;&nbsp; 
					</#if>
						
					<#if specificationchange_status>
						<#if (t.status)?? && (t.status.using)>
						<a target="ajaxTodo" href="${contextPath}/specification/change_status?specificationId=${t.id}&using=false">禁用</a>
						<#else>
						<a target="ajaxTodo" href="${contextPath}/specification/change_status?specificationId=${t.id}&using=true">启用</a>
						</#if>
					</#if>
					</td>
				</tr>
				</#list>
			</tbody>
		</table>
	</div>
	<#include "/public/pagination/pagination.html">
</div>
