body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:60px;
  top:28px;
  width:320px;
  height:480px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u2 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:60px;
  top:92px;
  width:320px;
  height:416px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:416px;
}
#u4 {
  position:absolute;
  left:2px;
  top:200px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:120px;
  top:57px;
  width:200px;
  height:30px;
  font-size:18px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:60px;
  top:94px;
  width:320px;
  height:496px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:496px;
}
#u8 {
  position:absolute;
  left:2px;
  top:240px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:60px;
  top:92px;
  width:320px;
  height:46px;
  font-size:18px;
  color:#0066FF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:73px;
  top:104px;
  width:12px;
  height:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:89px;
  top:105px;
  width:39px;
  height:19px;
  font-size:16px;
  color:#2087FC;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:60px;
  top:92px;
  width:68px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:3px;
  top:100px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:33px;
  top:110px;
  width:40px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:23px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:4px;
  width:40px;
  height:2px;
}
#u19 {
  position:absolute;
  left:532px;
  top:30px;
  width:398px;
  height:430px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:430px;
}
#u20 {
  position:absolute;
  left:2px;
  top:207px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:552px;
  top:45px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:590px;
  top:42px;
  width:330px;
  height:36px;
  font-size:14px;
  line-height:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:36px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:552px;
  top:91px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:590px;
  top:88px;
  width:330px;
  height:72px;
  font-size:14px;
  line-height:18px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:72px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:60px;
  top:137px;
  width:160px;
  height:43px;
  font-size:16px;
  color:#0066FF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:43px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:219px;
  top:137px;
  width:161px;
  height:43px;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:43px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:60px;
  top:179px;
  width:320px;
  height:374px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:374px;
}
#u34 {
  position:absolute;
  left:2px;
  top:179px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:60px;
  top:174px;
  width:160px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:143px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:4px;
  width:160px;
  height:3px;
}
#u36 {
  position:absolute;
  left:60px;
  top:194px;
  width:320px;
  height:70px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u37 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:420px;
  top:144px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:354px;
  top:154px;
  width:66px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:49px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  height:2px;
}
#u41 {
  position:absolute;
  left:73px;
  top:221px;
  width:27px;
  height:16px;
  font-size:20px;
}
#u42 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u43 {
  position:absolute;
  left:100px;
  top:240px;
  width:135px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:210px;
  top:240px;
  width:140px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:99px;
  top:214px;
  width:135px;
  height:25px;
  font-size:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:25px;
}
#u48 {
  position:absolute;
  left:0px;
  top:3px;
  width:135px;
  word-wrap:break-word;
}
