<#assign contextPath=springMacroRequestContext.getContextPath() />
<#import "/public/frame/default.html" as dk>
<@dk.head "" >
</@dk.head>

<@dk.main "" "">
<script src="${contextPath}/resources/js/account-window.js" charset="utf-8"></script>
<div class="right-content">
		<div class="right-content-pure">
			<div class="right-content-title">
				<span class="tt">
					<img style="  float: left;  margin-top: 2px;  margin-right: 8px;" src="${contextPath}/resources/img/order/wd2.png">
					<span class="tl">错误页面<span> </span></span>
				</span>
				
			</div>
			
			<div class="table-content">
				<div class="table-content-wrap">
					<div class="table-content-title">
						${message!}
					</div>
					
					<div  class="table-content-pure">
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	</div>
	</@dk.main>
	<@dk.end "">
</@dk.end>	
