body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:520px;
  background:inherit;
  background-color:#F4F4F4;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#CCCCCC;
}
#u7632 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:520px;
}
#u7633 {
  position:absolute;
  left:2px;
  top:252px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:65px;
}
#u7634 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:65px;
}
#u7635 {
  position:absolute;
  left:2px;
  top:25px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:#242428;
  font-size:16px;
  color:#FFFFFF;
}
#u7636 {
  position:absolute;
  left:90px;
  top:26px;
  width:150px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u7637 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u7638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:90px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#CCCCCC;
  font-size:16px;
  text-align:left;
}
#u7638 {
  position:absolute;
  left:0px;
  top:70px;
  width:320px;
  height:90px;
  font-size:16px;
  text-align:left;
}
#u7639 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u7641 {
  position:absolute;
  left:40px;
  top:455px;
  width:240px;
  height:50px;
  overflow:hidden;
}
#u7641_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7641_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
  font-size:20px;
}
#u7642 {
  position:absolute;
  left:69px;
  top:13px;
  width:151px;
  height:20px;
  font-size:20px;
}
#u7643 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u7644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u7644 {
  position:absolute;
  left:0px;
  top:5px;
  width:68px;
  height:40px;
}
#u7645 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7641_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7641_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  font-size:20px;
}
#u7646 {
  position:absolute;
  left:91px;
  top:14px;
  width:79px;
  height:20px;
  font-size:20px;
}
#u7647 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u7648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u7648 {
  position:absolute;
  left:18px;
  top:5px;
  width:68px;
  height:40px;
}
#u7649 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7641_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7641_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  font-size:20px;
}
#u7650 {
  position:absolute;
  left:71px;
  top:14px;
  width:155px;
  height:20px;
  font-size:20px;
}
#u7651 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u7652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u7652 {
  position:absolute;
  left:0px;
  top:5px;
  width:68px;
  height:40px;
}
#u7653 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  color:#FF5B45;
}
#u7654 {
  position:absolute;
  left:236px;
  top:82px;
  width:64px;
  height:28px;
  color:#FF5B45;
}
#u7655 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u7656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:#F5A542;
  font-size:16px;
  color:#FFFFFF;
}
#u7656 {
  position:absolute;
  left:220px;
  top:120px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u7657 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u7658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:90px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#CCCCCC;
  font-size:16px;
  text-align:left;
}
#u7658 {
  position:absolute;
  left:0px;
  top:165px;
  width:320px;
  height:90px;
  font-size:16px;
  text-align:left;
}
#u7659 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u7660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  color:#FF5B45;
}
#u7660 {
  position:absolute;
  left:236px;
  top:177px;
  width:64px;
  height:28px;
  color:#FF5B45;
}
#u7661 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u7662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:#F5A542;
  font-size:16px;
  color:#FFFFFF;
}
#u7662 {
  position:absolute;
  left:220px;
  top:215px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u7663 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u7664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:90px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#CCCCCC;
  font-size:16px;
  text-align:left;
}
#u7664 {
  position:absolute;
  left:0px;
  top:260px;
  width:320px;
  height:90px;
  font-size:16px;
  text-align:left;
}
#u7665 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u7666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  color:#FF5B45;
}
#u7666 {
  position:absolute;
  left:236px;
  top:272px;
  width:64px;
  height:28px;
  color:#FF5B45;
}
#u7667 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u7668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:#F5A542;
  font-size:16px;
  color:#FFFFFF;
}
#u7668 {
  position:absolute;
  left:220px;
  top:310px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u7669 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u7670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:90px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#CCCCCC;
  font-size:16px;
  text-align:left;
}
#u7670 {
  position:absolute;
  left:0px;
  top:355px;
  width:320px;
  height:90px;
  font-size:16px;
  text-align:left;
}
#u7671 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u7672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  color:#FF5B45;
}
#u7672 {
  position:absolute;
  left:236px;
  top:367px;
  width:64px;
  height:28px;
  color:#FF5B45;
}
#u7673 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u7674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:#F5A542;
  font-size:16px;
  color:#FFFFFF;
}
#u7674 {
  position:absolute;
  left:220px;
  top:405px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u7675 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u7676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
  background:inherit;
  background-color:#F4F4F4;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#CCCCCC;
}
#u7676 {
  position:absolute;
  left:350px;
  top:0px;
  width:320px;
  height:480px;
}
#u7677 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:65px;
}
#u7678 {
  position:absolute;
  left:350px;
  top:0px;
  width:320px;
  height:65px;
}
#u7679 {
  position:absolute;
  left:2px;
  top:25px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u7680 {
  position:absolute;
  left:382px;
  top:220px;
  width:68px;
  height:40px;
}
#u7681 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:28px;
  color:#A9A8A6;
}
#u7682 {
  position:absolute;
  left:460px;
  top:226px;
  width:196px;
  height:28px;
  color:#A9A8A6;
}
#u7683 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u7684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:#F5A542;
  font-size:16px;
  color:#FFFFFF;
}
#u7684 {
  position:absolute;
  left:460px;
  top:290px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u7685 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u7686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:#242428;
  font-size:16px;
  color:#FFFFFF;
}
#u7686 {
  position:absolute;
  left:435px;
  top:26px;
  width:150px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u7687 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
