<#assign contextPath=springMacroRequestContext.getContextPath() />


<style>
.jq{background:#eee;font-weight:600;}
.jq span{margin-left:5px;}
</style>

<div class="pageContent">
	<div id="dealerContent" class="pageFormContent" layoutH="58">
		<!--经销商基本信息  -->
		<div class="jq unit" style="padding:8px 10px;margin-bottom:10px;"><span>基本信息</span></div>
		<div class="unit">
			<label>登录账号：</label>
			<input type="text" size="25" readonly="true"  value="${(dealer.clientInfo.adminLoginName)!'-'}"/>
		</div>
		<div class="unit">
			<label>经销商名称：</label>
			<input type="text" size="25" readonly="true"  value="${(dealer.baseInfo.name)!'-'}"/>
		</div>
		<div class="unit">
			<label>经销商密钥：</label>
			<input  size="25" readonly="true" value="${(dealer.clientInfo.secretKey)!'-'}"/>
		</div>
		<div class="unit">
			<label>经销商简介：</label>
			<textarea  rows="5" cols="60" readonly="true">${(dealer.baseInfo.intro)!'-'}</textarea>
		</div>
		<div class="unit" id="imgun0">
			<label>企业LOGO：</label>
			<img class="img-polaroid" width="80" alt="企业logo" title="企业logo"
				src="${(dealer.certificateInfo.dealerLogo)!'resources/image/u39.png'}"/>
		</div>
		
		<!-- 资质信息  -->
		<div class="jq unit" style="padding:8px 10px;margin-top:20px;margin-bottom:10px;"><span>资质信息</span></div>
		<div class="unit" id="imgun1">
			<label>营业执照：</label>
			<img class="img-polaroid" width="80" alt="营业执照" title="营业执照"
				src="${(dealer.certificateInfo.businessLicense)!'resources/image/u39.png'}"/>
		</div>
		<div class="unit" id="imgun2">
			<label>税务登记证：</label>
			<img class="img-polaroid" width="80" alt="税务登记证" title="税务登记证"
				src="${(dealer.certificateInfo.taxRegistrationCertificate)!'resources/image/u39.png'}"/>
		</div>
		<div class="unit" id="imgun3">
			<label>组织代码证：</label>
			<img class="img-polaroid" width="80" alt="组织代码证" title="组织代码证"
				src="${(dealer.certificateInfo.organizationCodeCertificate)!'resources/image/u39.png'}"/>
		</div>
		<div class="unit" id="imgun4">
			<label>法人身份证：</label>
			<img class="img-polaroid" width="80" alt="法人身份证" title="法人身份证"
				src="${(dealer.certificateInfo.corporateIDCard)!'resources/image/u39.png'}"/>
		</div> 
		
		<!-- 联系人信息   -->
		<div class="jq unit" style="padding:8px 10px;margin-top:20px;margin-bottom:10px;"><span>联系人信息</span></div>
		<div class="unit">
			<label>联&nbsp;&nbsp;系&nbsp;&nbsp;人：</label>
			<input type="text"  size="25" readonly="true"  value="${(dealer.baseInfo.linkMan)!'-'}"/>
		</div>
		<div class="unit">
			<label>联系电话：</label>
			<input type="text" size="25" readonly="true" value="${(dealer.baseInfo.telephone)!'-'}"/>
		</div>
		<div class="unit">
			<label>联系邮箱：</label>
			<input type="text" size="25" readonly="true" value="${(dealer.baseInfo.email)!'-'}"/>
		</div>
		<div class="unit">
			<label>联系地址：</label>
			<input value="${(dealer.baseInfo.province.name)!''}" size="10" readonly="true"/>
			<span>></span>
				<input size="12" value="${dealer.baseInfo.city.name}" readonly="true"/>
			<span>></span>
				<input size="25" value="${dealer.baseInfo.area.name}" readonly="true"/>
		</div>
		<div class="unit">
			<label>&nbsp;</label>
			<textarea id="street" rows="4" cols="55" placeholder="详细地址">${dealer.baseInfo.address}</textarea>
		</div>
		
		<!--对接信息-->
		<div class="jq unit" style="padding:8px 10px;margin-top:20px;margin-bottom:10px;"><span>对接信息</span></div>
	    <div class="unit">
			<label>售卖网址：</label>
			<input type="text" size="25" readonly="true" value="${(dealer.clientInfo.dealerWebsite)!'-'}"/>
		</div>
		<div class="unit">
			<label>是否使用消息推送：</label>
			<span style="line-height:21px;">
			<#if dealer.clientInfo.publishAble?? && dealer.clientInfo.publishAble>已启用</#if>
			<#if dealer.clientInfo.publishAble?? && !dealer.clientInfo.publishAble>未启用</#if>
			</span>
		</div>
		<#if dealer.clientInfo.publishAble?? && dealer.clientInfo.publishAble>
		<div class="unit">
			<label>消息推送网址：</label>
			<input type="text" size="64" maxlength="384" readonly="true" value="${(dealer.clientInfo.publishUrl)!'-'}" placeholder="未配置推送网址"/>
		</div>
		</#if>
		<!-- 结算信息 -->
		<div class="jq unit" style="padding:8px 10px;margin-top:20px;margin-bottom:10px;"><span>结算信息</span></div>
		<div class="unit">
			<label>账户类型：</label>
			<span>
			<#if dealer.accountInfo.accountType==1>支付宝</#if>
			<#if dealer.accountInfo.accountType==2>汇金宝</#if>
			<#if dealer.accountInfo.accountType==3>财付通</#if>
			</span>
		</select>
		</div>
		<div class="unit">
			<label>结算账户：</label>
			<input type="text" size="64" readOnly="true" class="required" placeholder="结算账户" maxlength="64" value="${dealer.accountInfo.accountNumber!''}"/>
		</div>
		<div class="unit">
			<label>商户ID：</label>
			<input id="cstNo" readonly="true"  size="64" placeholder="商户ID" value="${dealer.accountInfo.businessId!''}"/>
		</div>
		<div class="unit">
			<label>应用Key：</label>
			<input id="operatorNo" readonly="readonly"  size="64" placeholder="应用Key" value="${dealer.accountInfo.businessKey}"/>
		</div>
		<div class="unit">
			<label>手续费：</label>
			<input id="" readonly="true" size="64" value="${((dealer.accountInfo.settlementFee)!'')?c}"/>元/张
		</div>
		<div class="unit">
			<label>操作员编号：</label>
			<input type="text" size="64" readOnly="true" placeholder="操作员编号" maxlength="64" value="${dealer.accountInfo.operatorNo}"/>
		</div>
		<!-- 以下三个信息尚无数据字段 -->
		<div class="jq unit" style="padding:8px 10px;margin-top:20px;margin-bottom:10px;"><span>联票理财收益结算</span></div>
		<div class="unit">
			<label>开户行：</label>
			<span>${dealer.accountInfo.operatorNo}</span>
		</div><div class="unit">
			<label>收款人姓名：</label>
			<span>${dealer.accountInfo.operatorNo}</span>
		</div>
		<div class="unit">
			<label>银行卡号：</label>
			<span>${dealer.accountInfo.operatorNo}</span>
		</div>
	</div>
</div>