<#assign contextPath=springMacroRequestContext.getContextPath() />

<style>
.jq{background:#eee;font-weight:600;}
.jq span{margin-left:5px;}
.addSpan{vertical-align:sub;}
</style>

<div class="pageContent">
<form method="post" action="${contextPath}/tourist/update" class="pageForm required-validate"
	onsubmit="return validateCallback(this,dialogAjaxDone);">
	<input type="hidden" name="id" value="${(tourist.id)!}" />
	<input type="hidden" name="firstBuyDate" value="${(tourist.firstBuyDate)!}"  dateFmt="yyyy-MM-dd HH:mm:ss"/>
	<input type="hidden" name="buyTimes" value="${((tourist.buyTimes)?c)!''}" />
	<input type="hidden" name="buyAmountTotal" value="${((tourist.buyAmountTotal)?c)!''}" />
	<input type="hidden" name="imageUrl" value="${(tourist.imageUrl)!}" />
	
	<div class="pageFormContent" layoutH="58">
	
		<div class="jq unit" style="padding:8px 10px;margin-bottom:10px;"><span>1.基本信息</span></div>
		<div class="unit">
				<label>姓名：</label>
				<input type="text" size="32" name="name" value="${tourist.name}"/>
			</div>
			<div class="unit">
				<label>证件类型：</label>
				<select name="idType" class="combox">
					<option value="" >未选择</option>
					<option value="1" <#if tourist.idType==1>selected</#if>>身份证</option>
					<option value="2" <#if tourist.idType==2>selected</#if>>护照</option>
					<option value="3" <#if tourist.idType==3>selected</#if>>军官证</option>
					<option value="4" <#if tourist.idType==4>selected</#if>>其他</option>
				</select>
			</div>
			<div class="unit">
				<label>证件号码：</label>
				<input type="text" size="32" name="idNo" value="${tourist.idNo}"/>
			</div>
			
			
			<div class="unit">
				<label>性别：</label>
				<select name="gender" class="combox">
					<option value="">未选择</option>
					<option value="1" <#if tourist.gender==1>selected</#if>>男</option>
					<option value="2" <#if tourist.gender==2>selected</#if>>女</option>
				</select>
			</div>
			<div class="unit">
				<label>户籍地址：</label>
				<input type="text" size="32" name="address" value="${tourist.address}"/>
			</div>
			<div class="unit">
				<label>民族：</label>
				<input type="text" size="32" name="nation" value="${tourist.nation}"/>
			</div>
			<div class="unit">
				<label>出生：</label>
				<input type="text" class="date" dateFmt="yyyy-MM-dd" size="32" readonly="true" name="birthday" value="${(tourist.birthday?string("yyyy-MM-dd"))!''}"/>
			</div>
			<div class="unit">
				<label>年龄：</label>
				<input type="text" size="32" name="age" value="${tourist.age}"/>
			</div>
			<div class="unit">
				<label>手机：</label>
				<input type="text" size="32" name="telephone" value="${tourist.telephone}"/>
			</div>
	</div>
	<div class="formBar">
		<ul>
			<li>
				<div class="buttonActive"><div class="buttonContent">
					<button type="submit" style="width: 35px;">提交</button>
				</div></div>
			</li>
			<li>
				<div class="button"><div class="buttonContent">
					<button type="button" class="close" style="width: 35px;">取消</button>
				</div></div>
			</li>
		</ul>
	</div>
</form>
</div>

<script type="text/javascript">
	
</script>