body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:60px;
  width:320px;
  height:46px;
  font-size:18px;
  color:#0066FF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:73px;
  top:74px;
  width:12px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:105px;
  width:320px;
  height:415px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:415px;
}
#u5 {
  position:absolute;
  left:2px;
  top:200px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:60px;
  top:104px;
  width:320px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:100px;
  top:110px;
  width:240px;
  height:27px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:27px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:105px;
  top:112px;
  width:230px;
  height:24px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:24px;
  background-image:;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#CCCCCC;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u11 {
  position:absolute;
  left:313px;
  top:112px;
  width:22px;
  height:22px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u12 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:60px;
  top:170px;
  width:320px;
  height:360px;
}
.u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
.u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
.u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
.u16 {
  position:absolute;
  left:10px;
  top:11px;
  width:20px;
  height:20px;
}
.u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
.u18 {
  position:absolute;
  left:40px;
  top:13px;
  width:53px;
  height:16px;
}
.u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
.u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
.u20 {
  position:absolute;
  left:270px;
  top:11px;
  width:27px;
  height:16px;
}
.u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
.u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
.u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  position:absolute;
  left:60px;
  top:143px;
  width:320px;
  height:27px;
  text-align:left;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:27px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:532px;
  top:60px;
  width:398px;
  height:470px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:470px;
}
#u26 {
  position:absolute;
  left:2px;
  top:227px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:552px;
  top:109px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:590px;
  top:106px;
  width:230px;
  height:108px;
  font-size:14px;
  line-height:18px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:108px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:430px;
  top:109px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:370px;
  top:118px;
  width:60px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:4px;
  width:60px;
  height:2px;
}
#u34 {
  position:absolute;
  left:552px;
  top:248px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:590px;
  top:245px;
  width:230px;
  height:76px;
  font-size:14px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:76px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:430px;
  top:142px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:370px;
  top:151px;
  width:60px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:4px;
  width:60px;
  height:2px;
}
#u41 {
  position:absolute;
  left:430px;
  top:214px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:370px;
  top:223px;
  width:60px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:4px;
  width:60px;
  height:2px;
}
#u44 {
  position:absolute;
  left:552px;
  top:386px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:590px;
  top:383px;
  width:230px;
  height:58px;
  font-size:14px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:58px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
