 <#assign contextPath=springMacroRequestContext.getContextPath() />
<script type="text/javascript">
function queryCitySelectHTML(){
	
	$.ajax({
		url: "${contextPath}/system/address/city_select",
		async:false,
		cache : false,
		type: "post",
		dataType:"html",
		data:{"provinceId":$('#provinceId').val()
			},
		success: function(data){
			$('#cityId').empty();
			$('#cityId').append(data);
		},
		error:function(){
		}
		
	});
	//update area 
	queryAreaSelectHTML();
	
}
function queryAreaSelectHTML(){
	$.ajax({
		url: "${contextPath}/system/address/area_select",
		cache : false,
		type: "post",
		dataType:"html",
		data:{"cityId":$('#cityId').val()},
		success: function(data){
			$('#areaId').empty();
			$('#areaId').append(data);
		},
		error:function(){
		}
		
	});
	
}
</script>
<div class="pageContent">
	<form method="post" action="${contextPath}/warehouse/update" class="pageForm required-validate nowrap" onsubmit="return validateCallback(this, dialogAjaxDone)">

		<div class="pageFormContent" layoutH="60">
			<div class="bill">
				<dl>
					<dt>仓库编号：</dt>
					<dd>
						<input type="text" readonly value="${warehouse.id}" name="warehouseId" />系统自动生成
					</dd>
				</dl>
				<dl>
					<dt>仓库名称：</dt>
					<dd>
						<input name="name" type="text" class="required" value="${warehouse.name}" maxlength="29" />
					</dd>
				</dl>
				<dl>
					<dt>仓库类型：</dt>
					<dd><input type="text" readonly value="${warehouse.type.name}" maxlength="29" /></dd>

				</dl>
				<dl>
					<dt>仓库联系人：</dt>
					<dd>
						<input name="linkMan" type="text" value="${warehouse.linkMan}" maxlength="10"/>
					</dd>
				</dl>
				<dl>
					<dt>联系人电话：</dt>
					<dd>
						<input name="linkPhone" type="text" value="${warehouse.linkPhone}" class="digits"  maxlength="11"/>
					</dd>
				</dl>
				<dl>
					<dt>仓库地址：</dt>
					<dd>
						<select name="provinceId" id="provinceId" onchange="queryCitySelectHTML()" >
						
						<#list provinceList as p>
							<option value="${p.id}" 
							<#if (warehouse.province.id == p.id)>
								selected="selected"
							</#if>
							>${p.name}</option>
						</#list>
						</select>
						
						<select name="cityId" id="cityId" onchange="queryAreaSelectHTML()">
						<#list cityList as t>
							<option value="${t.id}" 
							<#if (warehouse.city.id == t.id)>
								selected="selected"
							</#if>
							>${t.name}</option>
						</#list>				
						</select>
						<select name="areaId" id="areaId" >
						<#list areaList as t>
							<option value="${t.id}" 
							<#if (warehouse.area.id == t.id)>
								selected="selected"
							</#if>
							>${t.name}</option>
						</#list>
						</select>
						
						<input name="address" type="text" value="${(warehouse.address)!}" placeholder="输入详细地址" maxlength="250"/>
					</dd>
				</dl>
				<dl>
					<dt>备注信息：</dt>
					<dd>
						<textarea name="remark" cols="100" rows="2" maxlength="250">${warehouse.remark} </textarea>
					</dd>
				</dl>
			</div>
		</div>
		<div class="formBar">
			<ul>
				<li>
					<div class="buttonActive">
						<div class="buttonContent">
							<button type="submit">保存</button>
						</div>
					</div></li>
				<li>
					<div class="button">
						<div class="buttonContent">
							<button type="button" class="close">取消</button>
						</div>
					</div></li>
			</ul>
		</div>
	</form>
</div>
