<#assign contextPath=springMacroRequestContext.getContextPath() />
<div class="pageContent">
	<form method="post" action="${contextPath}/category/update" class="pageForm required-validate nowrap" onsubmit="return validateCallback(this, dialogAjaxDone)">

		<div class="pageFormContent" layoutH="60">
			<input name="categoryId" type="hidden" value="${(category.id)!}" />
			<div class="bill">
				<dl>
					<dt>上级分类：</dt>
					<dd>
						<input name="parentCategoryId" value="${(category.parentCategory.id)!}" type="hidden" /> <input name="categoryName" type="text" readonly value="${(category.parentCategory.name)!}" /> <a
							class="btnLook" href="${contextPath}/category/lookup?inputName='parentCategoryId'&findUsing=1" lookupGroup rel="categoryLookup" width="367" height="600">查找带回</a>

					</dd>
				</dl>
				<dl>
					<dt>分类名称：</dt>
					<dd>
						<input name="name" type="text" class="required" value="${category.name!}" />
					</dd>
				</dl>
				<dl>
					<dt>分类编号：</dt>
					<dd>
						<div class="unit">
							<input name="" type="text" readonly value="${(category.categoryCode)!}" />
						</div>
					</dd>
				</dl>
				<dl>
					<dt>启用</dt>
					<dd>
						<#if (category.status.using)!> <input type="radio" name="using" id="using" value="true" checked="checked">启用</input> <input type="radio" name="using" id="using" value="false"> 禁用</input> <#else>
						<input type="radio" name="using" id="using" value="true">启用</input> <input type="radio" name="using" id="using" value="false" checked="checked"> 禁用</input> </#if>
					</dd>
				</dl>
			</div>
		</div>
		<div class="formBar">
			<ul>
				<li>
					<div class="buttonActive">
						<div class="buttonContent">
							<button type="submit">保存</button>
						</div>
					</div></li>
				<li>
					<div class="button">
						<div class="buttonContent">
							<button type="button" class="close">取消</button>
						</div>
					</div></li>
			</ul>
		</div>
	</form>
</div>
