/*登录页面*/
.content{width:100%;height:480px;overflow:hidden;position:relative;}
.cont_inner{position:absolute;top:0px;left:0px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;width:100%;border-left:15px solid transparent;border-right:15px solid transparent;}
.icon_img{width: 104px;height:auto;display:block;margin:27px auto;}
.login_input{background:#fff;width:100%;height: 134px;border-radius:6px;overflow:hidden;}
.login_input dl{position:relative;display:-moz-box;display:-webkit-box;display:box;}
.login_input dt{width:22px;box-sizing:content-box;padding: 8px 10px;}
.login_input dt img{display:block;width:22px;height:auto;}
.login_input dd{border-bottom:1px solid #f0f0ef;padding:10px 0;-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;height:24px;line-height:24px;}
.login_input dd input{width:100%;font-size:15px;color:#333;}
.btn_login{width:100%;text-align:center;height:43px;line-height:43px;background:#9ace45;border-radius:6px;font-size:15px;color:#fff;margin-top:27px;}
.pwd_flag{position:absolute;top: 7px;right: 14px;width:48px;height:27px;overflow:hidden;}
.pwd_flag img{width:100%;height:100%;}
.a_forgetPwd{display:block;width:100px;text-align:center;margin:70px auto 0px auto;}
