<#assign contextPath=springMacroRequestContext.getContextPath() />
<div class="accordion" fillSpace="sidebar">
		<div class="accordionHeader">
			<h2>
				<span>Folder</span>财务对账
			</h2>
		</div>
		<div class="accordionContent">
		<ul class="tree">
			<li>
			<a href="${contextPath}/checkAccountAll/list2" target="navTab"
						rel="ticketOrder">财务对账汇总</a>
			</li>
			<li>
			<a href="${contextPath}/checkAccount/list2" target="navTab"
						rel="ticketOrder">支付对账单</a>
			</li>
		</ul>
		</div>
</div>