<#assign contextPath=springMacroRequestContext.getContextPath() />
	<div class="pageContent">
		<form method="post" enctype="multipart/form-data"
			action=""
			class="pageForm required-validate"
			onsubmit="return validateCallback(this, dialogAjaxDone)">
			<div class="pageFormContent" layoutH="58">
				<input type="hidden" name="id" value="${id}">
				<div class="unit">
					<span>取消原因</span><span>${mpOrder.cancelRemark}</span>
				</div>
			</div>
			<div class="formBar">
			<ul>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">确定</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
		</form>