<#assign contextPath=springMacroRequestContext.getContextPath() />

<#import "/public/frame/default.html" as frame />
<@frame.head "票量 - 酒店预定失败">
<link href="${contextPath}/resources/css/common.css" rel="stylesheet" />
<script src="${contextPath}/resources/js/jquery-1.11.1.min.js" language="javascript"></script>
<script src="${contextPath}/resources/js/common.js" language="javascript"></script>
<link href="${contextPath}/resources/css/fly_success.css" rel="stylesheet" />
</head>
</@frame.head>
<@frame.main "default" 5>
<body>
<!--头部-->
<!--锚点-->
<a name="top"></a>


<!--导航-->
    <!--快速回顶部-->    
    <div class="g_totop bg_cmd curp">
    </div>
<!--头部-->

<!--内容-->


<div class="flySuccess_box disb" style="display:none">
    <!--支付进程-->
    <div class="pay_process wd12 ma">
        <ul class="fl ov">
            <li class="fly_on"><i class="fl ic yahei h4"></i><span class="fl lm yahei h3">填写订单</span></li>
            <li class="fly_on fly_fail"><i class="fl ic yahei h4"></i><span class="fl lm yahei h3">支付失败</span></li>
        </ul>
    </div>
    <!--支付进程-->
</div>
<!--支付成功-->
<div class="wd12 ma pay_success disb pay_fail">
    <div class="payfor_box ov">
        <span class="reg_order fl yahei color6 tc">酒店预定失败！</span>
        <span class="reg_mes fl reg_ORD tc yahei color8 h2">
        </span>
        <span class=" reg_mes fl yahei color8 h2 rexian">如需帮助请拨打客服热线 4009-333-333</span>
    </div>
</div>
<!--支付成功-->

<!--内容-->

</@frame.main>
<@frame.end "default"></@frame.end>
<!--页脚-->
</body>
</html>
