<#assign contextPath=springMacroRequestContext.getContextPath() />
<div class="pageContent">
	<form method="post" action="${contextPath}/service/adjustAccountJF" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<div class="pageFormContent" layoutH="30">
			<div class="unit">
				<label>用&nbsp;&nbsp;户&nbsp;名:</label>
				<input type="text" name="account" size="64" maxlength="64" class="required" value="${code}"/>
			</div>
			 <div class="unit">
				<label>账户类型:</label>
			  <select class="combox required" name="accountType" class="required">
					<option value="">请选择</option>
					<#list ruleTypeList as t>
					  <option value="${t.me.code}">${t.me.name}</option>
					</#list>
				</select>
			</div>
			 <div class="unit">
				<label>调整分值:</label>
				<input id="adjust_score" type="text"   name="score" size="64" maxlength="64"  class="required"/>
			</div>
			
			 <div class="unit">
				<label>备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注&nbsp;&nbsp;:</label>
				  <textarea name="description"  cols="61"></textarea>
			</div>
			<div class="unit">
			</div>
			<div class="unit">
			</div>
			<div class="unit">
			</div>
		<div style="margin-left: 200px;" >
			<ul>
				<li><div class="buttonActive" style="margin-right: 100px;"><div class="buttonContent"><button type="submit" onclick="adjustJY()" >调整</button></div></div></li>
				<li> <div class="button"><div class="buttonContent"><button type="button" class="close">关闭</button></div></div></li>
			</ul>
		</div>
		</div>
	</form>
</div>
 
