<#assign contextPath=springMacroRequestContext.getContextPath() />

<div class="pageHeader">
	<form id="pagerForm" rel="pagerForm" onsubmit="return navTabSearch(this);"
		action="${contextPath}/account/jf/query" method="get">
		<input type="hidden" name="pageNum" value="${pagination.pageNo?c}" />
		<input type="hidden" name="numPerPage" value="${pagination.pageSize?c}" />
		<div class="searchBar">
			<ul class="searchContent">
			    <li>
					<label>用户名</label>
					<input type="text" name="code" id="adjustCode" value="${dto.code}" />
				</li>
			</ul>
			<div class="subBar">

				<ul>
					
					<li><div class="buttonActive">
							<div class="buttonContent">
								<button type="submit" >查询</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">

	<div class="panelBar">
		<ul class="toolBar">
			<li class="line">line</li>
		</ul>
	</div>	
	<table class="table" width="100%" layoutH="138">
		<thead>
			<tr>
				<th>用户名</th>
				<th>积分类型</th>
				<th>积分值</th>
				<!-- <th>操作</th> -->
			</tr>
		</thead>
        <tbody>
			<#list pagination.list as p>
			<tr>
				<td>${p.user!?html}</td>
				<td>${p.uk.type.name!?html}</td>
				<td>${p.jf!?html}</td>
				
			</tr>
			</#list>
		</tbody>
	</table>
	</table>
	<#include "/public/pagination/pagination.html">
</div>
<script type="text/javascript">
    function adjustJF(){
       var user=$("#adjustCode").val();
       if(user!="" || user!=null){
          $("#adjustJF").attr({"href":"${contextPath}/service/toAdjustJF?code="+user});
       }else{
          $("#adjustJF").attr({"href":"${contextPath}/service/toAdjustJF"});
       }
    }
</script>
