<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

	<!-- 服务信息 -->
	<dubbo:application name="demo-provider" owner="programmer" organization="dubbox"/>

	<!-- 注册中心 -->
 	 <dubbo:registry address="${dubbo_registry}"/>  
	
	<!-- 协议 -->
	<dubbo:protocol name="dubbo" serialization="fst" port="20884"/>

	<!-- 暴露服务 -->
	<dubbo:service interface="hg.demo.member.common.spi.AdminConfigSPI" ref="adminConfigSPIService" protocol="dubbo"/>
	<dubbo:service interface="hg.demo.member.common.spi.DepartmentSPI" ref="departmentSPIService" protocol="dubbo"/>

	<dubbo:service interface="hg.demo.member.common.spi.AuthPermSPI" ref="authPermSPIService" protocol="dubbo"/>

	<dubbo:service interface="hg.demo.member.common.spi.StaffSPI" ref="staffSPIService" protocol="dubbo"/>
	
	<dubbo:service interface="hg.demo.member.common.spi.SecuritySPI" ref="securitySPIService" protocol="dubbo"/>

	<dubbo:service interface="hg.demo.member.common.spi.AuthRoleSPI" ref="authRoleSPIService" protocol="dubbo"/>
	
	<dubbo:service interface="hg.demo.member.common.spi.ParameterSPI" ref="parameterSPIService" protocol="dubbo"/>
	
	<dubbo:service interface="hg.fx.spi.DistributorSPI" ref="distributorSPIService" protocol="dubbo"/>
	
	<dubbo:service interface="hg.fx.spi.ImportHistorySPI" ref="importHistorySPIService" protocol="dubbo"/>
	
	<dubbo:service interface="hg.fx.spi.ChannelSPI" ref="channelSPIService" protocol="dubbo"/>
	
	<dubbo:service interface="hg.fx.spi.DistributorUserSPI" ref="distributorUserSPIService" protocol="dubbo"/>
	
	<dubbo:service interface="hg.fx.spi.OperationLogSPI" ref="operationLogSPIService" protocol="dubbo"/>
	
	<dubbo:service interface="hg.fx.spi.MileOrderSPI" ref="mileOrderSPIService" protocol="dubbo"/>
	
	<dubbo:service interface="hg.fx.spi.CzFileSPI" ref="czFileService" protocol="dubbo"></dubbo:service>
	
	<dubbo:service interface="hg.fx.spi.AbnormalRuleSPI" ref="abnormalRuleSPIService" protocol="dubbo"/>
	<dubbo:service interface="hg.fx.spi.SmsCodeRecordSPI" ref="smsCodeRecordSPIService" protocol="dubbo"/>

	<!-- 里程变化记录service -->
	<dubbo:service interface="hg.fx.spi.ReserveRecordSPI" ref="reserveRecordSPIService" protocol="dubbo"/>

	<!-- 商品service -->
	<dubbo:service interface="hg.fx.spi.ProductSPI" ref="productSPIService" protocol="dubbo"/>
	
	<!-- 可欠费里程变更记录service -->
	<dubbo:service interface="hg.fx.spi.ArrearsRecordSPI" ref="arrearsRecordSPIService" protocol="dubbo"/>
	<dubbo:service interface="hg.fx.spi.ProductInUseSPI" ref="productInUseSPIService" protocol="dubbo"/>
	<dubbo:service interface="hg.fx.spi.ReserveInfoSPI" ref="reserveInfoSPIService" protocol="dubbo"/>
	
	<dubbo:service interface="hg.fx.spi.WarnSmsRecordSPI" ref="warnSmsRecordSPIService" protocol="dubbo"/>
	
	<dubbo:service interface="hg.fx.spi.DistributorRegisterSPI" ref="distributorRegisterSPIService" protocol="dubbo"/>
	
	<dubbo:service interface="hg.fx.spi.FixedPriceSetSPI" ref="fixedPriceSetSPIService" protocol="dubbo"/>
	
	<dubbo:service interface="hg.fx.spi.FixedPriceIntervalSPI" ref="fixedPriceIntervalSPIService" protocol="dubbo"/>
	
	<dubbo:service interface="hg.fx.spi.RebateSetSPI" ref="rebateSetSPIService" protocol="dubbo"/>
	
	<dubbo:service interface="hg.fx.spi.RebateReportSPI" ref="rebateReportSPIService" protocol="dubbo"/>
	
	<dubbo:service interface="hg.fx.spi.FixedPriceReportSPI" ref="fixedPriceReportSPIService" protocol="dubbo"/>
	<dubbo:service interface="hg.fx.spi.RebateIntervalSPI" ref="rebateIntervalSPIService" protocol="dubbo"/>
	
	<!-- 处理Hibernate延迟对象 -->
	<bean id="serviceProviderProcessLazyObjectAspect"
		  class="hg.framework.service.component.base.aspect.ServiceProviderProcessLazyObjectAspect"/>

	<!-- 根据来源平台标识切换数据源 -->
	<bean id="dbCheckerAspect" class="hg.framework.service.component.base.aspect.ServiceProviderBeforeProcessAspect">
		<!-- 来源平台识切与数据源KEY对应关系 -->
		<property name="dataSourceMap">
			<map>
				<!-- 平台标识 -->
				<entry key="other">
					<!-- 对应数据源KEY -->
					<list>
						<value>other</value>
					</list>
				</entry>
			</map>
		</property>
	</bean>

	<!-- AOP -->
	<aop:config>
		<aop:pointcut id="service" expression="target(hg.framework.common.base.BaseServiceProviderInterface)
				and args(hg.framework.common.base.BaseSPIRequest,..)"/>
		<aop:aspect id="serviceAspect2" ref="dbCheckerAspect" order="101">
			<aop:before pointcut-ref="service" method="before"/>
		</aop:aspect>
		<aop:aspect id="serviceAspect1" ref="serviceProviderProcessLazyObjectAspect" order="100">
			<aop:around pointcut-ref="service" method="doAround"/>
		</aop:aspect>
	</aop:config>

</beans>