body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1510px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:87px;
  top:29px;
  width:474px;
  height:1251px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:1251px;
}
#u1 {
  position:absolute;
  left:2px;
  top:618px;
  width:470px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:87px;
  top:123px;
  width:474px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:13px;
  width:470px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:136px;
  width:59px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:509px;
  top:136px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:89px;
  top:337px;
  width:470px;
  height:216px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:216px;
}
#u9 {
  position:absolute;
  left:2px;
  top:100px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:97px;
  top:344px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:97px;
  top:376px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:214px;
  top:376px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:97px;
  top:435px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:89px;
  top:557px;
  width:470px;
  height:98px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:98px;
}
#u19 {
  position:absolute;
  left:2px;
  top:41px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:97px;
  top:564px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:214px;
  top:599px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u23 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:332px;
  top:599px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:89px;
  top:659px;
  width:470px;
  height:488px;
  overflow:hidden;
}
#u26_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:488px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u26_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:480px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:480px;
}
#u28 {
  position:absolute;
  left:2px;
  top:232px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:7px;
  top:60px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:7px;
  top:109px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:126px;
  top:109px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:358px;
  top:109px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:243px;
  top:109px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:7px;
  top:158px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:126px;
  top:158px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:358px;
  top:158px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:243px;
  top:158px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u46 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:122px;
  top:210px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:7px;
  top:210px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:126px;
  top:60px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:245px;
  top:60px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:243px;
  top:210px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u56 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:362px;
  top:60px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:7px;
  top:12px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:89px;
  top:175px;
  width:470px;
  height:50px;
  font-size:18px;
  text-align:left;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:50px;
}
#u61_img.selected {
  left:-5px;
  top:-5px;
  width:480px;
  height:60px;
}
#u61.selected {
}
#u62 {
  position:absolute;
  left:2px;
  top:14px;
  width:466px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:217px;
  top:177px;
  width:342px;
  height:45px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:45px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u64 {
  position:absolute;
  left:89px;
  top:228px;
  width:470px;
  height:50px;
  font-size:18px;
  text-align:left;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:50px;
}
#u64_img.selected {
  left:-5px;
  top:-5px;
  width:480px;
  height:60px;
}
#u64.selected {
}
#u65 {
  position:absolute;
  left:2px;
  top:14px;
  width:466px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:217px;
  top:230px;
  width:110px;
  height:45px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:45px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u67 {
  position:absolute;
  left:332px;
  top:376px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:449px;
  top:376px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u70 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:214px;
  top:435px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u72 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:332px;
  top:435px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u74 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:449px;
  top:435px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u76 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:97px;
  top:491px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u78 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:214px;
  top:491px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u80 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:332px;
  top:491px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u82 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:449px;
  top:599px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u84 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:376px;
  top:230px;
  width:110px;
  height:45px;
}
#u85_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:45px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u86 {
  position:absolute;
  left:89px;
  top:282px;
  width:470px;
  height:50px;
  font-size:18px;
  text-align:left;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:50px;
}
#u86_img.selected {
  left:-5px;
  top:-5px;
  width:480px;
  height:60px;
}
#u86.selected {
}
#u87 {
  position:absolute;
  left:2px;
  top:14px;
  width:466px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:217px;
  top:284px;
  width:110px;
  height:45px;
}
#u88_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:45px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u89 {
  position:absolute;
  left:376px;
  top:284px;
  width:110px;
  height:45px;
}
#u89_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:45px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u90 {
  position:absolute;
  left:97px;
  top:598px;
  width:101px;
  height:39px;
  font-size:18px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u91 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:659px;
  top:143px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u93 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:593px;
  top:153px;
  width:66px;
  height:10px;
}
#u94_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_end {
  position:absolute;
  left:49px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_line {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  height:2px;
}
#u95 {
  position:absolute;
  left:659px;
  top:80px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:593px;
  top:90px;
  width:66px;
  height:10px;
}
#u97_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_end {
  position:absolute;
  left:49px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_line {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  height:2px;
}
#u98 {
  position:absolute;
  left:780px;
  top:142px;
  width:735px;
  height:325px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u100 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:103px;
  top:0px;
  width:142px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u102 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:245px;
  top:0px;
  width:485px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:30px;
}
#u104 {
  position:absolute;
  left:2px;
  top:6px;
  width:481px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:0px;
  top:30px;
  width:103px;
  height:62px;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:62px;
}
#u106 {
  position:absolute;
  left:2px;
  top:23px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:103px;
  top:30px;
  width:142px;
  height:62px;
  font-size:14px;
  text-align:center;
  line-height:20px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:62px;
}
#u108 {
  position:absolute;
  left:2px;
  top:21px;
  width:138px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:245px;
  top:30px;
  width:485px;
  height:62px;
  font-size:14px;
  line-height:20px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:62px;
}
#u110 {
  position:absolute;
  left:2px;
  top:21px;
  width:481px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:0px;
  top:92px;
  width:103px;
  height:104px;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:104px;
}
#u112 {
  position:absolute;
  left:2px;
  top:44px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:103px;
  top:92px;
  width:142px;
  height:104px;
  font-size:14px;
  text-align:center;
  line-height:20px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:104px;
}
#u114 {
  position:absolute;
  left:2px;
  top:42px;
  width:138px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:245px;
  top:92px;
  width:485px;
  height:104px;
  font-size:14px;
  line-height:20px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:104px;
}
#u116 {
  position:absolute;
  left:2px;
  top:12px;
  width:481px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:0px;
  top:196px;
  width:103px;
  height:124px;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:124px;
}
#u118 {
  position:absolute;
  left:2px;
  top:54px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:103px;
  top:196px;
  width:142px;
  height:124px;
  font-size:14px;
  text-align:center;
  line-height:20px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:124px;
}
#u120 {
  position:absolute;
  left:2px;
  top:52px;
  width:138px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:245px;
  top:196px;
  width:485px;
  height:124px;
  font-size:14px;
  line-height:20px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:124px;
}
#u122 {
  position:absolute;
  left:2px;
  top:2px;
  width:481px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:820px;
  top:190px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u124 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:659px;
  top:322px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u126 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:593px;
  top:332px;
  width:66px;
  height:10px;
}
#u127_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u127_end {
  position:absolute;
  left:49px;
  top:-5px;
  width:18px;
  height:20px;
}
#u127_line {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  height:2px;
}
#u128 {
  position:absolute;
  left:820px;
  top:270px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u129 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:820px;
  top:380px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u131 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:87px;
  top:28px;
  width:473px;
  height:96px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:96px;
}
#u133 {
  position:absolute;
  left:2px;
  top:40px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
