<#assign contextPath=springMacroRequestContext.getContextPath() />
<style type="text/css">
.searchContent td{text-align: left}
</style>
<div class="pageHeader">
	
	<form id="pagerForm" rel="pagerForm" onsubmit="return navTabSearch(this);"
		action="${contextPath}/airtkt/order/list" method="get">
		
		<input type="hidden" name="pageNum" value="" />
		<input type="hidden" name="numPerPage" value="" />
		<div class="searchBar">
			<table class="searchContent">
				<tr>
					<td>
						订单编号：
					</td>
					<td>
						<input name="id" value="${(platformOrderQO.id)!''}"/>
					</td>
					
					<td>
						下单时间：
					</td>
					<td><input type="text" readonly="readonly" name="createDateFrom1" value="" class="date"/>至<input type="text" readonly="readonly" name="createDateTo1" value="" class="date"/></td>
					<td>订单状态</td>
					<td>
						<select name="dealerId">
							<option value="">全部</option>
							<option value="1">1</option>
							<option value="2">2</option>
						</select>
					</td>
					
				</tr>
				<tr>
					<td>
						下单人：
					</td>
					<td>
						<input type="text" name="userId" value="${(platformOrderQO.userId)!''}" />
					</td>
					<td>
						易购订单号：
					</td>
					<td>
						<input type="text" name="ygId" value="${(platformOrderQO.ygId)!''}" />
					</td>
					<td>
						供应商订单号：
					</td>
					<td>
						<select name="dealerId">
							<option value="">全部</option>
							<option value="1">1</option>
							<option value="2">2</option>
						</select>
						<input /> 
					</td>
					
				</tr>
				<tr>
					<td>
						乘机人
					</td>
					<td><input type="text" name="passenger" value="${(platformOrderQO.passenger.name)!''}" /></td>
					<td>PNR</td>
					<td>
						<input type="text" name="pnr" value="${(platformOrderQO.pnr)!''}" />
					</td>
				</tr>
			</table>
			<div class="subBar">
				<ul>
					<li><div class="buttonActive">
							<div class="buttonContent">
								<button type="submit">查询</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
		</ul>
	</div>
	<table class="table" width="100%" layoutH="210" >
		<thead>
			<tr>
				<th width="22"><input type="checkbox" group="ids"
					class="checkboxCtrl">
				</th>
 				<th width="70">订单来源</th>
				<th width="100">经销商订单号</th>
				<th width="100">平台订单号</th>
				<th width="90">易购单号</th>
				<th width = "60">供应商订单号</th>
				<th width = "60">乘机人</th>
				<th width = "90">PNR</th>
				<th width = "60">航程</th>
				<th width = "70">支付金额</th>
				<th width = "70">返点/佣金</th>
				<th width = "60">票号</th>
				<th width = "75">下单时间</th>
				<th width = "90">订单状态</th>
				<th width="140">操作</th>
			</tr>
		</thead>
		<tbody>
			<#list pagination.list as order>
				<tr height="21px">
				<td><input name="ids" value="" type="checkbox"></td>
				<td>${order.orderSource}</td>
				<td>${order.agencyOrderId}</td>
				<td>${order.id}</td>				
				<td>${order.ygId}</td>
				<td>${order.suppId}</td>
				<td>${order.passenger.name}</td>
				<td>${order.pnr}</td>
				<td>${order.flightay}</td>
				<td>${order.payAmount?string('0.00')}</td>
				<td>${order.commision?string('0.00')}/${order.commAmount?string('0.00')}</td>
				<td>${order.tktNo}</td>
				<td>${order.createTime!?string("yyyy-MM-dd HH:mm:ss")}</td>
				<td>${order.status}</td>
				<td>
					<a target="dialog" href="${contextPath}/airtkt/order/detail?id=" width="1000" height="800">订单详情</a>
					<a target="dialog" href="#">取消订单</a>
				</td>
			</tr>
			</#list>
			
		</tbody>
	</table>
	<#include "/public/pagination/pagination.html">
</div>
