body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:511px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:60px;
  top:30px;
  width:320px;
  height:480px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u2 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:60px;
  top:94px;
  width:320px;
  height:416px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:416px;
}
#u4 {
  position:absolute;
  left:2px;
  top:200px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:120px;
  top:57px;
  width:200px;
  height:30px;
  font-size:18px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:60px;
  top:94px;
  width:320px;
  height:46px;
  font-size:18px;
  color:#0066FF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:60px;
  top:139px;
  width:320px;
  height:431px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:431px;
}
#u10 {
  position:absolute;
  left:2px;
  top:208px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:73px;
  top:108px;
  width:12px;
  height:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:89px;
  top:109px;
  width:39px;
  height:19px;
  font-size:16px;
  color:#2087FC;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:61px;
  top:140px;
  width:318px;
  height:280px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:280px;
}
#u16 {
  position:absolute;
  left:2px;
  top:132px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:60px;
  top:93px;
  width:68px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:389px;
  top:256px;
  width:122px;
  height:32px;
  font-size:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:32px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
