<#assign contextPath=springMacroRequestContext.getContextPath() />
<div id="footer" class="mt10">
	<div class="fooerBD">
		<div class="L about">
			<dl>
				<dt>
					<a href="#">关于我们</a>
				</dt>
				<dd>
					<a href="${contextPath}/about">网站简介</a>
					<a href="${contextPath}/mfsm">法律规定</a>
				</dd>
			</dl>
			<dl>
				<dt>
					<a href="#">加盟合作</a>
				</dt>
				<dd>
					<a href="${contextPath}/about">友情链接</a>
					<a href="${contextPath}/sitemap">网站联盟</a>
				</dd>
			</dl>
			<dl>
				<dt>
					<a href="#">联系我们</a>
				</dt>
				<dd>
					<a href="${contextPath}/contact">联系我们</a>
					<a href="${contextPath}/rsjy">投诉建议</a><a href="${contextPath}/jobs">诚聘英才</a>
				</dd>
			</dl>
		</div>
		<div class="L w260">
			<div class="hot_phone">
				<p>24小时客服热线：0571-23288372</p>
				<p>境外游客紧急联络电话：</p>
				<!-- <p>在线客服：23154212</p> -->
			</div>
		</div>
	</div>
</div>