<#assign contextPath=springMacroRequestContext.getContextPath() />

<div class="pageHeader">
	<form id="pagerForm" rel="pagerForm" onsubmit="return navTabSearch(this);" action="${contextPath}/airtkt/customer/income_refund/list" method="post">
		<input type="hidden" name="pageNum" value="${pagination.pageNo}" />
		<input type="hidden" name="numPerPage" value="${pagination.pageSize}" />
		<div class="searchBar">
		
			<table class="searchContent">
				<tr>
					<td>
						经销商平台名称：
						<select name="dealerCode">
							<option value="">请选择</option>
							<#list dealerList as dea>
							<option value='${(dea.code)!""}' <#if dea.code==dealerCode>selected="selected"</#if> > ${(dea.name)!""} </option>	
							</#list>
						</select>
					</td>
					<td>
						创&nbsp;&nbsp;&nbsp;&nbsp;建&nbsp;&nbsp;&nbsp;&nbsp;人：<input type="text" name="linkerName" value="${linkerName!''}" />
					</td>
					<td>
						平台订单号：<input type="text" name="orderNo" value="${orderNo!''}" />
					</td>
					<td>
						下单时间：<input type="text" readonly="readonly" name="createDateFrom" value="${createDateFrom!''}" class="date"/>至
								 <input type="text" readonly="readonly" name="createDateTo" value="${createDateTo!''}" class="date"/>
					</td>
				</tr>
				<tr>
					<td>
						P&nbsp;N&nbsp;R：&nbsp;<input type="text" name="pnr" value="${pnr!''}" />
					</td>
					<td>
						乘机人：<input type="text" name="passengerName" value="${passengerName!''}" />
					</td>
				</tr>
			</table>
		
			<div class="subBar">
				<ul>
					<li>
						<div class="buttonActive"><div class="buttonContent"> <button type="submit">检索</button></div></div>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>


<div class="pageContent">
	
	<table class="table" width="100%" layoutH="135" id="table_caiwu">
		<thead>
			<tr>
				<th width="80">平台订单号</th>
				<th width="80">经销商订单号</th>
				<th width="120">乘机人</th>
				<th width="60">PNR</th>
				<th width="120">航程</th>
				<th width="70">支付金额</th>
				<th width="70">退款金额</th>
				<th width="150">流水号</th>
				<th width="140">下单时间</th>
				<th width="70">操作</th>
			</tr>
		</thead>
		<tbody>
			<#list pagination.list as o>
				<tr  height="60px">
					<td>${(o.orderNo)!""}</td>
					<td>${(o.dealerOrderCode)!""}</td>
					<td>
						<#if o.passengerList ??>
						<#list o.passengerList as passenger>
							<p>${passenger.name}</p>
						</#list>
						</#if>
					</td>
					<td>${(o.pnr)!""}</td>
					<td>
					<p>
						<#if o.startCityName??&&o.endCityName??>
						<p>${o.startCityName} — ${o.endCityName}</p>
						</#if>
						<p>${o.flightNo}</p>
						<p>${o.departureTime}</p>
					</p>
					</td>
					<td>
						<#-- <#if o.orderStatus.payStatus == '38' || o.orderStatus.payStatus == '39' || o.orderStatus.payStatus == '40' >
							${(o.oneTktAmount+o.oneTktTax)?string('0.00')}
						<#else>
							0.00
						</#if> -->
					</td>
					<td>
					<#-- <#if o.orderStatus.payStatus == '41' || o.orderStatus.payStatus == '42' || o.orderStatus.payStatus == '43'>
						<#if o.refundType == 'F'>
							${(o.userPayAmount + o.disparity +1)?string('0.00')}
						<#elseif o.refundType == 'T'>
							${(o.userPayAmount + o.disparity)?string('0.00')}
						<#else>
							0.00
						</#if>
					<#else>
						0.00
					</#if> -->
					</td>
					<td>
						${(o.customerPaySerialNumber)!""}
						${(o.platBackSerialNumber)!""}
					</td>
					<td>
					<p>
					${o.loginName!""}
					</p>
					<p>
					${o.createTime!""}
					</p>
					</td>
					<td>
						<a href="${contextPath}/airtkt/customer/income_refund/detail?orderNo=${o.orderNo}&supplierOrderNo=${o.supplierOrderNo}" style="color: blue" width="1200" height="600" target="dialog">订单详情</a>
					</td>
				</tr>
			</#list>
		</tbody>
	</table>
	<#include "/public/pagination/pagination.html">
</div>



