<#assign contextPath=springMacroRequestContext.getContextPath() />
<div class="left-banner line">

	<div src1="url(resources/img/order/order-icon.png) no-repeat"  src2="url(resources/img/order/order-icon1.png) no-repeat" class="select-item line select-item1"><div class="select-item-wrap">
		订单管理<img class="other other1" src="${contextPath}/resources/img/order/d-l.png">
		<img style="display:none;" class="other other2" src="${contextPath}/resources/img/order/r-l.png">
	</div></div>
	<div class="select-item-sub">
		<div data-index=0 class="select-item-sub-li  " ref="${contextPath}/orderManage/orderList">订单列表<div style="display:none;" class="light"></div><div  class="light2"></div></div>
		<div data-index=1 class="select-item-sub-li " ref="${contextPath}/mileOrder/newOrderView">新建订单<div style="display:none;" class="light"></div><div class="light2"></div></div>
		<div data-index=2 class="select-item-sub-li " ref="${contextPath}/importHistory/importHistoryList">历史导入<div  class="light"></div><div style="display:none;" class="light2"></div></div>
		
		<div class="parent-light"></div>
	</div>
	
	
	<div src1="url(resources/img/order/user.png) no-repeat" src2="url(resources/img/order/user1.png) no-repeat" class="select-item line select-item2">
	<div class="select-item-wrap">
		<div class="select-item-wrap">
		用户管理<img style="display:none;" class="other other1" src="${contextPath}/resources/img/order/d-l.png">
		<img  class="other other2" src="${contextPath}/resources/img/order/r-l.png">
	</div></div>
	</div>
	<div class="select-item-sub" style="display:none;">
		<div data-index=0 class="select-item-sub-li  " ref="${contextPath}/userManager/staffList">用户管理<div style="display:none;" class="light"></div><div style="display:none;" class="light2"></div></div>
		
		<div class="parent-light" style="display:none;"></div>
	</div>
	
	
	<div src1="url(resources/img/order/personal.png) no-repeat" src2="url(resources/img/order/personal1.png) no-repeat" class="select-item line select-item3"><div class="select-item-wrap">
		个人管理<img class="other other2" src="${contextPath}/resources/img/order/r-l.png">
		<img style="display:none;" class="other other1" src="${contextPath}/resources/img/order/d-l.png">
	</div></div>
	<div class="select-item-sub" style="display:none;">
		<div data-index=0 class="select-item-sub-li  ">账号管理<div style="display:none;" class="light"></div><div style="display:none;" class="light2"></div></div>
		<div data-index=0 class="select-item-sub-li  " ref="${contextPath}/bill/list">账单明细TEST<div style="display:none;" class="light"></div><div style="display:none;" class="light2"></div></div>
		<div class="parent-light" style="display:none;"></div>
	</div>
</div>



