body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:890px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:886px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:50px;
  width:770px;
  height:32px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:32px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
