<#assign contextPath=springMacroRequestContext.getContextPath() />
<div class="accordion" fillSpace="sidebar">
	<div class="accordionHeader">
		<h2>
			<span>Folder</span>系统设置
		</h2>
	</div>
	<div class="accordionContent">
		<ul class="tree">
			<li><a>权限管理</a>
				<ul>
					<li><a href="${contextPath}/auth/perm/index" target="navTab"
						rel="authPerm">资源管理</a>
					</li>
					<li><a href="${contextPath}/auth/role/list" target="navTab"
						rel="authRole">角色管理</a>
					</li>
					<li>
						<a href="${contextPath}/system/operator/list" target="navTab" rel="operator">员工管理</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	
	<div class="accordionHeader">
		<h2>
			<span>Folder</span>订单管理
		</h2>
	</div>
	<div class="accordionContent">
		<ul class="tree">
			<li><a href="${contextPath}/payorder/list" target="navTab"
					rel="payorder">订单列表</a>
			   <li> <a href="${contextPath}/hjborder/testorder" target="navTab" height="700" width="650" rel="hjbtest">汇金宝支付测试</a> </li>
			   <li> <a href="${contextPath}/alipayorder/testorder" target="navTab" height="700" width="650" rel="alipaytest">支付宝支付测试</a> </li>
			   <li> <a href="${contextPath}/alipayorder/testrefund" target="navTab" height="700" width="650" rel="alipaytest">支付宝退款测试</a> </li>
			</li>	
		</ul>
	</div>
	
	<div class="accordionHeader">
		<h2>
			<span>Folder</span>客户端管理
		</h2>
	</div>
	<div class="accordionContent">
		<ul class="tree">
			
					<li> <a href="${contextPath}/client/list" target="navTab" rel="client">客户端列表</a> </li>
							
		</ul>
	</div>
	
	
</div>






