<#assign contextPath=springMacroRequestContext.getContextPath() />
<style type="text/css">
.searchContent td{text-align: left}
</style>
<div class="pageHeader">
	
	<form id="pagerForm" rel="pagerForm" onsubmit="return navTabSearch(this);"
		action="${contextPath}/viewspot/order/list" method="get">
		
		<input type="hidden" name="pageNum" value="" />
		<input type="hidden" name="numPerPage" value="" />
		<div class="searchBar">
			<table class="searchContent">
				<tr>
					<td>
						经销商渠道：
					</td>
					<td>
						<select name="dealerId">
							<option value="">全部</option>
							<option value="1">南航</option>
							<option value="2">南传</option>
						</select>
					</td>
					<td>
						平台订单编号：
					</td>
					<td><input type="text" name="platformOrderCode" value="${platformOrderQO.platformOrderCode}"></td>
					<td>
						供应商订单号：
					</td>
					<td>
					<select name="supplierId">
							<option value="">全部</option>
							<option value="1">同城</option>
							<option value="2">携程</option>
					</select>
					<input type="text" name="supplierOrderCode" value="${platformOrderQO.supplierOrderCode}">
					</td>
				</tr>
				<tr>
					<td>
						订单状态：
					</td>
					<td>
						<select name="orderStatus">
							<option value="">全部</option>
							<option value="1">订单已提交</option>
							<option value="2">订单已受理</option>
							<option value="3">交易成功</option>
							<option value="4">交易失败</option>
						</select>
					</td>
					<td>
						景点名称：
					</td>
					<td><input type="text" name="scenicSpotsName" value="${platformOrderQO.scenicSpotsName}"></td>
					<td>
						经销商订单号：
					</td>
					<td><input type="text" name="dealerOrderCode" value="${platformOrderQO.dealerOrderCode}"></td>
				</tr>
				<tr>
					<td>支付状态：</td>
					<td>
						<select name="paymentStatus">
							<option value="">全部</option>
							<option value="1">无需支付</option>
						</select>
					</td>
					<td>支付类型：</td>
					<td>
						<select name="paymentType">
							<option value="">全部</option>
							<option value="1">此门票无需线上支付</option>
						</select>
					</td>
					<td>
						下单时间：
					</td>
					<td><input type="text" readonly="readonly" name="createDateFrom" value="" class="date"/>至<input type="text" readonly="readonly" name="createDateTo" value="" class="date"/></td>	
				</tr>
				<tr>
					<td>
						游玩人：
					</td>
					<td><input type="text" name="travelerName" value="${platformOrderQO.travelerName}"></td>
					<td>
						预定人：
					</td>
					<td><input type="text" name="bookMan" value="${platformOrderQO.bookMan}"></td>
				</tr>
			</table>
			<div class="subBar">
				<ul>
					<li><div class="buttonActive">
							<div class="buttonContent">
								<button type="submit">查询</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
		</ul>
	</div>
	<table class="table" width="100%" layoutH="210" >
		<thead>
			<tr>
				<th width="22"><input type="checkbox" group="ids"
					class="checkboxCtrl">
				</th>
 				<th width="70">经销商</th>
				<th width="110">平台订单号</th>
				<th width="110">供应商订单号</th>
				<th width="110">经销商订单号</th>
				<th width = "70">旅游时间</th>
				<th width = "70">总价</th>
				<th width = "90">支付类型</th>
				<th width = "70">支付状态</th>
				<th width = "80">订单状态</th>
				<th width = "80">是否可取消</th>
				<th width = "80">下单时间</th>
				<th width = "95">是否预订成功</th>
				<th width="140">操作</th>
			</tr>
		</thead>
		<tbody>
			<#list pagination.list as mpOrder>
			<tr height="21px">
				<td><input name="ids" value="${mpOrder.id}" type="checkbox">
				</td>
				<td>${mpOrder.dealerId}</td>
				<td>${mpOrder.platformOrderCode}</td>
				<td>${mpOrder.supplierOrderCode}</td>
				<td><a href="${contextPath}/viewspot/order/detail?id=" target="dialog">${mpOrder.dealerOrderCode}</a></td>
				<td>2014-07-11</td>
				<td>${mpOrder.number*mpOrder.price}</td>
				<td>无需线上支付</td>
				<td>无需支付</td>
				<td>订单已使用</td>
				<td>是</td>
				<td>2014-07-11</td>
				<td>是</td>
				<td><a  target="dialog"
					href="${contextPath}/viewspot/order/detail?id=" width="1000" height="800">订单详情</a>
					<a  target="dialog"
					href="${contextPath}/viewspot/order/tocancel?id=">取消订单</a>
					</td>
			</tr>
			</#list>
		</tbody>
	</table>
	<#include "/public/pagination/pagination.html">
</div>
