<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:util="http://www.springframework.org/schema/util" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
	http://www.springframework.org/schema/jee 
	http://www.springframework.org/schema/jee/spring-jee-3.0.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd 
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util-3.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
	default-autowire="byName">

	<context:annotation-config />
	<context:component-scan base-package="plfx,hg" />
	<!-- <context:component-scan base-package="plfx.api.controller" /> -->
	<!-- 强制SPRING使用CGLIB动态代理，不使用JDK代理。 -->
	<aop:config proxy-target-class="true" />
	
	<bean id="plfxApiConfigurerListener" class="plfx.api.listener.PLFXApiConfigurerListener" />

	<!-- 远程配置 -->
	<bean id="propertyConfigurer" class="hg.common.component.RemoteConfigurer">
		<property name="remoteConfigUrl" value="${remoteConfigUrl}" />
		<property name="projectId" value="PLFX_API" />
		<property name="environmentName" value="${environmentName}" />
		<property name="loadConfigTimeOut" value="30000" />
		<property name="listener" ref="plfxApiConfigurerListener" />
	</bean>
	
	<!-- 短信配置 -->
	<bean id="smsUtil" class="hg.common.util.SMSUtils">
		<constructor-arg name="smsAddress" value="${sms_address}"/>
		<constructor-arg name="smsUser" value="${sms_user}"/>
		<constructor-arg name="smsPassword" value="${sms_password}"/>
	</bean>
	
	<!-- AOP -->
	<bean id="serviceAspectBean" class="plfx.jd.app.component.aop.ServiceAspect" >
 		<property name="serviceAopHglog" value="${service_aop_hglog}" /> 
	</bean>
	<aop:config>
		<aop:aspect id="serviceAspect" ref="serviceAspectBean">
			<aop:pointcut id="service" expression="execution(* plfx.jd.app.service..*.*(..)) 
				|| execution(* hg.common.component.BaseServiceImpl.*(..)) 
				|| execution(* hg.system.service..*.*(..))" />
			<aop:around pointcut-ref="service" method="doAround" />
		</aop:aspect>
	</aop:config>
	
	<!-- 易行国际接口配置 -->
	<bean class="plfx.yxgjclient.common.util.YIGJConfig">
		<property name="userName" value="${yxgj_userName}" />
		<property name="key" value="${yxgj_key}" />
		<property name="interUrl" value="${yxgj_interUrl}" />
	</bean>

	<bean id="hgLogger" class="hg.log.util.HgLogger">
		<constructor-arg name="projectId" value="PLFX_API" />
		<constructor-arg name="envId" value="${environmentName}" />
		<constructor-arg name="logRepository" ref="logRepository" />
	</bean>
	
	<import resource="classpath:spring/amqp-consumer.xml" />
	<import resource="classpath:spring/amqp-producer.xml" />
	<import resource="classpath:spring/dubbo-consumer.xml" />
	<import resource="classpath:spring/spring-hibernate-common.xml" />
	<import resource="classpath:spring/spring-redis.xml" />
	<import resource="classpath:spring/spring-servlet.xml" />
	<import resource="classpath:spring/spring-mongodb.xml" />
	<import resource="classpath:spring/spring-actions.xml" />
</beans>