<#assign contextPath=springMacroRequestContext.getContextPath() />

<style>
	.jq{background:#eee;font-weight:600;}
	.jq span{margin-left:5px;}
</style>

<div class="pageContent">
<div class="pageFormContent" layoutH="58">

	<form action="${contextPath}/dealer/add" method="post"  class="pageForm required-validate" onsubmit="return beforeSubmitForm(this)">
	
		<div class="jq unit" style="padding:8px 10px;margin-bottom:10px;"><span>基本信息</span></div>
		<div class="unit">
			<label>经销商名称：</label>
			<input  name="dealerName" class="required" value="${(dealer.baseInfo.name)!''}" />
		</div>
		<div class="unit">
			<label>经销商代码：</label>
			<input  name="key" class="required" value="${(dealer.clientInfo.key)!''}"/>
		</div>
		<div class="unit">
			<label>经销商简介：</label>
			<textarea name="intro" rows="5" cols="50" class="required">${(dealer.baseInfo.intro)!''}</textarea>
		</div>
		
		<!-- 资质信息   -->
		<div class="jq unit" style="padding:8px 10px;margin-top:20px;margin-bottom:10px;"><span>资质信息</span></div>
		<div class="unit">
			<label>&nbsp;</label>
            <span style="color:gray;">请上传JPG/PNG/GIF/BMP格式的营业执照图片，最大不超过2M</span>
		</div>
		<div class="unit">
			<label>营业执照：</label>
			<span class="u-upload">
				<input class="upFile" id="file1" type="file" name="file" data-msg="营业执照" 
					   data-imgun="imgun1" size="60" onchange="imgUpload(this);"/>
            </span>
		</div>
		<div class="unit" id="imgun1">
			<label>&nbsp;</label>
			<img class="img-polaroid" width="80" alt="营业执照" title="营业执照" src="${(dealer.certificateInfo.businessLicense)!'resources/image/u39.png'}"/>
          	<input name="titles" type="hidden"/>
          	<input name="fileNames" type="hidden"/>
          	<input class="required" name="imgNames" type="hidden"/>
		</div>
		<div class="unit">
			<label>税务登记证：</label>
			<span class="u-upload">
				<input class="upFile" id="file2" type="file" name="file" data-msg="税务登记证" 
				       data-imgun="imgun2" size="60" onchange="imgUpload(this);"/>
            </span>
		</div>
		<div class="unit" id="imgun2">
			<label>&nbsp;</label>
			<img class="img-polaroid" width="80" alt="税务登记证" title="税务登记证" src="${(dealer.certificateInfo.taxRegistrationCertificate)!'resources/image/u39.png'}"/>
          	<input name="titles" type="hidden"/>
          	<input name="fileNames" type="hidden"/>
          	<input class="required" name="imgNames" type="hidden"/>
		</div>
		<div class="unit">
			<label>组织代码证：</label>
			<span class="u-upload">
				<input class="upFile" id="file3" type="file" name="file" data-msg="组织代码证" 
				       data-imgun="imgun3" size="60" onchange="imgUpload(this);"/>
            </span>
		</div>
		<div class="unit" id="imgun3">
			<label>&nbsp;</label>
			<img class="img-polaroid" width="80" alt="组织代码证" title="组织代码证" src="${(dealer.certificateInfo.organizationCodeCertificate)!'resources/image/u39.png'}"/>
          	<input name="titles" type="hidden"/>
          	<input name="fileNames" type="hidden"/>
          	<input class="required" name="imgNames" type="hidden"/>
		</div>
		<div class="unit">
			<label>法人身份证：</label>
			<span class="u-upload">
				<input class="upFile" id="file4" type="file" name="file" data-msg="法人身份证" 
				       data-imgun="imgun4" size="60" onchange="imgUpload(this);"/><br/>
            </span>
		</div>
		<div class="unit" id="imgun4">
			<label>&nbsp;</label>
			<img class="img-polaroid" width="80" alt="法人身份证" title="法人身份证" src="${(dealer.certificateInfo.corporateIDCard)!'resources/image/u39.png'}"/>
          	<input name="titles" type="hidden"/>
          	<input name="fileNames" type="hidden"/>
          	<input class="required" name="imgNames" type="hidden"/>
		</div>
		<!-- 资质信息   -->
		
		
		<!-- 联系信息   -->
		<div class="jq unit" style="padding:8px 10px;margin-top:20px;margin-bottom:10px;"><span>联系信息</span></div>
		<div class="unit">
			<label>联&nbsp;&nbsp;&nbsp;系&nbsp;&nbsp;&nbsp;&nbsp;人：</label>
			<input name="linkMan" class="required" value="${(dealer.baseInfo.linkMan)!''}"/>
		</div>
		<div class="unit">
			<label>手&nbsp;&nbsp;&nbsp;机&nbsp;&nbsp;&nbsp;&nbsp;号：</label>
			<input name="telephone" class="required phone" value="${(dealer.baseInfo.telephone)!''}"/>
		</div>
		<div class="unit">
			<label>联&nbsp;系&nbsp;邮&nbsp;箱：</label>
			<input id="email2" name="email" class="isInject required email" value="${(dealer.baseInfo.email)!''}"/>
		</div>
		<div class="unit">
			<label>联系地址：</label>
				<input name="provinceId" type="hidden"/>
				<input id="provinceQoCode" name="province.code" type="hidden"/>
				<input name="province.name" suggestfields="name"  placeholder="所在省" lookupgroup="province" readonly="readonly" suggesturl="${contextPath}/baseDate/province" size="10"/>
			<span>></span>
				<input name="cityId" type="hidden"/>
				<input id="cityQoCode" name="city.code" type="hidden"/>
				<input name="city.name" lookupgroup="city" placeholder="所在市" readonly="readonly" size="12" suggestfields="name" suggesturl="${contextPath}/baseDate/city?provinceCode={provinceQoCode}"/>
			<span>></span>
				<input name="areaId" type="hidden"/>
				<input id="areaQoCode" name="area.code" type="hidden"/>
				<input name="area.name" lookupgroup="area" placeholder="所在区" readonly="readonly" size="25" suggestfields="name" suggesturl="${contextPath}/baseDate/area?cityCode={cityQoCode}"/>
		</div>
		<div class="unit">
			<label>&nbsp;</label>
			<textarea id="address" name="address" class="required" rows="4" cols="55"></textarea>
		</div>
		
		
		<div class="jq unit" style="padding:8px 10px;margin-top:20px;margin-bottom:10px;"><span>经销商网址</span></div>
		<div class="unit">
			<label>经销商网址：</label>
			<input type="url" name="dealerUrl" class="required" size="64" maxlength="1024" value="${(dealer.clientInfo.dealerWebsite)!''}" placeholder="输入带有HTTP前缀的地址"/>
		</div>
		
		<div class="jq unit" style="padding:8px 10px;margin-top:20px;margin-bottom:10px;"><span>消息推送</span></div>
		<div class="unit">
			<label>是否使用消息推送：</label>
			<input type="radio" value="true" name="publishAble" <#if dealer.clientInfo.publishAble?? && dealer.clientInfo.publishAble>checked="checked"</#if>>开启
			<input type="radio" value="false" name="publishAble" <#if dealer.clientInfo.publishAble?? && !dealer.clientInfo.publishAble>checked="checked"</#if>>关闭
		</div>
		<div class="unit">
			<label>消息推送网址：</label>
			<input type="url" name="publishUrl" size="64" maxlength="384" placeholder="输入带有HTTP[s]前缀的地址" value="${(dealer.clientInfo.publishUrl)!''}"/>
		</div>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" onclick="cancleAdd()">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>

</div>
</div>

<script type="text/javascript">

var beforeSubmitForm = function(evt){
	
	$("input[name='provinceId']").val($("#provinceQoCode").val());
	$("input[name='cityId']").val($("#cityQoCode").val());
	$("input[name='areaId']").val($("#areaQoCode").val());
	
	//调用DWZ的校验
	return validateCallback(evt,dialogAjaxDone);
}


function cancleAdd(){
	if(confirm("是否取消添加该经销商")){
		$.pdialog.closeCurrent();
	}
}

function checkEmail(){
	var e = $("#email2").val();
	alert(e);
}


/** 图片上传按钮单击事件 */
function imgUpload(evt){
	var temp = $(evt);
	var groupURL = '/group0/';
	//获取后缀，并校验
	var vall = temp.val();
	var fileName = vall.substr(vall.lastIndexOf("\\")+1);
	var ext = vall.substr(vall.lastIndexOf(".")+1);
	if(!(ext && /^(jpg|jpeg|png|gif)$/.test(ext.toLowerCase()))){
		alertMsg.warn("暂不支持jpg、gif、png、bmp以外的图片！");
		return false;
	}
	//发起请求
	$.ajaxFileUpload({
		url : '${contextPath}/imgUpload',
       	secureuri : false,
       	fileElementId : temp.attr("id"),
       	dataType : "json",
      	success: function (da) {
        	if(da.rs < 1){
        		alertMsg.warn("图片上传失败："+da.msg);
				return false;
        	}
        	
        	//图片显示
        	var chs = $("#"+temp.data("imgun"));
        	chs.find("img").attr("src",groupURL+da.imgName);
        	chs.find("input:eq(0)").val(temp.data("msg"));
        	chs.find("input:eq(1)").val(fileName);
        	chs.find("input:eq(2)").val(da.imgName);
        },
        error: function (data, status, e) {
        	alertMsg.warn("图片上传失败，请稍后重试！");
        }
    });
}


</script>
