<#assign contextPath=springMacroRequestContext.getContextPath() />
<#import "/public/frame/default.html" as dk>

<@dk.head "- 平台管理" >
</@dk.head>
<!-- title header footer navigation location menu side resource -->
<@dk.defaultFrame "" "admin" "admin" "" "default" "app" "admin" >

<!--start: .home-content -->
<div id="admin" class="main public-main-box">
		<div class="admin-index-box clearfix">
		<!-- 
			<p><span>开发者总数：</span><span>12个</span></p>
			<p><span>今日加入开发者：</span><span>12个</span></p>
			<p><span>今日增应用：</span><span>12个</span></p>	
			<p><span>待审核应用：</span><span>53个</span></p>
			<p><span>人气应用：</span><span>53个</span></p>	
		 -->
		</div>
	
</div><!--end: home-content -->
		
		
		
</@dk.defaultFrame>

