<#assign contextPath=springMacroRequestContext.getContextPath() />
	<div class="pageContent">
		<form method="post" enctype="multipart/form-data"
			action="${contextPath}/airtkt/order/cancel"
			class="pageForm required-validate"
			onsubmit="return validateCallback(this, dialogAjaxDone)">
			<div class="pageFormContent" layoutH="58">
				<input type="hidden" name="platformOrderCode" value="${platformOrderCode}" />
				<input type="hidden" name="dealerOrderCode" value="${dealerOrderCode!''}" />
				<div class="unit">
					<span>取消原因</span>
				</div>
				<div class="unit">
					<select name="cancelRemark">
						<#if cancelReason??>
                              <#list cancelReason?keys as itemKey>
                                  <option value="${itemKey}">${cancelReason[itemKey]}</option>
                              </#list>
                          </#if>
					</select>
				</div>
			</div>
			<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">确定</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">关闭</button></div></div></li>
			</ul>
			</div>
		</form>