<#assign contextPath=springMacroRequestContext.getContextPath() />
<#import "/public/frame/default.html" as frame />
<@frame.head "法律声明">
<link href="${contextPath}/resources/css/common.css" rel="stylesheet" />
<script src="${contextPath}/resources/js/jquery-1.11.1.min.js" language="javascript"></script>
<script src="${contextPath}/resources/js/common.js" language="javascript"></script>
<link href="${contextPath}/resources/css/foot_about.css" rel="stylesheet" />
</@frame.head>
<@frame.main "default" 6>
<body>
<!--头部-->
<!--锚点-->
<a name="top"></a>
<!--导航-->
    <!--快速回顶部-->    
    <div class="g_totop bg_cmd curp">
    </div>
<!--头部-->

<!--内容-->
<div class="g_bd wd">
    <div class="foot_law ma">
        <div class="foot_lawBox" >
        <div class="top_nav h4 color8 fl">
             您的位置：<a href="${contextPath}/home" class="color6 top_nav1">中智票量首页</a> > <a class="color3">法律声明</a>
        </div>
        <span class="foot_bt yahei fl">法律声明</span>
        <span class="fl yahei color6 h3 message clear">
            <p>若要访问和使用中智票量，您必须不加修改地完全接受本协议中所包含的条款、条件和中智票量即时刊登的通告，并且遵守本网站的相关法律、规定与规则。一旦您访问、使用了中智票量，即表示您同意并接受了所有该等条款、条件及通告。</p><br/>
            <span class="yahei color6 h2 bold">★ 本网站上的信息</span>
            <p>本网站上关于中智票量供应商或他们的产品（包括但不限于公司名称、联系人及联络信息，产品的描述和说明，相关图片、视讯等）的信息均由供应商自行提供，供应商依法应对其提供的任何信息承担全部责任。中智票量对此等信息的准确性、完整性、合法性或真实性均不承担任何责任。此外，中智票量对任何使用或提供本网站信息的商业活动及其风险不承担任何责任。</p><br/>
            <p>浏览者可以下载本网站上显示的资料，但这些资料只限用于个人学习研究使用，不得用于任何商业用途，无论是否在资料上明示，所有此等资料都是受到版权法的法律保护。浏览者没有获得中智票量或各自的版权所有者明确的书面同意下，不得分发、修改、散布、再使用、再传递或使用本网站的内容用于任何公众商业用途。</p><br/>
            <span class="yahei color6 h2 bold">★ 隐私权政策</span>
            <p>中智票量尊重并保护所有使用中智票量平台服务用户的个人隐私权。为了给您提供更准确、更有个性化的服务，中智票量会按照本隐私权政策的规定使用和披露您的个人信息。但中智票量将以高度的勤勉、审慎义务对待这些信息。除本隐私权政策另有规定外，在未征得您事先许可的情况下，中智票量不会将这些信息对外披露或向第三方提供。中智票量会不时更新本隐私权政策。您在同意中智票量服务协议之时，即视为您已经同意本隐私权政策全部内容。本隐私权政策属于中智票量服务协议不可分割的一部分。</p><br/>
            <span class="yahei color6 h2 bold">★ 免责声明</span>
            <p>中智票量特此特别声明对如下事宜不承担任何法律责任：</p><br/>
            <p>（一） 中智票量在此声明，对您使用网站、与本网站相关的任何内容、服务或其它链接至本网站的站点、内容均不作直接、间接、法定、约定的保证。
</p><br/>
            <p>（二） 无论在任何原因下（包括但不限于疏忽原因），对您或任何人通过使用本网站上的信息或由本网站链接的信息，或其他与本网站链接的网站信息所导致的损失或损害（包括直接、间接、特别或后果性的损失或损害，例如收入或利润之损失，电脑系统之损坏或数据丢失等后果），责任均由使用者自行承担（包括但不限于疏忽责任）
</p><br/>
            <p>使用者对本网站的使用即表明同意承担浏览本网站的全部风险，由于中智票量未参与建设、制作或发展本网站或提供内容，对使用者在本网站存取资料所导致的任何直接、相关的、后果性的、间接的或金钱上的损失不承担任何责任。
</p>
            
        </span>
    </div>
    </div>
</div>
<!--内容-->

 <@frame.end "default"> </@frame.end>
 </@frame.main> 
</body>
</html>
