<#assign contextPath=springMacroRequestContext.getContextPath() />
<#import "/public/frame/default.html" as frame />
<@frame.head "诚聘英才">
<link href="${contextPath}/resources/css/common.css" rel="stylesheet" />
<script src="${contextPath}/resources/js/jquery-1.11.1.min.js" language="javascript"></script>
<script src="${contextPath}/resources/js/common.js" language="javascript"></script>
<link href="${contextPath}/resources/css/foot_recruit.css" rel="stylesheet" />
<script src="${contextPath}/resources/js/slider.js" language="javascript"></script>
</@frame.head>
<@frame.main "default" 6>
<body>
<!--头部-->
<!--锚点-->
<a name="top"></a>
<!--导航-->
    <!--快速回顶部-->    
    <div class="g_totop bg_cmd curp">
    </div>
<!--头部-->

<!--内容-->
<div class="g_bd">
  <!-- 幻灯片 -->
    <div id="playBox">
        <div class="c_location"><h4 class="normal h4">您的位置：<a href="${contextPath}/home">中智票量首页</a>&nbsp;&gt;&nbsp;<span>诚聘英才</span></h4></div>
        <div class="pre"></div>
        <div class="next"></div>
        <div class="smalltitle">
            <ul>
                <li class="thistitle"></li>
                <li></li>
            </ul>
        </div>
        <ul class="oUlplay">
            <li><a href="#" target="_blank"><img src="${contextPath}/resources/images/m1.jpg"></a></li>
            <li><a href="#" target="_blank"><img src="${contextPath}/resources/images/m2.jpg"></a></li>
        </ul>
    </div>
  <!-- 标题 -->
  <div class="caption-wrap">
    <div class="caption">
      <div class="caption-i"><img src="${contextPath}/resources/images/tech.png"><a href="#1F">技术类</a></div>
      <div class="caption-i"><img src="${contextPath}/resources/images/art.png"><a href="#2F">设计类</a></div>
      <div class="caption-i"><img src="${contextPath}/resources/images/product.png"><a href="#3F">产品类</a></div>
      <div class="caption-i"><img src="${contextPath}/resources/images/market.png"><a href="#4F">市场类</a></div>
    </div>
  </div>
  <!-- 详细内容 -->
  <div class="details">
    <div class="detail">
      <div class="c_title" id="1F"><img src="${contextPath}/resources/images/t1.jpg"></div>
      <div class="detail-content">
      <div class="title">
        <div class="icon fl"></div><h1>ios<i>开发工程师</i></h1>
      </div>
        <div class="content">
          <p>
          岗位职责：<br>
          1、参与或独立负责 iOS 应用程序的设计、开发工作; <br>
          2、根据产品部门提出的产品设计,进行 iOS 版本应用的实现;<br>
          3、对 iOS 平台开发技术进行研究,根据开发过程中的体验对产品提出改进建议;
          <br><br>
          岗位要求：<br>
          1、至少1年以上iOS开发经验，独立完成过iOS软件的设计和开发工作；<br>
          2、熟悉Xcode， UIKit，Cocoa Touch，Core Data，Core Graphics等基础框架；并能熟练使用调试和测试工具就行系统调优和测试；<br>
          3、熟悉Objective-C程序，具备主流开源组件或框架的使用经验；<br>
          4、熟悉iOS下的多线程、网络、内存管理、UI开发；<br>
          5、有大型商业iOS软件开发经验或优先考虑； <br>
          6、在App Store发布过作品者优先考虑。<br>
          </p>
        </div>
      </div>
      <div class="detail-content">
      <div class="title">
        <div class="icon fl"></div><h1>Android<i>开发工程师</i></h1>
      </div>
        <div class="content">
          <p>
          岗位职责：<br>
          1、负责Android平台的软件设计开发；<br>
          2、根据项目任务计划按时完成软件编码和单元测试工作；<br>
          3、按照开发流程编写相应模块的设计文档；<br>
          4、精通一个主流手机平台下的高性能编程及性能调优，精通一个系列以上的高市场占有率的手机环境；
          <br><br>
          岗位要求：<br> 
          1、两年以上Android平台的APP开发经验，有已上架的成熟作品；<br> 
          2、熟悉Android平台的应用开发，熟悉平台的相关接口，了解Android体系架构；<br>
          3、精通JAVA语言，对面向对象的开发有深刻认识；<br>
          4、有过完整的App开发经验者优先,熟悉html5手机页面布局优先；<br>
          5、拥有良好的代码习惯，结构清晰，逻辑性强；<br>
          6、勤奋好学、心态阳光，有良好的团队合作性。<br>
          </p>
        </div>
      </div>
        <div class="detail-content">
            <div class="title">
                <div class="icon fl"></div><h1>Java<i>软件工程师</i></h1>
            </div>
            <div class="content">
                <p>
                    岗位职责：<br>
                    1、在上级的领导和监督下定期完成量化的工作要求；<br>
                    2、能独立处理和解决所负责的任务；<br>
                    3、根据开发进度和任务分配，完成相应模块软件的设计、开发、编程任务；<br>
                    4、进行程序单元、功能的测试，查出软件存在的缺陷并保证其质量；<br>
                    5、进行编制项目文档和质量记录的工作；<br>
                    6、维护软件使之保持可用性和稳定性。
                    <br><br>
                    岗位要求：<br>
                    1、一年以上工作经验，从事软件开发。<br>
                    2、熟悉程序开发，熟悉springmvc，freemarker，jquery；了解maven。<br>
                    3、熟悉应用sql语句编写、存储过程等。<br>
                    4、具备一定的英文读写的能力。<br>
                    5、具备较强的独立解决问题的能力。 <br>
                    6、有团队合作开发意识。<br>
                </p>
            </div>
        </div>
        <div class="detail-content">
            <div class="title">
                <div class="icon fl"></div><h1>高级Java软件工程师</h1>
            </div>
            <div class="content">
                <p>
                    岗位职责：<br>
                    1、3年以上java开发实际工作经验精通springmvc，freemarker，jquery， 了解maven；<br>
                    2、熟悉主流web开发框架的运用、良好的代码书写和注释习惯；<br>
                    3、熟悉分布式和集群环境下项目的基本开发技术和要点；<br>
                    4、熟悉并发环境中的线程安全、并发事务的处理；<br>
                    5、熟悉数据库的开发和基本优化、linux服务器的基本操作；<br>
                    6、能从产品和技术方案的角度独立设计小的功能模块。
                    <br><br>
                    满足以下条件者优先考虑：<br>
                    1、参与过大型项目并成功上线运营<br>
                    2、有开发团队管理经验<br>
                    3、熟熟悉项目管理中的先进理念和常用的技术和工具，如maven、svn、持续集成、版本控制、敏捷开发等<br>
                    4、良好的英文阅读能力，能看懂英文资料<br>
                    5、积极学习新技术并能很快地应用于工作中，创新能力，开朗并勇于接受挑战 <br>
                    6、具有某方面突出特长，如具有技术底层原理研究能力、系统综合性能优化思路、项目开发流程规范化经验、提高开发效率和项目质量的架构思想<br>
                    7、大数据的处理经验<br>
                    8、丰富的服务器开发和生产环境的部署和运维经验<br>
                </p>
            </div>
        </div>
        <div class="detail-content">
            <div class="title">
                <div class="icon fl"></div><h1>web<i>前端开发工程师/html5/JS工程师</i></h1>
            </div>
            <div class="content">
                <p>
                    岗位职责：<br>
                    1、负责公司产品、网页设计稿的HTML制作、前端框架的设计与实现<br>
                    2、各业务模块前端代码开发<br>
                    3、负责产品活动的网页效果设计<br>
                    4、负责简单的flash制作，改善网站前端、用户体验<br>
                    5、负责手机前端HTML5部分的架构设计及开发工作；
                    <br><br>
                    任职要求：<br>
                    1、精通W3C制定的关于HTML5的各类国际化开发技术规范；<br>
                    2、具有扎实的HTML4/CSS2知识，超过2年以上专精于HTML5/CSS3的新技术开发；<br>
                    3、两年以上JavaScript开发实践经验，熟练运用JQuery等JavaScript开发库件；<br>
                    4、拥有UE架构师与UI设计师设计思路的理解能力，精通于PSD的界面切图制作转化；<br>
                    5、能够脱离“所见即所得网页编辑器”来阅读HTML/CSS代码并手工编写或修改；<br>
                    6、最好具有手机移动开发经验，精通于各类手机平台与各类浏览器的兼容性调试；<br>
                    7、拥有一定的艺术创作与欣赏见地，热爱互联网/手机移动产品的设计与开发工作。
                </p>
            </div>
        </div>
        <div class="detail-content">
            <div class="title">
                <div class="icon fl"></div><h1>高级前端工程师/html5/JS工程师</h1>
            </div>
            <div class="content">
                <p>
                    岗位职责：<br>
                    1、负责公司产品、网页设计稿的HTML制作、前端框架的设计与实现；<br>
                    2、各业务模块前端代码开发；<br>
                    3、负责产品活动的网页效果设计；<br>
                    4、负责简单的flash制作，改善网站前端、用户体验；<br>
                    5、负责手机前端HTML5部分的架构设计及开发工作；
                    <br><br>
                    任职要求：<br>
                    1、精通W3C制定的关于HTML5的各类国际化开发技术规范；<br>
                    2、具有扎实的HTML4/CSS2知识，超过2年以上专精于HTML5/CSS3的新技术开发；<br>
                    3、两年以上JavaScript开发实践经验，熟练运用JQuery等JavaScript开发库件；<br>
                    4、拥有UE架构师与UI设计师设计思路的理解能力，精通于PSD的界面切图制作转化；<br>
                    5、能够脱离“所见即所得网页编辑器”来阅读HTML/CSS代码并手工编写或修改；<br>
                    6、最好具有手机移动开发经验，精通于各类手机平台与各类浏览器的兼容性调试；<br>
                    7、拥有一定的艺术创作与欣赏见地，热爱互联网/手机移动产品的设计与开发工作。
                </p>
            </div>
        </div>

    </div>
    <div class="detail">
      <div class="c_title" id="3F"><img src="${contextPath}/resources/images/t2.jpg"></div>
      <div class="detail-content">
      <div class="title">
        <div class="icon fl"></div><h1>产品经理</h1>
      </div>
        <div class="content">
          <p>
              岗位职责（电子商务产品经理1人）：<br>
          1、根据公司业务发展目标和客户需求，组织规划和设计公司电子商务平台产品；<br>
          2、负责完成平台产品功能设计，形成产品需求文档(PRD)(包括需求背景、目的、逻辑流程、用例分析、原型等)；<br>
          3、在项目开发进程中，协调项目资源，跟踪项目进度，辨别关键路径，验收最终成果以顺利完成项目并达成目标；<br>
          4、研究和分析平台产品功能在运营阶段产生的用户行为数据，对产品实施改进和完善。<br>
          5、进行编制项目文档和质量记录的工作；<br>
          6、维护软件使之保持可用性和稳定性。
          <br><br>
              任职资格：<br>
          1、本科以上学历，两年以上电子商务或互联网产品经理经验（或产品策划管理经验），对业界动态保持跟踪，参与过完整的产品生命周期设计，深刻理解用户需求；<br>
          2、创造性思维，良好的数据分析能力、沟通表达能力、观察和对用户体验的把握能力；<br>
          3、逻辑思维清晰，对产品敏感，熟练使用Axure、PPT、Word、visio等工具，具备良好的文档撰写能力；<br>
          4、务实、独立工作能力强，态度积极，有团队合作意识和解决问题的能力。
          </p>
        </div>
      </div>
      <div class="detail-content">
      <div class="title">
        <div class="icon fl"></div><h1>产品经理</h1>
      </div>
        <div class="content">
          <p>
              岗位职责（平台产品经理1人）：<br>
          1、根据公司战略以及公司各产品线的会员需求进行会员平台的产品规划与设计工作；<br>
          2、根据产品规划输出产品交互原型及产品需求说明书；<br>
          3、产品研发跟踪，分别在视觉设计、前端开发、系统测试阶段进行产品验收，保证产品质量；<br>
          4、产品验收及组织产品上线；
          <br><br>
              任职资格：<br>
          1、具备优秀的沟通能力；<br>
          2、熟练使用axure等产品交互设计工具进行产品设计；<br>
          3、熟练使用office工具编写产品需求规格说明书；<br>
          4、有有boss系统或大型电商平台会员系统设计经验者优先<br>
          </p>
        </div>
      </div>
    </div>
    <div class="detail">
      <div class="c_title" id="4F"><img src="${contextPath}/resources/images/t3.jpg"></div>
      <div class="detail-content">
      <div class="title">
        <div class="icon fl"></div><h1>运营策划</h1>
      </div>
        <div class="content">
          <p>
          岗位职责：<br>
          1、根据公司商旅平台的市场战略和目标消费者需求，配合运营总监制定整体平台营销策略，策划活动和推广方案并执行； <br>
          2、开展运营项目的推广工作，提高有效访问量，保证网络运营项目的顺利执行与业务目标的达成；<br>
          3、项目评估与调整：根据销售业绩、网站流量等数据指标，对网络运营及推广项目进行监督、控制和评估，负责向上级领导反馈相关运营数据；<br>
          4、分析和挖掘市场需求，寻求新的营销方式和优化营销工具；
          <br><br>
          岗位要求：<br>
          1、正规院校新闻、中文、广告及经济管理等相关专业毕业；二年以上互联网、公关、广告、会展公司策划及文案工作经验；<br>
          2、从事互联网营销工作达3年以上，具有较强的市场营销策划能力，具有较强的创新意识，思维活跃；<br>
          3、较强的沟通能力以及高效的执行能力，活动方案统筹管理能力；<br>
          4、出色的创意想象能力，文案驾驭能力，较强的沟通能力和提案技巧，熟悉各种活动形式的文字表现；<br>
          </p>
        </div>
      </div>
      <div class="detail-content">
        <div class="title">
          <div class="icon fl"></div><h1>运营主管/运营策划</h1>
        </div>
        <div class="content">
          <p>
          岗位职责：<br>
          1、根据发展策略及需求，负责线上各类销售专题活动、市场推广及品牌活动的策划及执行；<br>
          2、负责项目的跟进，以及活动的策划、组织、执行、跟踪报道、监测总结；<br>
          3、负责活动涉及文案的创意与撰写；<br>
          4、负责联合营销活动的沟通协调与策划执行。
          <br><br>
          岗位要求：<br>
          1、具有活动策划执行工作经验，有知名电子商务网站活动策划经验者优先；<br>
          2、具有良好的项目创意策划能力、活动执行力和控制力，应变能力强；<br>
          3、配合商城推广节奏，拟定相关推广活动方案，能独立完成活动策划、宣传文案的创作；<br>
          4、工作积极主动、能承担压力、时间观念强、具备良好的沟通能力和团队协作精神。<br>
          </p>
        </div>
      </div>

    </div>
  </div>
  <br><br><br>
</div>
<!--内容-->

 <@frame.end "default"> </@frame.end>
 </@frame.main> 
</body>
</html>
