body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:20px;
  width:1200px;
  height:70px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u2 {
  position:absolute;
  left:2px;
  top:27px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:23px;
  top:36px;
  width:257px;
  height:37px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:37px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:1029px;
  top:57px;
  width:151px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:1029px;
  top:31px;
  width:88px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:1150px;
  top:31px;
  width:40px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:23px;
  top:130px;
  width:1147px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:1130px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1147px;
  height:1px;
}
#u12 {
  position:absolute;
  left:59px;
  top:105px;
  width:60px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:140px;
  top:105px;
  width:80px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:244px;
  top:106px;
  width:80px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:351px;
  top:105px;
  width:80px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:457px;
  top:105px;
  width:103px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:23px;
  top:175px;
  width:99px;
  height:255px;
}
#u22_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:105px;
  height:261px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:260px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  color:#333333;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
}
#u24_img.selected {
}
#u24.selected {
}
#u24_img.mouseOver {
}
#u24.mouseOver {
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:25px;
  width:99px;
  height:25px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
}
#u26_img.selected {
}
#u26.selected {
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u27 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:50px;
  width:99px;
  height:25px;
  color:#FFFFFF;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
}
#u28_img.selected {
}
#u28.selected {
}
#u28_img.mouseOver {
}
#u28.mouseOver {
}
#u29 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:75px;
  width:99px;
  height:36px;
  color:#FFFFFF;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u30_img.selected {
}
#u30.selected {
}
#u30_img.mouseOver {
}
#u30.mouseOver {
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:95px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:111px;
  width:99px;
  height:36px;
  color:#FFFFFF;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u32_img.selected {
}
#u32.selected {
}
#u32_img.mouseOver {
}
#u32.mouseOver {
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:95px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:147px;
  width:99px;
  height:36px;
  color:#FFFFFF;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u34_img.selected {
}
#u34.selected {
}
#u34_img.mouseOver {
}
#u34.mouseOver {
}
#u35 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:183px;
  width:99px;
  height:36px;
  color:#FFFFFF;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u36_img.selected {
}
#u36.selected {
}
#u36_img.mouseOver {
}
#u36.mouseOver {
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:95px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:219px;
  width:99px;
  height:36px;
  color:#FFFFFF;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u38_img.selected {
}
#u38.selected {
}
#u38_img.mouseOver {
}
#u38.mouseOver {
}
#u39 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:150px;
  top:300px;
  width:1024px;
  height:117px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:100px;
  top:0px;
  width:109px;
  height:30px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:209px;
  top:0px;
  width:91px;
  height:30px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:300px;
  top:0px;
  width:106px;
  height:30px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:406px;
  top:0px;
  width:160px;
  height:30px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:566px;
  top:0px;
  width:85px;
  height:30px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:651px;
  top:0px;
  width:94px;
  height:30px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:745px;
  top:0px;
  width:130px;
  height:30px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:875px;
  top:0px;
  width:86px;
  height:30px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:961px;
  top:0px;
  width:58px;
  height:30px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:52px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u62 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:100px;
  top:30px;
  width:109px;
  height:52px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:52px;
}
#u64 {
  position:absolute;
  left:2px;
  top:18px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:209px;
  top:30px;
  width:91px;
  height:52px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u66 {
  position:absolute;
  left:2px;
  top:18px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:300px;
  top:30px;
  width:106px;
  height:52px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:52px;
}
#u68 {
  position:absolute;
  left:2px;
  top:18px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:406px;
  top:30px;
  width:160px;
  height:52px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:52px;
}
#u70 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:566px;
  top:30px;
  width:85px;
  height:52px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:52px;
}
#u72 {
  position:absolute;
  left:2px;
  top:18px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:651px;
  top:30px;
  width:94px;
  height:52px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:52px;
}
#u74 {
  position:absolute;
  left:2px;
  top:18px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:745px;
  top:30px;
  width:130px;
  height:52px;
  color:#0000FF;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:52px;
}
#u76 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:875px;
  top:30px;
  width:86px;
  height:52px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:52px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:961px;
  top:30px;
  width:58px;
  height:52px;
  color:#0000FF;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:52px;
}
#u80 {
  position:absolute;
  left:2px;
  top:18px;
  width:54px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:0px;
  top:82px;
  width:100px;
  height:30px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:100px;
  top:82px;
  width:109px;
  height:30px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:209px;
  top:82px;
  width:91px;
  height:30px;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:300px;
  top:82px;
  width:106px;
  height:30px;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:406px;
  top:82px;
  width:160px;
  height:30px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:566px;
  top:82px;
  width:85px;
  height:30px;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:651px;
  top:82px;
  width:94px;
  height:30px;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:745px;
  top:82px;
  width:130px;
  height:30px;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:875px;
  top:82px;
  width:86px;
  height:30px;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:961px;
  top:82px;
  width:58px;
  height:30px;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u100 {
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:150px;
  top:175px;
  width:1020px;
  height:115px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:115px;
}
#u102 {
  position:absolute;
  left:2px;
  top:50px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:491px;
  top:188px;
  width:53px;
  height:16px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:554px;
  top:184px;
  width:87px;
  height:25px;
}
#u105_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u106 {
  position:absolute;
  left:641px;
  top:192px;
  width:20px;
  height:10px;
}
#u106_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u106_end {
  position:absolute;
  left:3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u106_line {
  position:absolute;
  left:0px;
  top:5px;
  width:20px;
  height:1px;
}
#u107 {
  position:absolute;
  left:661px;
  top:184px;
  width:87px;
  height:25px;
}
#u107_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u108 {
  position:absolute;
  left:1050px;
  top:218px;
  width:100px;
  height:25px;
}
#u108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u109 {
  position:absolute;
  left:771px;
  top:188px;
  width:40px;
  height:16px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:817px;
  top:184px;
  width:87px;
  height:25px;
}
#u111_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u112 {
  position:absolute;
  left:167px;
  top:188px;
  width:92px;
  height:16px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:167px;
  top:223px;
  width:66px;
  height:16px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:233px;
  top:219px;
  width:117px;
  height:25px;
}
#u116_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u117 {
  position:absolute;
  left:393px;
  top:182px;
  width:76px;
  height:25px;
}
#u117_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u118 {
  position:absolute;
  left:371px;
  top:224px;
  width:40px;
  height:16px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:421px;
  top:219px;
  width:120px;
  height:25px;
}
#u120_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u121 {
  position:absolute;
  left:167px;
  top:258px;
  width:28px;
  height:16px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:230px;
  top:254px;
  width:120px;
  height:25px;
}
#u123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u124 {
  position:absolute;
  left:259px;
  top:182px;
  width:124px;
  height:22px;
}
#u124_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u124_ann {
  position:absolute;
  left:376px;
  top:178px;
  width:1px;
  height:1px;
}
#u125 {
  position:absolute;
  left:720px;
  top:418px;
  width:430px;
  height:92px;
  text-align:left;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:92px;
}
#u126 {
  position:absolute;
  left:2px;
  top:2px;
  width:426px;
  word-wrap:break-word;
}
