<#assign contextPath=springMacroRequestContext.getContextPath() />
<div class="pageContent" id="pd">
	<form method="post" enctype="multipart/form-data" action="" class="pageForm required-validate" onsubmit="">
		<div class="pageFormContent" layoutH="58">

           <div style="text-align: center;">
             <p>您选择的内容还未进行添加，<br/><br/>
			   请确认后再进行操作</p>
           </div>
			
			
			
					
		</div>
		<div class="formBar">
			<ul>
			    <li><div class="button"><div class="buttonContent"><button class="close" >关闭</button></div></div></li>
			    <li><div class="button"><div class="buttonContent"><button class="close" onclick="addCheckedElementNew()">直接添加已选内容</button></div></div></li>
			</ul>
		</div>
	</form>
	
</div>

