<#assign contextPath=springMacroRequestContext.getContextPath() />
<script src='${contextPath}/resources/js/jquery.autocomplete.js'></script>
<link href='${contextPath}/resources/css/jquery.autocomplete.css'
	rel='stylesheet' />
<div class="pageHeader">
	<form id="pagerForm" rel="pagerForm" onsubmit="return navTabSearch(this);"
		action="${contextPath}/line/lineList" method="post">
		<input type="hidden" name="pageNum" value="${pagination.pageNo?c}" />
		<input type="hidden" name="numPerPage" value="${pagination.pageSize?c}" />
		<div class="searchBar">
			<table class="searchContent">
				<tr>
					<td style="text-align: left">
						线路名称：
					</td>
					<td><input type="text" name="searchName"  value="${lineQO.searchName}"></td>
					<td style="text-align: left">
						线路类别：
					</td>
					<td>
						<select name="type">
							<option value="" >全部</option>
							<option value="1" <#if lineQO.type=='1'> selected="selected" </#if>>跟团游</option>
							<option value="2" <#if lineQO.type=='2'> selected="selected" </#if>>自助游</option>
						</select>
					</td>
					<td style="text-align: left">
						是否显示：
					</td>
					<td>
						<select name="localStatus">
							<option value="99" >全部</option>
							<option value="0" <#if lineQO.localStatus=='0'> selected="selected" </#if>>已显示</option>
							<option value="1" <#if lineQO.localStatus=='1'> selected="selected" </#if>>已隐藏</option>
						</select>
					</td>
					<td style="text-align: left">
						分销状态：
					</td>
					<td>
						<select name="forSale">
							<option value="0" >全部</option>
							<option value="1" <#if lineQO.forSale=='1'> selected="selected" </#if>>已上架</option>
							<option value="2" <#if lineQO.forSale=='2'> selected="selected" </#if>>已下架</option>
						</select>
					</td>
					<td style="text-align: left">
						出发地：
					</td>
					<td>
						<select name="start_province" id="start_province" style="width:120px;">
								<option value="">--请选择省份--</option>
							<#list  provinceList as province>
								<option value="${province.id}" <#if lineQO.start_province==province.id >selected="selected"</#if>>
									${province.name}
								</option>
							</#list>
						</select>
						<select name="startCity"  id="start_city" style="width:120px;">
							<option value="">--请选择城市--</option>
							<#list cityList as city>
								<option value="${city.id}" <#if lineQO.startCity==city.id > selected="selected" </#if>>
									${city.name}
								</option>
							</#list>
							</select>
					</td>
				</tr>
				<tr>
					
				</tr>
					
					
					
					
					
			</table>
			<div class="subBar">
				<ul>
					<li><div class="buttonActive">
							<div class="buttonContent">
								<button><span>查询</span></button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<table class="table" width="100%" layoutH="150">
		<thead>
			<tr>
				<th width="100">编号</th>
				<th width="100">线路类别</th>
				<th width="100">线路名称</th>
				<th width="100">出发地</th>
				<th width="100">是否显示</th>
				<th width="100">线路操作</th>
				<th width="100">其它操作</th>
			</tr>
		</thead>
		<tbody>
			<#if (pagination.list?size>0)> <#list pagination.list as line>
			<tr>
				<td style="text-align: left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${line.baseInfo.number}</td> <#if (line.baseInfo.type==1)>
				<td>跟团游</td> <#else>
				<td>自助游</td> </#if>
				<td style="text-align: left">${line.baseInfo.name}</td>
				<td>${line.baseInfo.starting}</td>
				<td>
					<#if line.localStatus==1>
						已隐藏
					<#else>
						已显示
					</#if> 
				</td>
				<td>
				<table style="height: 100%;width: 100%" border="0">
						<tr style="height: 100%">
							<td style="width: 100%">
								<a target="dialog" href="${contextPath}/line/info?type=detail&id=${line.id}&pfid=" width="700" height="700" style="color: blue">线路详情</a><br/>
								<a target="dialog" href="${contextPath}/line/info?type=route&id=${line.id}&pfid=" width="700" height="700" style="color: blue">行程详情</a><br/>
								<a target="dialog" href="${contextPath}/line/info?type=picture&id=${line.id}&pfid=home" width="700" height="700" style="color: blue">线路图片</a><br/>
								<a target="dialog"  href="${contextPath}/line/list?id=${line.id}" width="1000" height="900" style="color: blue">价格日历</a><br/>
								<a href="#" ></a><br/>
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table style="height: 100%;width: 100%" border="0">
						<tr style="height: 100%">
							<td style="width: 100%">
							<#if line.localStatus==1>
								<a title="确定要显示线路吗？" target="ajaxTodo" href="${contextPath}/line/changeLocalStatus?id=${line.id}&status=0" style="color: blue">显示</a><br/>
							<#else>
								<a title="确定要隐藏线路吗？" target="ajaxTodo" href="${contextPath}/line/changeLocalStatus?id=${line.id}&status=1" style="color: blue">隐藏</a><br/>
							</#if> 
								<a title="确定要删除线路吗？" target="ajaxTodo" href="${contextPath}/line/changeLocalStatus?id=${line.id}&status=2" style="color: blue">删除</a><br/>
								<a target="dialog" ref="subject" href="${contextPath}/lineSubject/addLineSubject?lineID=${line.id}" width="500" height="200" style="color: blue">设置主题</a><br/>
								
								<#if line.selectiveLine!"">
									<a title="确定取消精选线路吗？" target="ajaxTodo" href="${contextPath}/line/deleteLineSelective?id=${line.selectiveLine.id}" style="color: blue">取消精选</a><br/>
									<#else>
								
							
								
								<a title="确定设置为精选线路吗？" target="ajaxTodo" href="${contextPath}/line/selective?id=${line.id}" style="color: blue">设置精选</a><br/>
								</#if> 
								
								
								
								
							<#if line.sort==0>
								<a title="确定要置顶线路吗？" target="ajaxTodo" href="${contextPath}/line/setTop?id=${line.id}&status=set" style="color: blue">置顶</a><br/>
							<#else>
								<a title="确定要取消置顶线路吗？" target="ajaxTodo" href="${contextPath}/line/setTop?id=${line.id}&status=unset" style="color: blue">取消置顶</a><br/>
							</#if> 
							<!-- <td style="width: 50%"><a target="dialog" ref="activity" href="${contextPath}/line/setActivityPage?id=${line.id}" width="500" height="200" style="color: blue">设置活动</a></td> -->
							</td>
						</tr>
					</table>
				</td>
			</tr>
			</#list> </#if>
		</tbody>
	</table>
	<#include "/public/pagination/pagination.html">
</div>
<script type="text/javascript">

//当选择了指定的省份时，则该省份的城市列表初始化出来
 $("#start_province").change(function(){
	$.post("${contextPath}/line/searchCity",{'province':$("#start_province").val()},function(data){
		if (data.length > 0) {  
            var layer = "<option value=''>--请选择城市--</option>";  
            $.each(data, function (idx, item) {  
                layer += "<option value="+item.code +">"+ item.name + "</option>";  
            });
            
			$("#start_city").empty();
			$("#start_city").append(layer);
        }  
	},"json");
}); 
 
</script>