<#assign contextPath=springMacroRequestContext.getContextPath() />
<div class="pageHeader page_header_fix">
	<form id="pagerForm" rel="pagerForm" onsubmit="return navTabSearch(this);" action="${contextPath}/distributor/list" method="post">
		<input type="hidden" name="pageNum" value="${(pagination.pageNo)!'0'}" />
		<input type="hidden" name="numPerPage" value="${(pagination.pageSize)!'20'} " />
		<div class="searchBar dwz_query_box2">
			<table class="searchContent" border="0">
				<tr>
					<td>名称</td>
					<td>
						<input name="name" type="text" maxlength="16" value="${(pagination.condition.name)!}" />
					</td>
					<td>启用状态：</td>
					<td>
						<select name="status" to_sel="${pagination.condition.status}">
							<option value="">全部</option>
							<option value="100">启用</option>
							<option value="101">禁止</option>
						</select>
					</td>
				</tr>
			</table>
			<div class="subBar">
				<ul>
					<li>
						<div class="buttonActive">
							<div class="buttonContent">
								<button type="submit">查询</button>
							</div>
						</div>
					</li> <#if productto_add>
					<!-- 
					<li>
						<div class="buttonActive">
							<a class="add" href="${contextPath}/product/to_import" target="dialog" mask="true" width="600" height="367">
								<span>导入</span>
							</a>
						</div>
					</li>
					  -->
					</#if> <#if productexport>
					<li>
						<div class="buttonActive">
							<a onclick="exportExcel()">
								<span>导出</span>
							</a>
						</div></li> </#if>
					<li>
						<div class="buttonActive">
							<div class="buttonContent">
								<button type="button" onclick="clearForm()">重置</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>
<div class="pageContent page_box">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="${contextPath}/distributor/to_add" target="dialog" width="600" height="370" mask="true">
					<span>新增</span>
				</a>
			</li>
			<li><a title="确认禁用？" target="selectedTodo" rel="ids" href="${contextPath}/distributor/changeStatus?status=101" class="icon">
					<span>禁用</span>
				</a>
			</li>
			<li><a title="确认启用？" target="selectedTodo" rel="ids" href="${contextPath}/distributor/changeStatus?status=100" class="icon">
					<span>启用</span>
				</a>
			</li>
			
		</ul>
	</div>
	<div layoutH="120">
		<table class="table" cellpadding="0" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th width="70"><input type="checkbox" group="ids" class="checkboxCtrl" />
					</th>
					<th>名称</th>
					<th>创建日期</th>
					<th>分销商编号</th>
					<th>联系人</th>
					<th>联系电话</th>
					<th>状态</th>
					<th width="200">操作</th>
				</tr>
			</thead>
			<tbody>
				<#list pagination.list as t>
				<tr>
					<td>
						<input type="checkbox" name="ids" value="${(t.id)!''}" />
					</td>
					<td>${(t.name)!}</td>
					<td>${(t.createDate)!}</td>
					<td>${(t.code)!}</td>
					<td>${(t.linkMan)!}</td>
					<td>${(t.phone)!}</td>
					<td><#if t.status == 100> 启用 <#elseif t.status == 101> 禁止 </#if></td>
					<td class="operate_box">
						<a href="${contextPath}/distributor/edit?id=${t.id}" target="dialog" width="600" height="370" mask="true">编辑</a>
						<a href="${contextPath}/distributor/remove?ids=${t.id}" target="ajaxTodo" title="确认删除？">删除</a>
						
						<#if t.status == 100>
<a href="${contextPath}/distributor/changeStatus?ids=${t.id}&status=101" target="ajaxTodo" title="确认禁用？">禁用</a>
<#elseif t.status == 101>
<a href="${contextPath}/distributor/changeStatus?ids=${t.id}&status=100" target="ajaxTodo" title="确认启用？">启用</a>
</#if>
					</td>
				</tr>
				</#list>
			</tbody>
		</table>
	</div>
	<#include "/public/pagination/pagination.html">
</div>
