<#assign contextPath=springMacroRequestContext.getContextPath() />

<div class="pageHeader">
	<form id="pagerForm" rel="pagerForm" onsubmit="return dialogSearch(this);"
		action="${contextPath}/puser/puser/clientlist" method="post">

		<input type="hidden" name="pageNum" value="${pagination.pageNo}" /> 
		<input type="hidden" name="numPerPage" value="${pagination.pageSize}" />
		
		<div class="searchBar">
			<table class="searchContent">
				<tr>
					<td>
						<label>客户端名称：</label>
						<input type="text" name="groupName" value="${clientQO.groupName!?html}" />
					</td>
					<td>
						<label>备注：</label>
						<input type="text" name="remark" value="${clientQO.remark}" />
					</td>
					<td>
						<label>是否生效：</label>
						<select class="combox" name="valid">
							<option value="">所有</option>
							<option value="true" <#if clientQO.valid> selected </#if> >生效</option>
							<option value="false" <#if clientQO.valid?? && !clientQO.valid> 
								selected </#if> >无效</option>
						</select>
					</td>
					<td>
						<label>所属分组：</label>
						<input type="hidden" name="groupQo.id" 
							value="<#if clientQO.groupQo>${clientQO.groupQo.id!?html}</#if>" />
						<input type="text" name="groupQo.groupName" 
							value="<#if clientQO.groupQo>${clientQO.groupQo.groupName!?html}</#if>"
							style="float: left;" readonly="readonly">
						<a class="btnLook" href="${contextPath}/client/client/grouplist" 
							lookupGroup="groupQo"><span>所属分组选择</span></a>
					</td>
				</tr>
			</table>
			<div class="subBar">
				<ul>
					<li>
						<div class="buttonActive">
							<div class="buttonContent">
								<button type="submit">检索</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add"
				href="${contextPath}/client/client/add" target="dialog" rel="clientAdd"
				mask="true"><span>添加</span> </a></li>
			<li class="line">line</li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="138">
		<thead>
			<tr>
				<th width="40">客户端名</th>
				<th width="70">备注</th>
				<th width="20">是否生效</th>
				<th width="20">api密钥</th>
				<th width="40">所属组名</th>
				<th width="40" align="center">请选择</th>
			</tr>
		</thead>
		<tbody>
			<#list pagination.list as client>
				<tr target="clientId" rel="${client.id}">
					<td>${client.name!?html}</td>
					<td>${client.remark!?html}</td>
					<td>
						<#if client.valid> 生效  </#if> 
						<#if client.valid?? && !client.valid> 无效</#if>
					</td>
					<td>${client.secretKey!?html}</td>
					<td><#if client.group> ${client.group.groupName!?html} </#if> </td>
					<td>
						<a class="btnSelect"  href="javascript: $.bringBack({id: '${client.id}', 
								name: '${clien.name}' })" title="查找带回">选择</a>
					</td>
				</tr>
			</#list>
		</tbody>
	</table>

	<#include "/public/pagination/pagination.html">
</div>
