/jf-piaol/bin
/jf-cal/*.jar
/jf-common/jf-common-1.0.jar
/jf-account/bin
/jf-admin/src/main/resources/jf.properties
/jf-admin - 副本
*.tmp
/jf-account/.settings
/jf-cal/.settings
/jf-client/.settings
/jf-common/.settings
/jf-piaol/.settings
/jf-piaolrule/.settings
/jf-trade/.settings
/jf-admin/.settings
/jf-piaol/target
/jf-parent/jf-application/.settings
/jf-parent/jf-application/*.classpath
/jf-parent/jf-application/*.project
/jf-parent/jf-client-test/*.classpath
/jf-parent/jf-client-test/*.project
/jf-parent/jf-client-test/.settings
/jf-client/*.log
/jf-client/src/log4j.properties
/jf-trade/*.project
/jf-trade/*.classpath
/jf-admin/*.classpath
/jf-admin/*.project
/jf-client/.classpath
/jf-client/.project
/jf-account/*.project
/jf-account/*.classpath
/jf-cal/*.project
/jf-cal/*.classpath
/jf-common/*.classpath
/jf-piaol/*.classpath
/jf-piaol/*.project
/jf-parent/.settings
/jf-cal/bin
/jf-common/bin
/jf-piaolrule/*.project
/jf-piaolrule/*.classpath
/jf-admin/bin
/jf-client/bin
/jf-client/huigou-common.log.1
/jf-piaolrule/*.jar
