<#assign contextPath=springMacroRequestContext.getContextPath() />
<link rel="stylesheet" type="text/css" href="${contextPath}/resources/js/kindeditor/themes/default/default.css" />
<div class="pageContent" style="text-align:left;">
	<form method="post" id="addForm" enctype="multipart/form-data" action="${contextPath}/notice/updateNotice" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<input name="id" type="hidden" value="${(noticeDto.id)!}"/> 
		<div class="pageFormContent" layoutH="58">
			<div class="unit">
				<label>*公告标题：</label>
				<input size="50" type="text" name="title" maxlength="64" class="required"  value="${(noticeDto.baseInfo.title)!}" />
			</div>
			<!-- 两个日期需要做关联限制 -->
			<div class="unit">
				<label>*截至日期：</label>
				<input type="text" name="cutOffTime" size="24" minDate="${nowDate}"  class="date textInput readonly required issueBeginDate" datefmt="yyyy-MM-dd HH:mm:ss" value="${noticeDto.baseInfo.cutOffTime?string('yyyy-MM-dd HH:mm:ss')}"/>
				&nbsp;&nbsp;&nbsp;到期后公告自动不在前台显示
			</div>
			<div class="unit">
				<label>*公告内容：</label><br>
				<textarea id="editor"style="width:700px;height:425px;" name="details" >
					${(noticeDto.baseInfo.details)!}
                </textarea>
			</div>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>
<script type="text/javascript" src="${contextPath}/resources/js/kindeditor/kindeditor.js"></script>
<script type="text/javascript" src="${contextPath}/resources/js/kindeditor/lang/zh_CN.js"></script>
<script>
    //全屏提示错误信息的方法
    //alertMsg.error("xxxx");
    $(document).ready(function (){
			//渲染编辑器
			initKindEditor();
	});
	function initKindEditor(){
		var editor;
		editor = KindEditor.create('#editor',{
			basePath : '${contextPath}/resources/js/kindeditor/',
			items : [
			 		'source', '|', 'undo', 'redo', '|', 'preview',  'template', 'code', 'cut', 'copy', 'paste',
			 		'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
			 		'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
			 		'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
			 		'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
			 		'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 
			 		 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
			 		'anchor', 'link', 'unlink', '|'
			 	],
			uploadJson : '${contextPath}/imageFile/imgUpload',
			afterChange : function() {
				if(this.count()>65000){
					alertMsg.error("公告内容过长");
				}else{
					this.sync();
				}
			}
		});
	}
</script>
