<#assign contextPath=springMacroRequestContext.getContextPath() />
<div class="pageContent">
	<form method="post" id="addrule_form_r" action="${contextPath}/rule/save"   class="pageForm required-validate"   >
		<div class="pageFormContent" layoutH="58">
			<div class="unit">
				<label>规则编码:</label>
				<input type="text" id="rule_code_r"  name="code" size="64" maxlength="15" class="required"/>
			</div>
			<div class="unit">
				<label>规则名称：</label>
				<input  type="text" name="name" size="64" class="required"  maxlength="64" class="required"/>
			</div>
			<div class="unit">
				<label>开始日期：</label>
 				<input type="text"   id = "rule_startDate" name="startDate" value="" class="required date" minDate="2000-01-15" maxDate="2216-12-15" readonly="true"  />
				<a class="inputDateButton" href="javascript:;">选择</a>
			</div>
		   <div class="unit">
				<label>结束日期：</label>
			  <input type="text"  id = "rule_endDate"  name="endDate" value="" class="required date" minDate="2000-01-15" maxDate="2216-12-15" readonly="true"  />
				<a class="inputDateButton" href="javascript:;">选择</a>
			</div>
			<div class="unit">
				<label>规则模板：</label>
				 <select class="required combox" name="logicClass" onchange="getRuleParam();"  id="rule_select"  class="required">
					<option value="" >所有类型</option>
				  <#list templateList.list as t>
					  <option value="${t.code}">${t.name}</option>
					</#list>
				</select>
			</div>
			<div class="unit"  >
				<label>模板参数：</label>
				<table id="rule_template"></table>
				<input hidden="hidden" name="props" id="template_param"  value="" />
			</div>
			 <div class="unit">
				<label>产生积分账户类型：</label>
			 <select class="required combox" name="accountType" class="required">
					<option value="">所有类型</option>
					<#list ruleTypeList as rl>
					<option value="${rl.me.code}" >${rl.me.name}</option>
					</#list>
				</select>
			</div>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="button"   onclick="putProps()">提交</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>
<script type="text/javascript">
var jsonL;
 function getRuleParam(obj){
      $("#rule_template").html("");
      var code = $("#rule_select").val();
			$.ajax({
				type: "post",
				url: "${contextPath}/rule/getParm?code="+code,
				cache:false,
				dataType:"json",
				success: function(data){
			   jsonL = data.length;
			  for (var i = 0; i<data.length; i++)
			  {
			  	   var ht="<tr>"
			  	   
			  	   +"<td><input type=\"text\"  id = 'param_props"+i+"'   name="+data[i].name +"   class='digits required' maxlength='6' ></input></td>"
			  	   +"<td>"+data[i].remark+"</td>"
			  	   +"</tr>";
	               $("#rule_template").append(ht);
			  }
		  },
				error:function(e){
					alert("请求发生错误");
				}
	     });	
}

function putProps(){
   parms();
   
  var f = $("#addrule_form_r");
  var flag = true;
   var re = /^\w*$/;
   var rulecode = $("#rule_code_r").val().trim();
   if(!re.test(rulecode))
	{
	    alert("规则编码只能包括字母、数字、下划线！");
	    flag = false;
	}
  //判断日期
   var sd = $("#rule_startDate").val();
   var ed = $("#rule_endDate").val();
   var arr = sd.split("-");
   var sdata = new Date(arr[0],arr[1],arr[2]);
   var startData = sdata.getTime();
   var earr = ed.split("-");
   var edata = new Date(earr[0],earr[1],earr[2]);
   var endData = edata.getTime();
   if(startData > endData )
  {
   alert("开始时间不能大于结束时间！");
   $("#rule_startDate").addClass("error");
   $("#rule_endDate").addClass("error");
   flag =  false;
  }
  
  //页面校验
  if (flag)
  {
     flag = validateCallback(f, dialogAjaxDone);
  }
 
 //验证通过
  if(flag)
 {
    f.submit();
 }
 
  }
  
 function parms()
 {
   //组合模板参数放入隐藏域当做字段保存数据库
  var content = "{";
  for(var i =0; i< jsonL; i++)
  {		var z=0;
       var pvalue =  $("#param_props"+i).val() - z;
       console.info("param val "+pvalue);
       var pname = $("#param_props"+i).attr("name");
       
       content += "\""+pname+"\":\""+pvalue+"\"";
       if(i!=jsonL-1)
           content+=",";
  }
  content+="}";
  $("#template_param").val(content);
 
 }
</script>
