<#assign contextPath=springMacroRequestContext.getContextPath() />
<#import "/public/frame/default.html" as frame />
<@frame.head "联系人管理">
<link href="${(contextPath)!}/resources/css/company/company_cardCoupons.css" rel="stylesheet" />
<link href="${(contextPath)!}/resources/css/company/company.css" rel="stylesheet" />
<link href="${(contextPath)!}/resources/css/company/company_list.css" rel="stylesheet" />
<link href="${(contextPath)!}/resources/css/yxjp/my_contacts.css" rel="stylesheet" />

<script src="${(contextPath)!}/resources/js/company/company-edit-contact.js" language="javascript"></script>
</@frame.head>


<@frame.main "default" 6>
<div class="g_bd disb yahei">
	<!-- 个人中心顶部 -->
	<@frame.top ></@frame.top>
<div class="g_cont disb ov">
	<@frame.nav "常用联系人" 8></@frame.nav>
<div class="m_cont ov fl">
	<!--右侧呈现页-->
	<div class="ri ov">

		<div class="bt ov">
			<h1 class="rih1 yahei normal fl">常用联系人</h1>
		    <span>
			    <a href="javascript:;" class="addMembers" rel="dialog" for="add_person_box" id="add_new_person">添加联系人</a>
		    </span>
		</div>
		<!--右侧列表开始-->
		<form action="${(contextPath)!}/company/person/my-contacts" name="jpQueryForm" id="jpQueryForm" class="jpQueryForm" method="post">
			<input type="hidden" class="pageNum" name="pageNum" value="${(pagination.pageNo?c)!1}">
			<input type="hidden" name="numPerPage" value="${(pagination.pageSize?c)!5}">

			<div class="depart fl">

				<ul class="rightTable">
					<li class="title"><span class="all">序号</span><span class="name">姓名</span><span class="position">证件类型</span><span class="id">证件号</span><span class="mobile">手机</span><span class="control">操作</span></li>


					<#list (pagination.list)!null as contact>
						<li><span class="all">${contact_index+1}</span>
							<span class="name" id="${(contact.id)!}_name">${(contact.baseInfo.name)!}</span>
							<span class="position" rel="${(contact.cardType)!}" id="${(contact.id)!}_cardType">
								<#if contact.baseInfo.idType==1>
									身份证
									<#elseif contact.baseInfo.idType!=1>
										其他
								</#if>
							</span>
							<span class="id" id="${(contact.id)!}_idNo">${(contact.baseInfo.idNo)!}</span>
							<span class="mobile" id="${(contact.id)!}_mobile">${(contact.baseInfo.mobile)!}</span>
							<span class="control">
								<a href="javascript:;" class="addMembers editContact" rel="dialog" for="editBox"  id="ac_btn" forid="${(contact.id)!}" name="editContacts">编辑</a>
								<a href="javascript:;" class="addMembers delContact" id="delPerson" rel="${(contact.id)!}">删除</a>
							</span>
						</li>
					</#list>
				</ul>
				<!--分页导航-->
				<div class="m_pageNav listPageStyle">
					<div id="page" class="m_nums"></div>
				</div>
				<!--分页导航-->
			</div>
		</form>
		<!--右侧列表结束-->
	</div>

<!--右侧呈现页-->


</div>
</div>
</div>


<!--编辑联系人-->
<div class="editBox" opt="box" style="display: none;">
	<div class="boxMessage">
		<div class="boxTitle floating_p">编辑联系人<a href="#"></a></div>
		<ul class="boxForm">
			<form id="edit_person">
				<input type="hidden" name="travelerId"/>
				<li><span>姓名：<i class="star">*</i></i></span><input class="members input_p username" type="text" name="name" id="person_name"><div class="eorr"></div></li>
				<li><span>手机：<i class="star">*</i></span><input class="members input_p tel" type="text" name="mobile" id="person_mobile" maxLenth="12"><div class="eorr"></div></li>
				<li><span>证件类型：</span> <span class="dd companySelect"><span class="optionValue" style="line-height:30px;" id="optionValue">身份证</span></span>
					<ul class="selectNav" for="optionValue" forname="cardType" style="display: none;">
						<li class="l" value="1">身份证</li>
					</ul>
				</li>
				<li><span>身份证号：<i class="star">*</i></span><input class="members input_p certificate" type="text" name="idNo" id="person_cardid"><div class="eorr"></div></li>
			    <li><input type="hidden" name="idType" value="1"/></li>
			</form>
		</ul>
		<a class="yes" href="javascript:;"  id="editperson">确 定</a>
	</div>
</div>
<!--新增联系人-->
<div class="add_person_box" opt="box" style="display: none;">
	<div class="boxMessage">
		<div class="boxTitle floating_p">新增联系人<a href="#"></a></div>
		<ul class="boxForm">
			<form id="add_person">
				<input type="hidden" name="travelerId"/>
				<li><span>姓名：<i class="star">*</i></span><input class="members input_p username" type="text" name="name" id="add_person_name"><div class="eorr"></div></li>
				<li><span>手机：<i class="star">*</i></span><input class="members input_p tel" type="text" name="mobile" id="add_person_mobile" maxLenth="12"><div class="eorr"></div></li>
				<li><span>证件类型：</span> <span class="dd companySelect"><span class="optionValue" style="line-height:30px;" id="optionValue">身份证</span></span>
					<ul class="selectNav" for="optionValue" forname="cardType" style="display: none;">
						<li class="l" value="1">身份证</li>
					</ul>
				</li>
				<li><span>身份证号：<i class="star">*</i></span><input class="members input_p certificate" type="text" name="idNo" id="add_person_cardid"><div class="eorr"></div></li>
				<li><input type="hidden" name="idType" value="1"/></li>
			</form>
		</ul>
		<a class="yes" href="javascript:;"  id="addperson">确 定</a>
	</div>
</div>
<@frame.end "default"> </@frame.end>
</@frame.main>

<script src="${(contextPath)!}/resources/js/lib/time/yui-min.js"></script>
<script src="${(contextPath)!}/resources/js/pageUtil/pageUtilforA.js"></script>
<script type="text/javascript">
	$(function(){
		pageCreate(${(((pagination.totalCount-1)/5+1)?int)!1},"jpQueryForm")
	})

</script>	
