<#assign contextPath=springMacroRequestContext.getContextPath() />
<#import "/public/frame/default.html" as frame /> 
<@frame.head "景点订单详情">

<#if (((user.baseInfo.type?c)!0)==1)>
<link href="${(contextPath)!}/resources/css/personal/personal_orderTourismDetails.css" rel="stylesheet" />
<#elseif (((user.baseInfo.type?c)!0)==2)>
<link href="${(contextPath)!}/resources/css/company/company_orderTourismDetails.css" rel="stylesheet" />
</#if>		

</@frame.head>

<@frame.main "default" 1>
<div class="g_bd disb yahei">
	<!-- 个人中心顶部 -->
	<@frame.top ></@frame.top>
	
	<div class="g_cont disb ov">
		<@frame.nav "订单管理" 1></@frame.nav>
		<div class="m_cont ov fl">

 	<!--右侧呈现页-->
            <div class="ri">
                <div class="navigation">
                    <a href="${contextPath}/company/main">我的账户</a><i>></i><a href="${(contextPath)!}/company/orderManage?sel=2">景点订单</a><i>></i>景点订单详情
                </div>
                <span class="rih1 yahei">订单详情</span>
                <div class="tableBox">
                   <div class="boxs h3 yahei color3">
                    <table cellspacing="0" cellpadding=0 >
                        <tr class="tops">
                        <td class="orderNo">订单号</td>
                        <td class="number">门票数</td>
                        <td class="money">实付总金额</td>
                        <td class="orderTime">下单时间</td>
                        <td class="travelTime">出游时间</td>
                        </tr>
                        <tr>
                        <td class="orderNo">${(mpOrderDetail.dealerOrderCode)!}</td>
                        <td class="number">${(mpOrderDetail.number)!}</td>
                        <td class="money">￥${(mpOrderDetail.price)!}</td>
                        <td class="orderTime">${(mpOrderDetail.createDate)!}</td>
                        <td class="travelTime">${(mpOrderDetail.travelDate)!}</td>
                        </tr>
                        <tr class="tops">
                        <td class="name">景点名称</td>
                        <td class="type">门票类型</td>
                        <td class="location">取票地点</td>
                        <td class="payment">支付方式</td>
                        <td class="state">状态</td>
                        </tr>
                        <tr class="" style="">
                        <td class="name">${(mpOrderDetail.scenicSpot.scenicSpotBaseInfo.name)!}</td>
                        <td class="type">${(mpOrderDetail.mpPolicy.name)!}${(mpOrderDetail.mpPolicy.ticketName)!}</td>
                        <td class="location">${(mpOrderDetail.mpPolicy.ticketDelivery)!}</td>
                        <td class="payment">景区现付</td>
                        <td class="state">
                        <i class="no1"><#if (mpOrderDetail.status.cancel)!false>
							已取消
						<#elseif (mpOrderDetail.status.outOfDate)!false>
							已过期失效
						<#elseif (mpOrderDetail.status.prepared)!false>
							已预订待消费
						<#elseif (mpOrderDetail.status.used)!false>
							已使用过
						<#else>
							状态获取失败
						</#if></i>
						
						<#if (mpOrderDetail.status.prepared)!false>
                        	<i  class="no2"><a id="cancelOrder" href="javascript:;">取消订单</a></i>
                        </#if>
                        </td>
                        </tr>
                    </table>
                    
                    <div class="touristInf">
                    <span class="titles h2 color3">游客信息</span>
                    <table cellspacing="0" cellpadding=0>
                        <tr class="tops">
                        <td class="name1">姓名</td>
                        <td class="phone1">手机</td>
                        <td class="null"></td>
                        </tr>
                        <tr>
                        <td class="name1">${(mpOrderDetail.takeTicketUser.baseInfo.name)!}</td>
                        <td class="phone1">${(mpOrderDetail.takeTicketUser.contactInfo.mobile)!}</td>
                        <td class="null"></td>
                        </tr>
                    </table>
                    </div>
                    
                    <div class="takeTicket">
                    <span class="titles h2 color3">取票人姓名</span>
                    <table cellspacing="0" cellpadding=0>
                        <tr class="tops">
                        <td class="name2">取票人姓名</td>
                        <td class="phone2">取票人手机</td>
                        <td class="null"></td></tr>
                        <tr>
                        <td class="name2">${(mpOrderDetail.takeTicketUser.baseInfo.name)!}</td>
                        <td class="phone2">${(mpOrderDetail.takeTicketUser.contactInfo.mobile)!}</td>
                        <td class="null"></td>
                        </tr>
                    </table>
                    </div>
                   </div>
                   
                </div>

            </div>
        <!--右侧呈现页-->
        
    	 </div>
	</div>
 </div>
<@frame.end "default"></@frame.end> 
</@frame.main>    
<script type="text/javascript">


	$(function(){
		$("#cancelOrder").on("click",function(){
			if(!confirm("确定取消吗?")){
				return false;
			}
			location.href="${contextPath}/company/orderManage/cancelMp?id=${(mpOrderDetail.dealerOrderCode)!}";
		});
	});


</script>
          
        
        