/* CSS Document */
/*liwei 2015-4-20     list right*/
/*选中状态样式*/
.selected1{ background:url(../../images/company/ic_script.png) 0 0;}
.selected2{background:#ebf8fe;}
/*选中状态样式*/

a{ color:#333;}
.ri{ margin:24px 32px 30px 29px;}
.ri .rih1{ font-size:20px; line-height:28px; color:#333;}


.ri .rinav{ width:908px; float:left; padding-left:37px; height:48px; display:block; border-bottom:2px solid #00a0e9; margin-top:17px;}
.ri .rinav li{ float:left; font-size:14px; height:35px; background:#e4f7ff; line-height:35px; text-align:center;  margin:0 1px; margin-top:13px;}/*未选中状态*/
.ri .rinav li a{color:#98abbc; height:35px;float:left;padding:0px 5px;} /*未选中状态*/
.ri .rinav .selected{  height:47px; margin:0; line-height:45px; font-size:16px;  border-top:3px solid #00a0e9; border-left:2px solid #00a0e9; border-right:2px solid #00a0e9; background:#fff;} /*选中状态样式*/
.ri .rinav .selected a{color:#0073b6;  height:47px;float:left;}/*选中状态样式*/
.ri .rinav .addOrg{font-size:14px; color:#0073b6; float:left; margin:13px 0 0 20px; line-height:30px;}
.ri .rinav .addOrg:hover{ text-decoration:underline;}
.ri .navsbox{ float:right; margin-top:-37px;}

.ri .bt1{ width:58px; height:28px; background:#f8fbff; color:#333; border:1px solid #dfe8ef; float:left; text-align:center;font-size:14px; line-height:28px; margin-left:10px;}
.ri .bt1:hover{width:58px; height:28px; color:#00a0e9; border:1px solid #00a0e9; line-height:28px; margin-left:10px;}



.ri .bt{ clear:both; height:59px;}
.ri .bt span{ float:right; margin-top:20px;}
.ri .bt a{float:left; width:89px; height:28px; background:#f8fbff; border:1px solid #dfe8ef; font-size:14px; color:#333; font-family:"微软雅黑"; text-align:center; line-height:28px; margin-left:10px;}
.ri .bt a:hover{width:89px; height:28px; color:#00a0e9; border:1px solid #00a0e9; line-height:28px;}



.inbox{ clear:both;}
.rightNav{ float:left; width:189px; border:1px solid #dfe8ef; border-bottom:3px solid #dfe8ef;}
.rightNav .addDep{ float:left; width:189px; height:77px; background:#f8fbff; text-align:center; line-height:77px; border-bottom:2px solid #dfe8ef;}
.rightNav .addDep:hover{ color:#0073b6;}
.rightNav ul{ clear:both;}
.rightNav ul li{ float:left; width:190px; height:52px; border-bottom:1px solid #dfe8ef; text-align:center; color:#333; font-size:14px; line-height:52px;}
.rightNav ul li:hover{ background:url(../../images/company/ic_script.png) 0 0;}
.rightNav ul li a{ display:block;}

.depart{width: 717px;}
.rightTable{ float:left; width:715px; border:1px solid #dfe8ef; border-left:1px solid #dfe8ef; border-bottom:4px solid #dfe8ef;}
.rightTable .title{height:38px;}
.rightTable .title span{ height:38px; line-height:38px; font-size:14px; color:#98abbc; background:#dfe8ef;}
.rightTable .title .all{ font-size:12px; line-height:42px;}
.rightTable .title .all i{ margin-left:15px;}
.rightTable .title .all span{ line-height:42px; margin-left:2px;}
.rightTable li{ height:42px; float:left;}
.rightTable li:hover{background:#ebf8fe;}
.rightTable li span{ float:left; height:42px; text-align:center; line-height:42px; border-right:1px solid #dfe8ef; border-bottom:1px solid #dfe8ef; font-size:14px; color:#333; font-family:"微软雅黑";}
.rightTable li .all{ width:80px;}
.rightTable li .all i{ float:left; width:16px; height:16px; background:url(../../images/company/ic_script.png) 0 -72px; margin-top:14px; margin-left:30px;}
.rightTable li .name{ width:145px;}
.rightTable li .position{ width:145px;}
.rightTable li .mobile{ width:145px;}
.rightTable li .id{ width:196px; border-right:0;}
.selected3{background:url(../../images/company/ic_script.png) 0 -55px !important;}
/*分页导航*/
.depart .listPageStyle{ float:right; margin-top:31px; margin-left:0px; padding-bottom:40px; margin-top:40px;}
/*分页导航*/
/*导入成员*/
.IntroductionBox{ width:100%; height:100%; top:0; float:left; position:fixed; z-index:999; display:none;}
 .boxMessage{  width:515px;height:194px; background:url(../../images/company/popup_script.png) 0 -685px;}
 .boxMessage .boxTitle{ height:40px;  color:#fff; font-size:14px; font-family:"微软雅黑"; text-align:center; line-height:40px;}
 .boxMessage .boxTitle a{width:18px;height:18px; position:absolute; float:right; margin-left:195px; margin-top:12px; *margin-top:2px; background:url(../../images/company/ic_script.png) 0 -800px;}
 .file{ float:left; margin-left:50px; margin-top:30px; color:#555; font-family:"微软雅黑"; font-size:14px;}
 .file span{ float:left; line-height:28px;}
 .file input { float:left; width:218px; height:28px; border:1px solid #dfe8ef; line-height:28px; padding:0 10px;}
 .file a{ width:99px; height:28px; border:1px solid #dfe8ef; float:left; line-height:28px; margin-left:13px; text-align:center;}
 .file a:hover{ width:99px; height:28px;  color:#00a0e9; border:1px solid #00a0e9; line-height:28px;}

 .yes{ width:220px; height:30px; background:#00a0e9; color:#fff; float:left; text-align:center; line-height:30px; font-size:14px; font-family:"微软雅黑"; margin-left:130px; margin-top:30px;}
/*导入成员*/
/*添加组织*/
.organizationBox{ width:100%; height:100%; top:0; float:left; position:fixed; z-index:999; display:none;}
.organizationBox .file{ margin-left:100px;}
.organizationBox .yes{margin-left:172px;}
/*添加组织*/
/*添加部门*/
.addDepBox{ width:100%; height:100%; top:0; float:left; position:fixed; z-index:999; display:none;}
.addDepBox .file{ margin-left:100px;}
.addDepBox .yes{margin-left:172px;}
/*添加部门*/
/*添加成员*/
.membersBox{width:100%; height:100%; top:0; float:left; position:fixed; z-index:999; display:none;}
.membersBox .boxMessage{ width:513px;height:316px; background:url(../../images/company/popup_script.png) 0 -365px;}
.membersBox .boxForm{ width:300px; height:163px; float:left; margin-left:70px; margin-top:10px; font-size:14px; font-family:"微软雅黑"; color:#555;}
.membersBox .boxForm li{ float:left; width:434px; height:30px; margin-top:10px;}
.membersBox .boxForm li span{ width:70px; float:left; text-align:right; line-height:30px;}
.membersBox .boxForm li input { float:left; width:198px; height:28px; border:1px solid #dfe8ef; padding:0 10px; color:#555; font-family:"微软雅黑"; margin-left:5px;}
.membersBox .yes{ margin-left:147px;}
.membersBox .eorr{float:left;color:red;font-size:12px;line-height:28px;margin-lrgt:5px;}
/*添加成员*/

/*liwei 2015-4-20*/

/**2015-12-14 huanggg**/
/*编辑联系人*/
.editBox{width:100%; height:100%; top:0; float:left; position:fixed; z-index:999; display:none;}
.editBox .boxMessage{ width:513px;height:316px; background:url(../../images/company/popup_script.png) 0 -365px;}
.editBox .boxForm{ width:300px; height:163px; float:left; margin-left:70px; margin-top:10px; font-size:14px; font-family:"微软雅黑"; color:#555;}
.editBox .boxForm li{ float:left; width:434px; height:30px; margin-top:10px;}
.editBox .boxForm li span{ width:78px; float:left; text-align:right; line-height:30px;}
.editBox .boxForm li span i.star{color:red;line-height:30px;}
.editBox .boxForm li input { float:left; width:198px; height:28px; border:1px solid #dfe8ef; padding:0 10px; color:#555; font-family:"微软雅黑"; margin-left:5px;}
.editBox .yes{ margin-left:147px;}
.editBox .eorr{float:left;color:red;font-size:12px;line-height:28px;margin-lrgt:5px;}

/*新增联系人*/
.add_person_box{width:100%; height:100%; top:-100px; float:left; position:fixed; z-index:999; display:none;}
.add_person_box .boxMessage{ width:513px;height:316px; background:url(../../images/company/popup_script.png) 0 -365px;}
.add_person_box .boxForm{ width:300px; height:163px; float:left; margin-left:70px; margin-top:10px; font-size:14px; font-family:"微软雅黑"; color:#555;}
.add_person_box .boxForm li{ float:left; width:434px; height:30px; margin-top:10px;}
.add_person_box .boxForm li span{ width:78px; float:left; text-align:right; line-height:30px;}
.add_person_box .boxForm li span i.star{color:red;line-height:30px;}
.add_person_box .boxForm li input { float:left; width:198px; height:28px; border:1px solid #dfe8ef; padding:0 10px; color:#555; font-family:"微软雅黑"; margin-left:5px;}
.add_person_box .yes{ margin-left:147px;}
.add_person_box .eorr{float:left;color:red;font-size:12px;line-height:28px;margin-lrgt:5px;}