*/.project
*/.settings
/hsl-admin/.project
/hsl-admin/.settings
/hsl-admin/target
/hsl-admin/.classpath
/hsl-application/.project
/hsl-application/.settings
/hsl-application/target
/hsl-application/.classpath
/hsl-domain/.project
/hsl-domain/.settings
/hsl-domain/target
/hsl-domain/.classpath
/hsl-parent/.project
/hsl-parent/.settings
/hsl-spi/.project
/hsl-spi/.settings
/hsl-spi/target
/hsl-spi/.classpath
/hsl-api/.classpath
/hsl-api/.project
/hsl-api/.settings
/hsl-api/target
/hsl-api-client/.project
/hsl-api-client/.settings
/hsl-api-client/target
/hsl-api-client/.classpath
/hsl-pojo/.project
/hsl-pojo/.settings
/hsl-pojo/target
/hsl-pojo/.classpath
/hsl-pojo/target/hsl-pojo-0.1-SNAPSHOT.jar
/hsl-domain/bin
/hsl-api/bin
/hsl-api-client/bin
/hsl-pojo/bin
/hsl-spi/bin
/hsl-application/bin

*.project
/.settings/*.prefs
/ad/lxs-ad-application/*.classpath
/ad/lxs-ad-application/*.project
/ad/lxs-ad-application/.settings/*.prefs
/ad/lxs-ad-application/.settings/*.component
/ad/lxs-ad-application/.settings/*.xml
/ad/lxs-ad-domain/*.classpath
/ad/lxs-ad-domain/*.project
/ad/lxs-ad-domain/.settings/*.prefs
/ad/lxs-ad-domain/.settings/*.component
/ad/lxs-ad-domain/.settings/*.xml
/ad/lxs-ad-pojo/*.classpath
/ad/lxs-ad-pojo/*.project
/lxs-admin/src/main/webapp/resources/dwz-ria/*.project
/hsl-api/*.project
/hsl-api/*.classpath
/hsl-api-client/*.project
/hsl-api-client/*.classpath
/.settings
/lxs-api-client/bin

