body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:152px;
}
#u10436 {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:152px;
}
#u10437 {
  position:absolute;
  left:2px;
  top:68px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:1285px;
}
#u10438 {
  position:absolute;
  left:0px;
  top:98px;
  width:200px;
  height:1285px;
}
#u10439 {
  position:absolute;
  left:2px;
  top:635px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:19px;
  font-size:16px;
  color:#00B7FF;
}
#u10440 {
  position:absolute;
  left:13px;
  top:124px;
  width:137px;
  height:19px;
  font-size:16px;
  color:#00B7FF;
}
#u10441 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u10442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
  font-size:16px;
}
#u10442 {
  position:absolute;
  left:33px;
  top:153px;
  width:157px;
  height:19px;
  font-size:16px;
}
#u10443 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u10444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
  font-size:16px;
}
#u10444 {
  position:absolute;
  left:33px;
  top:182px;
  width:157px;
  height:19px;
  font-size:16px;
}
#u10445 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u10446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
  font-size:16px;
}
#u10446 {
  position:absolute;
  left:33px;
  top:211px;
  width:157px;
  height:19px;
  font-size:16px;
}
#u10447 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u10448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  background:inherit;
  background-color:#FFFFFF;
  font-size:16px;
  color:#00B7FF;
  text-align:left;
}
#u10448 {
  position:absolute;
  left:13px;
  top:249px;
  width:97px;
  height:23px;
  font-size:16px;
  color:#00B7FF;
  text-align:left;
}
#u10449 {
  position:absolute;
  left:2px;
  top:2px;
  width:93px;
  word-wrap:break-word;
}
#u10450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  background:inherit;
  background-color:#FFFFFF;
  font-size:16px;
  text-align:left;
}
#u10450 {
  position:absolute;
  left:33px;
  top:281px;
  width:97px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u10451 {
  position:absolute;
  left:2px;
  top:2px;
  width:93px;
  word-wrap:break-word;
}
#u10452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  background:inherit;
  background-color:#FFFFFF;
  font-size:16px;
  text-align:left;
}
#u10452 {
  position:absolute;
  left:33px;
  top:315px;
  width:97px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u10453 {
  position:absolute;
  left:2px;
  top:2px;
  width:93px;
  word-wrap:break-word;
}
#u10454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u10454 {
  position:absolute;
  left:213px;
  top:106px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u10455 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u10456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:72px;
}
#u10456 {
  position:absolute;
  left:210px;
  top:168px;
  width:810px;
  height:72px;
}
#u10457 {
  position:absolute;
  left:2px;
  top:28px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
}
#u10458 {
  position:absolute;
  left:910px;
  top:104px;
  width:110px;
  height:37px;
}
#u10459 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:531px;
}
#u10460 {
  position:absolute;
  left:213px;
  top:259px;
  width:810px;
  height:531px;
}
#u10461 {
  position:absolute;
  left:2px;
  top:258px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:32px;
}
#u10463 {
  position:absolute;
  left:530px;
  top:838px;
  width:493px;
  height:32px;
}
#u10464 {
  position:absolute;
  left:2px;
  top:8px;
  width:489px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:350px;
}
#u10465 {
  position:absolute;
  left:1109px;
  top:150px;
  width:771px;
  height:350px;
}
#u10466 {
  position:absolute;
  left:2px;
  top:167px;
  width:767px;
  visibility:hidden;
  word-wrap:break-word;
}
