<#assign contextPath=springMacroRequestContext.getContextPath() />
<style type="text/css">
.searchContent td{text-align: left}
</style>
<div class="pageHeader">
	
	<form id="pagerForm" rel="pagerForm" onsubmit="return validateCallback(this, dialogAjaxDone);"
		action="${contextPath}/traveline/price/batchedit" method="post" >
		
		<input id="lineID" type="hidden" name="lineID" value="${lineID}"/>
		
		<div class="searchBar">
			<table class="searchContent">
				<tr>
				  <td>
				  	批量修改价格日期：
				  </td>
				  <td>
				  	<input name="beginDate" value="" class="date"/> - 
				  </td>
				  <td>
				  	<input name="endDate" value="" class="date"/>
				  </td>
				</tr>
				<tr>
					<td>
					</td>
				    <td>
				    	<input type="checkbox" value="2" name="weekDay" checked="checked"/> 星期一&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					    <input type="checkbox" value="3" name="weekDay" checked="checked"/> 星期二
				    </td>
					<td>
					   <input type="checkbox" value="4" name="weekDay" checked="checked"/> 星期三&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					   <input type="checkbox" value="5" name="weekDay" checked="checked"/> 星期四&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					   <input type="checkbox" value="6" name="weekDay" checked="checked"/> 星期五
					</td>
					   <td>
					   <input type="checkbox" value="7" name="weekDay" checked="checked"/> 星期六&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					   <input type="checkbox" value="1" name="weekDay" checked="checked"/> 星期日
					</td>
				</tr>
				<tr>
					<td>
					成人价格
					</td>
				   <td>
				   <input name="adultPrice" value="" length="10"/>
				   </td>
				    <td>
				      儿童价格 <input name="childPrice" value="" length="10"/>
				   </td>
				    <td>
				     人数 <input name="number" value="" length="10"/>
				   </td>
				</tr>	
					
					
			</table>
			<div class="subBar">
				<ul>
					<li><div class="buttonActive">
							<div class="buttonContent">
								<button type="submit" onclick="return checkUpdate();">修改</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>
<div class="pageContent" id="table_c">
	<div class="panelBar">
		<ul class="toolBar">
		</ul>
	</div>
	<a target="dialog"  width="600" height="300" style="color: blue" id="edit" title="编辑"></a>
	<iframe frameborder="no" marginheight="0" marginwidth="0" border="0" id="ifr"
	           style="width:100%;height:600px;scrolling:yes" src="${contextPath}/traveline/price/datesaleprice?lineID=${lineID}">
	</iframe>
</div>

<script type="text/javascript">

	function editPrice(id,saleDate){
		if(id == ""){
			var lineID = $("#lineID").val();
			document.getElementById("edit").href = "${contextPath}/traveline/price/toadd?id=" + lineID + "&saleDate=" + saleDate;
		}else{
			document.getElementById("edit").href = "${contextPath}/traveline/price/toedit?id=" + id;
		}
		document.getElementById("edit").click();
	}
	
	/**
	*批量修改之前做校验
	*/
	function checkUpdate(){
		var beginDate = document.getElementsByName("beginDate")[0].value;
		var endDate = document.getElementsByName("endDate")[0].value;
		if(beginDate == null || beginDate == ""){
			alert("请选择开始时间");
			return false;
		}
		if(endDate == null || endDate == ""){
			alert("请选择结束时间");
			return false;
		}
		if(endDate < beginDate){
			alert("结束时间不能小于开始时间");
			return false;
		}
		var weekDayList = document.getElementsByName("weekDay");
		var flag = false;
		for(var i=0;i<weekDayList.length;i++){
			if(weekDayList[i].checked){
				flag = true;
			}
		}
		if(flag == false){
			alert("请选择星期几");
			return false;
		}
		var adultPrice = document.getElementsByName("adultPrice")[0].value;
		if(adultPrice == null || adultPrice == ""){
			alert("请输入成人价格");
			return false;
		}
		var childPrice = document.getElementsByName("childPrice")[0].value;
		if(childPrice == null || childPrice == ""){
			alert("请输入儿童价格");
			return false;
		}
		var number = document.getElementsByName("number")[0].value;
		if(number == null || number == ""){
			alert("请输入人数");
			return false;
		}
	}
	
</script>

