body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1190px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:230px;
  width:480px;
  height:230px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:230px;
}
#u1 {
  position:absolute;
  left:2px;
  top:107px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:20px;
  width:1200px;
  height:70px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u4 {
  position:absolute;
  left:2px;
  top:27px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:23px;
  top:36px;
  width:257px;
  height:37px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:37px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:1029px;
  top:57px;
  width:151px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:1029px;
  top:31px;
  width:88px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:1150px;
  top:31px;
  width:40px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:-10px;
  top:590px;
  width:1200px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:23px;
  top:130px;
  width:1147px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:1130px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1147px;
  height:1px;
}
#u17 {
  position:absolute;
  left:59px;
  top:105px;
  width:60px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:140px;
  top:105px;
  width:80px;
  height:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:244px;
  top:105px;
  width:80px;
  height:30px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:351px;
  top:105px;
  width:80px;
  height:30px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:457px;
  top:105px;
  width:103px;
  height:30px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:140px;
  top:249px;
  width:300px;
  height:192px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:192px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:472px;
  top:249px;
  width:58px;
  height:192px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:192px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:291px;
  top:192px;
  width:97px;
  height:28px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:767px;
  top:192px;
  width:145px;
  height:28px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u33_ann {
  position:absolute;
  left:905px;
  top:188px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:590px;
  top:230px;
  width:480px;
  height:230px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:230px;
}
#u36 {
  position:absolute;
  left:2px;
  top:107px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:610px;
  top:240px;
  width:440px;
  height:201px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:201px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  word-wrap:break-word;
}
