body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1198px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1200px;
  height:161px;
  font-size:28px;
  color:#FFFFFF;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:161px;
}
#u2 {
  position:absolute;
  left:2px;
  top:72px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:200px;
  top:100px;
  width:225px;
  height:37px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:783px;
  top:23px;
  width:414px;
  height:131px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:131px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:20px;
  top:180px;
  width:200px;
  height:870px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:870px;
}
#u8 {
  position:absolute;
  left:2px;
  top:427px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:28px;
  top:199px;
  width:150px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#006699;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:20px;
  top:225px;
  width:200px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u12 {
  position:absolute;
  left:45px;
  top:246px;
  width:150px;
  height:19px;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:28px;
  top:402px;
  width:150px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#006699;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:28px;
  top:480px;
  width:150px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#006699;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:28px;
  top:562px;
  width:150px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#006699;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:28px;
  top:636px;
  width:150px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#006699;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:20px;
  top:727px;
  width:200px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u23 {
  position:absolute;
  left:45px;
  top:667px;
  width:150px;
  height:19px;
  font-size:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:45px;
  top:700px;
  width:150px;
  height:19px;
  font-size:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:230px;
  top:222px;
  width:967px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:950px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:4px;
  width:967px;
  height:2px;
}
#u28 {
  position:absolute;
  left:44px;
  top:510px;
  width:150px;
  height:19px;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:20px;
  top:460px;
  width:200px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u31 {
  position:absolute;
  left:20px;
  top:276px;
  width:200px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u32 {
  position:absolute;
  left:45px;
  top:431px;
  width:150px;
  height:19px;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:20px;
  top:541px;
  width:200px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u35 {
  position:absolute;
  left:45px;
  top:591px;
  width:150px;
  height:19px;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:20px;
  top:617px;
  width:200px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u38 {
  position:absolute;
  left:10px;
  top:37px;
  width:185px;
  height:100px;
  font-size:36px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:100px;
}
#u39 {
  position:absolute;
  left:2px;
  top:29px;
  width:181px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:28px;
  top:296px;
  width:150px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#006699;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:20px;
  top:383px;
  width:200px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u43 {
  position:absolute;
  left:45px;
  top:326px;
  width:150px;
  height:19px;
  font-size:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:45px;
  top:355px;
  width:150px;
  height:19px;
  font-size:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:230px;
  top:181px;
  width:220px;
  height:37px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:37px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:1099px;
  top:293px;
  width:100px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u50 {
  position:absolute;
  left:230px;
  top:244px;
  width:150px;
  height:22px;
  font-size:18px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:22px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:342px;
  top:240px;
  width:160px;
  height:29px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:29px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u53 {
  position:absolute;
  left:560px;
  top:244px;
  width:150px;
  height:22px;
  font-size:18px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:22px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:650px;
  top:240px;
  width:160px;
  height:30px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u56 {
  position:absolute;
  left:858px;
  top:244px;
  width:150px;
  height:22px;
  font-size:18px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:22px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:933px;
  top:240px;
  width:160px;
  height:29px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:29px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u59 {
  position:absolute;
  left:230px;
  top:294px;
  width:150px;
  height:22px;
  font-size:18px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:22px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:305px;
  top:290px;
  width:160px;
  height:29px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:29px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u62 {
  position:absolute;
  left:560px;
  top:294px;
  width:137px;
  height:22px;
  font-size:18px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:22px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:685px;
  top:291px;
  width:130px;
  height:29px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:29px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u65 {
  position:absolute;
  left:820px;
  top:292px;
  width:30px;
  height:24px;
  font-size:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:845px;
  top:290px;
  width:130px;
  height:29px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:29px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u68 {
  position:absolute;
  left:1099px;
  top:293px;
  width:100px;
  height:25px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u69 {
  position:absolute;
  left:230px;
  top:391px;
  width:974px;
  height:258px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:42px;
}
#u71 {
  position:absolute;
  left:2px;
  top:12px;
  width:107px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:111px;
  top:0px;
  width:112px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:42px;
}
#u73 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:223px;
  top:0px;
  width:184px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:42px;
}
#u75 {
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:407px;
  top:0px;
  width:128px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:42px;
}
#u77 {
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:535px;
  top:0px;
  width:123px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
}
#u79 {
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:658px;
  top:0px;
  width:78px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:42px;
}
#u81 {
  position:absolute;
  left:2px;
  top:12px;
  width:74px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:736px;
  top:0px;
  width:134px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:42px;
}
#u83 {
  position:absolute;
  left:2px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:870px;
  top:0px;
  width:99px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:42px;
}
#u85 {
  position:absolute;
  left:2px;
  top:12px;
  width:95px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:0px;
  top:42px;
  width:111px;
  height:69px;
  font-size:16px;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:69px;
}
#u87 {
  position:absolute;
  left:2px;
  top:25px;
  width:107px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:111px;
  top:42px;
  width:112px;
  height:69px;
  font-size:16px;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:69px;
}
#u89 {
  position:absolute;
  left:2px;
  top:25px;
  width:108px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:223px;
  top:42px;
  width:184px;
  height:69px;
  font-size:16px;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:69px;
}
#u91 {
  position:absolute;
  left:2px;
  top:25px;
  width:180px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:407px;
  top:42px;
  width:128px;
  height:69px;
  font-size:16px;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:69px;
}
#u93 {
  position:absolute;
  left:2px;
  top:25px;
  width:124px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:535px;
  top:42px;
  width:123px;
  height:69px;
  font-size:16px;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:69px;
}
#u95 {
  position:absolute;
  left:2px;
  top:16px;
  width:119px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:658px;
  top:42px;
  width:78px;
  height:69px;
  font-size:16px;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:69px;
}
#u97 {
  position:absolute;
  left:2px;
  top:25px;
  width:74px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:736px;
  top:42px;
  width:134px;
  height:69px;
  font-size:16px;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:69px;
}
#u99 {
  position:absolute;
  left:2px;
  top:25px;
  width:130px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:870px;
  top:42px;
  width:99px;
  height:69px;
  font-size:16px;
  color:#0000FF;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:69px;
}
#u101 {
  position:absolute;
  left:2px;
  top:25px;
  width:95px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:0px;
  top:111px;
  width:111px;
  height:73px;
  font-size:16px;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:73px;
}
#u103 {
  position:absolute;
  left:2px;
  top:27px;
  width:107px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:111px;
  top:111px;
  width:112px;
  height:73px;
  font-size:16px;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:73px;
}
#u105 {
  position:absolute;
  left:2px;
  top:27px;
  width:108px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:223px;
  top:111px;
  width:184px;
  height:73px;
  font-size:16px;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:73px;
}
#u107 {
  position:absolute;
  left:2px;
  top:27px;
  width:180px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:407px;
  top:111px;
  width:128px;
  height:73px;
  font-size:16px;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:73px;
}
#u109 {
  position:absolute;
  left:2px;
  top:27px;
  width:124px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:535px;
  top:111px;
  width:123px;
  height:73px;
  font-size:16px;
  text-align:center;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:73px;
}
#u111 {
  position:absolute;
  left:2px;
  top:18px;
  width:119px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:658px;
  top:111px;
  width:78px;
  height:73px;
  font-size:16px;
  text-align:center;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:73px;
}
#u113 {
  position:absolute;
  left:2px;
  top:27px;
  width:74px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:736px;
  top:111px;
  width:134px;
  height:73px;
  font-size:16px;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:73px;
}
#u115 {
  position:absolute;
  left:2px;
  top:27px;
  width:130px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:870px;
  top:111px;
  width:99px;
  height:73px;
  font-size:16px;
  color:#0000FF;
  text-align:center;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:73px;
}
#u117 {
  position:absolute;
  left:2px;
  top:27px;
  width:95px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:0px;
  top:184px;
  width:111px;
  height:69px;
  font-size:16px;
  text-align:center;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:69px;
}
#u119 {
  position:absolute;
  left:2px;
  top:25px;
  width:107px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:111px;
  top:184px;
  width:112px;
  height:69px;
  font-size:16px;
  text-align:center;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:69px;
}
#u121 {
  position:absolute;
  left:2px;
  top:25px;
  width:108px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:223px;
  top:184px;
  width:184px;
  height:69px;
  font-size:16px;
  text-align:center;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:69px;
}
#u123 {
  position:absolute;
  left:2px;
  top:25px;
  width:180px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:407px;
  top:184px;
  width:128px;
  height:69px;
  font-size:16px;
  text-align:center;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:69px;
}
#u125 {
  position:absolute;
  left:2px;
  top:25px;
  width:124px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:535px;
  top:184px;
  width:123px;
  height:69px;
  font-size:16px;
  text-align:center;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:69px;
}
#u127 {
  position:absolute;
  left:2px;
  top:16px;
  width:119px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:658px;
  top:184px;
  width:78px;
  height:69px;
  font-size:16px;
  text-align:center;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:69px;
}
#u129 {
  position:absolute;
  left:2px;
  top:25px;
  width:74px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:736px;
  top:184px;
  width:134px;
  height:69px;
  font-size:16px;
  text-align:center;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:69px;
}
#u131 {
  position:absolute;
  left:2px;
  top:25px;
  width:130px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:870px;
  top:184px;
  width:99px;
  height:69px;
  font-size:16px;
  color:#0000FF;
  text-align:center;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:69px;
}
#u133 {
  position:absolute;
  left:2px;
  top:25px;
  width:95px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:706px;
  top:678px;
  width:493px;
  height:32px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:32px;
}
#u136 {
  position:absolute;
  left:2px;
  top:8px;
  width:489px;
  visibility:hidden;
  word-wrap:break-word;
}
