@charset "utf-8";

.Bg{background-image:url(../../images/hotel_detail_script.png);background-repeat:no-repeat;}

.g_bd{width:100%;background:url(../../images/hotel_bg.png);z-index:120;min-width:1200px;}
.g_bd *{font-family:"Microsoft YaHei","微软雅黑";}

.m_load{padding:15px 0px 30px 0px;width:1200px;margin:auto;font-size:12px;}
.m_load a:hover{color:#0073b6;}
/*头部预览*/
.m_prv{height:385px;}
.m_prv .m_word .le{width:1097px;}
.m_prv .m_word .le .tt{font-size:36px;line-height:66px;}
.m_prv .m_word .le .icon{width:72px;height:30px;background-position:-70px -44px;margin:24px 8px 0px 22px;} 
.m_prv .m_word .le .star{margin:30px 4px 0px 0px;width:10px;height:10px;background-position:-153px -44px;}
.m_prv .m_word .le .adress{background-position:-224px -43px;padding-left:20px;height:20px;line-height:20px;}
.m_prv .m_word .le .serc{background-position:0px -160px;padding-left:27px;height:20px;margin:0px 25px 0px 45px;}
.m_prv .m_word .le .live{background-position:0px -185px;padding-left:30px;height:20px;}
.m_prv .m_word .ri{width:90px;height:90px;background:#f6f6f6;border:1px solid #e6e7eb;margin:1px 1px 0px 0px;color:#475556;line-height:123px;}
.m_prv .m_word .ri .icon{width:23px;height:22px;background-position:-47px -44px;top:20px;left:34px;}
.m_prv .m_pic{margin-top:10px;}
.m_prv .m_pic .le{width:864px;height:282px;}
.m_prv .m_pic .le .picL .pic,.m_prv .m_pic .le .picL{width:380px;height:281px;}
.m_prv .m_pic .le .picR{width:161px;height:141px;cursor:pointer;position:relative;}
.m_prv .m_pic .le .picR .pic{width:160px;height:140px;padding:0px 0px 1px 1px;}
.m_prv .m_pic .le .picL .textTm{right:0px;bottom:0px;height:32px;width:110px;}
.m_prv .m_pic .le .picR .textTm{right:0px;bottom:0px;height:32px;width:100%;display:none;}
.m_prv .m_pic .le .bg{right:0px;bottom:0px;height:32px;width:100%;background:#333333;filter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7;z-index:10;}
.m_prv .m_pic .le .picR .bg{bottom:1px;}
.m_prv .m_pic .le .picL .ct{z-index:11;padding:10px 10px 10px 0px;color:#fff;height:12px;line-height:12px;}
.m_prv .m_pic .le .picR .ct{z-index:11;padding:10px 10px 10px 0px;color:#fff;height:12px;line-height:12px;text-align:center;width:100%;}
.m_prv .m_pic .ri{width:320px;height:279px;border:1px solid #d2d7db;}
.m_prv .m_pic .ri .iconList{height:40px;border-bottom:1px solid #d2d7db;padding:20px 0px 0px 0px;}
.m_prv .m_pic .ri .look{width:152px;height:32px;bottom:0px;right:0px;background:#d2d7db;color:#fff;line-height:32px;text-align:right;padding-right:10px;}
.m_prv .m_pic .ri .iconList .icon{padding:2px 15px;margin-right:3px;line-height:26px;}
.m_prv .m_pic .ri .iconList .wf{background-position:0px -2px;padding:2px 13px;}
.m_prv .m_pic .ri .iconList .pc{background-position:-39px -3px;padding:2px 8px;}
.m_prv .m_pic .ri .iconList .ex{background-position:-67px -2px;padding:2px 12px;}
.m_prv .m_pic .ri .iconList .dn{background-position:-101px -1px;padding:2px 8px;}
.m_prv .m_pic .ri .iconList .pt{background-position:-130px -1px;padding:2px 11px;}
.m_prv .m_pic .ri .iconList .pk{background-position:-162px -1px;padding:2px 10px;}
.m_prv .m_pic .ri .iconList .sw{background-position:-194px -1px;padding:2px 15px;}
.m_prv .m_pic .ri .iconList .fly{background-position:-237px -1px;padding:2px 13px;}
.m_prv .m_pic .ri .iconList .mt{background-position:-275px -1px;padding:2px 12px;}
/*酒店选择房型*/
.g_de{margin-top:39px;padding-bottom:65px;}
.m_detail{background:#fff;padding-top:44px;}
.m_subNav{border-top:3px solid #45b4e6;background:#f4f4f4;height:36px;z-index:100;width:1200px;top:0px;}
.m_subNav .nav li{width:113px;float:left;height:36px;line-height:36px;font-size:16px;text-align:center;}
.m_subNav .nav li a{color:#333333;z-index:2;position:relative;}
.m_subNav .nav li a.on{color:#fff;}
.m_subNav .nav li .bg{width:113px;height:36px;background:#55bfef;left:0px;top:0px;z-index:0;}
.m_subNav .nav li .bg .icon{width:18px;height:8px;background-position:-29px -44px;top:36px;left:48px;}
.m_chooseTime{padding:20px 0px 20px 28px;}
.m_chooseTime .input{width:153px;height:38px;border-radius:4px;background-color:#fff;border:1px solid #c8c8c8;padding:0px 40px 0px 5px; float:left;display:block;margin-right:10px;color:#333333;line-height:38px;}
.m_chooseTime  .time{background:url(../../images/hotel_script.png) 158px -45px no-repeat #fff;padding-left:40px;width:118px;}
.m_chooseTime  .time_tt{left:5px;top:8px;width:32px;height:24px;line-height:24px;}
.m_chooseTime .sure{background:#55bfef;width:67px;height:36px;text-align:center; color:#fff;line-height:36px;margin-top:2px;margin-left:10px;}
.m_house{padding-bottom:30px;border-bottom:3px solid #d6e0e1;}
.m_house .th{background:#f8fbff;border-bottom:2px solid #c7dbf8;height:40px;}

.m_house .mtb{padding-left:10px;height:40px;line-height:40px;}
.m_house .hs{width:160px;padding-left:30px;}
.m_house .dt{width:300px;}
.m_house .bd{width:150px;}
.m_house .bf{width:100px;}
.m_house .wf{width:180px;}
.m_house .pr{width:122px;}
.m_house .bt{width:95px;}
.m_house .tr{border-bottom:2px solid #c7dbf8;}
.m_house .tr .pic{width:140px; height:100px;padding:10px 22px 10px 30px;border-right:1px solid #c7dbf8;}
.m_house .tr .pic .img{width:140px;height:100px;cursor:pointer;}
.m_house .tr .pic .de{width:110px;bottom:10px;left:30px;height:32px;background-color:#d9e8ff;padding-right:20px;background-position:120px -339px;padding-left:10px;line-height:32px;cursor:pointer;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;}
.m_house .tr .pic .de_on{background-position:120px -370px;}
.m_house .tr .hs_word{border-top:1px dashed #c7dbf8;border-left:1px solid #c7dbf8;margin-left:-1px;}
.m_house .tr .hs_word_on{background:#f3f8ff;}
.m_house .tr .fir{border:0px;height:59px;}
.m_house .tr .mtr{padding-left:10px;height:60px;line-height:60px;color:#666666;font-size:14px;}
.m_house .tr .pr{color:#ff6600;font-size:18px;}
.m_house .tr .bt .btn{width:45px;height:22px;background:#55bfef;color:#fff;text-align:center;line-height:22px;margin-top:16px;}
.m_house .tr .bt .btn:hover{background:#00a0e9;}
.m_house .tr .tr_de{color:#404040;line-height:29px;padding-left:30px;background:#eff2f5;display:none;}
/*酒店选择房型*/

/*酒店介绍部分*/
.m_intro{background:#fff;margin-top:20px;}
.m_intro .title{height:45px;background:#f8fbff;}
.m_intro .title .tt{margin-left:30px;padding-left:30px;height:45px;line-height:45px;background-position:0px -209px;font-weight:normal;}
.m_intro .title .jt{background-position:0px -283px;}
.m_intro .title .dp{background-position:0px -245px;}
.m_intro .server{background:#fff;}
.m_intro .server .server_tb{width:100%;}
.m_intro .server .server_tb .fir td{border-top:0px;}
.m_intro .server .server_tb td{color:#333333;font-size:14px;}
.m_intro .server .server_tb .t{color:#888888;width:160px;text-align:right;border-top:1px solid #dbdbdb;padding:25px 30px 25px 0px;}
.m_intro .server .server_tb .con{width:968px;padding:20px 0px 20px 40px;border-top:1px solid #dbdbdb;border-left:1px solid #dbdbdb;}
.m_intro .intro{padding:35px 30px 10px;line-height:24px;}
.m_intro .intro b,.m_intro .intro strong{font-size:16px;}
.m_intro .map{padding:35px 30px;line-height:24px;}
.mapDiv{width:319px;height:218px;display:block;}
.m_intro .map .de{width:672px;}
.m_intro .map .pic{margin-top:10px;}
.m_intro .map .pic,.m_intro .map .pic img{width:440px;height:230px;}
.m_intro .map .pic,.mapImg{width:1140px;height:400px;}

.m_intro .map .pic .look{width:145px;height:32px;bottom:0px;right:0px;background:#d2d7db;color:#fff;line-height:32px;text-align:right;padding-right:20px;}
.m_intro .map .de .sums{padding-bottom:10px;}
.m_intro .map .de .list dd{border-top:1px solid #dbdbdb;}
.m_intro .map .de .list dd.fir{border-top:0px;}
.m_intro .map .de .list dt{font-weight:bold;}
/*酒店介绍部分*/

/*用户评论*/
.m_intro .comment .subtitle{padding:40px 0px 8px 30px;line-height:24px;line-height:16px;border-bottom:1px solid #dfdfdf;}
.m_intro .comment .total{padding:37px 0px 42px 0px;border-bottom:1px solid #dfdfdf;}
.m_intro .comment .total .le{color:#00a0e9;font-size:20px;height:56px;padding:0px 0px 0px 30px;line-height:56px;width:210px;border-right:1px solid  #dfdfdf;}
.m_intro .comment .total .ri{height:56px;width:959px;}
.m_intro .comment .total .ri .subtotal{margin-left:60px;padding-left:40px;height:28px;line-height:28px;}
.m_intro .comment .total .ri .good{background-position:0px -87px;}
.m_intro .comment .total .ri .bad{background-position:0px -117px;}

.m_intro .comment_box{border-bottom:1px solid #dfdfdf;}
.m_intro .comment_box .vator{height:78px;width:78px;margin:17px 0px 0px 28px;}
.m_intro .comment_box .vator .pic{width:78px;height:78px;}
.m_intro .comment_box .vator .bg{background:url(../../images/comment_bg.png) no-repeat;left:0px;top:0px;width:78px;height:78px;}

.m_intro .comment_box .cont{width:1000px;margin-right:40px;padding-bottom:1px solid #dbdbdb;padding-bottom:17px;}
.m_intro .comment_box .cont .subcom{margin-top:20px;padding-left:24px;height:20px;line-height:20px;}
.m_intro .comment_box .cont .good{background-position:0px -91px;}
.m_intro .comment_box .cont .bad{background-position:0px -121px;}
.m_intro .comment_box .cont .word{line-height:24px;padding:10px 0px;}
.m_intro .comment_box .cont .back{background:#f6fcff;border:1px solid #e4f2f9;padding:10px;border-radius:5px;color:#88a4cc;margin-top:5px;}
.m_intro .comment_box .cont .back .time{padding-bottom:10px;}
.m_intro .comment_box .cont .back .icon{width:12px;height:8px;background-position:-175px -44px;left:36px;top:-7px;}
/*用户评论*/


/*浏览历史*/
.g_hist{background:#fff;width:190px;padding-bottom:45px;top:0px;right:0px;z-index:9;}
.g_hist .tt{border-bottom:1px solid #eaeaea;line-height:35px;padding-left:15px;font-weight:normal;}
.g_hist i.closed{width:16px; height:16px;background-position:-200px -42px;top:9px;right:12px;border:1px solid #ffffff;}
.g_hist .hist_list{padding:0px 15px;}
.g_hist .hist_list li{width:100%;border-bottom:1px dashed #ededed;margin-top:15px;line-height:24px;}
.g_hist .hist_list li .pic{width:160px;height:116px;}
.g_hist .hist_list li .price{color:#fc6000;text-align:right;padding-bottom:5px;}

/*浏览历史在底部*/

.g_hist_bottom{width:100%;position:fixed;bottom:0px;left:0px;height:208px;z-index:10;}
.g_hist_bottom .g_list_bg{position:absolute;left:0px;top:0px;width:100%;background:#000;filter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7;height:208px;z-index:-1;}
.g_hist_bottom .tt{display:none;}
.g_hist_bottom i.closed{width:32px; height:32px;background-position:-280px -404px;top:9px;right:12px;}
.g_hist_bottom .hist_list{}
.g_hist_bottom .hist_list li{width:160px;line-height:16px;float:left;padding:20px 30px;}
.g_hist_bottom .hist_list li .detail{height:32px;color:#fff}
.g_hist_bottom .hist_list li .pic{width:160px;height:116px;}
.g_hist_bottom .hist_list li .price{color:#fff;text-align:right;padding-bottom:5px;}


/*页脚分页*/
.g_page{width:764px;margin:auto;padding:30px 0px 20px 436px;background:#f9f9f9;}
.g_page a{width:30px;height:30px;border:1px solid #fff;float:left;margin-right:9px;line-height:30px;text-align:center;background:#fff;color:#666666;font-size:12px;}
.g_page a:visited{}
.g_page .on,.g_page a:hover{width:30px;height:30px;border:1px solid #fff;float:left;margin-right:9px;line-height:30px;text-align:center;background:#ff9900;color:#fff;}
.g_page a:active{}
.g_page .up,.g_page .down{background:#f7f7f7;color:#9a9b9b;}


/*弹出相册*/
.m_albums{width:100%;position:fixed;left:0px;top:0px;z-index:10000;font-family:"Microsoft YaHei","微软雅黑";display:none;}
.m_albums .albums_bg{width:100%;background:#000;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;position:absolute;left:0px;top:0px;z-index:0;}
.m_albums .albums_box{width:850px;height:560px;margin:auto;background:#fff;border-radius:6px;position:relative;z-index:1;padding:35px 0px;}
.m_albums .albums_box .imgshow{width:550px;height:400px;margin:auto;overflow:hidden;background:#ececec;position:relative;}
.m_albums .albums_box .imgshow_box{margin:auto;display:block;overflow:hidden;margin-top:35px;}
.m_albums .albums_box .imgshow_box img{max-width:100%;margin:auto;display:block;}
.m_albums .albums_box .title{height:40px;display:block;margin:auto;position:absolute;bottom:0px;left:0px;width:100%;color:#fff;line-height:40px;z-index:10;text-indent:10px;}
.m_albums .albums_box .title .title_bg{height:40px;width:100%;position:absolute;left:0px;top:0px;background:#000;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;z-index:-1;}
.m_albums .albums_box .title .zan{position:absolute;right:10px;top:00px;line-height:40px;height:40px;padding-left:25px;background:url(../../images/hotel_detail_script.png) no-repeat -281px -76px;}
/*按钮*/
.m_albums .albums_box .clos{width:30px;height:30px;background:url(../../images/hotel_detail_script.png) 0px -44px;position:absolute;right:-14px;top:-14px;cursor:pointer;}
.m_albums .albums_box .turnL{width:10%;height:500px;background:url(../../images/turnL.png) no-repeat center center;position:absolute;left:0px;top:20px;cursor:pointer;}
.m_albums .albums_box .turnR{width:10%;height:500px;background:url(../../images/turnR.png) no-repeat center center;position:absolute;right:0px;top:20px;cursor:pointer;}
/*页数*/
.m_albums .page{width:100%;display:block;text-align:center;line-height:18px;height:18px;padding:10px 0px 30px;;}
/*底部导航*/
.m_albums .sub_nav{height:110px;width:100%;position:relative;}
.m_albums .subTurnL{width:5%;height:101px;background:url(../../images/subTurnL.png) center center no-repeat;position:absolute;left:0px;bottom:8px;cursor:pointer;}
.m_albums .subTurnR{width:5%;height:101px;background:url(../../images/subTurnR.png) center center no-repeat;position:absolute;right:0px;bottom:8px;cursor:pointer;}
/*底部图像列表*/
.m_albums .img_list{width:85%;height:101px;margin:auto;position:relative;overflow:hidden;}
.m_albums .img_list .img_list_Img{width:100%;height:101px;position:absolute;left:0px;top:0px;width:1000px;}
.m_albums .img_list .img_list_Img li{float:left;width:146px;height:101px;position:relative;overflow:hidden;}
.m_albums .img_list .img_list_Img li img{width:120px;height:90px;float:left;margin-left:3px;margin-top:8px;display:block;cursor:pointer;}
.m_albums .img_list .img_list_Img li.on{background:url(../../images/albums_bg.png) no-repeat;}
/*弹出相册*/

