<#assign contextPath=springMacroRequestContext.getContextPath() />


<div class="pageContent">
<form method="post" enctype="multipart/form-data" action="${contextPath}/viewspot/order/tocancel" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<div class="pageFormContent" layoutH="58">
	<div class="unit">
		<label>订单信息</label>
	</div>
	<div class="unit">
		<hr/>
	</div>
	<div class="unit">
		<table>
			<thead>
				<th style="width:100px">订单状态</th>
				<th style="width:160px">平台订单号</th>
				<th style="width:160px">供应商订单号</th>
				<th style="width:160px">经销商订单号</th>
				<th style="width:80px">门票数量</th>
				<th style="width:100px">实付金额</th>
				<th style="width:100px">下单时间</th>
				<th style="width:100px">游玩时间</th>
			</thead>
			<tbody>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tbody>
		</table>
	</div>
	<div class="unit">
		<br/>
		<br/>
	</div>	
	<div class="unit">
		<table>
			<thead>
				<th style="width:100px">供应商价格</th>
				<th style="width:100px">经销商价格</th>
			</thead>
			<tbody>
				<td></td>
				<td></td>
			</tbody>
		</table>
	</div>
	<div class="unit">
		<br/>
		<br/>
	</div>	
	<div class="unit">
		<label>景点名称</label>
		<label>&nbsp;</label>
	</div>
	<div class="unit">
		<label>门票类型</label>
		<label>&nbsp;</label>
	</div>
	<div class="unit">
		<label>支付方式</label>
		<label>&nbsp;</label>
	</div>
	<div class="unit">
		<label>取票地点</label>
		<label>&nbsp;</label>
	</div>
	<div class="unit">
		<hr/>
	</div>	
	<div class="unit">
		<label>政策备注</label>
	</div>
	<div class="unit">
		<label>政策内容</label>
	</div>
	<div class="unit">
		<br/>
		<br/>
	</div>		
	<div class="unit">
		<label>游玩人信息</label>
	</div>
	<div class="unit">
		<hr/>
	</div>
	<div class="unit">
		<table>
			<thead>
				<th style="width:100px">游玩人姓名</th>
				<th>游玩人手机</th>
			</thead>
			<tbody>
				<td></td>
				<td></td>
			</tbody>
		</table>
	</div>
	<div class="unit">
		<br/>
		<br/>
	</div>	
	<div class="unit">
		<label>取票人信息</label>
	</div>
	<div class="unit">
		<hr/>
	</div>		
	<div class="unit">
		<label>取票人姓名</label>
		<label>&nbsp;</label>
	</div>
	<div class="unit">
		<label>取票人手机</label>
		<label>&nbsp;</label>
	</div>
</div>
	<div class="formBar">
			<ul>
				<li><a class="button" target="dialog" href="${contextPath}/viewspot/order/tocancel?id=${mpOrder.id}"><span>取消订单</span></a></li>
			</ul>
	</div>
</form>
