<#assign contextPath=springMacroRequestContext.getContextPath() />
<div class="accordion" fillSpace="sidebar">
	<div class="accordionHeader">
		<h2>
			<span>Folder</span>机票管理
		</h2>
	</div>
	<div class="accordionContent">
		<ul class="tree">
			<li><a  href="${contextPath}/airtkt/order/list" target="navTab"
				rel="order">订单管理</a>
			</li>
			<li><a  href="${contextPath}/airtkt/policy/list" target="navTab"
				rel="policy">价格管理</a>
			</li>
			<li><a  href="${contextPath}/airtkt/supplier/list" target="navTab"
				rel="supplier">供应商管理</a>
			</li>
			<li><a  href="${contextPath}/airtkt/dealer/list" target="navTab"
				rel="dealer">经销商管理</a>
			</li>
			<li><a>财务管理</a>
				<ul>
					<li>
						<a href="${contextPath}/airtkt/supplier/income_refund/list" target="navTab" rel="supplier_income_refund">供应商平台支出/退款明细</a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="${contextPath}/airtkt/customer/income_refund/list" target="navTab" rel="customer_income_refund">用户收入/退款明细</a>
					</li>
				</ul>
				<!-- 
				<ul>
					<li><a href="${contextPath}/airtkt/financial/orderlist" target="navTab"
						rel="fOrderList">查看订单明细</a>
					</li>
				</ul>
				 -->
				<ul>
					<li><a href="${contextPath}/airtkt/financial/orderlist?type=1" target="navTab"
						rel="errorOrderList">平台异常订单</a>
					</li>
				</ul>
				<ul>
					<li><a  href="${contextPath}/airtkt/finalncial/statements/list" target="navTab"
						rel="finalncialStatements">财务报表</a>
			</li>
				</ul>
			</li>

		</ul>
	</div>
</div>



