<#assign contextPath=springMacroRequestContext.getContextPath() />
 
<div class="pageContent sortDrag" selector="h1" layoutH="42">
 
   <div class="panel collapse" defH="120">
       <h1>订单信息</h1>
       <div>
           <table class="" width="98%">
               <thead style="background-color: gray;">
                   <tr style="text-align: center;" height="20px;">
                       <th width="60">订单状态</th>
                       <th width="40">PNR</th>
                       <th width="120">平台订单号</th>
                       <th width="120">供应商订单号</th>
                       <th width="120">易购订单号</th>
                       <th width="70">支付金额</th>
                       <th width="70">返点/佣金</th>
                   </tr>
               </thead>
               <tbody>
                   <tr style="text-align: center;" height="30px;">
                       <td>
                       	   <#if detail.order.status==1>
                       	            新订单待支付
                       	   </#if>
                       	   <#if detail.order.status==2>
                       	            已支付
                       	   </#if>
                       	   <#if detail.order.status==3>
                       	            暂不能出票
                       	   </#if>
                       	   <#if detail.order.status==4>
                       	            已出票
                       	   </#if>
                       	   <#if detail.order.status==5>
                       	            出票失败待退款
                       	   </#if>
                       	   <#if detail.order.status==6>
                       	            出票失败已退款
                       	   </#if>
                       	   <#if detail.order.status==11>
                       	            升舱失败 
                       	   </#if>
                       	   <#if detail.order.status==12>
                       	            支付异常
                       	   </#if>
                       	   <#if detail.order.status==13>
                       	            出票超时
                       	   </#if>
                       	   <#if detail.order.status==14>
                       	            出票异常
                       	   </#if>
                       </td>
                       <td>${(detail.order.pnr)!""}</td>
                       <td>${(detail.order.orderNo)!""}</td>
                       <td>${(detail.order.supplierOrderNo)!""}</td>
                       <td>${(detail.order.ygOrderNo)!""}</td>
                       <td>${(detail.order.payAmount)!""}</td>
                       <td>${(detail.order.commRate)!""}/${(detail.order.commAmount)!""}</td>
                   </tr>
               </tbody>
           </table>
           <span>
               政策备注:<br/><br/>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<#if detail.flightPolicy??>${detail.flightPolicy.remark}</#if>
           </span>
       </div>
   </div>
 
   <div class="panel collapse" defH="220">
       <h1>机票信息</h1>
       <div>
           <table class="" width="98%">
               <thead style="background-color: gray;">
                   <tr style="text-align: center;" height="20px;">
                       <th width="60" >行程</th>
                       <th width="60">起飞</th>
                       <th width="60">抵达    </th>
                       <th width="60">航班信息</th>
                       <th width="50" >舱位</th>
                       <th width="60">票面价</th>
                       <th width="60">税款</th>
                       <th width="80">单张合计</th>
                   </tr>
               </thead>
               <tbody>
                   <tr style="text-align: center;" height="30px;">
                       <td>${(detail.flight.startCity)!""}&nbsp;--&nbsp;${(detail.flight.endCity)!""} </td> <!-- 行程 -->
                       <td>${(detail.flight.startDate)!""}&nbsp;${(detail.flight.startTime)!""}</td><!-- 起飞 -->
                       <td>${(detail.flight.endDate)!""}&nbsp;${(detail.flight.endTime)!""}</td><!-- 抵达 -->
                       <td>${(detail.flight.airCompName)!""}</td><!-- 航班信息 -->
                       <td>${(detail.flight.classCode)!""}</td><!-- 舱位 -->
                       <td>${(detail.flight.fare)!""}</td>
                       <td>${(detail.flight.taxAmount)!""}</td>
                       <td>${(detail.flight.fare)+(detail.flight.taxAmount)}</td>
                   </tr>
                   <tr style="text-align: center;" height="10px;">
                       <td>${(detail.flight.startPort)!""}&nbsp;--&nbsp;${(detail.flight.endPort)!""}  </td><!-- 行程 -->
                       <td>${(detail.flight.startPortName)!""}</td><!-- 起飞 -->
                       <td>${(detail.flight.endPortName)!""}</td><!-- 抵达 -->
                       <td>${(detail.flight.flightNo)!""}</td><!-- 航班信息 -->
                       
                   </tr>
               </tbody>
           </table>
           <br/>
           <table class="" width="98%">
               <thead style="background-color: gray;">
                   <tr style="text-align: center;" height="20px;">
                       <th width="60" >旅客姓名</th>
                       <th width="60">证件类型</th>
                       <th width="60">证件号码</th>
                       <th width="60">票号</th>
                       <th width="60">退座记录</th>
                   </tr>
               </thead>
               <tbody>
                   <#list detail.order.passangers as p>
                       <tr style="text-align: center;" height="30px;">
                           <td>${(p.name)!""}</td>
                           <td>身份证</td>
                           <td>${(p.cardNo)!""}</td>
                           <td>
                               	待定
                           </td>
                           <td>
                               	待定
                           </td>
                       </tr>
                   </#list>
               </tbody>
           </table>
       </div>
   </div>
   
   <div class="panel close collapse" defH="220">
   	   <h1>操作日志</h1>
   	   <div>
   	   <table class="" width="98%">
	   	   <thead style="background-color: gray;">
	                   <tr style="text-align: center;" height="20px;">
	                       <th width="115" >时间</th>
	                       <th width="100">操作</th>
	                       <th width="120">操作人</th>
	                       <th width="200">操作信息</th>
	                   </tr>
	       </thead>
   	   	   <tbody>
   	   	      <tr style="text-align: center;" height="30px;">
   	   	      	<td>待定</td>
   	   	      	<td>待定</td>
   	   	      	<td>待定</td>
   	   	      	<td>待定</td>
   	   	      </tr>
   	   	   </tbody>
   	   </table>
   	   </div>
   </div>
   <!-- 
   <div style="padding-left: 450px; padding-top: 10px;">
   		<#if detail.order.status==1>
			<a class="button" href="${contextPath}/airtkt/customer/income_refund/cancel_jporder/page?orderNo=${orderNo}" width="600" target="dialog">
				<span>取消订单</span>&nbsp;&nbsp;&nbsp;
			</a>
        </#if>
        <#if detail.order.status==4>
        	<a class="button" href="javascript:;">
        		<span>申请废票</span>&nbsp;&nbsp;&nbsp;
        	</a>
     		<a class="button" href="javascript:;">
     			<span>申请退票</span>
     		</a>
        </#if>
     
   </div> -->
</div>

