body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:103px;
  width:160px;
  height:43px;
  font-size:16px;
  color:#0066FF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:43px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:219px;
  top:104px;
  width:161px;
  height:43px;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:43px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:146px;
  width:320px;
  height:374px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:374px;
}
#u5 {
  position:absolute;
  left:2px;
  top:179px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:68px;
  top:172px;
  width:308px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u7 {
  position:absolute;
  left:76px;
  top:156px;
  width:174px;
  height:19px;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:19px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:301px;
  top:156px;
  width:70px;
  height:19px;
  font-size:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:60px;
  top:141px;
  width:160px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:143px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:4px;
  width:160px;
  height:3px;
}
#u12 {
  position:absolute;
  left:70px;
  top:185px;
  width:300px;
  height:35px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:70px;
  top:219px;
  width:300px;
  height:70px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:70px;
}
#u15 {
  position:absolute;
  left:2px;
  top:27px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:74px;
  top:187px;
  width:30px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:102px;
  top:193px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:188px;
  top:193px;
  width:126px;
  height:19px;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:326px;
  top:194px;
  width:40px;
  height:23px;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:83px;
  top:230px;
  width:52px;
  height:19px;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:83px;
  top:248px;
  width:52px;
  height:19px;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:19px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:147px;
  top:232px;
  width:168px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:147px;
  top:252px;
  width:168px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:301px;
  top:243px;
  width:57px;
  height:22px;
  font-size:18px;
  color:#99CC00;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:60px;
  top:601px;
  width:160px;
  height:43px;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:43px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:219px;
  top:601px;
  width:161px;
  height:43px;
  font-size:16px;
  color:#0066FF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:43px;
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:60px;
  top:643px;
  width:320px;
  height:374px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:374px;
}
#u39 {
  position:absolute;
  left:2px;
  top:179px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:68px;
  top:669px;
  width:308px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u41 {
  position:absolute;
  left:76px;
  top:653px;
  width:174px;
  height:19px;
  font-size:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:19px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:301px;
  top:653px;
  width:70px;
  height:19px;
  font-size:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:219px;
  top:637px;
  width:161px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:144px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:4px;
  width:161px;
  height:3px;
}
#u46 {
  position:absolute;
  left:70px;
  top:689px;
  width:300px;
  height:76px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:76px;
}
#u47 {
  position:absolute;
  left:2px;
  top:30px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:264px;
  top:723px;
  width:99px;
  height:13px;
  font-size:11px;
  color:#797979;
  text-align:right;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:13px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:141px;
  top:701px;
  width:61px;
  height:17px;
  font-size:14px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:77px;
  top:699px;
  width:54px;
  height:55px;
  font-size:11px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:55px;
}
#u53 {
  position:absolute;
  left:2px;
  top:21px;
  width:50px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:141px;
  top:719px;
  width:28px;
  height:16px;
  color:#999999;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:141px;
  top:737px;
  width:189px;
  height:19px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:19px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:532px;
  top:26px;
  width:398px;
  height:404px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:404px;
}
#u59 {
  position:absolute;
  left:2px;
  top:194px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:552px;
  top:56px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:592px;
  top:56px;
  width:318px;
  height:54px;
  font-size:14px;
  line-height:18px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:54px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:406px;
  top:110px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:340px;
  top:120px;
  width:66px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:49px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  height:2px;
}
#u67 {
  position:absolute;
  left:406px;
  top:214px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:340px;
  top:224px;
  width:66px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:49px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  height:2px;
}
#u70 {
  position:absolute;
  left:552px;
  top:120px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u71 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:592px;
  top:120px;
  width:318px;
  height:144px;
  font-size:14px;
  line-height:18px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:144px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:60px;
  top:60px;
  width:320px;
  height:46px;
  font-size:18px;
  color:#0066FF;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u75 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:73px;
  top:74px;
  width:12px;
  height:20px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u77 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:89px;
  top:75px;
  width:39px;
  height:19px;
  font-size:16px;
  color:#2087FC;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:60px;
  top:556px;
  width:320px;
  height:46px;
  font-size:18px;
  color:#0066FF;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u81 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:74px;
  top:570px;
  width:12px;
  height:20px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u83 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:90px;
  top:571px;
  width:39px;
  height:19px;
  font-size:16px;
  color:#2087FC;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
