*~$*.docx
*~$*.doc
**/.settings
**/.classpath
**/.project
**/target
**/*.log
**/MANIFEST.MF
**/.myeclipse
.settings
.project

plfx-jp/*/.settings
plfx-jp/*/.classpath
plfx-jp/*/.project
plfx-jp/*/target

plfx-jd/*/.settings
plfx-jd/*/.classpath
plfx-jd/*/.project
plfx-jd/*/target

plfx-mp/*/.settings
plfx-mp/*/.classpath
plfx-mp/*/.project
plfx-mp/*/target

plfx-xl/*/.settings
plfx-xl/*/.classpath
plfx-xl/*/.project
plfx-xl/*/target

/plfx-xl/plfx-xl-application/*.gitignore
/plfx-xl/plfx-xl-domain/*.gitignore
/plfx-xl/plfx-xl-pojo/*.gitignore
/plfx-xl/plfx-xl-spi/*.gitignore


