<#assign contextPath=springMacroRequestContext.getContextPath() />
<div class="pageContent">
	<form method="post" enctype="multipart/form-data" action="${contextPath}/traveline/price/edit" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<div class="pageFormContent" layoutH="58">
			<input type="hidden" name="id" id="priceId" value="${priceDTO.id}"/>
			<a id="toPriceList" target="navTab" rel="price" href="${contextPath}/traveline/price/list?id=${priceDTO.line.id}" width="800" height="1000" style="color: blue; display: none;">
				团期维护
			</a>
			<div class="unit">
				<label>线路名称</label>
				${(priceDTO.line.baseInfo.name)!''}
			</div>
			<div class="unit">
				<label>时间</label>
				${priceDTO.saleDate?date}
			</div>
			<div class="unit">
				<label>成人价格</label>
				<input type="text" name="adultPrice" size="20" maxlength="20"  min="0" value="${(priceDTO.adultPrice)?c}" class="number required" id="adultPrice1"/>元
			</div>
			<div class="unit">
				<label>儿童价格</label>
				<input type="text" name="childPrice" size="20" maxlength="20"  min="0" value="${(priceDTO.childPrice)?c}" class="number required" id="childPrice1"/>元
			</div>
			<div class="unit">
				<label>剩余人数(确认后累加)</label>
				<input type="text" id="update_number" name="number" size="20" maxlength="9"   value="${(priceDTO.number)?string('#')}" onblur="checkNum(this)"/>人
			</div>
			
		</div>
		<div class="formBar">
			<ul>
				<li><div class="button"><div class="buttonContent"><button type="button" onclick="deletePrice()">删除</button></div></div></li>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit" onclick="" id="checkNumber1">确认</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>
<script type="text/javascript">
function checkNum(obj)
{
 var re = /^-?[0-9]*(\d*)?$|^-?0(\d*)?$/;
     if (!re.test(obj.value))
    {
    	alertMsg.error("非法数字");
    	$("#update_number").val("");
    	$("#update_number").focus();

        //alert("非法数字");
        //obj.value="";
        //obj.focus();
        return false;
     }
}

//取消回车键能提交表单的功能
document.onkeydown = function(event_e){  
 if(window.event) {  
     event_e = window.event;  
 }  
 var int_keycode = event_e.charCode||event_e.keyCode;  
 if(int_keycode =='13') {  //13是回车键
     return false;  
 }  
}

//删除当天团期
function deletePrice(){
	if(confirm("确认删除团期?")){
		var priceId = $("#priceId").val();
		$.ajax({
			   type: "POST",
			   url:  "${contextPath}/traveline/price/delete",
			   dataType: "json",
			   cache: false,
			   data: "priceId="+priceId,
			   success: function(msg){
					if(msg.status == "1"){
						document.getElementById("toPriceList").click();
						$.pdialog.closeCurrent();//关闭当前活动层
					}else{
						alert(msg.message);
					}
			   }
		});
	}
}

$("#checkNumber1").click(function(){
	   var adultPrice = $("#adultPrice1").val();
	   var childPrice = $("#childPrice1").val();
	   if(adultPrice < 1){	 
			alert("成人价格不能低于1元");
			return false;
	   }
	   if(childPrice < 1){	 
		    alert("儿童价格不能低于1元");
		    return false;
	   }
	   
});

$("#adultPrice1").blur(function(){
		var adultPrice = $("#adultPrice1").val();
		if(adultPrice < 1){	 
		  alert("成人价格不能低于1元");
		  return false;
		}
		return true;
	});

$("#childPrice1").blur(function(){
		var childPrice = $("#childPrice1").val();
		if(childPrice < 1){	 
		  alert("儿童价格不能低于1元");
		  return false;
		}
		return true;
	});
</script>
