body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:152px;
}
#u10515 {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:152px;
}
#u10516 {
  position:absolute;
  left:2px;
  top:68px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:1285px;
}
#u10517 {
  position:absolute;
  left:0px;
  top:98px;
  width:200px;
  height:1285px;
}
#u10518 {
  position:absolute;
  left:2px;
  top:635px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:19px;
  font-size:16px;
  color:#00B7FF;
}
#u10519 {
  position:absolute;
  left:13px;
  top:124px;
  width:137px;
  height:19px;
  font-size:16px;
  color:#00B7FF;
}
#u10520 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u10521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
  font-size:16px;
}
#u10521 {
  position:absolute;
  left:33px;
  top:153px;
  width:157px;
  height:19px;
  font-size:16px;
}
#u10522 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u10523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
  font-size:16px;
}
#u10523 {
  position:absolute;
  left:33px;
  top:182px;
  width:157px;
  height:19px;
  font-size:16px;
}
#u10524 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u10525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
  font-size:16px;
}
#u10525 {
  position:absolute;
  left:33px;
  top:211px;
  width:157px;
  height:19px;
  font-size:16px;
}
#u10526 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u10527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  background:inherit;
  background-color:#FFFFFF;
  font-size:16px;
  color:#00B7FF;
  text-align:left;
}
#u10527 {
  position:absolute;
  left:13px;
  top:249px;
  width:97px;
  height:23px;
  font-size:16px;
  color:#00B7FF;
  text-align:left;
}
#u10528 {
  position:absolute;
  left:2px;
  top:2px;
  width:93px;
  word-wrap:break-word;
}
#u10529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  background:inherit;
  background-color:#FFFFFF;
  font-size:16px;
  text-align:left;
}
#u10529 {
  position:absolute;
  left:33px;
  top:281px;
  width:97px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u10530 {
  position:absolute;
  left:2px;
  top:2px;
  width:93px;
  word-wrap:break-word;
}
#u10531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  background:inherit;
  background-color:#FFFFFF;
  font-size:16px;
  text-align:left;
}
#u10531 {
  position:absolute;
  left:33px;
  top:315px;
  width:97px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u10532 {
  position:absolute;
  left:2px;
  top:2px;
  width:93px;
  word-wrap:break-word;
}
#u10533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u10533 {
  position:absolute;
  left:213px;
  top:106px;
  width:177px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u10534 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u10535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u10535 {
  position:absolute;
  left:213px;
  top:174px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u10536 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u10537 {
  position:absolute;
  left:310px;
  top:167px;
  width:376px;
  height:30px;
}
#u10537_input {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10537_input {
  font-family:'应用字体';
}
#u10538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
  color:#FF9966;
}
#u10538 {
  position:absolute;
  left:701px;
  top:181px;
  width:235px;
  height:16px;
  color:#FF9966;
}
#u10539 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u10540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u10540 {
  position:absolute;
  left:212px;
  top:361px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u10541 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u10542 {
  position:absolute;
  left:309px;
  top:354px;
  width:376px;
  height:30px;
}
#u10542_input {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10542_input {
  font-family:'应用字体';
}
#u10543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
  color:#FF9966;
}
#u10543 {
  position:absolute;
  left:700px;
  top:368px;
  width:235px;
  height:16px;
  color:#FF9966;
}
#u10544 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u10545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u10545 {
  position:absolute;
  left:212px;
  top:414px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u10546 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u10547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:187px;
}
#u10547 {
  position:absolute;
  left:309px;
  top:414px;
  width:320px;
  height:186px;
}
#u10548 {
  position:absolute;
  left:2px;
  top:85px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10549 {
  position:absolute;
  left:649px;
  top:533px;
  width:140px;
  height:25px;
}
#u10549_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u10549_input {
  font-family:'应用字体';
}
#u10550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:32px;
  color:#FF9966;
}
#u10550 {
  position:absolute;
  left:649px;
  top:568px;
  width:370px;
  height:32px;
  color:#FF9966;
}
#u10551 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u10552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u10552 {
  position:absolute;
  left:212px;
  top:214px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u10553 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u10554 {
  position:absolute;
  left:309px;
  top:207px;
  width:376px;
  height:103px;
}
#u10554_input {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:103px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10554_input {
  font-family:'应用字体';
}
#u10555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
  color:#FF9966;
}
#u10555 {
  position:absolute;
  left:701px;
  top:294px;
  width:235px;
  height:16px;
  color:#FF9966;
}
#u10556 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u10557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:807px;
  height:60px;
  background:inherit;
  background-color:#F4F4F4;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#F4F4F4;
}
#u10557 {
  position:absolute;
  left:203px;
  top:690px;
  width:807px;
  height:60px;
}
#u10558 {
  position:absolute;
  left:2px;
  top:22px;
  width:803px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10559 {
  position:absolute;
  left:900px;
  top:702px;
  width:90px;
  height:34px;
}
#u10559_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u10559_input {
  font-family:'应用字体';
}
#u10560 {
  position:absolute;
  left:790px;
  top:703px;
  width:90px;
  height:34px;
}
#u10560_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u10560_input {
  font-family:'应用字体';
}
#u10561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:186px;
}
#u10561 {
  position:absolute;
  left:309px;
  top:414px;
  width:320px;
  height:186px;
}
#u10562 {
  position:absolute;
  left:2px;
  top:85px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
