<#assign contextPath=springMacroRequestContext.getContextPath() />
<div class="pageContent">
	<form method="post" action="${contextPath}/brand/create" class="pageForm required-validate nowrap" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<div class="pageFormContent" layoutH="60">
			<div class="bill">
				<table border="0" class="my_form">
					<tr>
						<td>单位名称：</td>
						<td><input type="text" maxlength="20" name="" value="" class="required"/></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
		<#include "/public/general/formBar.html">
	</form>
</div>
