body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:29px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:29px;
}
#u2 {
  position:absolute;
  left:2px;
  top:6px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:200px;
  top:40px;
  width:183px;
  height:127px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:127px;
}
#u4 {
  position:absolute;
  left:2px;
  top:59px;
  width:179px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:174px;
  width:1600px;
  height:34px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:34px;
}
#u6 {
  position:absolute;
  left:2px;
  top:9px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:214px;
  top:181px;
  width:38px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:294px;
  top:181px;
  width:38px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:375px;
  top:181px;
  width:75px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1294px;
  top:58px;
  width:106px;
  height:150px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:150px;
}
#u14 {
  position:absolute;
  left:2px;
  top:67px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1302px;
  top:67px;
  width:91px;
  height:89px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:89px;
}
#u16 {
  position:absolute;
  left:2px;
  top:36px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1302px;
  top:161px;
  width:32px;
  height:32px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1334px;
  top:169px;
  width:150px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1254px;
  top:6px;
  width:150px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1214px;
  top:7px;
  width:10px;
  height:13px;
}
#u23_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u23_end {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:18px;
}
#u23_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:13px;
}
#u24 {
  position:absolute;
  left:1152px;
  top:7px;
  width:60px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1132px;
  top:7px;
  width:10px;
  height:13px;
}
#u26_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u26_end {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:18px;
}
#u26_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:13px;
}
#u27 {
  position:absolute;
  left:1043px;
  top:7px;
  width:86px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:223px;
  top:7px;
  width:265px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:1334px;
  top:185px;
  width:32px;
  height:32px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:1230px;
  top:0px;
  width:26px;
  height:26px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u34 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:203px;
  top:7px;
  width:16px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u36 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:363px;
  top:70px;
  width:224px;
  height:68px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:68px;
}
#u38 {
  position:absolute;
  left:2px;
  top:26px;
  width:220px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:220px;
  top:85px;
  width:160px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:484px;
  top:301px;
  width:917px;
  height:427px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:427px;
}
#u42 {
  position:absolute;
  left:2px;
  top:206px;
  width:913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:492px;
  top:309px;
  width:886px;
  height:416px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  height:416px;
}
#u44 {
  position:absolute;
  left:2px;
  top:200px;
  width:882px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1015px;
  top:685px;
  width:177px;
  height:16px;
  color:#0000FF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:200px;
  top:301px;
  width:274px;
  height:305px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:305px;
}
#u49 {
  position:absolute;
  left:2px;
  top:144px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:220px;
  top:312px;
  width:150px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#006699;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:210px;
  top:339px;
  width:246px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:229px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:246px;
  height:1px;
}
#u53 {
  position:absolute;
  left:220px;
  top:364px;
  width:150px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:220px;
  top:445px;
  width:150px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#006699;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:220px;
  top:496px;
  width:150px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:210px;
  top:471px;
  width:246px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:229px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:246px;
  height:1px;
}
#u60 {
  position:absolute;
  left:220px;
  top:529px;
  width:150px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:220px;
  top:400px;
  width:150px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:200px;
  top:244px;
  width:274px;
  height:47px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:47px;
}
#u65 {
  position:absolute;
  left:2px;
  top:16px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:220px;
  top:259px;
  width:150px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:24px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:200px;
  top:239px;
  width:274px;
  height:10px;
}
#u68_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:257px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:4px;
  width:274px;
  height:2px;
}
#u69 {
  position:absolute;
  left:327px;
  top:267px;
  width:129px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#006699;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:200px;
  top:214px;
  width:385px;
  height:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:1234px;
  top:646px;
  width:86px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
