<#assign contextPath=springMacroRequestContext.getContextPath() />

<script src="${contextPath}/resources/js/calendar-widget/jquery.calendar-widget.js" type="text/javascript" charset="utf-8"></script>

<style>
	#dealerDatePrice td,th{border-left:1px solid #999;border-bottom:1px solid #999;width:90px;padding:10px 0;text-align:center}
	#dealerDatePrice table{border-right:1px solid #999;border-top:1px solid #999}th{background:#666;color:#fff}.other-month{background:#eee}
</style>

<script type="text/javascript">

$(document).ready(function() {
	
	var map2 = {};
	
	var date=new Date();
	//当前年份
	var y = date.getFullYear();
	var m = date.getMonth()+1;
	
	var show = function(){
		$('#dealerDatePrice').calendarWidget({month:m-1,year:y,cid:'d_'});//cid 日历input id的自定义前缀
	}
	
	var save = function(){
		$('.date-price').each(function(){
			if($(this).attr('id').indexOf('d_')>-1){
				var price = $(this).val();
				if(price.trim().length>0){
					map2[$(this).attr('id')] = $(this).val();
				}else{
					delete map2[$(this).attr('id')];
				}
			}
		});
	}
	
	var read = function(){
		$('.date-price').each(function(){
			if($(this).attr('id').indexOf('d_')>-1){
				$(this).val(map2[$(this).attr('id')]);
			}
		});
	}
	
	//上个月
	$('#preMonthBtn2').click(function(){
		console.info('pre2');
		if(--m<=0){
			y--;
			m=12;
		}
		
		save();
		console.info('pre2');
		show();
		read();
	});
	
	//下个月
	$('#nextMonthBtn2').click(function(){
		if(++m>=13){
			y++;
			m=1;
		}
		
		save();
		show();
		read();
	});
	
	//保存经销商价格日历
	$('#dealerDatePriceBtn').click(function(){
		
		save();
		//去除ID前缀
		var s = '';
		for(var key in map2){
			console.info(key+"   "+map2[key]);
			s += key.replace('d_','')+':'+map2[key]+';';
		}
		
		//保存经销商价格日历
		$.ajax({
			type: "post",
			url: '${contextPath}'+"/ticket-group/dealerDatePrice/save",
			cache:false,
			dataType:"json",
			data:{"ticketPolicyId":$("#t_btn").val(), "dealerId":$("#d_btn").val(), "priceStr": s, "dealerName":$("#name_btn").val()},
			success:function(data){
				if(data.status==-1){
					alertMsg.error("价格日历金额格式错误");
				}
				if(data.status==0){
					alertMsg.error(data.msg);
				}
				if(data.status==1){
					$.pdialog.closeCurrent();
					$("#table2 tr:eq(0)", navTab.getCurrentPanel()).after("<tr height=\"25px;\">"+
						       						"<td>"+data.dealerName+"<input class=\"ddc\" type=\"hidden\" name=\"\" value=\""+data.dealerName+"\" /></td>"+
						       						"<td align=\"center\">"+
						       							"<a onclick=\"ajaxDelTr(this, '"+data.dealerDatePriceId+"')\" href=\"javascript:void(0)\">删除日历</a>"+
						       						"</td>"+
						     					"</tr>");
					
					//经销商价格日历行数>1 显示列表
					if($("#table2 tr", navTab.getCurrentPanel()).length>1){
						$("#table2", navTab.getCurrentPanel()).show();
					}
				}
			}
		})
	})
	
	show();
	read();
});
</script>


<div class="pageContent" style="padding-left: 20px">

    <div class="pageFormContent" layoutH="58" id="singleTicketContent">
    
    	<input id="t_btn" type="hidden" value="${ticketPolicyId}"/>
    	<input id="d_btn" type="hidden" value="${dealerId}"/>
    	<input id="name_btn" type="hidden" value="${dealerName}"/>
    
		<input id="preMonthBtn2" type="button" value="上个月"/>
		<input id="nextMonthBtn2" type="button" value="下个月"/>
		</br></br>
		
		<div id="dealerDatePrice" />
	</div>
    
    <div style="padding-top: 10px">
		<input id="dealerDatePriceBtn" type="button" value="保存" >
	</div>
    
</div>