<#assign contextPath=springMacroRequestContext.getContextPath() />
<#assign navTabid = navTabid!'ticket-group' />
<#assign pathUrl = (contextPath+'/ticket-group') />

<script type="text/javascript">

function initText(){
	$("#ticketPolicyName", navTab.getCurrentPanel()).attr("value",'');
	$("#createBeginDateStr", navTab.getCurrentPanel()).attr("value","");
	$("#createEndDateStr", navTab.getCurrentPanel()).attr("value","");
	$("#status", navTab.getCurrentPanel()).attr("value","");
	$("#scenicSpotStr", navTab.getCurrentPanel()).attr("value","");
}

</script>

<div class="pageHeader">
<form id="pagerForm" rel="pagerForm" onsubmit="return navTabSearch(this);" action="${pathUrl}/list" method="get">
	<input type="hidden" name="pageNum" value="${pagination.pageNo?c}" />
	<input type="hidden" name="numPerPage" value="${pagination.pageSize?c}" />
	
	<div class="searchBar">
		<ul class="searchContent" style="overflow: inherit;">
			
			<li style="width: 250px;">
				<label>联票名称：</label>
				<input type="text" id="ticketPolicyName" name="ticketPolicyName" value="${ticketPolicyName}"/>
			</li>
			
			<li style="width: 250px;">
				<label>包含景区：</label>
				<input type="text" id="scenicSpotStr" name="scenicSpotStr" value="${scenicSpotStr}"/>
			</li>
			
			<li style="width: 250px;">
				<label>启用状态：</label>
				<select id="status" name="status" >
					<option value="">全部</option>
					<option value="0" <#if status==0 >selected="selected"</#if> > 启用 </option>
					<option value="1" <#if status==1 >selected="selected"</#if> > 禁用 </option>
				</select>
			</li>
			
			<li style="width: 400px;">
				<label>发布时间：</label>
				<input type="text" id="createBeginDateStr" style="width: 80px;" name="createBeginDateStr" value="${createBeginDateStr}" class="date" readonly="true"/>&nbsp;到&nbsp;
				<input type="text" id="createEndDateStr" style="width: 80px;" name="createEndDateStr" value="${createEndDateStr}" class="date" readonly="true"/>
			</li>
			
<!-- 			<li style="width: 400px;"> -->
<!-- 				<label>已售数量：</label> -->
<!-- 				<input type="text" id="soldQtyMin" style="width: 80px;" name="soldQtyMin" value="${soldQtyMin}"/>&nbsp;到&nbsp; -->
<!-- 				<input type="text" id="soldQtyMax" style="width: 80px;" name="soldQtyMax" value="${soldQtyMax}"/> -->
<!-- 			</li> -->
			
<!-- 			<li style="width: 400px;"> -->
<!-- 				<label>基准价：</label> -->
<!-- 				<input type="text" id="priceMin" style="width: 80px;" name="priceMin" value="${priceMin}"/>&nbsp;到&nbsp; -->
<!-- 				<input type="text" id="priceMax" style="width: 80px;" name="priceMax" value="${priceMax}"/> -->
<!-- 			</li>			 -->
		</ul>
		<div class="subBar">
			<ul>
				<li>
					<div class="buttonActive"><div class="buttonContent">
						<button type="submit" style="width:35px;">查询</button>
					</div></div>
				</li>
				<li>
					<div class="buttonActive"><div class="buttonContent">
						<button type="button" onclick="initText()" style="width:35px;">重置</button>
					</div></div>
				</li>
			</ul>
		</div>
	</div>
</form>
</div>
<div class="pageContent">
	<div class="panelBar"><ul class="toolBar">
		<li><a class="add" href="${pathUrl}/add?navTabid=${navTabid}" target="navTab" rel="monitorDiag" mask="true" width="850" height="800"><span>新增联票</span></a></li>
	</ul></div>
	<#include "/public/pagination/pagination.html">
	<table class="table" width="100%" layoutH="170">
		<thead>
			<tr>
				<th width="10%">产品编号</th>
				<th width="20%">联票名称</th>
				<th width="30%">包含景区</th>
				<th width="6%" >库存数量(张)</th>
				<th width="6%" >已售数量(张)</th>
				<th width="9%" >发布时间</th>
				<th width="4%" >启用状态</th>
				<th width="10%">操作</th>
			</tr>
		</thead>
		<tbody>
		<#list pagination.list as policy>
		<tr>
			<td>${(policy.baseInfo.key)!'-'}</td>
			<td>${(policy.baseInfo.name)!'-'}</td>
			<td>
			<#if (policy.baseInfo.scenicSpotNameStr?length > 38)>
                ${policy.baseInfo.scenicSpotNameStr?substring(0,38)}………
            <#else>
                ${policy.baseInfo.scenicSpotNameStr}
            </#if>
			</td>
			<td>
					<#if policy.sellInfo.remainingQty == -1>
						无限
					<#else>
						${(policy.sellInfo.remainingQty)!'-'}
					</#if>
			</td>
			<td>${(policy.sellInfo.soldQty)!'-'}</td>
			<td>${policy.baseInfo.createDate?string("yyyy-MM-dd HH:mm:ss")}</td>
			<td>
				<#if (policy.status.current == 3)>
					启用
				<#else>
					禁用
				</#if>
			</td>
			<td>
				<a title="查看‘${(policy.baseInfo.name)!'-'}’详情" target="navTab" rel="monitorDiag" mask="true" href="${pathUrl}/info?id=${policy.id}&navTabid=${navTabid}"  style="color: blue" width="850" height="800">查看详情</a>
				&nbsp;&nbsp;&nbsp;
				<#if policy.status.current == 3>
					<a title="确认禁用‘${(policy.baseInfo.name)!'-'}’吗？" target="ajaxTodo" href="${pathUrl}/useOrUnuse?policyId=${policy.id}&status=4" style="color: blue">禁用</a>
				<#else>
					<a title="确认启用‘${(policy.baseInfo.name)!'-'}’吗？" target="ajaxTodo" href="${pathUrl}/useOrUnuse?policyId=${policy.id}&status=3" style="color: blue">启用</a>
					&nbsp;&nbsp;&nbsp;
					<a title="修改‘${(policy.baseInfo.name)!'-'}’" target="navTab" href="${pathUrl}/toUpdate?policyId=${policy.id}" style="color: blue">修改</a>
				</#if>
			</td>
		</tr>
		</#list>
		</tbody>
	</table>
	
</div>