body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:630px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:620px;
  height:160px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:160px;
}
#u1 {
  position:absolute;
  left:2px;
  top:72px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:26px;
  width:600px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#0000FF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:9px;
  width:596px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:76px;
  width:100px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:140px;
  top:76px;
  width:62px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:220px;
  top:130px;
  width:100px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u9 {
  position:absolute;
  left:340px;
  top:130px;
  width:100px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
