<#assign contextPath=springMacroRequestContext.getContextPath() />
<style>
.pageFormContent p {
	height: inherit;
	line-height: 20px
}
</style>
<div class="pageContent">
	<div class="pageFormContent" layoutH="58">
	<form action="${contextPath}/member/queryValid" onsubmit="return dwzSearch(this, 'dialog');" method="post" >
			<table style="width: 100%;height: 100%">
				<tr height="25px;">
					<td style="width: 25%">手机号：</td>
					<td style="width: 75%" colspan="2"><input id="mobile" type="text" name="mobile" value="${registerSagaQO.mobile}"></td>
				</tr>
				<tr height="25px;">
					<td style="width: 25%">验证码：</td>
					<td style="width: 55%"><input type="text" value="${validCode}" readonly="readonly"></td>
					<td style="width: 25%"><button onclick="return checkQuery();">查询</button>
				</tr>
			</table>
		</form>
	</div>
</div>
<script type="text/javascript">
	//检查查询条件
	function checkQuery() {
		 if ($("#mobile").val()=="" ) {
			alert("电话不能为空");
			return false;
		}else{
			return true;
		}  
	}
</script>